[2018-05-22 15:17] mpl opened #1175 "pkg/blobserver: after packing, empty loose dirs are not removed"
When a loose blob has been packed (i.e. moved to its zip in the "packed" directory), if the directory it was in is now empty, it should probably be removed. I haven't checked, but it might hurt for nothing our stat or enumeration operations to have empty dirs for nothing.

It's probably of the responsibility of the RemoveBlobs implementation for the pkg/blobserver/localdisk though.

[2018-05-22 17:46] mpl commented on #1073
https://camlistore-review.googlesource.com/#/c/camlistore/+/16866

[2018-05-23 00:49] mpl commented on #1141
It looks like things are ok in make.go. In fact, running with -skip_gopherjs does not even necessarily imply that we end up with a broken/incomplete web UI, as goui.js and zembed_goui.js.go might already be in server/perkeepd/ui from a previous build.
Anyway, Ill re-open an issue if a specific problem arises.

[2018-05-23 00:49] #1141 closed

[2018-05-23 01:15] mpl commented on #1073
FWIW, I've just tried running this tool on my data set
(2018/05/23 02:04:27 index/corpus: stats: 64.995 MiB mem: 249651 blobs (11.800 GiB) (87786 schema (8049 permanode, 5439 file (5324 image), ...)), followed by a 'pk sync', and finally a reindex, and the final result seems to be what's expected, as far as the index/corpus is concerned:
2018/05/23 03:01:57 index/corpus: stats: 65.278 MiB mem: 249

[2018-05-23 16:59] mpl commented on #1158
Not enough memory, maybe ?

[2018-05-23 17:04] bradfitz commented on #1158
Or test timeouts.

Did you run `all.bash` or `make.bash`?

[2018-05-23 17:15] raphaelyancey commented on #1158
@mpl I eventually faced this problem but solved it by freeing some memory.

I think the problem was that the [sources for 1.10.2](https://golang.org/dl/#stable) are only available for armv6l and arm64 and not armv7, which is somehow available in the official golang image. I moved on after the installation and forgot what it was exactly.

[2018-05-23 17:29] bradfitz commented on #1158
@raphaelyancey, the "source" downloads of Go aren't for any platform at all.. they're just source and you can compile wherever. Are you talking about binary downloads? But you said above "Go couldn't compile on the Raspberry Pi".

[2018-05-23 17:44] mpl commented on #1086
I think this whole issue got fixed as a side-effect of not using a tmp dir as a tmp GOPATH anymore (f8ef262ff965b6ac083af6e2ff7f76823a088260), thanks to Go 1.10 improved caching.

[2018-05-23 17:44] #1086 closed

[2018-05-23 17:48] raphaelyancey commented on #1158
@bradfitz My bad, I meant the binaries. Replacing with armv6l binary in the original Dockerfile didn't make it, and I failed building go from source on the Pi (first because of the free memory requirement, then for something else I don't remember). Then I quickly moved on with the official image that is working and didn't dig deeper into the problem.

[2018-05-23 18:00] mpl commented on #926
No feedback from reporter, and we worked a lot on recovery in the meantime anyway.

[2018-05-23 18:00] #926 closed

[2018-05-23 18:01] mpl commented on #560
fixed by 46f31ba425745584beb573d4d5c53c0ecf3916b1

[2018-05-23 18:01] #560 closed

[2018-05-24 18:03] bradfitz opened #1176 "Update everything for Gerrit move"
Our new Gerrit instance is:

https://perkeep-review.googlesource.com/q/status:open

Tracking bug to update docs & tooling.

We probably need devcam or something to fix git origins.

And make.go.

[2018-05-24 19:04] mpl opened #1177 "web UI: replace pudgy with keepy everywhere"
We probably already noted to do it in the main bug about the move, but it's an easier reminder to have it as its own issue.

[2018-05-24 19:35] mpl commented on #1176
https://perkeep-review.googlesource.com/c/perkeep/+/16886

[2018-05-25 00:56] mpl commented on #1176
https://perkeep-review.googlesource.com/#/c/perkeep/+/16906

[2018-05-25 13:47] mpl opened #1178 "pkg/serverinit: pkg/blobserver/sftp has no high-level config"
Low-level configuration for the sftp handler was added recently, but there's nothing for the high-level config as far as I can see. And someone on IRC recently asked how to use his NAS as a blobserver.

@bradfitz do you want us to add the high-level config for it as usual, or do you want us to stop adding new high-level config parameters, and just add them to the toml config instead only?

[2018-05-25 19:29] #551 closed

[2018-05-26 17:54] #1176 closed

[2018-05-28 05:57] DanielHeath commented on #1142
A pity the pure-go implementations are so much slower than imagemagick (~10x or so according to https://github.com/fawick/speedtest-resize ).

[2018-05-29 06:47] willnorris opened #1179 "swarm importer shows old foursquare importer URLs"
On the swarm importer config page, under "Configuring Foursquare", it reads:

Those URLs won't work, since the importer was renamed to "swarm".

[2018-05-29 14:57] #1179 closed

[2018-05-29 22:19] willnorris commented on #1143
as discussed on https://perkeep-review.googlesource.com/c/perkeep/+/13246, you can pass the `-root` flag to specify the root directory, allowing you to run pk-web from anywhere.  Is that sufficient, or do you really want it to try to find its root automatically?

[2018-05-30 19:40] NorthDecoder commented on #1133
I switched from the Cloud9 virtual machine with limited memory, to testing on a desktop and the install works okay.
[code]
I guess some kind of prerequisite README notes would advise against attempts to do the impossible, plus some quick check during the first part of the `go run` install to see if there will be enough memory to actually do the install.

Thanks for looking over my shoulder at my d

[2018-05-30 19:44] bradfitz commented on #1133
Thanks for the update. Will close.

[2018-05-30 19:44] #1133 closed

[2018-05-31 04:22] bradfitz opened #1180 "perkeepd: recovery didn't work"
[code]

Yes, that's why I was doing `-recovery`, because those files were missing. So don't crash on not being able to load them.

I nuked the directory more completely, and then it worked:

[code]

[2018-05-31 14:47] bradfitz opened #1181 "importer/twitter: 401 Authorization Required on long poll"
On start-up, my twitter importer ran and caught up and successfully imported a bunch of tweets, but then it said:

[code]

Did Twitter disable the long poll API?

/cc @mpl

[2018-05-31 16:51] mpl commented on #1181
hmm, mine says that:

May 31 17:57:12 serenity perkeepd[11085]: 2018/05/31 17:57:12 twitter: beginning long poll, awaiting new tweets...
May 31 18:27:12 serenity perkeepd[11085]: 2018/05/31 18:27:12 failed to long poll twitter importer account, sha1-47d43882edd56545335e19a14106d4985da8ec59: net/http: request canceled

dunno if the cancel is normal behavior (it seems to be the timeout, right?) but

[2018-05-31 17:11] mpl commented on #1181
yeah, it seems to be working here:

May 31 18:57:14 serenity perkeepd[11085]: 2018/05/31 18:57:14 twitter: beginning long poll, awaiting new tweets...
May 31 19:04:02 serenity perkeepd[11085]: 2018/05/31 19:04:02 twitter: long poll saw activity
May 31 19:04:02 serenity perkeepd[11085]: 2018/05/31 19:04:02 importer: long poll for twitter importer account, sha1-47d43882edd56545335e19a14106d4985da8ec

[2018-05-31 21:00] NiklasMerz opened #1182 "importer/pinboard Pinboard importer does not support auto mode"
The pinboard importer does not support running in auto mode. Is it possible to do that?

I would love to contribute that.

[2018-05-31 22:15] mpl commented on #1182
I don't see why not. you mean running every N minutes, don't you?

Sure, you're welcome to do so (if it does not already...).

[2018-05-31 22:20] NiklasMerz commented on #1182
Yes i would like to run it regularly like the twitter importer

I will try my best to figure out how to do that. For question I will bother the mailinglist :)

[2018-05-31 22:37] mpl commented on #1180
https://perkeep-review.googlesource.com/#/c/perkeep/+/16966

[2018-05-31 22:41] DeeUnderscore opened #1183 "importer: add a Mastodon/Pleroma importer?"
Hi there. I'd like to write a Perkeep importer for the common API shared by Mastodon and Pleroma.

[Mastodon](https://joinmastodon.org/) and [Pleroma](https://pleroma.social/) are two microblogging social network server projects which can federate over ActivityPub. Both use the same API (originated with Mastodon), and client software is generally compatible with either.

The importer would store a

[2018-05-31 23:12] bradfitz commented on #1183
Totally!

[2018-06-04 19:28] L42y commented on #911
Using Signature Version 4 can enable people to use AWS China's regions, including Beijing & Ningxia, also need to support specifying AWS China's special endpoint `s3.cn-north-1.amazonaws.com.cn` in order to achieve that, relevant information: http://docs.amazonaws.cn/en_us/general/latest/gr/rande.html#cnnorth_region

[2018-06-04 20:00] oec commented on #911
Good news: I have managed to debug my own code and fixed the blocking issues!  Now I have perkeep running properly using a s3-bucket in the eu-central-1 region with v4 signature.  I'll prepare a pull request for it until Thursday.

[2018-06-04 21:47] oec commented on #911
https://perkeep-review.googlesource.com/c/perkeep/+/17066

[2018-06-05 15:38] kasisnu opened #1184 "blobserver/s3: Handle 503 SlowDown responses better"
Currently, we don't handle 503 SlowDown responses[1], used by s3 and also DO spaces[2]. This has almost always caused the twitter importer to fail for me and potentially affects other features.

The DO docs suggest adding exponential backoff but I'm not sure what the best strategy to "slow down" requests would be.

1: https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html
2: https://w

[2018-06-05 17:13] mpl commented on #1184
hmm, when you say it affects the twitter importer, does that happen when S3 is your primary storage? I would expect that if someone used S3 for replication (not primary storage), then 503 wouldn't happen because the asynchronous replication from primary to S3 would be "slow" enough.

[2018-06-06 05:38] dcramer opened #1185 "pkg/sorted/leveldb: writing blobpacked index on samba mount fails"
Not going to be super helpful here given I don't have a lot of details on the project yet (first time setting it up), but let me know if you need more details.

Details:

- Latest version (0.10?) from the download page, prebuilt image for Linux
- Ubuntu 16.04
- Started ./perkeepd for the first time to generate config
- Updated config to move blobPath and levelDB to a network mounted (samba 2.0) di

[2018-06-06 15:39] mpl commented on #1185
@dcramer thanks.
Could you please

    rm -rf /mnt/shares/server/perkeep/index.leveldb

and run perkeepd with -recovery=2 and -reindex=true ?

[2018-06-06 15:42] mpl commented on #1185
In any case, I think I've seen someone on IRC try and fail with samba mounts as well, so I suspect we're missing something to support writing there.
I'll see if i can reproduce.

[2018-06-06 15:44] mpl commented on #1182
https://perkeep-review.googlesource.com/c/perkeep/+/16986

[2018-06-06 15:59] dcramer commented on #1185
Same-ish error:

[code]

[2018-06-06 16:02] mpl commented on #1185
@dcramer could you try without samba? with your blobs and index configured to be on a local disk?
if that works, then it stands to reason the samba mount is the source of the problem, and i don't need to try myself with samba to know that this is the area where we have to fix the problem.

[2018-06-06 16:03] dcramer commented on #1185
@mpl it definitely worked before I moved the paths to the samba mount

[2018-06-06 16:03] mpl commented on #1185
oh, ok then.

[2018-06-06 17:03] euank commented on #1184
Note that the AWS SDK for Go handles s3 error codes / retries correctly by default ([xref](https://github.com/aws/aws-sdk-go/blob/d856824058f17a35c61cabdfb1c40559ce070cd9/aws/client/default_retryer.go#L57-L83)).
It also has some other benefits such as being able to use multipart uploads more easily and less code that we maintain.

I recognize that perkeep does support non-aws s3-compatible endpoin

[2018-06-06 18:42] euank commented on #1185
The person on irc ran into a different issue; specifically they got a 'sync: invalid argument' iirc (which looked like this leveldb issue: https://github.com/google/leveldb/issues/281).

Either way, it looks like upstream leveldb doesn't support putting it on cifs, so if that's what's causing the issue I don't think it's a perkeep bug.

[2018-06-06 18:42] bradfitz commented on #1185
@dcramer, can you run perkeep under strace, like:

[code]

And then post the possibly-redacted (might have passwords/keys) relevant section of `trace.txt` towards the end before it fails?

I'm wondering what system calls the goleveldb code is trying to do and what the Linux CIFS/SMB implementation is actually doing.

[2018-06-06 18:43] bradfitz commented on #1185
@euank, we don't use google/leveldb, so I doubt that bug is relevant. We use github.com/syndtr/goleveldb

[2018-06-06 18:44] euank commented on #1185
Ah, thanks for clarifying, I should have looked before assuming.

[2018-06-07 05:40] dcramer commented on #1185
fyi changing leveldb to be local disk and leaving blobs produces a similar issue

@bradfitz lmk if you need more and i can probably just dump the whole file

[code]

[2018-06-07 08:10] euank commented on #1185
Looks like fsync(fd) = EINVAL is the culprit (basically the same issue I linked on the upstream leveldb project).

[code]

Note, this is calling fsync on a directory fd, not file. This corresponds to [this code](https://github.com/syndtr/goleveldb/blob/34011bf325bce385408353a30b101fe5e923eb6e/leveldb/storage/file_storage.go#L256-L259) (calling [this](https://github.com/syndtr/goleveldb/blob/34011b

[2018-06-07 18:06] mpl commented on #1184
@euank I think @bradfitz recently said that there did not seem to be any technical reason not to use the official AWS SDK, it's just an historic decision that we don't use it right now.
All the more reason to use it if we get a fix for this issue for free. So yes, please do feel free to tackle that.

[2018-06-07 19:18] euank commented on #1185
@bradfitz

I PR'd a change against goleveldb ([ref](https://github.com/syndtr/goleveldb/pull/221)). If I vendor in that change, I'm able to run with the blob + leveldb storage on a fresh directory on my test cifs mount (whereas before it reliably errored out immediately).

I'd prefer waiting a bit to see if it gets accepted upstream before pointing Gopkg.toml at a fork though.

There is still an a

[2018-06-07 19:54] NiklasMerz commented on #1130
We should also mention the twitter option. I never would have found it, if I had not started working on the importer.

[2018-06-07 20:04] mpl commented on #1130
@NiklasMerz what option?

[2018-06-07 20:10] NiklasMerz commented on #1130
Importing from zip is explained in importer/twitter/twitter.go, but not in the import settings page for example. As a normal user I would not have know that you can do this:

[code]

We could add a note about that option on the import page for example.

[2018-06-07 23:39] mpl commented on #1130
sure

[2018-06-08 02:44] dcramer commented on #1185
@euank confirmed that fixed it for me

[2018-06-08 15:31] mpl commented on #1185
@euank excellent, thanks

[2018-06-08 18:06] mpl commented on #1185
@dcramer but wait, you were saying earlier that moving the index to localdisk and leaving blobs on samba was not enough to fix the issue. By the same logic, @euank 's fix is not enough either, as it will only fix the problem for the index itself, not for the blobs.

So is Perkeep as a whole working now for you (while using samba) or not?

[2018-06-08 18:09] dcramer commented on #1185
@mpl other than a bunch of seemingly random bugs (i think unrelated) it was working with both the index and the blobs on samba. Previously when I tried placing only blobs on the samba I got the same/similar error. I'm happy to reproduce and dump similar logs, but given the branch fixed it I'm not sure its worth the effort.

[2018-06-08 18:57] mpl commented on #1185
@dcramer oh wait, this is silly. I forgot we were talking about the index for the blobpacked, not the index for Perkeep as a whole. so yeah, by default the index for blobpacked goes wherever you tell the blobs to go, which means it was still being on samba in all cases. Nevermind.

[2018-06-08 18:59] #1185 closed

[2018-06-10 15:21] kasisnu commented on #1184
@euank Cool! I'm also happy to help write/review code for the port.

@mpl I haven't tried that. But I'm funnelling data in to perkeep and I'm not really sure I have enough local storage to make that happen.

[2018-06-11 15:36] mpl opened #1186 "pkg/blobserver: RemoveBlobs errors cause is not printed"
When using pk sync to remove blobs, some errors occur:
https://groups.google.com/d/msg/perkeep/EhhaE4K7mxY/hMN1huJOAgAJ

however, the cause of the error is not logged on the server side or printed on the client side, which is bad for debugging.

[2018-06-11 15:37] mpl commented on #1186
https://perkeep-review.googlesource.com/#/c/perkeep/+/17166

[2018-06-11 17:19] mpl opened #1187 "pkg/serverinit: storageAndConfig never allows deletes"
As reported in https://groups.google.com/d/msg/perkeep/EhhaE4K7mxY/hMN1huJOAgAJ it seems like RemoveBlobs will fail even if the relevant storage is a BlobRemover. That is (primarily) because it is wrapped in a storageAndConfig, that is always set as deletable = false by default.

[2018-06-11 17:36] #1186 closed

[2018-06-11 19:11] mpl commented on #1184
@kasisnu so you're using S3 as the primary storage for Perkeep right now?

[2018-06-11 20:30] gedw99 commented on #580
@willnorris  is the bleve code you used on https://opensource.google.com/projects/ open ??

would like to look at how you did it..

[2018-06-11 23:00] euank commented on #1184
I had a go at porting it to use the aws sdk, and it passes the included `storagetest` gauntlet and seems to work for me in basic manual testing. That's [over here](https://github.com/euank/perkeep/tree/s3-official-client) and submitted for [review](https://perkeep-review.googlesource.com/c/perkeep/+/17226).

I haven't reproduced the 503 errors you reference to verify it definitely fixes what you r

[2018-06-12 14:30] mpl commented on #1184
@kasisnu could you try the above CL and let us know if it improves the 503 situation for you please?

[2018-06-12 15:29] willnorris commented on #580
perhaps ironically, no it's not.  Our end-to-end workflow for populating the project directory is pretty specific to Google infrastructure, and likely wouldn't be something we would release.  There may be bits and pieces of our use of bleve that I could release.  I'll look into it.

[2018-06-12 17:27] mpl commented on #1187
https://perkeep-review.googlesource.com/#/c/perkeep/+/17246

[2018-06-13 18:17] lindner opened #1188 "camlistore-commits email list not receiving mail since April 23"
Looks like these emails are sent with mailgun via

https://github.com/perkeep/perkeep/blob/master/website/pk-web/email.go

So might just be a website configuration issue.

[2018-06-13 18:19] mpl commented on #1188
thx, i'll look into it

[2018-06-13 19:36] mpl commented on #1188
weird, the mailgun interface shows them as delivered
![screenshot](https://user-images.githubusercontent.com/626071/41373882-e01ddb8a-6f51-11e8-8d60-0c0b21824268.png)

[2018-06-14 02:59] lindner commented on #1188
Maybe the mailing list is putting them in the moderation queue?

On Wed, Jun 13, 2018 at 12:36 PM mpl <notifications@github.com> wrote:

[2018-06-14 03:10] mpl commented on #1188
yeah, I've asked Brad to make me a manager on there (which I am not yet) so I could check things like that.

[2018-06-14 13:46] #1182 closed

[2018-06-14 18:17] mpl commented on #1188
It was a weird combination. the sender address was wrong, but mailgun was still happily sending them.
And the messages were not showing up as pending in the google group interface, _until_ i added manually the noreply@perkeep.org member. Then they showed up as pending, so then I had to reallow that sender again for some reason.

Anyway, this does not seem to be necessary now, but it still probably

[2018-06-14 18:22] mpl commented on #1188
Yep, they're showing up again now.

[2018-06-14 18:22] #1188 closed

[2018-06-14 19:31] mpl opened #1189 "pkg/blobserver/s3 : test assertions fail because default instance is wrapped by a proxycache"
--- FAIL: TestS3WithBucketDir (0.10s)
panic: interface conversion: blobserver.Storage is *proxycache.Storage, not *s3.s3Storage [recovered]
	panic: interface conversion: blobserver.Storage is *proxycache.Storage, not *s3.s3Storage

goroutine 567 [running]:
testing.tRunner.func1(0xc42070a000)
	/home/mpl/go1/src/testing/testing.go:742 +0x29d
panic(0x6f24e0, 0xc4205a8840)
	/home/mpl/go1/src/runtime/p

[2018-06-14 19:34] mpl commented on #1189
https://perkeep-review.googlesource.com/c/perkeep/+/17206 unblocks the situation for now by removing the proxycache. But we probably want to do better than that, as it is preferable to test the behavior of the package with its default initialization parameters (a 32MB cache).

[2018-06-15 20:52] euank commented on #1189
The test assertion failure is fixed on master with f92f9b80a3fb1f0a6e0623920315d895be54199e.

I think it's debatable whether we want to test with the proxycache's default value or not for the s3 blobserver in those tests.

My assumption was that the tests in the `blobserver/s3` package were meant to test the other code in that package, and similarly we could assume the proxy cache is tested separa

[2018-06-17 11:43] mchataigner opened #1190 "Custom GPG support"
I had trouble to generate my GPG key for my server.
It turns out Perkeep is expecting a key with no UserId and no email and "camlistore" as comment section.
in jsonsign/keys.go:

[code]

However, when using GPG to generate a new key, it expects a UserId of at least 5 characters. I did not find any mention of such a constraint on RFC 4880 though. I had to _fake_ a UserId `(camlistore)` without emai

[2018-06-17 18:15] kasisnu commented on #1184
@mpl Sorry, I just saw the notification for this. Yes, I can do that.

[2018-06-19 00:44] mpl opened #1191 "devcam hook: broken with git commit --amend"
$ git commit --amend internal/geocode/geocode.go server/perkeepd/perkeepd.go

fatal: There is nothing to exclude from by :(exclude) patterns.
Perhaps you forgot to add either ':/' or '.' ?
Trailing whitespace detected, you need to clean it up manually.

Bug most likely introduced at https://perkeep-review.googlesource.com/c/perkeep/+/17146

[2018-06-19 00:45] mpl commented on #1191
@euank Please let me know if you want to look into fixing it. Otherwise I'll just revert it, and fix it properly later.

[2018-06-19 01:13] euank commented on #1191
What version of git are you using, @mpl? `git commit --amend` works fine for me with using those hooks on master.

[2018-06-19 06:00] euank opened #1192 "Determine the fate of 'asserts' package"
Currently, perkeep.org/pkg/test/asserts contains a warning not to use it in its current state.

I think we have a few options for moving forwards:

1. Replace with an existing other library (I think testify/assert is the most popular)
2. Improve the asserts package; fix whatever issue resulted in its deprecation and begin using them again
3. Don't use any general asserts library, rather inline the

[2018-06-19 14:14] mpl commented on #1191
@euank yeah, I'm on git version 1.9.1

[2018-06-19 14:14] #1191 closed

[2018-06-19 14:16] mpl commented on #1191
@euank no harm done (I just reverted the change locally so I could keep on working yesterday), so no worries.

[2018-06-19 16:28] mpl opened #1193 "server/perkeepd: broken on GCE because missing camliNetIP"
it looks like it got broken at f3f38f0c76a9bfc13aafe9a696cff9ae98c0f0c2 or around

[2018-06-19 16:29] mpl commented on #1193
I don't really understand why, but it seems calling readFields is now something needed.

https://perkeep-review.googlesource.com/c/perkeep/+/17346 seems to be fixing things

[2018-06-19 18:34] #1193 closed

[2018-06-20 05:58] kasisnu commented on #1184
@euank I've left a small comment, but, generally, it LGTM!

[2018-06-20 16:59] robertgzr commented on #1126
@plural not sure how far you got but it seems like instagram has seriously limited their public API https://www.instagram.com/developer/changelog and they plan on deprecating reading the authenticated users profile and media until 2020 :/

[2018-06-20 17:09] euank opened #1194 "GeoJSON support for 'map' view"
Currently, perkeep has a map view on the web ui (and some associated APIs) which allow querying images and files tagged in a specific location.

This is great for some use-cases, but it's not great for e.g. a line.

One use-case could be to draw a line over a hiking trail, and then have a search which includes that trail drawing and pictures along the way to archive their activity on that trail ad

[2018-06-20 17:42] mpl commented on #1194
as mentioned on IRC, this intersects with @tajtiattila 's work on issue #995

[2018-06-21 14:06] mpl commented on #1124
if @radkat isn't already working on it, I think it's free for grabs, yes.

[2018-06-21 19:02] mpl commented on #1183
https://perkeep-review.googlesource.com/17366

[2018-06-22 15:51] tajtiattila commented on #1194
While working on #995 I considered GeoJSON, but it supports only geometries, and is not extensible.

There is JTT, but it doesn't seem to be standardised yet, unfortunately.

http://dret.typepad.com/dretblog/2015/11/gps-data-on-the-web.html

[2018-06-25 20:01] NiklasMerz commented on #1184
This fixed the issue with saving into Digitalocean spaces, too. But my new instance always shows an empty web UI. Why does it not load my blobs?

@kasisnu Did you got spaces working?

[2018-06-25 20:19] euank commented on #1184
@NiklasMerz have you launched with `-reindex`?
If so, did it print that it found anything or not?

[2018-06-25 20:50] NiklasMerz commented on #1184
Running perkeepd with `-reindex` runs forever with logs like that
[code]

Could this be related with the new AWS implementation or is this some messed up configuration from me?

[2018-06-25 21:02] euank commented on #1184
That sounds like a bug in `EnumerateBlobs` if it's not ever making progress and finishing.

That very well could be a bug in the s3 code, though it's also possible that DO Spaces is doing something strange for `StartAfter`.

Can I double check the following?

1. This is on DO Spaces?
2. You have over 1000 blobs/ / keys in the bucket?
3. Does it get stuck immediately or after ~1000 items?

I'll see

[2018-06-25 21:11] NiklasMerz commented on #1184
1.yes
2. no. this is a new instance with about 10 objects in the space
3. looks like immediatly

The cli tools work without problems.

Maybe this has nothing to do with your rewrite. I think I had the same issues with the old S3 blob storage. I will do some further testing tomorrow.

[2018-06-26 00:30] mpl commented on #1116
https://perkeep-review.googlesource.com/c/perkeep/+/15866

[2018-06-26 00:34] mpl commented on #1115
https://perkeep-review.googlesource.com/c/perkeep/+/15866/3 was making the geocoding key available to the web UI, because the map aspect uses geocoding lookups too. But @bradfitz says the web UI should not have to do lookups itself (which in theory sounds right), so I've reverted that for now. I'll revisit once I remember why I had to do that for the map aspect.

[2018-06-26 06:35] tajtiattila commented on #1194
Btw, I don't think the actual format to store track segments is important. GPX, KML or Google JSON are easy to parse, so they might simply be stored as files.

One problem with this request is that there might be many tracks, or very long tracks, eg. a location history spanning many years. A map query near the user's home location or along the daily commute could result in thousands of boring trac

[2018-06-26 07:03] euank commented on #1194
I think the format matters some because whatever formats we use will have to be parsed by perkeep so that it can perform a location search on items within a boundary.

I don't see the issue about there being many items as being an issue at all. Today there could be many pictures or files near a person's home location which would show up on the map. This is no different.

A user who wishes for a mo

[2018-06-26 15:35] tajtiattila commented on #1194
Location lookup would need a spatial database, either on disk or as part of the corpus that is kept memory. Therefore the actual parsing happens only when the file is indexed.

I'm not against using a single format, quite the contrary. I just don't trust any of them. I have years of GPX and KML from GPSLogger for Android and GPS devices, and there is Google location history JSON. GPX and KML have

[2018-06-26 16:01] mpl commented on #1192
Related: https://perkeep-review.googlesource.com/c/perkeep/+/16926

[2018-06-26 20:36] NiklasMerz commented on #1184
I did nothing since yesterday and now it works. That`s strange.

I will use this server with the CL and Digitalocean Spaces for some time, but this looks good to me.

[2018-06-27 23:51] mpl commented on #1177
@bradfitz what are we going to do about all (3 of them I think) the places where pudgy is animated? Will Ashley make animated keepys for us too?
Should I just replace them with a static keepy for now?

[2018-06-28 15:35] bradfitz commented on #1177
I don't know what @AshleyMcnamara's time looks like.

For now, can you just replace the animated one with a Keepy version with some spinning thing in the corner? You could make it with GIMP or GIMP + Go's image/gif.

Maybe the eyes should roll. :-)

[2018-06-29 06:32] euank commented on #911
Alternately, https://perkeep-review.googlesource.com/c/perkeep/+/17226 will also fix this.

@L42y: it should be possible to get that cl to work with AWS China, but it will unfortunately require writing a lowlevel config to set the "aws_region" value to 'cn-north-1' (which will automatically use the write endpoint since it uses the aws sdk).

[2018-06-29 06:42] L42y commented on #911
@euank can't wait to see this get merged, great work!

[2018-06-29 15:35] mpl commented on #1177
@bradfitz since parakeets like to dance, I made a very naive "dancing keepy", which I think might work to begin with. i'll send it over chat.

[2018-06-29 19:56] mpl commented on #1177
https://perkeep-review.googlesource.com/c/perkeep/+/17446

[2018-06-29 19:57] mpl commented on #1177
I'll track replacing pudgy in the GCE launcher in here as well, even though the issue is supposed to be specifically for the web UI.

[2018-06-30 05:18] lucaswilric commented on #1180
I am experiencing this issue as well. I see that the change is waiting for review on Gerrit. Is there any info available on when that might get merged? Or anything I could do as a new-to-Go programmer to help it along?

[2018-07-01 03:59] mpl commented on #1180
@lucaswilric as a general rule, you can help by reviewing the change, and testing it. and asking more people to do the same. The more people have tried it, the more confident I can be merging it without waiting for Brad's review.

[2018-07-02 00:00] bradfitz opened #1195 "Twitter importer sometimes not importing tweet image(s)"
I just ran the Twitter importer again after having it off for a week.

It just slurped a bunch of tweets in and most worked fine (including images) but a couple failed to import the images.

One had two images (if that matters).

The other was a reply to another tweet (my own, a "thread"), containing a single image in the reply.

To investigate later. I'm deleting the tweets for unrelated reasons,

[2018-07-02 00:05] bradfitz commented on #1195
Oh, here's another example of one:

https://twitter.com/bradfitz/status/1013209785615831040

It has 3 images, and none of them got imported:

[code]

/cc @mpl

[2018-07-02 14:16] mpl commented on #1195
Would https://perkeep-review.googlesource.com/c/perkeep/+/8588 help with this case? Or are you not seeing any error, and the importer is silently failing to import the images?

[2018-07-03 01:37] mpl opened #1196 "importer/twitter: update longpoller, as user stream will soon be deprecated"
https://blog.twitter.com/developer/en_us/topics/tools/2017/announcing-more-functionality-to-improve-customer-engagements-on-twitter.html

[2018-07-03 15:59] mpl commented on #981
https://perkeep-review.googlesource.com/c/perkeep/+/17466

[2018-07-03 16:59] mpl commented on #1196
yes, it does. we're using the user stream (https://userstream.twitter.com/1.1/user.json) to do the long polling.

[2018-07-03 17:02] mpl commented on #1181
well, when you posted that it was still working, but they plan on killing it anyway on the 16th of august:
https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/api-reference/user-stream

[2018-07-03 17:05] mpl commented on #1196
They plan to deprecate user stream on the 16th of august:
https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/api-reference/user-stream

[2018-07-03 17:20] mpl commented on #1196
https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/migration/us-ss-migration-guide

[2018-07-03 18:19] mpl commented on #1196
From what i gather in https://developer.twitter.com/en/docs/accounts-and-users/subscribe-account-activity/guides/getting-started-with-webhooks users might need to have a developer or premium/enterprise account in order for their importer app to use webhooks, which is probably a no-go. But I'll keep on exploring that migration.

[2018-07-16 11:46] ClashTheBunny opened #1197 "Feature request: maildir and mbox imports"
I have a bunch of old backups of mail that I'd like to get stored in one searchable place.  Perkeep seems like it would be a great fit.  I don't need to send mail or understand much about the messages, but I would want all the metadata and mine attachments.

Does this seem like something others would be interested in, or is there another thing that I should use?

[2018-07-16 14:17] mpl commented on #1197
maybe a dup of #465 though?

[2018-07-16 14:36] ClashTheBunny commented on #1197
This could be a dup.  I do think this is partly in addition to the ongoing importing of #465, but would be the same data structures and search associated with it.

[2018-07-16 15:10] bradfitz commented on #1197
Yes, closing as a dup. Let's consolidate discussion in #465, which I've retitled as a start.

[2018-07-16 15:10] #1197 closed

[2018-07-16 18:22] euank opened #1198 "Perkeep's gerrit instance should have CI"
Right now, CI runs on master in the form of [travis-ci](https://travis-ci.org/perkeep/perkeep), but only a subset of tests are run (the default `devcam test` set).

Changes proposed on gerrit do not have tests run automatically, and it's up to the developer and any reviewers to do due diligence.

To reduce the burden on developers and remove some chances of human error, Perkeep should include auto

[2018-07-17 06:04] delqn commented on #1164
@Mohammed90 have you had a chance to work on this?
If not - I'd like to file an `Intent to Implement` and add the Evernote importer.

[2018-07-17 06:39] Mohammed90 commented on #1164
@delqn nope, go right ahead.

[2018-07-17 14:42] #1183 closed

[2018-07-18 17:05] mpl commented on #986
https://perkeep-review.googlesource.com/c/perkeep/+/17546

[2018-07-19 22:21] robertgzr commented on #1126
@bradfitz @mpl
I have a working instagram importer on top of [goinsta](https://github.com/ahmdrz/goinsta) but I'm a bit stuck on how to test it... I would just submit what I have for review :p

I also haven't really looked into the ui part too much...

[2018-07-20 14:51] mpl commented on #1126
@robertgzr sure, if it seems to be working, that's a good enough starting point for a CL. Send away please.

For an integration test, you can look at what's already been done in other importers, such an the pinboard one.

[2018-07-20 16:47] mpl commented on #1078
https://perkeep-review.googlesource.com/c/perkeep/+/17586

[2018-07-22 15:55] apparentlymart commented on #1134
Hi all! I've been away from Perkeep for a while (it was still called Camlistore last time I was here) but while thinking about getting my old, neglected install fixed up and upgraded I somehow ended up finding this issue...

After seeing the config example here, I couldn't help myself but to sketch what it would look like in HCL, which is getting near the end of [a significant revamp/rework](https

[2018-07-23 15:58] mpl commented on #1126
@robertgzr I've started reviewing, but before I go further, can you please explain better why we need to use goinsta at all? In particular, it bothers me that we would have to ask the user's credentials (username and password) while the API seems to be offering good old OAuth2: https://www.instagram.com/developer/authentication/

Feel free to point at parts of the code directly in the CL (even the

[2018-07-23 19:36] mpl commented on #1126
@robertgzr yes, I had a look at the endpoints, and I feared the 20 entries limitation, but good to know you've actually tried.

But then comes the next question (because I'm hoping you've had a look at the goinsta code, I haven't yet): the goinsta devs do not have anymore access to a broader instagram API than we do, so how do they do it? And is the way they do it complicated enough that we have t

[2018-07-23 19:56] robertgzr commented on #1126
@mpl They reverse-engineered the "non-public" instagram api (what the app is using I assume), probably similar to https://github.com/mgp25/Instagram-API (which has quite elaborate technical documentation) by basically emulating the app.

I wouldn't want to replicate all that stuff... but I see what you mean. The alternative would be to have this be it's own app instead of an integrated importer.

[2018-07-23 21:48] mpl commented on #1126
so they're basically using undocumented endpoints?

[2018-07-24 01:14] mpl commented on #1078
https://perkeep-review.googlesource.com/c/perkeep/+/17626

[2018-07-24 02:05] #1078 closed

[2018-07-24 14:44] mpl commented on #1126
https://perkeep-review.googlesource.com/c/perkeep/+/17606

[2018-07-26 00:59] mpl commented on #1130
https://perkeep-review.googlesource.com/c/perkeep/+/17726

[2018-07-26 01:05] #986 closed

[2018-07-26 16:52] mpl opened #1199 "pkg/index tests are failing"
https://travis-ci.org/perkeep/perkeep/builds/408296704

Looks like it was broken at 13a8e948950460a26de6274ce037b3b0b7ed2d38

[2018-07-26 16:52] mpl commented on #1199
@euank Let me know if you want me to look into it or if you're on it please.

[2018-07-26 18:19] euank commented on #1199
Apologies for my carelessness, it looks like I forgot to commit a change I had locally which let tests pass. I've submitted https://perkeep-review.googlesource.com/c/perkeep/+/17766 for this.

I think this is also a good argument for https://github.com/perkeep/perkeep/issues/1198... we should be catching these sorts of silly mistakes before merge, not after.

[2018-07-26 23:14] #1199 closed

[2018-07-27 00:03] mpl commented on #1145
https://perkeep-review.googlesource.com/c/perkeep/+/17786

[2018-07-27 00:41] mpl commented on #1142
Related to #1106

[2018-07-28 01:47] mpl commented on #1142
https://perkeep-review.googlesource.com/c/perkeep/+/17806

[2018-07-28 01:52] mpl commented on #1142
first results with the above CL:

with one typical photo:

	% go test -bench BenchmarkDjpegResize*
	2018/07/28 03:29:02 images/fastjpeg: fastjpeg enabled with /usr/bin/djpeg.
	goos: linux
	goarch: amd64
	pkg: perkeep.org/internal/images/bench
	BenchmarkDjpegResize8-4   	2000000000	         0.04 ns/op
	BenchmarkDjpegResize4-4   	2000000000	         0.08 ns/op
	BenchmarkDjpegResize3-4   	2000000000

[2018-07-28 03:51] bradfitz commented on #1142
What is going on with those numbers? It doesn't take `0.04 ns/op` to decode or resize a JPEG.

[2018-07-28 04:16] mpl commented on #1142
Yeah I know, something is weird

On Sat, Jul 28, 2018, 05:51 Brad Fitzpatrick <notifications@github.com>
wrote:

[2018-07-30 13:03] khimaros commented on #1134
Another benefit of HCL is that is is machine editable while preserving comments.

[2018-07-30 18:00] mpl commented on #1142
@bradfitz I simply had forgotten to add the loop that benchmark can vary on, fixed in CL. Results make much more sense now:

For 1 image:

	% go test -bench BenchmarkDjpegResize*
	2018/07/30 19:43:38 images/fastjpeg: fastjpeg enabled with /usr/bin/djpeg.
	goos: linux
	goarch: amd64
	pkg: perkeep.org/internal/images/bench
	BenchmarkDjpegResize8-4   	      30	  51589184 ns/op
	BenchmarkDjpegResize4-

[2018-07-30 18:20] mpl commented on #1142
And I've just added 1/5 downsampling, which seems to suggest that even if odd downsampling is less efficient with djpeg (because we have to do even downsampling with djpeg, then "finish" by hand with Go), it is still generally faster than with imagemagick:

    BenchmarkDjpegResize5-4   	       1	1803407483 ns/op

    BenchmarkImgmgkResize5-4   	       1	3628488678 ns/op

[2018-07-31 16:21] mpl opened #1200 "launcher: systematic start error + 1s restart causes high CPU usage"
For an instance deployed on GCE with our launcher, the systemd service automatically restarts the service after 1s, in case of a failure to start.
It means that if Perkeep systematically fails to start, it will uselessly retry to start every second, which leads to high CPU usage for nothing.

[2018-08-01 14:39] #1184 closed

[2018-08-01 18:14] mpl commented on #1115
@bradfitz after reading the code again, I now have the answer about why the map aspect uses geocoding lookup.

When loading the map aspect, the default behaviour (and what you were saying we should do) is indeed that we compute the relevant coordinates on where to automatically zoom in, from the results of the search query.

However, when the search bar has either a "loc" or a "locrect" predicate,

[2018-08-01 18:16] mpl commented on #1081
yeah, after playing with the map aspect again for issue #1115 , I think the particular behaviour described above is ok as it is.

[2018-08-01 18:16] #1081 closed

[2018-08-01 18:28] bradfitz commented on #1115
Remove all geocoding support from the browser.

Only zoom based on what the server says in its reply.

[2018-08-01 21:05] euank opened #1201 "index vs corpus for permanode-attr searches"
Currently, there are two public APIs that allow a client to search for a given permanode by attribute. Specifically, `client.Query` and `client.GetPermanodesWithAttr`.

However, they have distinctly different performance characteristics.

Searching permanodes by attribute through `Query` hits the corpus, but does an `O(n)` scan through all permanodes.

Using the `GetPermanodesWithAttr` way ends up

[2018-08-02 00:10] mpl opened #1202 "android: new target sdk requirement in nov 2018"
https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

[2018-08-02 01:41] mpl commented on #1115
https://perkeep-review.googlesource.com/c/perkeep/+/17846

[2018-08-02 17:33] mpl commented on #1201
iirc, after Query had stabilized, the plan was indeed to get rid of most of the index exported methods, such as GetPermanodesWithAttr. Or at least clean things up so the index Interface itself would not require to implement so many specific methods. We've just not done it because there wasn't any harm in keeping them so far.
On that note, I think we've also slowly moved towards other components ju

[2018-08-02 17:57] #1116 closed

[2018-08-02 18:41] mpl commented on #1200
As https://github.com/systemd/systemd/issues/6129 seems to suggest, I don't think there's any way to do that for now.

So maybe for now increase the restart to a more conservative value, like 10s, to alleviate the problem?

[2018-08-02 19:01] euank commented on #1200
I took a glance at the `pkg/deploy/gce/deploy.go` code and saw quite a few things I'd want to fix there.

One of them is moving from `cloud-config` to Ignition since, as [documented](https://coreos.com/os/docs/latest/cloud-config.html), cloud-config is both deprecated and broken.

I see it's also using `systemd-docker` to wrap `docker run`, which is also an unmaintained project by now.

In any cas

[2018-08-02 19:09] euank commented on #1200
After looking a little more, I strongly suspect the network + cpu usage is due to the `ExecStartPre` of `curl $camlistored | gunzip`...

That only really needs to be done once, but how the systemd unit is written, it's happening every time the unit restarts.

I don't think the right fix is changing the restart value or how it backs off, but to make it not do a `curl | gunzip` unless it needs to.

[2018-08-02 22:43] mpl commented on #1200
the systematic curl + gunzip is the easiest way to ensure automatic updates.
If you want to do without it, you still have to make sure in some other way that if we've uploaded a new image, they automatically use it.

Also, I wouldn't worry too much about fixing old and deprecated stuff, as we might move to a different environment sooner or later.

[2018-08-03 01:05] euank commented on #1200
It's easy enough to `curl -z`, or save the gcs etag, or something of the like... and it's even easier to not gunzip if the file hasn't changed and it's already loaded into docker.

Unless we're sure that stuff is vanishing *very* soon, it still seems worth fixing (after all, this issue was filed based on a user report).

[2018-08-03 11:42] sesam commented on #1134
Looks very nice IMHO. @apparentlymart did you make a translator from HCL to the existing JSON? Or if you think that's a possible first step to to be able to try out this config method in a "live" situation.

[2018-08-03 16:33] bradfitz commented on #1200
@euank, yeah, ideally we'd be much smarter about HTTP caching & only nuke the output directory & untar things if the HTTP origin had changed.

Somebody could steal some code from my https://github.com/golang/build/blob/master/internal/httpdl/httpdl.go

[2018-08-03 19:02] euank commented on #1200
Thinking about it a little more, for the download part, `docker pull` from a registry  (e.g.  gcr.io) already deals with only downloading changes, making sure the image in docker is up to date,  etc etc.

Is there any reason not to switch to that?

[2018-08-03 19:33] bradfitz commented on #1200
Yeah, totally. Doing a pull from gcr.io would be best. I think it was kinda new (if it even existed?) when we started this.

[2018-08-03 21:10] apparentlymart commented on #1134
So far I just made [an entirely separate program](https://github.com/apparentlymart/perkeep/blob/66fc543e05479461d838131bb25d8d5e1bd8c554/cmd/pk-try-hcl-config/try_hcl_config.go) that reads and prints out configuration just to "prototype" what the file format itself might look like, with no attempt to actually integrate it with the rest of Perkeep. Making that separate program output the already-s

[2018-08-04 09:43] L42y commented on #911
@euank after pulling the master version and convert to low-level config, I can use the AWS China regions, you are my hero!

[2018-08-06 05:15] L42y commented on #1134
User with low-level JSON config here 🙋‍♂️

[2018-08-06 21:09] sesam commented on #1134
@L42y we'd need samples valid of low level configs. Can you share an
anonymized pastebin with yours? Then we rewrite valid json configs in the
hashicorp format, and use as test vectors for the to-be converter :)

[2018-08-07 18:30] mpl opened #1204 "pk dumpconfig: should not output "_knownkeys" object"
According to @f0i on IRC, he obtained the low-level config at https://gist.github.com/f0i/5133fe34685a40ed4998148a4d3019a8 with 'pk dumpconfig', which included the '_knownkeys' object, which is probably why he was getting a panic on startup.

'pk dumpconfig' should probably not output that object.

[2018-08-07 19:27] mpl commented on #1114
https://perkeep-review.googlesource.com/c/perkeep/+/17926

[2018-08-07 22:30] #1114 closed

[2018-08-07 22:36] colemickens commented on #625
@aslakg any update on your work or observations of `ipfs` and `perkeep`?

[2018-08-09 11:25] lindner commented on #625
I wired up blob storage but had some issues.

- sha-224 vs ipfs hashing is suboptimal
- chunking is done differently
- EnumerateBlobs is really hard to implement.  I ended up using IPLD links and advancing and tracking a head node.  You want something like unixfs and a global lock to update the latest head.

Would love to compare what I have with the version by @aslakg

[2018-08-09 11:39] psilva261 opened #1205 "Constant time comparison for user/password check"
The check for http auth uses the normal string comparison operator: https://github.com/perkeep/perkeep/blob/master/pkg/auth/auth.go#L245

Go standard library provides a special function that does comparison in constant time: https://golang.org/pkg/crypto/subtle/#ConstantTimeCompare

Already mentioned this in the weekly irc, so I'd like to prepare a pull request soon.

[2018-08-09 15:59] mpl commented on #1205
https://perkeep-review.googlesource.com/c/perkeep/+/18026

[2018-08-09 16:58] #1205 closed

[2018-08-09 23:56] mpl commented on #1158
@raphaelyancey I lost track. Is the issue fixed for you now?

[2018-08-10 00:00] mpl commented on #1110
duplicate of #1114

[2018-08-10 00:00] #1110 closed

[2018-08-10 05:57] euank commented on #1116
I don't think this one is really fixed until https://github.com/go4org/go4/pull/37 is merged and the vendor version metadata (e.g. Gopkg.lock or go.mod) is updated appropriately.

Right now, perkeep master has a vendor folder which isn't reproducible with `dep ensure`, and I will be totally unsurprised if the vendor change in the above CL gets lost the next time someone runs `dep ensure`.

[2018-08-10 06:49] euank opened #1206 "The 'pk-deploy' command panics"
Since [cl 9906](https://perkeep-review.googlesource.com/c/perkeep/+/9906), the `pk-deploy` command has paniced due to the `logger` being nil.

If `-verbose` is set, it has paniced since [cl 5427](https://perkeep-review.googlesource.com/c/perkeep/+/5427).

That means for perkeep 0.10, at least, the `pk-deploy` command isn't usable.

[2018-08-10 07:00] euank commented on #1206
A fix is included as part of https://perkeep-review.googlesource.com/c/perkeep/+/18046

[2018-08-10 07:06] euank commented on #1200
I looked into this a little more and posted a WIP CL here: https://perkeep-review.googlesource.com/c/perkeep/+/18046

One of the remaining changes is to update any release documentation or automation for updating that gcr image.

I'd appreciate any pointer to existing documentation or automation around that.

[2018-08-10 14:45] mpl commented on #1116
Yes we know. I'm waiting for Brad to approve the PR, so I can land it and then sync Perkeep from upstream.

[2018-08-10 14:55] mpl commented on #1200
I've started moving the launcher to Container-Optimized OS (which was the other environment I mentioned above) yesterday, which as far as I know uses cloud-config, and not ignition. So I don't think it's very useful to switch to ignition now since we're going to go back to cloud-config right after.

That said it seems there's other useful things in your CL, I'm going to have a look.

[2018-08-10 19:01] euank commented on #1200
@mpl I don't see any issue or other discussion about such a transition. I'm curious what the motivation is. Assuming perkeep's launcher code may intend to eventually support other clouds, like AWS, it seems odd to pick an OS which is not available anywhere else.

Am I missing discussion somewhere or other broader context?

[2018-08-10 19:23] mpl opened #1207 "web UI: document that we have the raw search operator"

[2018-08-10 19:27] mpl commented on #1200
@euank no, you're not missing any previous discussion about it afaik.

I'll let @bradfitz answer that one.

[2018-08-10 19:56] mpl commented on #1207
https://perkeep-review.googlesource.com/c/perkeep/+/18066

[2018-08-10 20:02] bradfitz commented on #1200
Where the world is heading and where we'd like to be ourselves is only deploying a container, not a VM.

All the cloud providers are working on container-only offerings where you don't need to think about the underlying VMs. They're not entirely there yet, but that's the direction.

Using Container-Optimized OS is a stopgap on GCE. It lets you only think about the container(s) as the unit of deplo

[2018-08-10 22:02] euank commented on #1200
@bradfitz I'm sold on the container as a unit of deployment in the future for this and that dealing with VMs at all is a stop-gap.

I don't see how any of that makes COS a better stop-gap than the existing choice of CoreOS though.

It does so just as well as CoreOS does. Fundamentally, COS and CoreOS are basically systemd + dockerd.. The only major differences are CoreOS using Ignition (woo) and m

[2018-08-11 03:09] bradfitz commented on #1200
The Go build uses COS so I'm more familiar with it. I lost my familiarity with CoreOS a few years ago and even then it wasn't very container-friendly.

I just looked at your CL and I see a pile of shell-in-yaml goo at https://perkeep-review.googlesource.com/c/perkeep/+/18046/1/pkg/deploy/gce/deploy.go#889 that seems like something I'd never want to look at or maintain.

COS manages containers. It

[2018-08-11 03:10] bradfitz commented on #1200
Your CL's shell includes:

[code]

That is all scary and not something that should be our job.

[2018-08-11 04:06] euank commented on #1200
@bradfitz It's a fair criticism that using ignition correctly is a bit more clunky than using cloud-init.

I wasn't aware that COS had [konlet](https://github.com/GoogleCloudPlatform/konlet) for a simpler way of starting containers, that's cool!

Unfortunately, I think it also can't do what perkeepd wants right now. Namely, perkeepd's deployment setup wants mysql + perkeep, and for them to be link

[2018-08-13 16:13] euank commented on #1200
I guess I'm convinced enough that it's not pointless to switch from CoreOS to COS in the short term.
I think you mentioned you'd started that, @mpl; I'll hold off on my changes and then re-start on top of your work if you don't already incorporate them or make them redundant).

Sure, it's technically possible to do that, but  I think you  get funny looks from  other people for using docker like th

[2018-08-13 16:29] mpl commented on #1200
yeah, I was thinking about that too (except goleveldb since that's our default).

@bradfitz any reason to stay with MySQL? I think you told me that even you gave up on it, and were running with goleveldb only now.

[2018-08-13 17:52] #1206 closed

[2018-08-16 06:27] psilva261 commented on #990
Actually I'd be interested in doing this. Maybe it would make sense then to make a list of all the points where the blobs are re-verified and possibly also the points where blobs are passed from one place to another, although I wonder whether that might be a bit long.

[2018-08-20 14:29] angelcabo opened #1208 "importer: add a Instapaper importer"
Hello! I wrote a Perkeep importer for the Instapaper service.

Instapaper is a bookmarking service that provides offline reading and highlighting functionality. More info here: http://www.instapaper.com/.

The importer stores a user's bookmarks, full text articles, and any highlights per bookmark. I'll create a CL and attach it to this issue. If there's interest, it would be great to get it review

[2018-08-20 14:35] angelcabo commented on #1208
https://perkeep-review.googlesource.com/18206

[2018-08-20 16:38] vron opened #1209 "web-ui query: oversized response"
Originally raised at: https://groups.google.com/forum/#!topic/camlistore/x94Udt2cNyg

after:

pk-put file --permanode --title "Backup" $HOME

and visiting the web-ui I get a response from the /query endpoint of 20Mb+ in size.

The issue seems to be that the entire recursive structure under the new permanode is returned when only the permanode needs to be shown.

[2018-08-20 19:05] mpl commented on #1209
@vron the attached screenshot is what the query at the top level of the web UI looks like, when one of the elements in the permanode for a dir of ~60MB. As you can see the response to the query is apparently ~35KB for me in this case, which seems reasonable.

Can you tell me how you instrumented to arrive at 20MB please? What does it look like when you use the chrome dev tools (network tab), like

[2018-08-20 19:07] vron commented on #1209
Hi, i see it when displaying in the "list" view, see for example:

![screen shot 2018-08-20 at 09 56 31](https://user-images.githubusercontent.com/160233/44361042-fe2d7900-a4bc-11e8-9c89-e9eea0e9721c.png)

[2018-08-20 19:08] vron commented on #1209
Chrome wont let me look a tthe response - (to large?) but when cURL:ing it I see a json file of 20Mb with the entire directory tree.

Please note that such a Backup permanode is a recursive directory with lots of files and representing a total directory size in the order of 100s of GBs

[2018-08-21 00:55] mpl commented on #1209
Ok, I understand what's going on.
The describe rules are usually what controls the (recursive) expansion of the description of any blob found by the search query.

However, as you see at https://perkeep.org/pkg/search#DescribeRule , all the mechanisms in the rules only apply to permanodes and their attributes. Which means, in the case of a top permanode for a directory, the rules do not offer any

[2018-08-21 05:46] vron commented on #1209
Thx

[2018-08-21 20:56] raphaelyancey commented on #1158
@mpl Yes we can close, thanks. Not really fixed but bypassed.

[2018-08-21 20:56] #1158 closed

[2018-08-21 23:50] #1130 closed

[2018-08-22 05:47] vron opened #1210 "Geocoding should use viewport"
Currently geocoding will only work if a bounds property is returned by google geo api. However, according to https://developers.google.com/maps/documentation/geocoding/intro bounds is optionally returned and I have indeed come across quite a few cases where perkeep does not work wit “loc” searches due to this - eg searching for “hardangervidda” etc.

I suggest to change the geocoding code to alway

[2018-08-22 05:48] vron commented on #1210
If agreed/accepted I ca fix this as a first contribution.

[2018-08-22 06:32] vron commented on #1210
Sent https://perkeep-review.googlesource.com/c/perkeep/+/18246 as it might be easier to discuss in code then in text...

[2018-08-22 15:02] mpl commented on #1210
SGTM

[2018-08-23 18:56] mpl commented on #1209
I think I'm now approaching a much better fix, which removes - long overdue - the Depth parameter altogether. CL is updated.

[2018-08-24 04:53] vron commented on #1210
Closing since e6fb16557fdc28d6b2d45080a258233c3254be48 was merged.

[2018-08-24 04:53] #1210 closed

[2018-08-24 16:40] edrex commented on #625
@lindner i think this is @aslakg's branch https://github.com/perkeep/perkeep/compare/master...aslakg:multihash

[2018-08-28 15:54] hairyhenderson opened #1211 "Perkeep won't build with Go 1.11"
Trying to build Perkeep for the first time, I saw the following in the docs and assumed Go 1.11 would be OK:

[code]

(see https://github.com/perkeep/perkeep/blame/master/website/content/download.md#L18)

The key phrase is _"or newer"_ - it seems like it won't compile with 1.11:

[code]

I think two things could be done to solve this:
1. the docs could be updated to remove the `or newer` phrase
2.

[2018-08-28 15:58] bradfitz commented on #1211
We're in the process of moving to 1.11 now. GopherJS always makes things tricky.

[2018-08-28 16:07] hairyhenderson commented on #1211
Thanks @bradfitz!

[2018-08-28 16:31] mpl commented on #1211
@hairyhenderson btw, it does already build with Go 1.11. You only have to follow the instruction given in the error message. Is the message not clear enough?

[2018-08-28 16:33] mpl commented on #1211
The CL to make everything build under Go 1.11 is here btw:
https://perkeep-review.googlesource.com/c/perkeep/+/18326

[2018-08-28 16:38] hairyhenderson commented on #1211
@mpl er... I guess it's not 😉

I see `You need to specify a go1.10 root in CAMLI_GOPHERJS_GOROOT for building GopherJS.`, which implies that I need to have Go 1.10 in addition to Go 1.11 installed (which I do not).

Maybe something like `You can build GopherJS separately from Perkeep by specifying a go1.10 root in CAMLI_GOPHERJS_GOROOT ` would be more clear?

Either way, this is the point where I

[2018-08-29 01:41] mpl commented on #1085
https://perkeep-review.googlesource.com/c/perkeep/+/18386

[2018-08-29 05:27] cliveb commented on #625
@lindner Do you think possible to avoid a global lock by using a consensus algorithm? Because of bitcoin crypto-commerce boom there are so many academic and startup teams plus the Linux Foundation umbrella Hyperledger blockchain projects. Focused on trying to avoid a 'global lock' because it produces a 'global block' that impacts scalability.

On a different thread inquiring about multi-user and I

[2018-08-29 15:02] mpl commented on #625
@cliveb to clarify, when I said "maybe?", I actually meant I have no idea and opinion on the subject for now. :-)

[2018-08-29 16:35] #1085 closed

[2018-08-29 18:17] cliveb commented on #625
Maybe I can tempt @bradfitz to come out to speak on the Merkle Ecosystem on 9/4 or 9/18. Because privacy is important to families (multi-users). https://www.meetup.com/Blockchain-Smart-Contracts-Seattle-Working-Group/events/254017318/

[2018-08-30 00:06] #1207 closed

[2018-09-03 04:15] sergiopantoja commented on #981
Small update for the OSX client :) https://perkeep-review.googlesource.com/c/perkeep/+/18426

[2018-09-03 04:37] sergiopantoja commented on #1103
As a reference point, I compiled the OSX client today. Seems like @mpl's guess is correct:

[code]

To build successfully, I had to:

[code]
(where `$CAMROOT` is the root of your perkeep git repo--for anybody else who might want to try the OSX client)

[2018-09-03 05:36] sergiopantoja commented on #1147
Updated the icons: https://perkeep-review.googlesource.com/c/perkeep/+/18446

![image](https://user-images.githubusercontent.com/2530982/44968382-9c85f980-af15-11e8-82af-5163c724c70e.png)

I used [this](https://perkeep.org/static/keepy-small.png) as the source image when creating the different icon sizes. That's 512x512. We are still missing a 1024x1024 icon (512pt@2x), so if you have a higher res

[2018-09-03 15:38] mpl commented on #1103
@sergiopantoja thanks. Are you interested in sending a CL to fix the build?

[2018-09-03 19:15] timatnuf opened #1212 "Enhance mechanism for remote clients to enroll keys"
I followed the docs with pk put init -newkey, but the behavior was not as expected.  My client is running on a different machine than my server.   Copying the secring from server to client fixed the issue, but I don't think this should be the correct behavior.  While a correct warning message is produced if client and server have different keys, either the documentation should be enhanced for clue

[2018-09-03 19:18] timatnuf opened #1213 "Representations the webUI isn't capable of should not show "no content""
When clicking on a permanode in the webUI, contents are blank.  If one clicks blob, then manually clicks through camliContent and the blobRef for parts, 'Blob content' shows "no data".  This is misleading.  The error is actually that the webUI can't represent the data (in this case ASCII text).  A pk get with that ref shows the correct data.  View original after the permanode is selected using the

[2018-09-05 14:20] myitcv commented on #1211
The official GopherJS repo now has Go 1.11 support https://github.com/gopherjs/gopherjs (but is not module-aware)

My fork of GopherJS also has modules support on the `go1.11` branch https://github.com/myitcv/gopherjs/tree/go1.11

[2018-09-05 15:58] mpl commented on #1211
@myitcv yeah I know. Just waiting for my CL above to be reviewed and merged.

[2018-09-05 23:39] mpl opened #1214 "web UI: add text aspect for pure text files"

[2018-09-05 23:41] mpl commented on #1214
https://perkeep-review.googlesource.com/c/perkeep/+/18466

[2018-09-05 23:43] mpl commented on #1213
@timatnuf I have opened #1214 , which is related to that issue, and I have started on it.

[2018-09-05 23:44] mpl commented on #1214
@timatnuf The above CL pretty much only works for files with a .txt extension for now, since something is wrong with our mime type detection (I'm looking into it), but you can already try it and see for yourself if you want.

[2018-09-06 05:11] sergiopantoja commented on #1103
@mpl I made a few attempts, but in the end wasn't able to reference $GOPATH from within XCode. I'm not too familiar with Go projects, but if all projects are structured this way:
[code]
Then we can have XCode navigate to the `bin` directory using `../../../../bin/perkeepd`. I'll submit a change so you can see what I mean.

[2018-09-06 05:17] sergiopantoja commented on #1103
https://perkeep-review.googlesource.com/c/perkeep/+/18486

I can fix the merge conflict if either one of the changes gets merged in, depending on which is first. It's just a project settings file that was touched by both this and the icon update.

[2018-09-06 20:53] timatnuf commented on #1214
Yes, I'll take a look over the weekend.
My JS skills are not the best but I'll see about that, too

Tim

On Thu, Sep 6, 2018 at 4:22 PM mpl <notifications@github.com> wrote:

[2018-09-07 21:54] m4dh4tt3r commented on #910
I am starting work on this after checking with the list to make sure no one is working on it. When I have something working, I'll submit a code review request.

[2018-09-07 22:01] adg commented on #910
Feel free to CC me on the code review (adg@golang.org).

[2018-09-08 00:01] m4dh4tt3r commented on #910
@adg, thank you! Glad to have your input, considering you've contributed to both projects.

[2018-09-08 16:35] sesam commented on #1172
is this bug closeable?

[2018-09-08 17:13] mpl commented on #1172
If we take it literally, yes, as the problem is indeed now fixed for sha224.
Stephen is correct that we should probably fix it in a more generic way, but I suppose that can be considered another issue.

@stephens2424 Are we good to close, or are you working on the better fix?

[2018-09-08 22:26] clgillis opened #1215 "B2 Storage Connector needs keyId added to configuration."
Due to changes made by B2 Cloud storage you cannot use your accountId for the b2_authorize_account request.  In it's place you must use the keyId generated when you generate your authorization key.  However, when you use the b2_list_buckets request, you must still use the accountId or you get an "accountId invalid" error.

[2018-09-08 22:37] clgillis commented on #1215
Alternatively since b2_authorize_account returns the accountId you could store it and use it for the b2_list_buckets request.

[2018-09-10 15:47] mpl commented on #1215
@clgillis thanks. Are you interested in contributing a fix?

[2018-09-12 15:52] clgillis commented on #1215
Looking at the code it doesn't look like that hard of a fix(famous last words).  If I can get it working again I'll submit a patch.

[2018-09-12 18:31] mpl commented on #1213
Done
https://perkeep-review.googlesource.com/c/perkeep/+/18506

[2018-09-13 01:08] clgillis commented on #1215
@mpl  I have implemented a fix and have starting syncing about 5gb of data up to B2 Cloud as a test.  Code changes can be found at https://github.com/clgillis/b2

[2018-09-13 14:12] mpl commented on #1215
@clgillis thanks. But if/when you want us to review it, please send it as a gerrit CL, as per the contributing instruction: https://perkeep.org/code#contributing

[2018-09-13 15:12] clgillis commented on #1215
Roger that.  I put in a PR to the original vendor.  Might be easier to have them submit.  We'll see.

[2018-09-13 15:39] mpl commented on #1196
I have started on this. Some parts are doable, but in addition to the hindrance that a user would have to register a dev account, the users would also have to be aware that their Perkeep instance has a public (i.e. unauthenticated) access point, that is to say, the webhook through which twitter feeds them events. (It is also annoying to implement (adding an unauthenticated webhook to the importer)

[2018-09-13 15:40] mpl commented on #1196
reopening, because I suppose as part of this issue, which should now remove the longpoller code anyway. I'll do that before closing.

[2018-09-14 00:56] mpl commented on #1196
https://perkeep-review.googlesource.com/c/perkeep/+/18546

[2018-09-14 13:01] bradfitz commented on #1211
Whoops, sorry. I missed that one.

[2018-09-14 14:45] #1211 closed

[2018-09-14 15:14] clgillis commented on #1215
@mpl  - If I were to submit for code review do you prefer that I submit my own fork for the b2 change or just modify the current vendor's code?  We are talking six lines of diff for the fix.  Please advise.

[2018-09-14 15:55] mpl commented on #1215
@clgillis ah, I hadn't understood at first that the fix was for the B2 lib rather than for our B2 blobserver implementation.
Modifying the vendored copy is out of the question, especially since we're moving to using Go modules, which don't even need the vendor dir. So if it came to that, yes you should fork. But I'm pretty confident @FiloSottile will eventually address your PR, so you won't have t

[2018-09-14 17:54] clgillis commented on #1215
@mpl - Ok that was the answer I expected but just wanted to make sure.  As I mentioned before the PR has been submitted to @FiloSottile B2.  Thanks again for the help.

[2018-09-17 22:47] gerroon opened #1216 "Uploaded shared text content does not show up in the web ui"
Hi

I am using the android app to send uploads to  my server. I select some text in the browser, then I share that to Perkeep app. it says it uploaded but I do not see anything on the  server side. file uploads  like photos work fine btw.

If this is not supported, please consider supporting such type of uploads.

thanks

[2018-09-17 22:51] mpl commented on #1216
hmm, I had never thought of that use case, interesting.
What would you expect to happen in that case? that the highlighted text gets saved as a text file?

[2018-09-17 23:07] gerroon commented on #1216
@mpl

Yes that was my original intention, that way it can become a way to keep notes.

I would even like if it saves html files (or scrapes the url) when the actual url  is shared (from the browser) via the share menu to Perkeep.

[2018-09-17 23:09] mpl commented on #1216
I see. I don't think sharing anything that is not an already existing file is supported at the moment. But I'll see what can be done.

[2018-09-17 23:14] gerroon commented on #1216
thank for considering.

[2018-09-17 23:19] gerroon opened #1217 "FR: Provide builds"
Hi

It would be nice if this project provides builds for various platforms like the Syncthing project does. I have a win desktop that has no internet connection, not sure how I could get Perkeep to run on it for instance.

thanks

[2018-09-18 16:59] xori commented on #1217
Just adding my few cents, building perkeep requires more than a gig of ram so for example the cheapest Digital Ocean box or a raspberry PI would have issues if the user didn't enable swap for their machine beforehand.

[2018-09-18 17:04] gerroon commented on #1217
If this project is looking for acceptance, it needs to provide builds in my view. As far as I can tell most people who are commenting on Perkeep on the net do not want to deal with go or building from source which is understandable.

[2018-09-18 17:34] mpl commented on #1217
@gerroon I don't understand. What use would you have for Perkeep on a machine with no internet connection?

Also, we do provide builds: https://perkeep.org/doc/release/0.10

@xori it's pretty likely that if you can't build Perkeep for memory reasons, you wouldn't be able to use it anyway as soon as you store than a trivial amount of data in it.

[2018-09-18 18:37] gerroon commented on #1217
@mpl no internet does not mean it has no local network access.

The download page did not help me in the first place
https://perkeep.org/download. As you see the download page does not have any links to the compiled releases

Also, generally github applications tend to make releases on github release channel as well.

[2018-09-18 18:54] mpl commented on #1217
@gerroon The very first line on https://perkeep.org/download is a link to the release (https://perkeep.org/doc/release/0.10) which has the builds you're looking for. What would you do differently on that page?

[2018-09-18 18:57] mpl commented on #1217
I mean, the second line does say:

"_Or_, using the latest code from git:"

But maybe we can add a sentence above that says you'll find the builds on the release page.

[2018-09-18 20:36] xori commented on #1217
I don't know if this is the place to ask this, but what are you expecting a server to have for it to serve 1000, 10,000 or 100,000 blobs? I'd like to hope 1TB of blobs would be under 1GB of ram.

[2018-09-19 00:15] mpl commented on #1217
@xori the blobrefs themselves don't take much in memory, but we do keep a corpus of the index in memory. Here's an example, but I don't know if it grows linearly with the number of blobs:

2018/05/23 02:04:27 index/corpus: stats: 64.995 MiB mem: 249651 blobs (11.800 GiB) (87786 schema (8049 permanode, 5439 file (5324 image), ...)

Add to that the memory used by the binary itself, plus other daemon

[2018-09-19 01:02] mpl commented on #1119
https://perkeep-review.googlesource.com/c/perkeep/+/18606

[2018-09-19 13:07] xori commented on #1217
Thanks @mpl, keep making awesome software.

[2018-09-19 14:36] #1119 closed

[2018-09-19 18:32] mpl commented on #1217
@xori that said, I do run Perkeep on a GCE f1-micro instance, which only has only 600MB of mem. :-)
I just simply don't care if i run out of mem, as I'll simply recreate it from scratch if that happens.

[2018-09-19 18:33] mpl commented on #1217
https://perkeep-review.googlesource.com/c/perkeep/+/18626

[2018-09-20 18:02] kseistrup opened #1218 "Incorrect truncation of files in the FUSE filesystem"
I get surprising results when I try to write to already existing files in the FUSE filesystem, but the example below sums it up nicely:

[code]

[code]

[2018-09-20 18:08] kseistrup opened #1219 "pk-mount ignores -version switch"
The -h switch says

[code]

however,

[code]

[code]

[2018-09-21 19:56] mpl commented on #1202
https://perkeep-review.googlesource.com/c/perkeep/+/18666

[2018-09-22 07:12] khimaros opened #1220 "Add importer for Google Takeout archives"
Google provides a convenient mechanism for retrieving all of your user data including photos, email, chats, location history, and more: https://takeout.google.com/

[2018-09-22 18:37] khimaros opened #1221 "Simple HTTP Authentication token is lost when clicking "Map" tab"
I bumped into this bug a few months back but recently began experimenting with Perkeep again and discovered that it was still an issue.

I'm using Nginx as a reverse proxy for Perkeep. I authenticate using Simple HTTP Auth (managed by Nginx) and can navigate around the Perkeep UI, click on blobs, view/edit metadata, access the publisher frontend, etc.

However, when I click the "Map" tab, I'm prom

[2018-09-23 02:30] khimaros commented on #1221
The same also seems to happen when selecting one or more items and then clicking "Share" from the context menu.

[2018-09-24 16:04] #1202 closed

[2018-09-24 16:06] mpl opened #1222 "Google Play: publish a new build of the android app with API 26"
Now that https://perkeep-review.googlesource.com/c/perkeep/+/18666 has landed.

[2018-09-24 18:18] mpl commented on #1219
https://perkeep-review.googlesource.com/c/perkeep/+/18686

[2018-09-24 18:19] #1219 closed

[2018-09-24 18:32] mpl commented on #1221
@khimaros Can you please confirm that websockets are the source of the problem, or is it speculation? For example, if you remove all ws support from your nginx conf, do you still see the auth problems with the Map aspect and the "Share" feature?

Also, isn't it important to upgrade the connection only when needed, as it's done in https://perkeep-review.googlesource.com/c/perkeep/+/17866/1/misc/doc

[2018-09-25 00:50] khimaros commented on #1221
@mpl, I do have the 'map' for connection upgrade but omitted for brevity. The issue remains when disabling the websocket bits in my nginx config.

Initial page load is "https://{{mydomain}}.com/" (301) followed by an "https://{{mydomain}}.com/ui/ (200).

I can navigate and search, resulting in a number of "wss://{{mydomain}}.com/my-search/camli/search/ws?authtoken=OmitAuthToken" (101). All request

[2018-09-25 01:05] mpl commented on #1221
Ah yes, now that you mention Share again, it clicked for me where this is coming from. I'll fix soon.

[2018-09-25 17:06] mpl commented on #1221
@khimaros fyi, the problem is coming from the fact that Share, and the Map (and other features), are basically client requests implemented in Go, and they rely on the server config (exposed by the web UI through a javascript object) to know what to do about authentication. So they have no knowledge of your nginx proxy, its own basic auth, and even worse, about the credentials that you gave to the

[2018-09-25 19:31] mpl commented on #1221
https://perkeep-review.googlesource.com/c/perkeep/+/18726

[2018-09-25 19:31] mpl commented on #1221
@khimaros can you please let me know if the above CL works for you, in the Share case? if yes, I'll fix the Map (and others, if any) similarly.

[2018-09-25 20:48] kyleconroy commented on #1220
Is there a larger effort to support archives in general? Facebook, Twitter, Instagram, and Google all offer archives. In the case of Twitter, the official archive includes [more information](https://kyleconroy.com/your-twitter-data) than the API. Specifically, you can access all your tweets, instead of just the first 3,300.

[2018-09-25 23:42] mpl commented on #1220
@kyleconroy we already do that for the twitter importer. You can feed the zip archive to Perkeep for it to ingest all the tweets from there at first.

[2018-09-26 00:00] mpl commented on #1204
https://perkeep-review.googlesource.com/c/perkeep/+/18746

[2018-09-26 00:08] #1204 closed

[2018-09-26 07:49] kyleconroy opened #1223 "The Google Cloud Launcher isn't trusted by Google"
I'm attempting to run Perkeep for the first time. Instead of running it locally, I went ahead and used the [launcher](https://perkeep.org/launch/) to run it on Google Cloud.

After selecting my Google account, I get a big scary error message about how the application isn't trusted by Google.

![screen shot 2018-09-26 at 12 48 47 am](https://user-images.githubusercontent.com/34893/46065073-fe590e00

[2018-09-26 16:52] mpl commented on #1223
Well, I can only vouch that to the best of my knowledge, our launcher isn't supposed to harm you. And if it does, it certainly won't be intentional. That's the best I can offer for now.

[2018-09-26 17:01] bradfitz commented on #1223
That's something new that Google added recently.

We should investigate what's required to get trusted.

[2018-09-26 18:03] mpl commented on #1221
@khimaros alright, I've applied the fix to every relevant place I could find. Please let me now if everything looks fixed for you (same CL).

[2018-09-26 18:45] mpl commented on #1223
according to https://support.google.com/cloud/answer/7454865?hl=en I think at the very least, we need a privacy policy defined, and linked in our consent screen.

[2018-09-26 18:47] mpl commented on #1223
https://support.google.com/googleapi/answer/7394288#ensure-approval helps too

[2018-09-26 19:18] lindner opened #1224 "Implement the remoteStorage protocol"
The [remoteStorage](https://remotestorage.io) protocol feels like it would be a good fit for Perkeep.  The namespace feature combined with the existing oauth bits could allow for a decent level of integration.

And webfinger.

[2018-09-27 04:16] khimaros commented on #1221
Everything I've tried works! If I find others, I'll open a separate bug.

[2018-09-27 23:00] #1221 closed

[2018-09-30 01:45] csapir commented on #1125
Has anyone taken a shot at this? If not, I'd be happy to!

[2018-10-01 04:43] khimaros opened #1225 "Indeed existing file paths as blobs without duplicating bytes locally"

[2018-10-01 04:44] khimaros commented on #1225
Fat finger while I was still editing the title.

[2018-10-01 04:44] #1225 closed

[2018-10-01 16:48] mpl commented on #1125
@csapir as far as I know, no one is currently working on it.

[2018-10-01 22:56] khimaros opened #1226 "Support use as a pure metadata/indexing frontend without blob storage"
It would be great if users could take advantage of the benefits of Perkeep (indexing, search, out of band metadata, duplicate detection, and remote blob sync) without replicating their entire file-based storage (and incurring the disk-space penalty). A tool which does this very well (for music) is https://github.com/beetbox/beets -- a challenge I foresee with this is that Perkeep blobs are designe

[2018-10-02 03:54] csapir commented on #1125
Thanks for letting me know @mpl - I'll take it up then 😄

[2018-10-02 08:59] invariant opened #1227 "Build error"
Freshly downloaded as per [installation instructions](https://perkeep.org/download). My go version is go1.11.1 darwin/amd64. On running `go run make.go` I get the following error:

[code]

[2018-10-02 17:16] dmitshur commented on #1227
Go 1.11.1 made a few changes to `reflect` package. It looks like GopherJS might need to be updated accordingly. I'll investigate this later today.

[2018-10-02 21:21] cliveb opened #1228 "Launcher Timeout. Perkeep fails to deploy on GCP."
[perkeep.org/launch](https://perkeep.org/launch) follow dialog, generate project-id manually and link to billing account. Results in following error:

"Error: an error occurred while creating your instance: project ID error for camlistore-launcher-2152666616: timeout while trying to enable service: compute.googleapis.com"

I encountered the above error and attempted to triage using two different g

[2018-10-02 22:43] cliveb commented on #1228
I worked around the issue by manually creating a VM and manually adding billing to it. Then I tried the launcher and as expected it errors with message VM exists. I deleted the VM. Then I tried launcher to automatically create VM. Which worked with gmail account. I will try this work around with launcher and gsuite account (here I am only an account user not account owner).

[2018-10-03 00:19] cliveb commented on #1228
Ok, I have now confirmed this is some sort of GCP issue beyond my pay grade. Work around it as above by manually creating a VM and also delete it. Which apparently initializes a new project-id with billing or some other metadata allowing perkeep.org/launch to complete as designed.

Perhaps this is just an inflight issue which will go away with improvements in GCP. IDK. Wait a while to see.

[2018-10-03 01:07] cliveb commented on #1222
In light of this CL. Is Google Play the best place to pull the latest
perkeep android app?
https://play.google.com/store/apps/details?id=org.camlistore&hl=en_US

On Mon, Sep 24, 2018 at 9:07 AM mpl <notifications@github.com> wrote:

[2018-10-03 07:09] cliveb commented on #1222
I tried installing linked 2018 apk. Alas, Android package installer says this apk is corrupt. My phone is Nexus 6 Android 7.1.1. https://github.com/perkeep/perkeep/issues/1049#issuecomment-370060518

[2018-10-03 13:38] mpl commented on #1222
yes, Google Play is the best place to install from at the moment, so that is where I advise you to install from. If we don't update it on Google Play soon, I'll just upload an apk to our cloud bucket as usual.

[2018-10-03 13:39] mpl commented on #1222
the apk linked at https://github.com/perkeep/perkeep/issues/1049#issuecomment-370060518 was just a debug version, please do not use that.

[2018-10-04 13:17] mpl commented on #1227
@dmitshur Jsyk, we still indeed vendor things, but we also support Go modules now.

Anyway, I'll try to bump our gopherjs dep this week-end if nobody has gotten around to it before.

[2018-10-05 08:30] Kyslik commented on #1211
Was this resolved? I can not install perkeep because of this very issue.

[code]

[2018-10-05 13:19] mpl commented on #1211
@Kyslik yes, this issue should be fixed. Are you sure you're using the latest pull of Perkeep?

[2018-10-05 13:50] Kyslik commented on #1211
@mpl I guess my bad I am on latest release tag 0.10.

I used `brew install parkeep` (that put me on 0.10 tag / `0cbe4d5`)

---

I removed the brewed thing and just cloned perkeep to `/Users/kyslik/go-default/src/perkeep.org`

and got the following

➜  perkeep.org git:(master) go run make.go
perkeep.org/vendor/myitcv.io/gogenerate
perkeep.org/vendor/myitcv.io/react/cmd/reactGen
gopherjs rebuilt at

[2018-10-05 15:44] mpl commented on #1211
@Kyslik yeah, you're now hitting https://github.com/perkeep/perkeep/issues/1227

[2018-10-05 16:40] Kyslik commented on #1211
@mpl thanks I will subscribe for that issue.

[2018-10-05 16:43] mpl commented on #1211
@Kyslik in case that wasn't clear, you can avoid that issue in the meantime if you use Go 1.11 (and not Go 1.11.1).

[2018-10-05 17:00] Kyslik commented on #1211
@mpl gotcha; its not urgent for me; so I will probably wait another few days.

Thank you again.

[2018-10-07 02:39] mpl commented on #1227
https://perkeep-review.googlesource.com/c/perkeep/+/18786

[2018-10-07 02:40] mpl commented on #1227
@dmitshur PTAL

[2018-10-07 17:05] #1227 closed

[2018-10-08 18:15] cliveb opened #1229 "Security checkup flags Perkeep Instance Creator"
Probably alarming for intended users of GCP Perkeep Launcher.

The Google Security checkup is an automatic process alerting user by email notification. Earlier 12/24 months ago I do not recall this security alert after using Perkeep Launcher.

![screenshot 2018-10-04 at 1 41 57 am](https://user-images.githubusercontent.com/733870/46625648-a0df9c80-cae9-11e8-95d4-a9aadecfe1e9.png)

[2018-10-09 20:06] cliveb opened #1230 "Side Menu does not instantiate if top menu bar is clicked"
I was looking to share blobs and could not find the 'share' option on a new perkeep instance.

If I selected an image. The right side menu did not instantiate. I am unsure exactly what we clicked to trigger the side menu to display. Two of us were clicking every menu option and ui.

Perhaps a web ui click sequence bug. Probably useful to doc menu capabilities (when we get chance).

https://groups.

[2018-10-10 17:17] mpl opened #1231 "all: fully deprecate dep, in favor of Go modules"
We need to:

-drop the dep related files
-update the docs to reflect that we now use Go modules instead of dep
-clean up the mess that currently shows up when one tries to update the vendor/ dir with 'go mod vendor'.

[2018-10-15 10:17] ianlewis commented on #896
Since Google Photos has a proper API now, is it maybe worth using that? https://developers.google.com/photos/

[2018-10-15 13:17] mholt commented on #896
Just be aware that the new API strips a lot of the valuable metadata and exif data out of the photos and videos... If that's important then it's not yet a great solution.

[2018-10-15 13:45] mpl commented on #896
@ianlewis excellent news, thanks. If this new API allows us to to actually get the latest version of the stored photo (as opposed to with the drive API, which is bugged that way), then it's definitely worth it.

[2018-10-15 13:46] mpl commented on #896
@mholt Do you have an example or some documentation/report about that please?

[2018-10-15 13:49] mpl commented on #896
Btw, none of these last comments change the fact that we also eventually want a drive importer for its own merit (not just for photos) anyway, which is kindof what this issue is about now.

For photos themselves, we should probably talk about it on https://github.com/perkeep/perkeep/issues/1144

[2018-10-15 14:16] mholt commented on #896
@mpl Yes, I've been tracking it in https://github.com/mholt/photobak/issues/20.

Documentation: https://developers.google.com/photos/library/reference/rest/v1/mediaItems

Here's the bug report: https://issuetracker.google.com/issues/111228390

They did start including _some_ metadata for photos, but not videos. Here's the bug report for adding metadata for videos: https://issuetracker.google.com/i

[2018-10-15 16:11] icholy opened #1233 "Git importer"
It would be cool to have an importer that would backup all my code across all hosting services.

[2018-10-15 16:47] micahredding commented on #625
I would like to second (nteenth?) interest in this. IPFS seems likely to gain traction as a backbone for a number of different distributed web projects, and being able to leverage both that work and the potential visibility of being a compelling high-level application of that technology seems like it could benefit Perkeep in some significant ways.

[2018-10-15 20:12] micahredding commented on #625
Question: Does IPLD conflict with Perkeep's approach?
https://github.com/ipld/ipld

[2018-10-18 21:45] burke opened #1234 "Any interest in a Kindle Highlights importer?"
I've cobbled together an importer for Kindle highlights via username/password authentication to Goodreads (they're not available via any API that I can find, and the more obvious amazon-branded source uses captchas for log in).

I can clean this up a bit more and submit it if anyone is interested.

I intend to write one for Instapaper highlights as well.

[2018-10-18 23:08] mpl commented on #1234
There's already a work in progress for an instapaper importer: https://perkeep-review.googlesource.com/c/perkeep/+/18206
Although I'm not sure if that's what you meant with instapaper highlights.

[2018-10-19 00:52] lindner commented on #625
There are some issues with IPFS

- hashing/chunking strategy are different.
- IPNS provides stable names vs permanodes.  Permanodes are better.
- Perkeep has indexing over a single data set, IPFS doesn't.
- to store private data you will want to either use private ipfs instances
or you will need to encrypt.
- IPFS doesn't have an easy way of enumerating blobs.

I'm a bit overloaded at the moment,

[2018-10-23 02:17] nlopez commented on #900
[Reddit has this issue](https://www.reddit.com/r/redditdev/comments/3qbll8/429_too_many_requests/)

[2018-10-23 12:46] xyb opened #1235 "API camli/sig/sign not following the json-signing document"
I think the response not following the format of singed document described in https://perkeep.org/doc/json-signing/#signing which should be:

    C == CONCAT(T, ',"camliSig":"', S, '"}', '\n')

but:

[code]

perkeep:

    $ pk --version
    pk version: master, 2018-10-07-dc4c57880c

[2018-10-23 12:53] xyb commented on #1235
Httpie re-formated the response, sorry it is my mistake.

[2018-10-23 12:53] #1235 closed

[2018-10-31 20:52] AmandaCameron opened #1236 "`named:` predicate is never registered."
I'm not sure if this is intentional or not, since the `named-search-[gs]et` commands are in the `pk` command-line.

AFAICT it's a single-line change to `register` it and it works fairly well when changed to be registered, so I guess I'm curious if there's a reason this predicate isn't enabled.

[2018-11-01 02:43] bradfitz commented on #1236
Not intentional. I think it was lost in a cleanup change.

[2018-11-11 23:40] lastzero commented on #969
Good to see you started working on this 👍 Looks like you're using one of the existing C++ libraries right now but you're not happy with it?

Do you know if anyone is working on HEIF support for the Go standard library? Are there issues with patents like with video codecs?

We're still busy with a lot of other issues. Added a [bookmark](https://github.com/photoprism/photoprism/wiki/High-Efficiency-

[2018-11-17 03:32] davex25 commented on #580
Has any work been done on this?  I was thinking of working on it, but after a couple hours perusing Perkeep server UI source I still can't figure out how to do something basic like iterate through all images attrs to add to a Bleve index.

[2018-11-30 23:52] #911 closed

[2018-12-03 15:08] #1208 closed

[2018-12-18 20:25] elimisteve opened #1237 "Uncaught SyntaxError: Unexpected token )"
Whether I use the 0.10 release or `git clone` master, I get errors like this in the DOM:

[code]

![screenshot-error-perkeep-syntaxerror-screenshot_2018-12-18_12-20-26](https://user-images.githubusercontent.com/139603/50180781-68b1c280-02bf-11e9-8e6c-b7d2962eccd6.png)

Any idea what the problem is?  Thanks.

[2018-12-23 12:38] xyb opened #1238 "Access denied when downloading synology package file"
I got 403 error when downloading [synology package files](https://github.com/perkeep/perkeep/blob/62ec6f94b0fc1ecb03da688d545a5169c81b0b7c/doc/synology.md). I would be grateful if anyone could fix file's permission issue and upgrade to latest version. Thank you!

[2018-12-24 10:46] mpl commented on #1238
https://perkeep-review.googlesource.com/c/perkeep/+/17746 now merged.

[2018-12-24 10:46] #1238 closed

[2018-12-25 16:13] xyb opened #1239 "Synology service failed"
I'v installed synology package (#1238) but the service start failed:
[code]

I think the [install script](https://github.com/perkeep/perkeep/blob/62ec6f94b0fc1ecb03da688d545a5169c81b0b7c/misc/docker/synology/perkeep/scripts/postinst#L26) should prepare `/var/services/homes/admin/var/perkeep` directory. Service startup successfully after I setup the data directory:
[code]

[2018-12-25 16:14] xyb commented on #1238
@mpl download and install successfully, thank you!

[2018-12-25 16:35] xyb commented on #1239
plus: it will be more human-readable if the synology package version's format is `YYYY-MM-DD-gitrevshort`

[2018-12-26 19:52] mpl commented on #1239
@xyb I agree that it should not hurt to chown to admin (and I will do it), but I think when I was testing the installation of the package, it didn't seem like we needed to do it.
Isn't the synology packages installer running as admin (and not root) for you?

[2018-12-27 05:32] xyb commented on #1239
I have re-installed package few times, I can confirm syno package installer is running as `root`:
[code]
another clue:
[code]

And yeah, I've reviewed package installer script, chown the new `var` dir is enough to fix this issue. Preparing `var/perkeep` is not necessary. Test and confirmed in my nas.

[2018-12-27 05:41] xyb commented on #1239
P.S. I will be very grateful if you could upgrade the [revision](https://github.com/perkeep/perkeep/blob/62ec6f94b0fc1ecb03da688d545a5169c81b0b7c/misc/docker/synology/Dockerfile#L61) in synology package build script to latest.

[2018-12-27 09:07] AlbinoDrought commented on #791
This was a feature I really wanted to see so I cluelessly ported it to the current version. Here it is if anyone is looking for the same thing: https://github.com/AlbinoDrought/perkeep-video-thumbnails

Also on docker hub at https://hub.docker.com/r/albinodrought/perkeep-video-thumbnails

[2018-12-27 19:10] mpl commented on #1239
@xyb yes, I intend to refresh https://perkeep-review.googlesource.com/c/perkeep/+/17866 with all that (I've already started), and rebuild packages based on it.
I'm not sure I still have access to Synology machines to test them out though, so if I don't, I'll have to ask you to test them for me :-)

[2018-12-28 16:22] mpl opened #1240 "pkg/importer/instapaper : oauth.Client has no field or method RequestTokenXAuth"
# perkeep.org/pkg/importer/instapaper
    pkg/importer/instapaper/instapaper.go:184:30: oauthClient.RequestTokenXAuth undefined (type
    *oauth.Client has no field or method RequestTokenXAuth)

We probably need to update some oauth dep.

[2018-12-28 17:58] mpl commented on #1240
https://perkeep-review.googlesource.com/c/perkeep/+/18906

[2018-12-28 17:59] #1240 closed

[2018-12-28 18:40] mpl commented on #1237
@elimisteve hey. I cannot reproduce. Can you give more detail please?
Like, the browser you're using. And what were the circumstances? what were you trying to do in the web UI?

[2018-12-28 21:07] elimisteve commented on #1237
I get this error when visiting `/ui` in Chromium 57 on Linux, but there's no error on Firefox 60 nor Chrome 70 (all on Linux).

[2018-12-30 15:51] khimaros commented on #966
Duplicate of https://github.com/perkeep/perkeep/issues/1221

[2018-12-30 15:51] #966 closed

[2018-12-31 16:06] mpl commented on #1237
How old is chromium 57? (i.e. is this error actually worth spending time on?)

[2018-12-31 20:30] mpl commented on #1239
I have rebuilt packages from https://perkeep-review.googlesource.com/c/perkeep/+/17866 , and I have published them as:

https://storage.googleapis.com/perkeep-release/synology/Perkeep-armv5-aa7ab237722a26697f7e15108d66f801cebbdb66.spk
https://storage.googleapis.com/perkeep-release/synology/Perkeep-x86_64-aa7ab237722a26697f7e15108d66f801cebbdb66.spk

for now.
Feel free to try them out if you want,

[2019-01-01 02:46] elimisteve commented on #1237
https://en.wikipedia.org/wiki/Google_Chrome_version_history says 2017-03-09 -- 21 months ago.

Chromium 57 is the default on Debian 8.7.  If I need to use Firefox to use the Perkeep UI, then it's not the end of the world :-) ; sounds like an issue with the build system only building for newer browsers?

[2019-01-01 13:38] xyb commented on #1239
I'd installed the new version, permission issue again but for `var/perkeep/blobs` now:
[code]
@mpl I have sent an email to you about the test machine, please check your inbox.

[2019-01-01 16:45] mpl commented on #1237
Hmm given that Jessie is supported until 2020, we should support it.
However, can you not install a newer chrome through the official google repo, instead of the debian one (i.e. deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main)?
it's what i do on my ancient ubuntu (trusty), which allows me to run Chrome 67 without any problem.

I have not looked into it, but fwiw, I think the i

[2019-01-05 19:35] JayCuthrell opened #1241 "The donations URL on perkeep.org is invalid"
The [current donations URL](https://www.coinbase.com/checkouts/cb36d0d49984c31062332af51f0346a8) on perkeep.org website is invalid due to deprecated format. Coinbase donations are via newer [commerce.coinbase.com methods](https://commerce.coinbase.com/docs/#payment-buttons).

The updated donations URL on perkeep.org website would need to be of the form:

`https://commerce.coinbase.com/checkout/[un

[2019-01-06 10:13] xftroxgpx opened #1242 "why does it say "https fetch" if the url is only http instead of https ? and why bazil.org tries http instead of https"
at building step `go run make.go` as per [these](https://perkeep.org/download) instructions:

[code]

Relevant line: `go: bazil.org/fuse@v0.0.0-20160811212531-371fbbdaa898: unrecognized import path "bazil.org/fuse" (https fetch: Get http://bazil.org/fuse/?go-get=1: dial tcp 104.28.6.28:80: connect: connection refused)`

Connection refused because port 80 outgoing is not allowed by firewall.

But w

[2019-01-06 10:17] xftroxgpx commented on #1242
I notice that `bazil.org` is the first in `go.sum` and `go.mod` so I expect all other packages(?) to attempt `http` accesses as soon as the `bazil.org` one succeeds.

[2019-01-06 13:38] xftroxgpx commented on #1242
according to [this](https://github.com/golang/go/blob/35f4ec152b44ae5fc83aaf68e2eb3aa1a778e5cd/src/cmd/go/internal/get/vcs.go#L764-L771) it should say `http/https fetch` instead of just `https fetch`:

[code]

[2019-01-06 14:00] xftroxgpx commented on #1242
looks like `repoRootForImportDynamic` is called with `security` arg having a value of `0` aka `web.Secure` so the above `if security == web.Insecure {` never triggers. Maybe this is a `go` issue ?

<details>

[code]

[code]
`sec:0 webinsec:1 websec:0`

</details>

[2019-01-06 14:38] xftroxgpx commented on #1242
ok, found out that it would say `http/https fetch` instead of `https fetch` only when using `-insecure` command line argument.

Now, the question that remains is, even though `-insecure` wasn't used (even internally somehow, by perkeep) why does go try to get `go.cmd`/`go.sum` packages like that bazil.org one(which is the first in line) via `http` instead of `https` ??

[2019-01-06 14:50] xftroxgpx commented on #1242
I just realized something:
I forgot to `cd $GOPATH/src` and instead I did it like `cd $GOPATH` only.

hence why I've: `/home/xftroxgpx/build/2nonpkgs/go.stuff/gopath/perkeep.org`
instead of the proper dir: `/home/xftroxgpx/build/2nonpkgs/go.stuff/gopath/src/perkeep.org`

and so after I moved to proper dir, now there's no more OP error, it's just this normal one:
[code]

So I moved the dir back and

[2019-01-06 15:03] xftroxgpx commented on #1242
To summarize:

That's what is always says when `-insecure` command line argument wasn't used; if it's used it says `http/https fetch`.

because I cloned the perkeep repo into `$GOPATH/perkeep.org` instead of `$GOPATH/src/perkeep.org` folder.

see any future answers to this: https://github.com/golang/go/issues/29591

[2019-01-06 15:03] #1242 closed

[2019-01-08 19:19] mpl opened #1243 "https://opencollective.com/perkeep: change About text"
Given that the About text there does not reflect the current situation anymore, it should be changed.

[2019-01-20 17:13] axelsimon opened #1244 "Usability issues: first user experience report"
HI there,

I finally got around to giving Perkeep a shot, as it had been on my radar for a while and love its goals and its starting principles.

But, and it pains me a bit to say this, it's basically unusable for non-developpers (and I say this as someone who has been self-hosting for years).

This issue has turned into a lengthy first-use experience report. I share it with you in the hopes that

[2019-01-20 17:18] axelsimon opened #1245 "[Importer] Mastodon importer fails with error: strconv.ParseInt: parsing "": invalid syntax"
HI,
The Mastodon importer fails witht the following error:

Furthermore, this error is silent to the end user as it is only shown in the `perkeepd` stdout and in the `https://perkeep_url:3179/importer/mastodon/sha224-account_id_hash` page.

[2019-01-20 17:25] axelsimon opened #1246 "Importer: Twitter importer refers to defunct apps.twitter.com"
Hi,
The Twitter importer tells one to "Visit https://apps.twitter.com/ and click "Create New App"."
Twitter has retired apps.twitter.com and now takes you to https://developer.twitter.com/en/apps.
(It also requires of you a phone number to be able to get an API key)

It's probably worth updating the link at some point or another.

Also, unless I'm nistaken, given one needs to configure an account

[2019-01-20 20:59] mpl commented on #1239
@xyb sorry about the long silence.

I have now access again to another NAS where I can test things out, so feel free to revoke my access whenever you need to.

I now sort of understand why I didn't have the problems you are having. On the NAS where I am testing, the permissions are as such:

$ ls -l /var/services/homes/admin/var/
total 0
drwxrwxrwx+ 1 root root 0 Jan 20 12:50 perkeep

so even thou

[2019-01-23 11:39] viperx77 commented on #1246
Well then I guess I will open an issue for documentation because the page
directing how to activate say to use localhost.

On Tue, Jan 22, 2019 at 7:27 PM Brad Fitzpatrick <notifications@github.com>
wrote:

[2019-01-27 05:43] xyb commented on #1239
@mpl good to know that, looking forward to new package.

[2019-02-01 18:06] mpl opened #1247 "pk-web: do not panic on empty list of hashes"
I restarted docker on the GCE VM that runs camweb, because a couple of recent hiccups had made me suspicious of it (and that is how we used to "fix" them).
That triggered a restart of the camweb service which then entered an infinitely failing loop of restarts, because of a panic when trying to read an empty slice.

CL for fix incoming.

[2019-02-01 18:11] mpl commented on #1247
https://perkeep-review.googlesource.com/c/perkeep/+/18946

[2019-02-01 18:19] #1247 closed

[2019-02-10 23:52] mpl opened #1248 "synology: cannot build packages on macos"
I'm trying some things out on a mac these days, and it turns out that building the synology packages in Docker (with misc/docker/synology/build_syno.go) fails with errors such as:

    tar: usr/lib/firmware/libertas: Directory renamed before its status could be extracted

which happens when commands such as the following are called (by a python tool in the synology toolkit):

    subprocess.Called

[2019-02-15 21:01] josharian opened #1249 "rollsum: use go4 rollsum package instead"
I went to use the rollsum package again, and was sad to find that it had been made internal. It's a useful utility package. Can I convince you to make it public for the greater good? Or maybe even move it to go4 or some standalone home?

[2019-02-15 21:03] josharian commented on #1249
I'd be happy to contribute some godoc comments as a thank you. :)

[2019-02-15 21:04] josharian opened #1250 "rollsum: add SplitFunc"
I wrote a bufio.SplitFunc that does rollsum-based tokenization. It makes rollsum splitting easy to do.

If you make rollsum public again (#1249), I'd like to contribute it, along with an example of its use. Because of the somewhat bizarre bufio.SplitFunc API, it's not as easy to write as it should be.

[2019-02-16 21:05] mpl commented on #1249
Are you saying you already had other packages or programs that were depending on pkg/rollsum before we moved it to internal?
If yes, it seems indeed fair enough to me to move rollsum to go4.org. Although we'd have to make sure it's really Perkeep agnostic first (which I'm not certain of, and haven't checked yet).

[2019-02-16 21:50] josharian commented on #1249
Yes, I had an existing dependency before the move to internal. (It actually dates from the camlistore days.)

I believe rollsum is entirely perkeep-independent.

[2019-02-17 14:09] mpl commented on #1249
well I have no objection to it. Maybe Brad will. But in the meantime, do you wanna start by sending a PR to go4.org, that adds the current version of internal/rollsum there?

[2019-02-17 17:19] josharian commented on #1249
With pleasure. Will do next time I am at a computer.

[2019-02-17 20:01] bradfitz commented on #1249
Putting it in go4.org is fine. I just don't want it in perkeep's public API.

[2019-02-17 23:31] josharian commented on #1249
https://github.com/go4org/go4/pull/41

[2019-02-20 06:16] josharian commented on #1249
The PR has been merged. Let's re-purpose this issue for migrating perkeep to the go4 rollsum. I went to do that just now but found that I was going to have to learn a bit about `dep` to do it, plus a bunch of the tests are currently failing for me...so I was hoping that I could leave this last bit to you, @mpl.

[2019-02-20 08:08] mpl commented on #1249
@josharian

1) I think you can forget about dep if you want, as we're supposed to drop it. Just make sure things are good with GO111MODULE=on (so go.mod), and without it (i.e. that things are correct in the vendor dir).

2) about the tests, if they're failing _without_ your change then please open a separate issue about it. If then only happen with your change then we can discuss/fix them together

[2019-02-20 19:49] josharian commented on #1249
A bunch of the tests fail when not using Go 1.10, so I'm not quite sure how to then also test with Go modules, which hadn't been introduced by 1.10.

The test failures are without my change. I'll file a separate issue about them.

[2019-02-20 19:50] josharian opened #1251 "app/publisher/js: does not compile"
[code]

[2019-02-20 20:56] josharian opened #1252 "perkeep.org/pkg/fs: tests hang waiting for pk-mount"
[code]

There's probably something extra I need to do to make this work (?). If that is true, it'd be nice if the error message told me what it was.

[2019-02-20 21:25] josharian commented on #1249
Sent PR #1253 that migrates to using go4.org. It doesn't include any dep or go.mod or other dependency manager changes; my apologies.

[2019-02-21 08:16] mpl commented on #1249
Yeah I saw the issues you opened, thanks. You can indeed ignore them for now I think. We/I will take care of them later.
Do not worry about Go 1.10 either. Things are are only supposed to build with Go 1.11. But it's interesting to know if you're saying we have things only broken with Go 1.11.

[2019-02-21 08:18] mpl commented on #1252
Thanks. Going back to what you said in #1249 , is this test only failing for you on Go 1.11 (and passing fine with Go 1.10)? I doubt it, but just making sure.

[2019-02-21 22:47] mpl commented on #1251
@josharian I bet you're missing a zsearch.go in there, aren't you?
It is generated when you build the project with 'go run make.go' at the root.
Can you please confirm that rebuilding the project generates app/publisher/js/zsearch.go , which makes the issue go away for you?

[2019-02-21 23:52] josharian commented on #1251
Yes, it does. Thanks.

[2019-02-21 23:52] #1251 closed

[2019-02-21 23:53] josharian commented on #1250
I'll close this; there is an outstanding PR at go4.org, which will either be merged or not.

[2019-02-21 23:53] #1250 closed

[2019-02-21 23:55] josharian commented on #1252
This is failing for me on all Go versions.

[2019-02-22 00:07] bradfitz commented on #1252
macOS updates have a habit of breaking FUSE.

[2019-02-22 08:04] mpl commented on #1250
oh I had missed that one. will review, thanks.

[2019-02-23 16:34] josharian commented on #1252
Probably so. I’ll assume that that is the problem and close this.

[2019-02-23 18:26] mpl commented on #1252
sorry, I forgot to say I was able to reproduce, so I think we should keep it open for now.

[2019-02-23 18:45] atecce opened #1254 "pkg/client: no compile time Get or Put methods that mirror semantics of pk-get and pk-put"
while looking for a programmatic interface to `perkeep` for a scraper of mine, i noticed there wasn't a one-to-one relationship between the contract of the `cmd` and the contract of the `client`.

should i just be using [`client.Fetch`](https://godoc.org/perkeep.org/pkg/client#Client.Fetch) for `get`s and [`client.Upload`](https://godoc.org/perkeep.org/pkg/client#Client.Upload) for `put`s? i reall

[2019-02-27 14:56] atecce commented on #1254
ping :D

[2019-02-27 16:58] tgulacsi commented on #1254
Absolutely agree. I've created github.com/tgulacsi/camutil/camproxy but it's not ideal.

[2019-02-27 16:59] atecce commented on #1254
oh tyvm! will check it out

[2019-03-13 02:42] edrex commented on #1224
I think implementing standard protocols for data ingress is a great strategy for getting more user data in.

I'd like to see an OAuth 2.0 authorization server in the core with scopes covering stores, search APIs, etc and UI for managing grants.

Any particular remoteStorage applications you'd like to test with? https://wiki.remotestorage.io/Apps

[2019-03-13 03:03] edrex commented on #1224
As far as I know there's no code currently for programmatically managing namespaced blobstores. It seems like it might be worth exploring.

A possibly lower-friction path would be to have the remoteStorage app behave like an importer, creating a top-level node for each remoteStorage with a camliPath:key attr for each value.

A good design goal IMO would be to enable existing permanodes to be added

[2019-03-14 00:09] lindner commented on #1224
I haven't had a chance to poke at this, but I did think it would be a good
example of namespaced storage and change perkeep to switch from sync'd
storage to primary storage.

On Tue, Mar 12, 2019 at 8:03 PM Eric Drechsel <notifications@github.com>
wrote:

[2019-03-25 22:06] ginabythebay commented on #795
Perhaps consider poppler?  https://poppler.freedesktop.org/.  Works on windows and unix-like systems.

It includes the command line tool pdftocairo which can convert pdfs to jpegs, so could be used to create thumbnails.  I use the poppler code every day to view pdfs in emacs on windows (via pdf-utils) and have yet to find a pdf it won't display but that adobe or chrome will.

[2019-03-27 14:30] atecce commented on #1254
@mpl @bradfitz any official comment on this?

[2019-04-14 12:25] NiklasMerz commented on #380
I would like to contribute this. Finding out how to add button was easy, but now I am struggling to find a good way to cancel the running go routines. Is passing around the context and cancelling it after pressing the button the way to go?

I still pretty new to Go and appreciate any help. Thank you.

(I already started a new branch with my experiments. I know this won´t work right now. If I know

[2019-04-14 17:06] kushtrimjunuzi opened #1255 "pkg/client/android: User imported CA not working on Android App"
Android Version: 8.1.0
Phone Model: Nexus 6P
Perkeep App Verson: 0.10
Perkeep Server: git commit: ffc9707
Issue:

Perkeep server runs behind proxy with self signed cert and I was able to import root CA under Settings -> Security & location -> Encryption & credentials -> Install from storage
After successful import, it shows in "Trusted credentials" tab "User", In the browser I'm getting green padl

[2019-04-14 21:31] kushtrimjunuzi opened #1256 "pkg/blobserver/files: invalid memory address or nil pointer dereference"
Error not handled [here](https://github.com/perkeep/perkeep/blob/7c03aef51f6f4ed8cfe848bd0f95c48f229830d5/pkg/blobserver/files/files.go#L146)

Was failing for some weird issue with underline /storage folder which is sshfs mounted in host, the actual error was "transport endpoint is not connected", after I remounted sshfs everything is back to normal. Just to give an idea what happen but that error

[2019-04-19 04:54] kushtrimjunuzi commented on #373
FYI, I just finished implementing this feature for my personal storage but I'll test few days and polish the source code and send PR. Here is print screen of how you add backup dirs. It was tricky to implement removal, so I decided to just use same functionality when you edit but you just remove all characters and click "OK". Also another detail, the list has order, this was important because I th

[2019-04-19 07:30] mpl commented on #373
@kushtrimjunuzi nice. How did you rebuild the app? are you using something like Android Studio, or was the build chain based on docker in the project sufficient for you?

[2019-04-19 12:05] kushtrimjunuzi commented on #373
Using docker env that perkeep has was the motivator to make changes, I had to fix Dockerfile because it was failing in the last step when running gomobile init, I'll create a ticket for history purpose and I'll include this fix in PR.

[2019-04-19 12:08] mpl commented on #373
ok, excellent.

[2019-04-19 17:56] kushtrimjunuzi commented on #1255
I was trying different solutions and non is good, so I don't have easy option except to add a flag "insecure" in put.go file and an option in android to activate this with checkbox, which I did in my testing and is working as expected. What do you think is it ok or you have other options?

[2019-04-19 21:01] mpl commented on #1255
@kushtrimjunuzi AFAIR, we removed most of the hacks to support self-signed certificates because Let's Encrypt now makes it so easy to have a legit cert. Is it not possible for you to use a certificate from Let's Encrypt?
If not, I would suggest looking at the git history to see how we were managing that before (I forget). Most of it was probably handled in pkg/client and cmd/pk-put (named cmd/camp

[2019-04-19 22:11] kushtrimjunuzi commented on #1255
This was for my LAN, having secure connection between my phone and my polluted IoT devices. I have vlans but sometime I can't reach my secure AP (access point) and I just connect to insecure AP. I already  implemented this both in app and pk-put and it is working as expected. I looked at git history and you did add insecure flag in pk-put init but it was missing for pk-put file. Here is a print sc

[2019-05-02 07:45] mpl commented on #373
Anyone good with java wanna help review https://perkeep-review.googlesource.com/c/perkeep/+/19146 ? @tdilo maybe?

[2019-05-02 20:23] tdilo commented on #373
Nice feature! I'm short on time at the moment but around next weekend, most probably. Actually this is a feature I wanted to add myself and never found the time, so I'm quite happy to see it.

From a first glance, the CL adds too many different things and I would prefer a separate CL at the very least for the change in pkg/blobserver/files and the option to disable TLS verification. This will help

[2019-05-02 20:43] tdilo commented on #1255
With this option active, the polluted IoT devices could still take over the connection and access data with a man in the middle attack. Insofar it is not much safer than using an unencrypted connection.

I'm using Let's Encrypt certificates in my LAN by obtaining them with [lego](https://github.com/go-acme/lego) and the DNS challenge. Internal host names resolve to local IP addresses only, defined

[2019-05-02 21:13] kushtrimjunuzi commented on #1255
I was hesitating to add this flag but me being lazy that's the result. I'm going to remove that from PR.
Thanks for your feedback @tdilo

[2019-05-02 21:23] kushtrimjunuzi commented on #373
sure I'll get this ready, btw I'm not java developer at all, I don't know if that was the right way to do it or not, I tried to follow same code style in that project, but you know its working. I have being using this patch from that day and so far so good, I have like 5 custom dirs and no issues. I know its not the best implementation but it works, maybe somebody else can improve I don't know.
Th

[2019-05-03 12:42] mpl commented on #373
@tdilo thanks!

[2019-05-03 21:53] mpl commented on #795
I think https://perkeep-review.googlesource.com/c/perkeep/+/19206 will address this issue.

[2019-05-04 13:02] #795 closed

[2019-05-07 02:26] nloadholtes opened #1258 "Documentation: Link to pk-put incorrect on website"
On the the [uses page](https://perkeep.org/doc/uses) for the documentation website, if one tries to click on the link to "pk put" you will get an error page (`lstat /var/camweb/src/perkeep.org/website/content/cmd/pk put.html: no such file or directory`)

Changing the URL to https://perkeep.org/cmd/pk-put will get you to the correct page.

I've got a PR I'm trying to submit for this to correct the

[2019-05-12 10:30] #1258 closed

[2019-05-13 00:40] zenhack commented on #580
I started looking into this myself. One hitch is that bleve has some of its own constraints re: where it wants to keep its storage:

https://github.com/blevesearch/bleve/issues/1137

I don't feel like I understand perkeep's internals well enough to know how much of a problem that inflexibility would be. Do other folks have a sense of this?

[2019-05-14 15:31] edrex commented on #580
I think that issue was more discouraging sharing the index storage between different bleve instances.

[2019-05-15 01:56] zenhack commented on #580
Hm, the one snag I still see now is that it doesn't look like the perkeep interface satisfies this bit:

It doesn't look like perkeep's `KeyValue` interface provides any way of doing multiple reads atomically. I suppose we could just add this to the interface and to each implementation; skimming the source it seems like this should be feasible for all of the existing ones. Thoughts on this approac

[2019-05-15 11:40] mpl commented on #580
if it's doable for all the backends (or at least the most popular ones, i.e. MySQL and levelDB), then I think it's worth a shot. And actually, it does not even have to be doable for all of them. Instead of adding it directly to the KeyValue interface, it could be an additional optional interface that each implementation satisfies or not. Then having Bleve is just conditioned by whether the user ch

[2019-05-15 20:00] zenhack commented on #580
I looked a little more closely to convince myself, this should indeed be
quite trivial to add to all of them -- except for the kvfile and buffer
backends, all of them are built on transactional data stores, which
makes this straightforward. kvfile and buffer are already using a lock
internally, easy enough to extend that to this use case.

I can take a stab at this soon. From there we can figure o

[2019-05-23 18:57] zenhack commented on #580
I started some work on this here:

https://perkeep-review.googlesource.com/c/perkeep/+/19266

Per the commit message, it's just stubs & a test; I wanted to get feedback on the interface before going ahead and adding the implementations.

[2019-05-24 17:43] edrex commented on #580
Checking my understanding:

- Bleve needs read transactions, but not write.
- You can implement read transactions with a https://golang.org/pkg/sync/#RWMutex which won't block on read but will block on write if there are open readers. This is ok as long as users don't expect to be able to write inside a read transaction.

[2019-05-24 17:48] edrex commented on #580
* assuming all writes go through the mutex
* for all other existing kv impls the underlying store has transactions

[2019-05-24 17:54] zenhack commented on #580
That's a good summary of my own understanding, yes.

[2019-05-24 18:21] zenhack commented on #580
Correction: bleve does want write transactions, but the API it expects is already very similar to what sorted.KeyValue currently provides; see NewBatch/ExecuteBatch

https://godoc.org/github.com/blevesearch/bleve/index/store#KVWriter

Note however that it doesn't need read-write transactions -- they're either read-only or write-only.

[2019-05-28 02:31] zenhack commented on #580
I sat down and implemented the interfaces for the SQL backend(s). still need to do the others.

[2019-06-05 16:52] bradfitz commented on #1249
Done in 2a85cb7142e6af5439d6d9cf2f6ddada04b4797e

[2019-06-05 16:52] #1249 closed

[2019-06-05 17:02] kseistrup commented on #1218
Any news here?

[2019-06-08 11:36] little-dude opened #1261 "Download all the images from the store"
Hello,

I used perkeep to synchronise all my photos from Google Photos. There are ~5000 of them, and I'd like to put them all in a directory on my local machine. I tried selecting them all in the UI and click "download" but the archive I get only contains a few hundreds pictures.

I guess there's a way to do that with `pk-get`, but I'm not sure how.

Thank you :)

[2019-06-08 11:48] little-dude commented on #1261
I thought I could do something like:

[code]

But:

- `pk search` does not seem to find all my images:
[code]
- `pk-get` fails with an error I don't understand:
[code]

[2019-06-08 23:40] mpl commented on #1261
On Sat, 8 Jun 2019 at 13:36, Corentin Henry <notifications@github.com>
wrote:

Hi,

Are you sure all of them got selected before you tried downloading them?
If you specify any kind of search (if you haven't tagged them or anything,
you could do "is:image" I guess), then you have the option to click on
"select all" at the top right.

[2019-06-08 23:51] mpl commented on #1261
On Sat, 8 Jun 2019 at 13:48, Corentin Henry <notifications@github.com>
wrote:

that is because search queries results are bounded by default (to 200). you
need to specify a negative limit (-limit -1) to get unbounded results.

that is because search queries usually return permanodes. each of your
photo "item" is a permanode, with an attribute "camliContent" that is set
to the file ref of your phot

[2019-06-12 02:30] omarchehab98 commented on #657
Duplicate of #54

[2019-06-12 02:56] omarchehab98 commented on #850
Issue is not related to web ui since the blob metadata is not indicating that the uploaded blob is an image

[2019-06-12 16:53] #776 closed

[2019-06-12 22:44] DanielHeath commented on #850
The webUI will presumably need to transcode, since browsers don't support it natively.

[2019-06-12 23:54] omarchehab98 commented on #850
If the server identifies webp files as images, the web ui will display it
as an image. This issue is not related to the web ui.

webp is unsupported by Safari.

Chrome, Firefox, Opera, Edge, and their mobile versions all support it.

See https://caniuse.com/#search=webp

On Wed, 12 Jun 2019, 3:45 pm Daniel Heath, <notifications@github.com> wrote:

[2019-06-16 15:18] mpl commented on #1144
I'm not even sure we'll still be able to access photos through the Drive API anyway:
https://support.google.com/photos/answer/9316089

[2019-06-24 19:51] zenhack commented on #580
Now that the read transaction stuff is merged, I started working on implementing bleve's KVStore on top of the new TransactionalReader interface.

It's mostly implemented, but I hit one snag: the KVBatch interface has a 'Merge' method, which I don't think can be implemented straightforwardly on top of the existing sorted.BatchMutation:

https://godoc.org/github.com/blevesearch/bleve/index/store#KV

[2019-06-24 20:10] zenhack commented on #580
Hrm, I'm looking at this and I don't see a nice way to implement that *portably* on top of the stuff in sorted. the sql backends start (write) transactions on `BeginBatch()`, so on databases where that means acquiring a lock, if we want to do any reads we have to use the transaction. On the other hand, leveldb has a separate batch write operation, which the current interface maps well to, but does

[2019-06-26 14:12] Danilodum commented on #146
any guidance on setting up winfsp?

[2019-06-29 12:15] ivucica commented on #896
Agreed with @mpl, especially given the Photos<->Drive integration is seemingly going poof: https://github.com/perkeep/perkeep/issues/1144#issuecomment-502461294

[2019-07-11 02:31] zenhack commented on #580
I went ahead and implemented the non-atomic strategy I described, and moved to next steps of actually hooking this up to bleve, where I hit another wall: The way indices are created seems to only support registering a global driver name and then unmarshalling from a json config, see:

https://godoc.org/github.com/blevesearch/bleve/registry#RegisterKVStore

It seems like not using the local filesys

[2019-07-12 19:21] zenhack opened #1271 "Index memory usage is too high with large data set."
On both my laptop's local perkeepd and the one storing my historical archival backups, with the index on, perkeepd's memory usage is 1-2% of the size of its on-disk storage.

This doesn't sound like a lot, but for the archival system, which has about 1TiB of data stored, it means the index basically consumes all of main memory. I've had to configure `runIndex: false` in order for that use case to

[2019-07-14 21:46] solarkraft opened #1273 "Synology Package installation: This package is not supported on the platform"
When trying to install Perkeep (Perkeep-armv5-8b537a66307cf41a659786f1a898c77b46303601) on my Synology DS216se (which contains a MARVELL Armada 370 88F6707) on DSM 6.2.1-23824 Update 2 in the validation phase the installation [fails with the message "This package is not supported on the platform of DiskStation or is incompatible with the current DSM version. "](https://i.imgur.com/Bq7vI2X.jpg).

T

[2019-07-16 14:07] mpl commented on #1273
@solarkraft things are a bit blurry in my head atm, but at some point I was in the process of improving some things in the install process, in: https://perkeep-review.googlesource.com/c/perkeep/+/17866
Maybe having a look at that CL will help you understand a few things.
In any case, all of the "knowledge" about it is indeed in misc/docker/synology , and in the online synology doc on how to packag

[2019-07-16 23:15] zenhack commented on #1271
Actually, it looks like it's just that one error that comes up as far as stuff bailing if the corpus isn't there; it's probably more direct to just implement that. I will experiment

[2019-07-28 21:59] zenhack opened #1275 ""static site" handler"
I'm willing to do the legwork on this feature, but wanted to get other folks' opinions first.

Motivation: I'd like to be able to write single-page applications that don't have their own servers, and are served directly out of perkeep. For example, right now I've got a janky feed reader written in [Elm][1], with a Go server that has two responsibilities:

1. Serve the static files that constitute

[2019-08-05 23:00] zenhack commented on #1275
Another approach, which is much simpler to implement, but only covers the single file case: Just add a view fragment to the UI for html files; on top #1276 it would be a one-line patch. One addition I would probably want to add though is a filter that will only view documents of certain "dangerous" types if they're marked as "trusted", via some special attribute that could be set; otherwise I coul

[2019-08-06 03:59] kkennedy commented on #988
Is there any update here? I'm interested in spitballing some importers, and I've seen a couple of references both to pk-devimport and to the config migration to TOML, but at least in #1134, the last posts are about a year ago (exactly, in 2 minutes! LOL). What's the latest on how close the TOML migration is? I'd love to start playing with pk-devimport if possible!

[2019-08-17 20:09] tswast commented on #1144
Both the Picasa and the Drive API photos import are broken now. I'm getting 404 errors from the Picasa API.

https://support.google.com/picasa/answer/6383491?hl=en

Google Photos has an API now. https://developers.google.com/photos/library/reference/rest/ I hope it will work for Perkeep's needs.

[2019-08-17 20:51] tgulacsi commented on #1144
I've checked the phitos API, it can work, though the limits seems a little bit low.

But my main concern is that I don't know whether the downloaded images contains the EXIF data, or has been stripped.

I need the original phito, so ATM I use the android uploader.

On Sat, Aug 17, 2019 at 10:09 PM +0200, "Tim Swast" <notifications@github.com> wrote:

Both the Picasa and the Drive API photos import

[2019-08-19 06:30] edrex commented on #1275
i've wanted a handler for serving static SPAs for awhile, big +1 for that

the fragment thing is pretty loosy goosy as far as security and I doubt it would get merged, even with a guard attribute. I like data->code quines as much as the next mathematician pretending to be an engineer but thankfully there are others not of that ilk on this project :D

ps just noticed your recent activity, happy to

[2019-08-19 06:30] edrex commented on #1275
also yay Elm :D

[2019-08-26 20:31] tgulacsi commented on #1144
I'm using the Perkeep Android Uploader to sync directly, ignoring Google Photos till it strips EXIF.
This dance with Chrome (which is not my browser of choice) is just ridiculous.
Absolutely doable, but Google Photos' limitations and the direction means that we should ramp up the Takeout importing and the Android client.

[2019-08-26 20:37] mpl commented on #1144
@tgulacsi yes, it is ridiculous that we have to resort to that. But at least it is working (we have an early prototype), and it is much more likely that we'll be able to maintain it than whatever API-based solution that they'll keep breaking under our feet.

[2019-08-29 10:25] raghuchahar007 commented on #1108
how to add support for other delegate like png or any other, i tried

[2019-09-26 03:27] bradfitz opened #1279 "importer/twitter: archive the URL shortlinks' destination"
If you make a tweet containing a URL, it gets short-linkified with Twitter's URL shortener and the URL we get back from Twitter's API only has the Twitter shortlink URL, not the original URL as tweeted.

Example:

<img width="1055" alt="Screen Shot 2019-09-25 at 8 25 32 PM" src="https://user-images.githubusercontent.com/2621/65655888-a7a14100-dfd2-11e9-843e-e4ebf8626d6a.png">

We should index thos

[2019-09-26 07:21] agis opened #1280 "make.go: Doesn't build with Go 1.13 (GopherJS requires 1.12)"
Using `go version go1.13 linux/amd6`, after cloning the repository on a path outside $GOPATH, I get the following:

[code]

[2019-09-26 18:45] #1280 closed

[2019-11-09 15:17] clgillis commented on #1215
Just as an update.  It has been over a year and @FiloSottile has not looked at the PR or fixed the login issue for his B2 library.  So far my fix is still working.

[2019-11-14 20:24] kushtrimjunuzi commented on #847
How about just the events, notifying that file is uploaded? This could be something like a web hook.

[2019-11-17 04:34] salman-bhai commented on #1231
Hi, anything here that has not been done and I can help with ?

[2019-11-17 04:50] salman-bhai commented on #1279
Hey, could I help with this issue ?
Looks interesting to me and would love to help understand the project as well.

[2019-11-21 00:32] IfeanyiEkperi opened #1281 "Logo redesign proposal"
I'll love to contribute to this project by offering a logo redesign for the project that meets all required standard while still following same theme of the already in use logo.

Logos have no minimalistic and Perkeep deserve something minimal and sleek too.

Hope I am given the chance to rebrand Perkeep.

[2019-11-25 19:16] willnorris commented on #1281
I don't think the project owners are interested in a rebrand.  We actually [just rolled out the current brand](https://twitter.com/PerkeepOrg/status/948296729526353920) last year, and I think folks are pretty happy with it.

[2019-11-25 19:16] #1281 closed

[2019-11-26 00:49] IfeanyiEkperi commented on #1281
Okay. Thanks

[2019-11-26 23:20] mpl commented on #1144
We now have a first rough version at https://github.com/perkeep/gphotos-cdp for those of you interested.

[2019-12-09 22:05] djmattyg007 opened #1286 "How to compile without internet access?"
I'm regularly in a situation where I'm working without internet access. Unfortunately it seems that running `go run make.go` in this situation doesn't work because it still wants to contact a remote server. I've already compiled the code beforehand with internet access, so I already have all of the dependencies available locally. Is there a way to make this work?

[2019-12-09 22:24] bradfitz commented on #1286
I'm guessing `--embed_static=false` and/or `--skip_gopherjs=true` might help?

But it really shouldn't be required.

/cc @mpl

[2019-12-09 23:12] mpl commented on #1286
Unfortunately that wouldn't be enough, as we still check whether the resources we have on disk (app/publisher/publisher.js , and server/perkeepd/ui/goui.js), are legit by matching them against the hashes that are (systematically) fetched at https://storage.googleapis.com/perkeep-release/gopherjs/publisher.js.sha256 and https://storage.googleapis.com/perkeep-release/gopherjs/goui.js.sha256

That's

[2019-12-10 01:02] bradfitz commented on #1286
Let's add a new flag to do all this.

[2019-12-10 01:30] mpl commented on #1286
Yeah. And reading that code, I realized there's once more warts that I
meant to remove but that are still there.

On Tue, Dec 10, 2019, 02:02 Brad Fitzpatrick <notifications@github.com>
wrote:

[2019-12-12 07:44] bobg commented on #878
I'm seeing this too, pretty consistently when filling my GCS-backed blobstore via pk-mount.

Here's the (very deep!) goroutine that seems to have the write lock on the `Index` object:

[code]

Here's another goroutine that would like a write lock:

[code]

And here's one that would like a read lock:

[code]

[2019-12-12 07:46] bobg commented on #878
Note 1: These traces are from a copy of perkeepd that includes code from some of my recent pull requests. I doubt that that affects the deadlock behavior one way or the other, but you never know.

Note 2: When I encounter these deadlocks, they resolve spontaneously after long, irregularly timed delays. The one I illustrated ended after 29m10s, and file copying seemed to complete normally after tha

[2019-12-14 00:21] mpl commented on #1286
done, PTAL.

[2019-12-20 10:47] #1286 closed

[2019-12-26 12:36] tajtiattila opened #1292 "publisher: error displaying files in sha224 parents"
When a published container uses a sha224 hash, its page with thumbnails is displayed in publisher correctly, but file links don't work because of the hardcoded "sha1-" prefix in the call of getFullRef in newFileItemContainer of app/publisher/js/file.go.

[2019-12-26 23:41] mpl commented on #1292
@tajtiattila thanks. do you want to have a go at fixing it?

[2019-12-27 08:35] tajtiattila commented on #1292
@mpl This seems fairly trivial to fix, so I modified getFullRef and its call site in app/publisher/js/file.go to use a logical constraint with both ssh224 and ssh1 in the prefix.

Unfortunately, I'm on Windows and I couldn't get it to build the Web UI yet. Maybe we should have a Dockerfile to do just that.

[2019-12-27 20:59] #1292 closed

[2019-12-27 22:07] mpl commented on #1292
I've updated with your fix the generated publisher.js that we host , for when one wants to run make.go without regenerating the webUI. It seems there's some caching shenanigans going on at the moment though. I'll recheck tomorrow.

[2019-12-28 08:22] eljojo commented on #1125
hi is anyone working on this?

[2020-01-03 04:05] kylak opened #1294 "A .rtf reader in the web UI."
Hello all,

Here is the situation where I am :

I'm looking to keep in Perkeep a note with words in bold, underlined words, italics words, etc… (so the format's note is not a .txt file but a .rtf file).

So after I saved this note on Perkeep, I find out that the web UI couldn't display it as "Document" like the web UI can for txt or pdf format file.

So I tried to convert the rtf note to the html

[2020-01-03 05:26] zenhack commented on #1294
Unfortunately it's just txt and pdf right now. The 'document' display's implementation just sticks the content in an iframe, so it can only handle content types that the browser already understands, and html isn't on our whitelist right now because accepting arbitrary html is possibly problematic from a security perspective.

I'd love to see support for other formats. We could do HTML if we add a

[2020-01-05 10:40] kylak commented on #1294
Thanks for your answer !

[2020-01-12 10:21] mnzaki commented on #91
Is there some work on this on a branch somewhere? Also the armon/mdns codebase has been taken up by hashicorp at https://github.com/hashicorp/mdns now, looks fairly well maintained

[2020-01-14 00:16] mnzaki commented on #91
I have a commit on my fork (0c02675d097e3a856100022232eb5176ef2b2330) with basic discovery. If you run two perkeeps on the same network they will spit out each other's IP address at some point.

Any guidance on how to proceed from here?

[2020-01-14 00:39] mnzaki commented on #1275
I am working on this! I have been converging on a similar direction, but I was calling it an "app-server".

Ideally the ui handler is reduced to a simple auth mechanism and all other user interfaces run as such "apps" with a different handler on a different port (to leverage browser sandboxing) and request auth tokens from the ui handler which can give users a trusted UI to accept access from an a

[2020-01-14 00:41] mnzaki commented on #1218
I'm hitting this consistently. Make a file, make it shorter, you get bytes from the previous version(s).

[2020-01-15 03:16] dsoprea commented on #969
Are we preferring pure Go or native support for the HEIF format?

[2020-01-15 03:28] lastzero commented on #969
Of course!

[2020-01-15 05:42] dsoprea commented on #969
Which, specifically?

[2020-01-15 10:51] lastzero commented on #969
What's the difference between native and pure? Native = cgo?

[2020-01-15 16:21] dsoprea commented on #969
Correct. You prefer a cgo implementation, yes?

Dustin

On Wed, Jan 15, 2020, 05:51 Michael Mayer <notifications@github.com> wrote:

[2020-01-15 16:24] lastzero commented on #969
Of course not, cgo means we need to bundle our app with an external library that needs to be compiled differently for each platform. Too much pain.

[2020-01-15 16:31] dsoprea commented on #969
Excellent. I saw some issue somewhere where I thought you said different.
I'll share it if I still have it open somewhere.

On Wed, Jan 15, 2020, 11:24 Michael Mayer <notifications@github.com> wrote:

[2020-01-17 22:58] quinn opened #1296 "pk-mount exit status 2"
[code]

I have the server running in the foreground locally, and the default client config (to connect to localhost:3179

[2020-01-18 00:31] quinn commented on #1296
reinstalling (upgrading) osxfuse fixed it

[2020-01-18 00:32] #1296 closed

[2020-01-24 22:28] jonaswre opened #1297 "Documentation on storing files encrypted"
Hi,
i can*t find any dokumentation on storing files encrypted. Can somebody provide any information?

[2020-01-28 09:39] gatestone opened #1298 "TODO file missing"
The TODO file linked on https://perkeep.org/doc/todo/ is missing.

I thought that now it would be a good time to raise awareness of the project, when Brad's legacy is discussed in nerdy circles. ;-) Missing links to basic stuff gives negative impression...

[2020-02-05 13:15] giganteous opened #1300 "Perkeep uploader not working on Android 10"
I'd like to raise some awareness that the uploader fails to run on android 10. It does not offer an option to upgrade in the play store.

[2020-02-05 17:48] mpl commented on #1300
@giganteous fwiw, it still works for me on a pixel 2, running Android 10 as well. So your problem is probably not just related to Android 10.
Are you saying the same installed app on the same phone, but with a previous version of Android, used to work for you?

[2020-02-05 18:34] giganteous commented on #1300
sorry, I was far too quick to react let ke this.

The error is easy to misinterpret. I attached the error.

thanks,

On 5 Feb 2020, 18:48, at 18:48, mpl <notifications@github.com> wrote:

[2020-02-10 23:25] patrickdevivo opened #1301 "Add TODOs Badge to Readme"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `// TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://api.tickgit.com/badge?repo=github.com/perkeep/perkeep)](https://www.tickgit.com/browse?repo=github.com/perkeep/perkeep)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO com

[2020-02-14 14:12] dmgk opened #1302 ""inconsistent vendoring" build error with go1.14rc1"
[code]

[2020-02-18 20:18] #1300 closed

[2020-02-21 17:15] xrd opened #1303 "First run of perkeepd fails with missing goui.js"
I just ran these commands:

[code]

I see this when I run `perkeepd`:

[code]

Perkeep opens a webpage and it has a bunch of errors about missing goreact (see screenshot ).

I don't see that file when I search inside the source directory, but perhaps it is dynamically generated?

[code]

Full logs:

[code]
![Screenshot from 2020-02-21 09-14-35](https://user-images.githubusercontent.com/17064/75055

[2020-02-28 18:30] xrd commented on #1303
Upgrading to go1.14 did not help.

`2020/02/28 10:29:13 Starting perkeepd version unknown; Go go1.14 (linux/amd64)`

[2020-02-28 18:34] zenhack commented on #1303
You need to check out the repo and run `go run make.go` from the root; I don't think perkeep is installable with `go get`. Probably the specific error you're seeing is handled here:

https://github.com/perkeep/perkeep/blob/9a1336816afdfcf36ae0ec3705e5ae4053748f10/make.go#L460

[2020-03-06 03:19] MaxMatti opened #1305 "Cannot upload files from iOS"
Some files (three JPEGs) do upload just fine, however others (a PDF, a Screenshot that's probably a PNG and three videos) do not. What happens is that after selecting the files, perkeep says "Uploaded 0 (0%)" and then just reload the page with nothing uploaded. Also no new output show up in the terminal where I'm running the server. For the successfully uploaded files it says "Received blob [...]"

[2020-03-11 00:56] kushtrimjunuzi commented on #1255
closing this since I found the solution how to setup internal let's encrypt certs using https://github.com/bradfitz/autocertdelegate

[2020-03-11 00:56] #1255 closed

[2020-03-24 23:37] jpvlsmv opened #1307 "New release?"
It has been 2 years since the last official release, and there have been over 200 commits to master since 0.10.

There has been some drift between the documentation and the functionality a user gets from downloading the 0.10 version, what would it take to publish 0.10.2 (a milestone exists, just waiting for a fixed bug to be closed) or 0.11 just to bring us into the new decade?

[2020-03-25 01:45] mpl commented on #1307
We usually try to cut a release so that it includes a specific new feature, and (incidentally) around a hacking event/gathering of some kind. And since we've slowed down on both it kind of explains why we haven't cut any new one.
That said, I don't see any obstacle that would prevent us from baking one, so I suppose we could.
@bradfitz , WDYT?

[2020-04-05 12:39] psilva261 commented on #1271
@zenhack Hey! Actually I'd be interested in such a feature as well and would be open to contribute. I've started experimenting with Perkeep on the Raspberry Pi (although mostly just for backups)

[2020-04-05 22:01] zenhack commented on #1271
@psilva261, cool. It's been a long time, so I'm having a hard time remembering all the details, but I experimented with this and I found it was more complex than what I described above. If nothing else I think the quick & dirty fix I described above is going to result in very poor performance (esp. with startup times). I'd also like to avoid having to do a full copy of the index on every startup (

[2020-04-08 18:21] psilva261 commented on #1271
@zenhack Thanks a lot! This sounds quite interesting, I will check out the code and try out both approaches asap! 🙂 Yeah, for trying it out, it's probably enough to query one field

[2020-05-06 17:43] souvikhaldar opened #1308 "Authentication error on mobile setup"
I'm running perkeepd on my ubuntu laptop with IP 192.168.0.x.
When I set 192.168.0.x:3179 as perkeep server address in android app I get the following error:
[code]
go version-
[code]

[2020-05-06 17:56] bradfitz commented on #1308
401 Unauthorized means your server is denying it access.

What's your server config? (redact any secrets)

[2020-05-06 18:18] souvikhaldar commented on #1308
This is it:
[code]

[2020-05-06 18:24] souvikhaldar commented on #1308
I was missing this part unfortuanately!
Sorry, my bad! I changed the `auth` to `none` and it started working fine. Thanks for the help @bradfitz  :)

[2020-05-06 18:24] #1308 closed

[2020-05-24 09:54] Bernd-L commented on #625
Are there any updates on this?

[2020-05-24 10:02] Bernd-L commented on #625
From [the comparison with IPFS](https://github.com/perkeep/perkeep/blob/master/doc/compare.md#ipfs) :

Is there such a backend available now?

[2020-06-11 16:03] atecce commented on #1254
@mpl @bradfitz hey i’m going through old issues i’ve opened and will probably close this tomorrow. thought i’d bump it one more time

[2020-06-11 18:53] tgulacsi commented on #1254
@atecce see what https://pkg.go.dev/github.com/tgulacsi/camproxy/camutil?tab=doc Uploader/Downloader does.

[2020-06-11 19:07] atecce commented on #1254
ohhhhhhh awesome. tyvm again i guess we'll just say it's supported elsewhere!

[2020-06-11 19:07] #1254 closed

[2020-06-19 19:22] roopakv commented on #1307
friendly ping. on the brew side this formula remains broken and would be nice to get it building or maybe potentially remove it from brew if it cant be fixed

cc @bradfitz for thoughts

[2020-06-23 09:36] joonas-fi opened #1309 "googledrive: Google recently added limit of 500 k files per directory"
Google in June 2020 started to enforce a retroactively added limitation of 500 k files per directory. If you go over, it yields error code `numChildrenInNonRootLimitExceeded`: https://stackoverflow.com/a/62520242

I hit this limitation with other storage system using Drive in similar design that I understand Perkeep uses.

To be clear: **I did not reach this limit with Perkeep** (and so cannot be

[2020-06-30 18:58] dlo commented on #981
Should this issue be closed?

[2020-06-30 20:06] cliveb commented on #981
Rename looks set to me https://en.wikipedia.org/wiki/Perkeep

[2020-07-05 19:33] NiklasMerz commented on #1125
Strava has a Go client library for their API https://github.com/strava/go.strava

[2020-07-08 16:10] GTP95 opened #1313 "Perkeep on Raspberry Pi 3"
Hello everyone,

I'm interested in this project and wanted to test it on a Raspberry Pi 3. Since there aren't binary packages for ARM, I resorted to compiling it from source, but I run in the following issues:
- The master branch compiles and starts fine, but crashes after a while when trying to upload two video files filling the terminal with errors about goroutines.
- The staging branch refuses

[2020-07-08 20:14] GTP95 commented on #1313
Quick update: I tried uploading two small files, one at a time, using the master version. It seems to have worked, so maybe the crash was due to the small RAM of the Raspberry?
But now I'm unable to see the two files using the web UI. One of them is called "arte_moderna.txt" but the search query  "filename:arte_moderna.txt" returns no file, the other is a png image, but "is:image" returns no resul

[2020-07-09 09:10] GTP95 commented on #1307
I'll add my unrequested two cents. I think it would be important for the project to release a new official release because there are potential users that assume the development is stalled because they didn't see a new version in two years, eg. here: [https://www.reddit.com/r/DataHoarder/comments/hijitn/perkeep_permanently_keep_your_stuff_for_life/fwgjvh4?utm_source=share&utm_medium=web2x](url)
The

[2020-07-09 10:24] joelzanden commented on #1307
Thank you, @GTP95! Very well put!
I am one of those interested users/developers. I keep coming back to check in on the Perkeep project and I keep not diving in because of exactly what you just wrote.

[2020-07-09 19:57] #1313 closed

[2020-07-09 22:00] cliveb commented on #1313
@GTP95 I was thinking of trying to build Perkeep on Pi 4. Did you solve the out of RAM on Pi 3 issue?

[2020-07-09 22:14] zenhack commented on #1313
How much ram do you have, and how much data are you storing? I wonder if you're running afoul of #1271

[2020-07-09 22:28] cliveb commented on #1313
8GB. Any chance you have a stable Perkeep build for Pi? (Amazon van just delivered shiny new Pi 4)

[2020-07-09 22:38] zenhack commented on #1313
Sadly, no -- my boxes are all x86.

[2020-07-09 22:45] cliveb commented on #1313
Ok, I will try to see what I can build. Thanks for #1271

[2020-07-10 06:31] GTP95 commented on #1313
No, for now I'm just storing smaller files like photos, I may try again with the two videos, maybe uploading one at the time and with increased swap storage could help.

[2020-07-10 06:33] GTP95 commented on #1313
If you have any problems with the build I can send you my binaries compiled on my PI 3

[2020-07-10 16:48] GTP95 commented on #1313
I've tried one video at a time and with more swap space. This time perkeep didn't crash, but I'm unsure if it really uploaded the videos, since I'm unable to find them.

[2020-07-10 17:01] GTP95 opened #1314 "Search query "attr:format:txt" doesn't return results while I have at least one txt file"
Search query "attr:format:txt" doesn't return results while I have at least one txt file, and the web UI shows it in the home page and even correctly identifies it as a document.
This is the content of the file:
[code]
The permanode has only the attribute camliContent with value sha224-88cd3c20c9541121f135e8ff7f7bc6ee50e015d38d52e3d0d2b6c7fb
and in the blob page I get the following info:

`Blob co

[2020-07-10 17:07] zenhack commented on #1314
Try the query "format:text/plain" (with no attr: prefix).

[2020-07-10 17:09] GTP95 commented on #1314
This works, thanks!

[2020-07-10 17:09] #1314 closed

[2020-07-10 17:15] zenhack commented on #1314
No problem!

[2020-07-10 22:13] GTP95 opened #1315 "Sharing multiple files"
Hello everyone.
I'm playing with Perkeep these days and now I was trying to share files, in particular photos. If I try to share single files everything works fine, then I tried to share multiple files at once with only a single link. To do this, I first created a new set with some images, then I generated the share link. The problem is that when I open the link instead of seeing the images that I

[2020-07-12 05:55] zenflow commented on #1076
I just discovered perkeep and am keen on using it but this lacking feature is the one thing that has me a little worried.. perkeep could end up using a lot of extra space.

I saw in the YouTube video that it's possible to delete stuff if you really need to, but I couldn't find anything in the docs. @mpl Any reference? 😃

I guess it would be possible to do this (purge unneeded data) myself on the u

[2020-07-12 06:03] tgulacsi commented on #1076
Most blobservers (under pkg/blobserver) implement deletion. The hard part is the GC: starting from some root blobs walk all reachable, mark them, then delete all non marked.

[2020-07-26 10:49] tripleo1 opened #1316 "Dont know how to get started"
go run make.go doesn't work obviously because there is no make.go

[2020-07-26 10:58] tripleo1 commented on #1316
My bad

[2020-07-26 10:58] #1316 closed

[2020-08-06 17:07] willnorris commented on #981
Looks like there are still quite a few references that can be cleaned up: https://github.com/perkeep/perkeep/search?q=camlistore

We'll never get it completely to zero, since some would be breaking changes, but I think it's worth keeping this issue open to track cleaning up these remaining references.

[2020-08-07 19:30] Kyrluckechuck commented on #1307
Just wanted to chime in to say I'm a potential user who is in the same boat -- I saw the last release was in 2018 and I immediately went to ignore this, but then found the GitHub project and realized it had a merge in the last 2 months so it's not _completely_ dead.

Most users, however, won't do that and even if they are minor bug fixes getting released as sub-versions (which is what most project

[2020-09-11 20:58] bradfitz commented on #1307
@mpl, if you want to roll a release, SGTM.

[2020-09-11 22:03] mpl commented on #1307
ACK, will try/do.

[2020-09-11 23:25] willnorris commented on #1307
I'd also be happy to learn how, so that it doesn't always fall on you.

[2020-09-12 13:12] GTP95 commented on #1307
Great to see that finally something is moving! I've since moved on to use Nextcloud, but I will for sure come back in the future to check how things are going, especially regarding the ability to share files with other people and to reserve some space to let others have an encrypted backup of their instance.

[2020-09-13 19:28] followsound commented on #1297
I'm also getting the following error with encryption

[code]

[2020-09-15 02:55] willnorris commented on #1301
surfacing latent work isn't really perkeep's biggest problem right now.  Once some more basic triage has been done, this might be helpful, but probably not right now.  Thanks, though.  Looks like a neat service.

[2020-09-15 02:55] #1301 closed

[2020-09-15 02:57] willnorris commented on #34
closing this, since docker definitely turned out to be the way to go.

[2020-09-15 02:58] #34 closed

[2020-09-15 03:10] willnorris commented on #1243
Looks like this was fixed with https://opencollective.com/perkeep/updates/update-on-perkeep-brad-mathieu-open-collective-donations

[2020-09-15 03:10] #1243 closed

[2020-09-15 03:15] willnorris commented on #1241
donation links removed in 0683145d61

[2020-09-15 03:15] #1241 closed

[2020-09-15 03:54] willnorris commented on #1198
Since this issue was filed, perkeep no longer uses Gerrit.  All development is on GitHub, and CI is moving over to GitHub Actions (#1317).

The point about needing a system for manually kicking off a test that requires credentials is still a good point though.  That is possible with GitHub Actions's [workflow_dispatch event](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-w

[2020-09-15 03:57] willnorris commented on #1302
the only supported way of building perkeep is with `go run make.go`.  Cleaning up perkeep's use of modules and the vendor directory is being tracked in #1231

[2020-09-15 03:57] #1302 closed

[2020-09-15 04:04] willnorris commented on #1162
GitHub syncing code was removed when all development moved to GitHub in 41f5d4a190

[2020-09-15 04:04] #1162 closed

[2020-09-15 08:43] #1298 closed

[2020-09-20 16:47] verrol opened #1320 "Perkeepd not starting, level db seems to have been corrupted"
Hi all,

I have been using Perkeepd for a few years without issue. Typically, I start Perkeepd when I want to use it, and then stop it. However, recently I tried to start it and I got the message below.

I don't recall seeing an error or having any issues the last time I used it.

Please let me know how to resolve this or how to recover my data. Is it possible to start a new index or something?

T

[2020-09-29 13:25] frederikhors opened #1321 "How difficult is to create an offline-first app?"
I only discovered this project today.

**Congratulations for this great job!**

In your opinion, how difficult is it to create an offline-first Web/Desktop/Native application with this project?

Anything that respects [these rules](https://jaredforsyth.com/posts/in-search-of-a-local-first-database/)?

[2020-10-11 13:01] kushtrimjunuzi opened #1322 "android: Could not upload files after app has completed full upload"
Android version: 11
Kernel version: 4.9.223-g5bded8e40b62-ab6647920
Perkeep app version: 0.10
Error: 2020/10/11 12:52:27 Could not create/open new have cache at /data/user/0/org.camlistore/cache/pk-put.havecache.181ae63d08d9a1c3f0cbc307259823a74790730c.leveldb, resource temporarily unavailable

Before android version 11 everything was working as expected. If anybody have an idea where to look for

[2020-11-09 20:05] guysoft commented on #1027
Has the idea of a facebook importer been abounded?

[2020-11-16 05:54] lionelyoung commented on #1147
I was researching launchagent for perkeep refs #166 and found this

[2020-11-16 06:08] lionelyoung commented on #166
[code]

[2020-11-20 16:00] #1307 closed

[2020-12-06 16:49] kushtrimjunuzi commented on #1322
it is fixed from android updates.

[2020-12-06 16:49] #1322 closed

[2020-12-06 16:50] kushtrimjunuzi commented on #1322
it is fixed from android updates.

[2020-12-07 19:10] kushtrimjunuzi opened #1327 "pk-mount: No supported for Apple Silicon M1"
Based on some code review perkeep uses bazil.org/fuse which do not support macFuse 4 because of the license issue.
Some projects such as rclone cmount they switch to github.com/billziss-gh/cgofuse.

Some useful references:
https://github.com/restic/restic/issues/3096
https://github.com/plexdrive/plexdrive/issues/390#issuecomment-737315337
https://github.com/rclone/rclone/issues/4804

[2020-12-07 22:46] usedbytes opened #1328 "permanode signatures aren't verified"
This feels like an "I must be missing something" thing, but it looks like permanode signatures aren't verified anywhere.

**Issue:**
permanodes with invalid signatures aren't caught by the indexer (or anything else?)

**Expected:**
A permanode blob with an invalid signature is caught and flagged, probably causing the server to abort.

**What happened:**
Nothing bad, the server continued as normal.

[2020-12-29 02:23] anborg commented on #1275
I 'm looking to use Hugo for "static site" generation [hugo is written in go].  I'm migrating ibm-portal to hugo.

However Hugo is missing CMS like UI.
- a "non technical" editor for the Markdown files (won't trouble public service employees to think more)
- and another UI page that mimics CMS workflow ..

Can your change provide such CMS like ui?

![image](https://user-images.githubusercontent.co

[2020-12-30 22:44] edrex commented on #1275
@anborg your comment is pretty off topic on the perkeep issue tracker. that said, a lot of ppl use a pull requests on a SCM host like Github or Gitlab for change management for static sites, with embedded edit links in each page. There's also https://stackedit.io/

[2021-01-02 16:42] aviau commented on #1320
Did you try to reindex/recover?

[code]

[2021-01-02 16:54] aviau opened #1330 "help on setting-up s3-only instance"
Hello!

First, I want to thank you for perkeep! This is an amazing project and I intend to send pull requests to improve both the code and documentation.

I'd like for clarifications on how to setup an s3-only instance.

I have successfully managed to setup a blobPath+s3 instance, which works well:
[code]

The documentation says:

Leading me to think that s3-only should work.

Removing blobPath ca

[2021-01-02 17:12] aviau opened #1331 "s3 + blobPath should setup two-way sync"
Hello!

I was expecting that configuring both s3 and blobPath would setup two-way sync. However running ``pk sync --all`` will only send the blobPath blobs to s3 without pulling new ones from s3.

Is there a reason for this? Would there be downsides to enabling two-way sync by default?

It seems like this is acheivable with the low-level config but I was under the impression that it would be a goo

[2021-01-03 08:17] aviau commented on #1156
Fixed with the following:
[code]

@lindner  Would you please commit the result of these commands? I was playing around with modifying one of the dependencies and the latlong package gave me some trouble as it was importing from an import path that is no longer available.

[2021-01-03 22:12] tmciver opened #1337 "android app: duplicate photos/videos"
I'm using the Android app to sync photos/videos from my phone to my Perkeep server.  I've seen many instances of duplicate permanodes being create but this does not always happen.

Assuming this issue can be addressed at some point is there a way to remove duplicate permanodes?  I have not seen any way in the docs to delete them.

[2021-01-04 04:17] venkyvb opened #1338 "perkeep storage set-up with S3 - Access Denied error."
First off, thanks for this awesome project !!
N00b here :).
I am trying to do a sample set-up of Perkeep with backup to s3 and I followed the steps outlined in the documentation. However in the logs I see 403 from S3:
[code]
This is my config in the `server-config.json`:

[code]

The IAM policy is as follows:

[code]

Any pointers here would be helpful !! Thanks.

[2021-01-05 13:49] lenormf opened #1342 "Support a free geocoding service"
Hi,

I see that Google geocoding support is available, however this is a paid service and I only have a minimal amount of coordinates to resolve.

Would it be possible to support other geocoding services that don't charge for 0-X.000 queries? For example[Yandex.Maps](https://yandex.com/dev/maps/geocoder/)? If it's already possible, how to configure it?

Thanks!

[2021-01-06 17:09] aviau commented on #1338
See https://github.com/perkeep/perkeep/pull/1329

[2021-01-13 08:51] lenormf opened #1350 "Perkeep can only be built in `$GOPATH` in offline mode"
Hi,

Even when issues with building on Go >v1.12 are fixed (GopherJS), the build won't go forward unless the directory is named `perkeep.org` and is placed into `$GOPATH`.

This makes packaging in offline mode impossible (I've created an [ArchLinux package](https://aur.archlinux.org/packages/perkeep/)).

Thanks!

[2021-01-13 14:15] aviau commented on #1350
why?

[2021-01-14 14:39] #1338 closed

[2021-01-14 20:22] elsurudo commented on #1273
I get the same issue trying to install it on a DS218j (MARVELL Armada 385 88F6820) running DSM 6.2.3-25426 Update 3. Did you guys ever figure it out?

[2021-01-14 20:38] aviau commented on #1303
The last comment is correct, you cannot make a "full build" with just go get.

See ``BUILDING``.

Feel free to ask if there is something else that is not working.

[2021-01-14 20:38] #1303 closed

[2021-01-14 20:42] aviau commented on #1321
Perkeep does not strictly depend on internet access. Does that answer your question?

[2021-01-15 01:40] #1330 closed

[2021-01-15 01:42] aviau commented on #1297
Hello, we have recently added a little bit of documentation for the encrypt storage, let me know if that helps:
 - https://perkeep.org/pkg/blobserver/encrypt/

[2021-01-15 01:47] aviau commented on #1231
Pretty sure this is complete.

[2021-01-15 01:47] #1231 closed

[2021-01-18 18:58] solarkraft commented on #1273
I haven't made any progress, instead opting to host it somewhere else (and ultimately stop using it), sorry.

[2021-01-19 01:18] singpolyma opened #1361 "pk-put init --gpgkey does not accept fingerprint"
Only works with short keyid.

Also, the error when you run init with no switches tells you there is a switch `--secret-keyring` ... there is not.  `CAMLI_SECRET_RING` env var works, though.

[2021-01-19 05:18] aviau commented on #1361
You used a long fingerpring with the 0x prefix?

[2021-01-19 05:53] aviau commented on #1361
This flag should be placed before `init`, but its there.

[2021-01-19 12:37] singpolyma commented on #1361
No 0x

[2021-01-19 14:22] aviau commented on #1361
can you provide the exact command?

[2021-01-20 18:12] singpolyma opened #1365 "Twitter importer not getting anything from zip file"
[code]

It got 10 years from the API, but nothing before that and the zip file it seems to think no error but also no tweets?

[2021-01-21 23:26] aviau commented on #1337
The web ui has a delete button that does just that. Otherwise **deleting** a permanode is by **creating** a [delete claim](https://perkeep.org/doc/schema/delete).

We could add a feature to pk-put to do this. Something like ``pk put permanode --delete <ref>``

[2021-01-22 23:34] dolanor opened #1372 "nuking vendor/ broke Dockerfile"
Hi,

there is still an instruction in the Dockerfile that copies the `vendor` directory.

[2021-01-23 20:08] bradfitz commented on #1372
/cc @aviau

[2021-01-24 00:27] #1361 closed

[2021-01-24 17:01] #1372 closed

[2021-01-25 23:03] mnzaki commented on #1321
#1275 touches on a similar note

[2021-01-26 09:14] cliveb commented on #1321
Toward local-first, offline-first rules: "We've learned that operating a server is getting progressively harder, not easier. Here we consider how our software architecture can make this approachable with basic web skills. http://ward.asia.wiki.org/view/welcome-visitors/view/principles-for-version-two

[2021-01-28 02:48] tmciver commented on #1337
@aviau Thanks for the reply.  I had not noticed that I could do it through the web UI.  But that turns out to be a bit tedious in my case since there seem to be quite a few duplicates.  I'd like a way to say "delete all but one permanodes that point to the same data".  I realize that one might not want to do this in general but in my case I'm confident it would be safe.  Do you know if there's a w

[2021-01-28 03:41] aviau commented on #1337
You can do it with a simple shell/python script using pk commands, or the  http API.

- Iterate over all permanodes (`pk list -type=permanode`)
- Find what they are pointing to `pk describe <permanode>` (see camliContent)
- Delete it if you have seen it before.

[2021-01-28 05:19] tmciver commented on #1337
@aviau Awesome! Thanks for that.  I'll try it out.

[2021-02-06 21:35] aviau commented on #1328
Thanks for the good bug report!

It turns out that the indexer does not verify signatures on permanodes, it only verifies signatures on claims modifying the permanode.

I have just submitted a patch.

Cheers,

[2021-02-06 23:32] aviau commented on #1331
After discussion, we should wait until the config format is improved. I'll close this.

[2021-02-06 23:32] #1331 closed

[2021-02-06 23:35] aviau commented on #1223
The cloud launcher was removed in c9f78d02adf9740f3b8d403a1418554293cc9f41.

Should we close this? I'll close this issue in a couple of days unless someone objects.

[2021-02-08 16:30] agoode commented on #465
Having looked into this years ago for Gmail, I'm not sure if the Gmail API is better than supporting Gmail's IMAP-with-extensions protocol. I found there were aspects of the messages that each protocol didn't perfectly cover.

[2021-02-21 16:50] jacobwhall commented on #1342
OSM also has a [geocoding api](https://wiki.openstreetmap.org/wiki/Nominatim) that might be of interest.

[2021-03-01 16:39] rjp opened #1384 "`goui.js` breaking the dependency scanner on upgrade"
Pulled to `commit a49f6851` this morning, rebuilt the server, and ran into this.

[code]

Seems to be because I have an old version (maybe a year since my last pull?) of `server/perkeepd/ui/zembed_goui.js.go` lying around which doesn't seem to get cleaned up at any point when pulling new versions (or at least deleting that file and rebuilding made everything work again.)

[2021-03-01 17:27] tdilo commented on #1384
Coincidentally, I ran into the same issue yesterday (upgrading from 0.11).The web UI did not load properly and it produced some errors in the browser's developer console. After running `git clean -fdx` and rebuilding, the web UI worked again.

I am uncertain whether we can expect to produce a working build from an unclean source tree of unknown age. Switching resource embedding to the new standard

[2021-03-01 21:32] aviau commented on #1384
We can probaly clean that file in make.go to avoid issues like this. Assigning myself.

[2021-03-07 21:30] tullo opened #1385 "B2 setup issues - need help"
Hi
I run into trouble after setting up backblaze. Starting the server after the config changes results in these log entries:
[code]
Then I do as told by the log:

`perkeepd -configfile /home/perkeep/.config/perkeep/server-config.json -recovery=1`

But that does not sync any blobs to B2

[code]
My config:
[code]

There are no errors that could give any clues on what is missing.

I hope somebody has

[2021-03-08 23:07] tullo commented on #1385
Upgraded B2 and submitted https://github.com/perkeep/b2/pull/1

With these b2 changes applied to this code base and only using b2 as storage I'm able to upload images using the web UI but it takes pretty long (5 seconds or more) just to upload a single blob.

[2021-03-08 23:24] aviau commented on #1385
Did you follow the guide here? https://perkeep.org/doc/storage-examples#b2

[2021-03-08 23:49] tullo commented on #1385
Yes. That is how I ended up with the config mentioned further up in the thread.

[2021-03-21 20:14] aviau commented on #1385
I have just tested with b2 and confirmed that it works fine.

Right. Just booting won't sync any blobs to b2. Maybe you want to run `pk sync --all`?

You may view sync pairs and their status at `http://localhost:3179/sync/` (or wherever perkeepd is running for you)

I agree that setting up two backends is a bit unclear right now. We need to improve the user experience and make it clearer, but with

[2021-03-21 20:14] #1385 closed

[2021-03-28 20:37] mikefaille opened #1389 "The config file use should have better explainations and documentation assitance for the enduser"
The config path related to perkeep fall on 2 principal usability sub-issues :

1. the configuration could be more familiar for endusers. Or, it should be easy to retrieve the actual config path since there is many branch on the logic to generate the full path of the configuration file to retrieve : https://github.com/perkeep/perkeep/pull/1387#issuecomment-808843177
2. Since the directory containin

[2021-03-29 15:10] basilboli opened #1390 "Cannot tag / add attribute to permanode"
While creating new permanode I cannot add tag or attribute:

### How to reproduce
[code]

I expect attribute and claims fields not to be empty.

### Version
perkeep server version
```https://perkeep.org/doc/release/0.11```
perkeep client version
```https://perkeep.org/doc/release/0.11```

Have anyone had the similar problem?
Thanks in advance.

P.S. Kudos and thanks for doing this amazing project.

[2021-03-29 15:24] basilboli commented on #1390
Ok, I have actually solved the problem by myself by:

1/ copying `identity-secring.gpg` from the machine running perkeep server to the machine running the client
2/ `pk-put init -gpgkey XXXX` using the same key id XXXX as the server

I don't know whether this is the right thing to do but it was not quite obvious from the documentation.

[2021-04-17 01:35] cfiske opened #1391 "Replication fails with x509 cert error even though cert is valid"
Client: Mac OSX Big Sur 11.2.3 (x86)
Local perkeepd running on same host as client, version 0.11
Remote perkeepd running on CentOS 7, also version 0.11, behind Nginx reverse proxy

I'm trying to get replication working and running into this:

`2021/04/16 16:45:15 Caught panic installer handlers: error instantiating storage for prefix "/r1/", type "remote": Get "https://my.server.name": x509: certi

[2021-04-20 18:24] tbrtje commented on #1327
pk-mount is currently not working on both Intel and Apple Silicon Macs. The installed version of macFuse is not detected.

[2021-04-21 16:39] tbrtje opened #1392 "pk-mount unsupported on MacOS"
Hi there,
Apparently there is no support for MacFUSE 4 and later. If it is installed I get the error message
```FUSE not available```. This seems to be due to bazil.org/fuse lack of support for it.
Unfortunately this isn't just an issue for M1 based systems, as described here #1327 , but an issue for all up to date MacOS Systems.

Unfortunately I have no clue how to implement a fix, but I hope som

[2021-05-22 21:11] cfiske commented on #1218
I see similar behavior with `pk get` as well. If I get a blob and output to a file, then get a smaller blob and output to the same file it still has the extra bytes from the first blob.

[2021-05-23 05:59] kseistrup commented on #1218
@cfiske My usecase for perkeep was the filesystem. And since this bug renders the filesystem useless, unless you take great care to _always_ overwrite a file with another file of same or bigger size, I stopped using perkeep literally years ago.

[2021-07-29 18:22] #486 closed

[2021-07-29 19:24] #1384 closed

[2021-07-29 21:01] contrast-jproberts opened #1398 "Update minimum version to go1.16"
https://github.com/perkeep/perkeep/commit/ccad6635e4487695851fe15b50df83df4b76493c introduced the `go:embed` directive and the `embed` and `io/fs` packages into the main branch. Both of these features require Go 1.16 to build. However, the documentation still claims that perkeep only requires Go 1.15. A quick search for 1.15 in the repo showed the following cases that likely need to be upgraded. I

[2021-07-29 21:34] aviau commented on #1398
Thanks, fixed.

We shouldn't hardcode the specific go version at so many places, but I didn't want to get into that right now.

[2021-07-29 21:34] #1398 closed

[2021-07-31 23:02] tgulacsi commented on #1392
We're updating bazil.org/fuse to the latest that has support for MacOS:

https://github.com/perkeep/perkeep/pull/1394/commits/482a7f081267e668f1987908b4339fb392368e1f

Unfortunately that does nothing with the OS that has desupported MacFUSE.

https://github.com/rclone/rclone/issues/4393 uses a C-based alternative,

https://github.com/restic/restic/issues/485 uses WebDAV.

I do have worked on WebDA

[2021-08-01 18:01] tbrtje commented on #1392
MacFUSE is available for Big Sur and Monterey, but the license was changed with version 4.0
Other tools do work with the current version of MacFUSE, so what do you mean exactly?

[2021-08-02 05:16] tgulacsi commented on #1392
See https://github.com/bazil/fuse/issues/224 and https://colatkinson.site/macos/fuse/2019/09/29/osxfuse/
OSXFUSE is no longer open source, you have to pay for it.
If you will to do so, then pk-mount may work for you.
If not, we have to find another way. That's why I suggested WebDAV: as far as I see, it is supported out of the box
with Windows and MacOS.
Can you confirm that WebDAV would suffice y

[2021-08-08 23:04] aviau opened #1562 "perkeep-generated signer blobs are not importable in gnupg"
Perkeep currently generates signer blobs like this:
[code]

These are not compatible with `gpg (GnuPG) 2.2.19`:
[code]

Or even with the golang stdlib's `ReadArmoredKeyRing`:
[code]

The GnuPG team has stated that their implementation won't support importing keys without uids:
- https://dev.gnupg.org/T4393#133689

We should stop generating such keys. The added benefit of making the blob smaller is

[2021-08-08 23:14] aviau commented on #1562
Ah, this is a duplicate of https://github.com/perkeep/perkeep/issues/624

[2021-08-08 23:14] #1562 closed

[2021-08-08 23:26] aviau commented on #624
@epaulson Hey! I'd like to get that fixed. I am working on a [python implementation](https://github.com/aviau/perkeepy) of some perkeep internals and this makes things way more complicated that they need to be.

I don't understand what you mean by that. Why would the blobref no longer be published? Isn't it stored permanently just like all other blobs?

[2021-08-26 22:09] ciarand opened #1566 "perkeep.org tls cert expired on 2021-08-23"
As the title says, perkeep.org is currently serving https traffic using a cert that expired 3 days ago

[2021-08-27 13:57] dumblob opened #1567 "Forward error correction"
Does anybody use Perkeep e.g. as a backup device (be it for regular general backups or maybe tiny backups of "just the most valuable data" like wallets and other encrypted credentials etc.)?

If so, how do you do forward error correction (FEC)?

Perkeep doesn't seem to support it - are there any ways to achieve it? Or any plans to implement it in Perkeep?

[2021-08-28 19:30] dumblob commented on #1567
Yes, it's safer. But also (much) more costly.

I'd say FEC could become a "sweet spot" between safety of mirroring and storage price.

[2021-09-03 23:41] ciarand commented on #1566
Seems like someone fixed this, nice

[2021-09-03 23:41] #1566 closed

[2021-09-06 01:21] ajmeese7 commented on #1220
Bump! I would love to see this feature

[2021-09-09 09:33] NiklasMerz commented on #1220
I started working on importing Notes from Google Takeout #1312

[2021-09-22 06:46] swloopit opened #1569 "virus inside https://perkeep.org/dl/perkeep-0.11-linux.tar.gz"
uploading the file to virustotal  https://perkeep.org/dl/perkeep-0.11-linux.tar.gz
i see this result
https://www.virustotal.com/gui/file/b3fc257a3831e7782dd76731f286d3e914c2aac37a198eee7c7f076909eb6fb9
you can verify?

[2021-09-22 11:37] Mohammed90 commented on #1569
Pretty sure that's false-positive. There's an issue with AV heuristics and Go binaries.

[2021-09-23 12:42] swloopit commented on #1569
I

[2021-09-23 12:42] #1569 closed

[2021-11-02 11:53] ajmeese7 opened #1570 "Importer base URL wrong for remote host"
I am running Perkeep on my Raspberry Pi, which is configured for remote access via its IP address. The Pi can either be accessed at `http://192.168.1.168` or `http://raspberrypi" from my Windows machine, because the IP links to the Pi's `localhost`.

When trying to access items from the 'Importers' page, the URLs look like `http://localhost:3179/importer/instapaper` instead of `http://raspberrypi:

[2021-11-03 05:23] tgulacsi commented on #1570
Set "baseURL": "http://raspberrypi:3179" in
.config/perkeep/server-config.json

Tamás Gulácsi

On Tue Nov 2, 2021 at 12:53 PM CET, Aaron Meese wrote:

[2021-11-04 11:09] milahu commented on #1233
yes please!

on nixos, [i want to](https://discourse.nixos.org/t/nix-sha256-is-bug-not-feature-solution-a-global-cas-filesystem/15791) store source files
(usually git shallow clones, fetched via the github tar.gz api)
in their original format (preserve file permissions)

currently, `/nix/store` will modify the file permissions,
so i can no longer verify the files only by their sha1 commit hash.
cu

[2021-11-04 11:36] milahu commented on #537
SHA-224 is a truncated version of SHA-256

why not use the full SHA-256?
why increase the risk of collisions, just to save a few bytes?

[2021-11-05 00:35] ajmeese7 commented on #1570
Worked like a charm, thanks for your help! Closing out now :)

[2021-11-05 00:35] #1570 closed

[2021-11-07 18:33] surma opened #1572 "Hashed userpass authentication?"
I’d like to _not_ store my `userpass`/`basicauth` password in plaintext, so I am wondering if there’s any interest in a `hasheduserpass` authenticator?

I’d envision it would look something like this:

[code]

The password would still be transferred from the browser in plaintext and would be hashed on the server-side. In combination with HTTPS, this should be fine and avoid storing the password in

[2021-11-07 18:51] zenhack commented on #1572
We should probably use an algorithm designed for password hashing (probably Argon2?) instead of sha224.

...But that gets a bit weird, since currently the basic auth gets used for *every* request, whereas normally with a password scheme you'd use it once to get a session token and thereafter use that. Early on in my career I made the mistake of using a good password hash directly in an API and wok

[2021-11-09 01:20] adrm commented on #1237
It seems that this issue can be closed right now based on comments here :)

[2021-11-09 01:28] elimisteve commented on #1237
@adrm Fine by me :+1: Closing.

[2021-11-09 01:28] #1237 closed

[2021-11-18 13:09] nagy opened #1573 "Panic when git cloning from pk-mount"
Hello and thanks for this interesting project.

With a master build of just now and an empty and fresh `perkeepd` instance, I did the following.

I inserted a git repository like so:

[code]

Then I mounted the store with:

[code]

In another terminal I ran:

[code]

And got this output, while the clone got stuck:

[code]

Is there any way I can provide more debug information or otherwise help wit

[2021-11-24 21:17] diresi opened #1576 "how to configure replication, user credentials"
Hi!

So I started with building the daemon and running it, did some `pk put init` and `pk put file <dir>` and can even get it back, which is awesome :)
Then I wanted to replicate things to another machine, started the daemon there and hit the docs at https://perkeep.org/doc/server-config#replication ... but then failed to grasp them.

I think it's really about two main questions:
1. My configs don

[2021-11-29 05:04] fujohnwang opened #1577 "blob upload with http api can't attach metadata"
https://perkeep.org/doc/protocol/blob-upload

with current blob upload protocol, I can't achieve same goal like what `pk-put --filenodes` does.

Only uploading successfully doesn't make the blob/file display in the web UI.

[2021-12-12 14:43] angelcabo commented on #1275
I also thought this might be a nice addition, but I originally thought the functionality might make sense to merge with the existing publisher app (i.e. allow serving a template from a camliRoot rather than requiring the template to be served from disk as it currently works).

But instead of making that change, I took a stab at a simple static site handler as described here. The PR is at https://g

[2021-12-14 17:42] brainwave commented on #1572
@zenhack  How about implementing an API first in Perkeep then? Would there be any interest for this feature?

[2022-01-01 11:44] MichaHoffmann opened #1582 "android-app: link to playstore is dead"
The link to the google play store seems to be dead, is the android app still alive?

[2022-01-01 22:48] bradfitz commented on #1582
Google regularly changes the Play Store rules and requires certain changes which if you don't do, they remove your app.

I guess they altered the deal.

[2022-01-01 23:51] MichaHoffmann commented on #1582
Hey @bradfitz,

Thanks for your answer! Is there a plan to get it back into the playstore? Or should it be installed through other means?

[2022-01-04 16:50] MichaHoffmann opened #1583 "search: get all tag values"
I was searching the code base and was wondering if there is a possibility to get all values of the `tag` attributes for all permanodes? This would help me make content more discoverable after i have forgotten a few tag values. Also it would help me to keep my set of tags to a lower cardinality by letting me see which tags are already there.

[2022-01-09 11:03] MichaHoffmann commented on #1134
Hey @apparentlymart,

I had a dabble writing a small tool that converts a HCL spec ( not as as nice yours ) into low level JSON config: https://github.com/MichaHoffmann/pk-hcl and I just saw that you already did work in that direction! Do you mind if i use your schema for it to build a POC that translates the HCL schema to the low level configuration? I think that could help with getting a feeling

[2022-01-10 17:44] apparentlymart commented on #1134
No objection at all! I've not been looking at this for a long while now so I'm afraid I've lost all the context I might've once had about what I wrote there :grimacing: but you can feel free to use it in any way that you find useful.

The main thing which jumps out at me looking at that old commit I shared above is that I was working against the prototype HCL repository, whereas HCL major version

[2022-01-10 18:11] MichaHoffmann commented on #1134
@apparentlymart,

awesome thank you so much.

[2022-01-25 00:00] ABCRic opened #1587 "Can't upload file via web ui with server on Windows"
### Repro steps
* clone repo and `go run make.go`
* run perkeep
* try to upload a file via the web ui
* stuck at "Uploaded 0 (0%)"

### Additional info
* App is running on Windows 10. Trying the same steps on a Debian box behaved as expected.
* The Firefox dev console shows this error:

* The Chrome dev console shows this error:

Probably related: https://github.com/golang/go/issues/32350

[2022-02-20 08:23] MichaHoffmann commented on #1587
Should we add an `suffix is .js` => `application/javascript` branch here as a workaround?

https://github.com/perkeep/perkeep/blob/46e4e4f9e791a8304ff96ac71d041b30d4a031aa/pkg/server/ui.go#L521

[2022-02-20 18:49] MichaHoffmann commented on #1573
This nil context gets populated down here:

https://github.com/perkeep/perkeep/blob/46e4e4f9e791a8304ff96ac71d041b30d4a031aa/pkg/fs/fs.go#L153

Looks to me as if passing the context into that function was just forgotten!

[2022-02-21 11:03] MichaHoffmann commented on #1218
Hey @kseistrup @cfiske

I think i debugged the issue truncation issue and opened #1590 to fix it.

[2022-02-21 11:05] kseistrup commented on #1218
@MichaHoffmann Amazing to see activity on this issue after such a long time! :fireworks:

[2022-02-21 22:44] #1573 closed

[2022-02-22 17:41] kalidor opened #1591 "Error while trying to access published set."
Hi, first of all, thanks for this awesome tools.

I'm trying to publish a set of items. The "publish" configuration seems correct, also the set I want to share, use `camliRoot` and `camliPath:FOO : sha224-...`.

However when i'm requesting the published web page, I got the title displayed, but nothing else.

In the perkeep log, I got "2022/02/22 18:29:30 Failed to open file "js.js.map" from embedd

[2022-02-22 22:51] MichaHoffmann commented on #1591
I tried to reproduce but it seem to work for me locally ( with devcam and a freshly installed publisher ). Can you maybe try to see if its reproducible with the dev environment too?

[2022-02-23 10:50] kalidor commented on #1591
Hm, it seems i didn't fully understand what I was trying to do... Now it's more clear.

I use the following command to add my directory containing pics:
```pk-put file -permanode --title "Barcelona 2014" --tag=barcelone,holiday 2014-barcelona/```
The results is a directory with a permanode, but pics in this directory do not have permanode.

So my question is "Is it possible to create share a perma

[2022-02-23 10:54] MichaHoffmann commented on #1591
Hey @kalidor

Ill try in the evening!

[2022-02-23 14:59] kalidor commented on #1591
Seems "-filenodes" is required.
I can share it and retrieve the directory using `pk-get -shared <URL><SHA-of-shared-permanode> -o <DIR>`.

However, when trying to get it using the publisher, I got a 404 not found.
If I restart perkeepd, i can access it.
If I add a new directory (2) containing pics (-filenodes) and make a permanode to share it.
If I restart perkeepd, i can access the new one(2), bu

[2022-02-23 16:23] MichaHoffmann commented on #1591
No worries, your issue helped me getting to know the publisher too as i hadnt used it yet! Seems pretty cool though.

[2022-02-25 11:58] #1591 closed

[2022-02-27 22:41] #1218 closed

[2022-02-28 07:57] #1583 closed

[2022-02-28 11:41] kalidor commented on #1315
The generated link can be use by a friend of yours by using pk-get command line:
[code]
Create the directory first, just in case.

[2022-02-28 11:55] GTP95 commented on #1315
Thank you for the answer, however I'm currently using NextCloud for my file sharing needs. Maybe I'll reconsider this project in the future

[2022-02-28 11:55] #1315 closed

[2022-02-28 17:12] #1582 closed

[2022-03-04 14:39] kalidor opened #1595 "Question about s3 code to allow access b2 (backblaze)"
Hi,
I fail to use b2 as replication using the simple line `"b2": "accountid:applicationid:bucket"` as explained https://perkeep.org/doc/server-config. I got the same issue as https://github.com/perkeep/perkeep/issues/1385, since b2 changed their access.

So i tried to use AWS go SDK since it is supported by backblaze (https://help.backblaze.com/hc/en-us/articles/360047629713-Using-the-AWS-Go-SDK-w

[2022-03-04 16:17] #1192 closed

[2022-03-06 16:03] Sitwon opened #1596 "The Perkeep Android app is missing from the Google Play Store"
The download link on the website is broken. The app is missing from the store. The alternate version linked on the website appears to be an older version (even uses the older Camlistore name and branding).

[2022-03-06 16:11] aviau commented on #1596
see https://github.com/perkeep/perkeep/issues/1582

[2022-03-06 16:18] Sitwon commented on #1596
Thanks, I has assumed that was the root cause. However, the solution is still unanswered. Is Perkeep dead?

[2022-03-06 16:23] aviau commented on #1596
Dead is harsh :) But its fair to say that nobody right now is maintaining the Google Play listing.

[2022-03-06 16:41] Sitwon commented on #1596
Not maintaining the Google Play listing, nor any alternative listing. Which means the project is unavailable on Android, except to anyone who may choose to build it themselves locally. Not to mention, none of the clients aside from web have been touched in about 4 years.

For that matter, looking at the commit history that last few years are just a smattering of small bug fixes and dependency bump

[2022-03-12 14:32] MichaHoffmann commented on #1596
Do you have an idea what is to be done to get the android app live again? I'm not really an android developer, but would be willing to invest some time in that, since i also would like to use the app. Could use some pointers though.

[2022-03-12 16:14] MichaHoffmann commented on #1596
It seems that minimum targetSdkVersion is 30, ill try bumping that and see how that goes.

[2022-03-12 21:52] MichaHoffmann commented on #1596
After some hacking, the app now runs on phone with android 11 and sdk version 30. Not sure how to proceed though.

[2022-03-12 22:19] Sitwon commented on #1596
I don't know what the project governance looks like, but the only obstacle
to posting the APK to the Google Play Store or F-Droid would be having
permission to publish from the owner(s) of the trademark.

It may be smart to have someone with commit authority host the APK on
GitHub as a release binary along with a cryptographic signature, if trust
is a concern.

On Sat, Mar 12, 2022, 16:53 Michael

[2022-03-13 09:06] MichaHoffmann commented on #1596
After some further hacking it now also runs on android 12 with sdk version 32. ( my wifes phone ). Ill create a PR in a bit.

[2022-03-13 20:19] aviau commented on #1596
I can test/review/merge PRs.

If F-Droid can pull builds from github release that would be great. Then we can just setup a github workflow to build and release the APK.

[2022-03-13 22:45] MichaHoffmann commented on #1596
I created a PR with my changes. I made the mistake of including a bunch of Android Studio refactoring suggestions which makes this harder than necessary to review i suppose.

[2022-03-15 18:47] MichaHoffmann commented on #1337
When bumping the android app just now i realized that there are two inotify events when taking a picture. First the picture is created with a ".pending" prefix and then its moved into position. We enqueue both events and its a race if both files are uploaded. Probably thats the case of duplicates. Should be fixed in #1598

[2022-03-17 12:59] kalidor commented on #1595
PR #1599

[2022-03-30 06:56] MichaHoffmann commented on #1596
its back: https://play.google.com/store/apps/details?id=org.camlistore

i just installed and verified that it works on my pixel 5

[2022-03-30 19:38] tgulacsi commented on #1596
It quits on "Upload All".
How can I debug it?

The "Version" produces the following error:
![photo1648668882](https://user-images.githubusercontent.com/256074/160916938-8aae92dc-70d2-4972-aa0c-b7edc82b4165.jpeg)

[2022-03-30 20:07] MichaHoffmann commented on #1596
Hey, it seems that the `pk-put` binary is not where it's expected on your machine. Which version of Android are you using?

[2022-03-30 21:00] aviau commented on #1596
Not the same issue as OP, can you please open one instead of having a single issue for all android things?

[2022-03-30 21:00] #1596 closed

[2022-03-30 21:17] MichaHoffmann commented on #1596
Was able to reproduce this in android studio in the VM with Google Pixel 5 with API level 32 even though the application exists on the phone. I found this in the changelog:
[code]
This maybe blocks us from executing the embedded `pk-put` binary

[2022-04-01 11:14] MichaHoffmann commented on #1596
Hey @tgulacsi,

can you try to reinstall the app? I was able to reproduce your issue with a fresh install from google play ( i had a debug build previously ), tried to fix it ( it was releated to the 64bit abi i think), published a new release and now it works with a fresh install from google play on my phone again.

[2022-04-01 12:20] tgulacsi commented on #1596
Yup, the last update works, thank you!

[2022-04-01 12:37] MichaHoffmann commented on #1596
Thats pretty cool!

[2022-04-03 03:18] Huangsh17 opened #1601 "openpgp: invalid data: tag byte does not have MSB set"
2022/04/03 11:15:42 bad request: jsonsign: openpgp.ReadKeyRing of "/Users/hsh/.config/perkeep/identity-secring.gpg": openpgp: invalid data: tag byte does not have MSB set

[2022-04-03 08:53] haorenfsa commented on #1576
Hi, I used to run into the same problem. The doc doesn't state clearly, in fact you can found a full configuration in the web page when perkeepd is running, the url is : http://localhost:3179/debug/config

[2022-04-03 13:19] haorenfsa opened #1602 "Is it possible to import from icloud?"

[2022-04-03 14:53] diresi commented on #1576
Hi @haorenfsa, thanks a lot for your comment!
I'm afraid I lost interest already, so I probably won't be giving feedback :/ Sorry!

FWIW I'm gonna close the issue to not bugger the maintainers more than necessary.

[2022-04-03 14:53] #1576 closed

[2022-04-09 21:08] MichaHoffmann commented on #1601
Could be related to https://github.com/golang/go/issues/29082. `https://pkg.go.dev/golang.org/x/crypto/openpgp` is deprecated. The issue links to a workaround i have not verified: https://gist.github.com/stuart-warren/93750a142d3de4e8fdd2?permalink_comment_id=3131683#gistcomment-3131683.

[2022-04-11 05:36] DillFrescott commented on #1602
Sorry I'm not much help.

Directly? I'm not sure. But you could always download from icloud on your PC and upload to perkeep. This is how I would probably do it.

[2022-04-29 06:18] malisetti opened #1605 "Add storage example for Google Cloud Storage"
Please add an example for GCS at https://perkeep.org/doc/storage-examples
It is very confusing to get the required configuration information from gcs.

[2022-04-29 07:38] malisetti opened #1606 "Not able to start perkeepd with blackblaze(b2) enabled in config"
Below is my config
[code]

The error i get when starting perkeepd

[code]

[2022-04-30 13:03] NiklasMerz commented on #1222
Looks like the app was recently updated. https://play.google.com/store/apps/details?id=org.camlistore

[2022-05-01 18:50] MichaHoffmann commented on #1606
Hey,

It works for me by using low-level config s3 with a build based on #1599 and the roughly following config:

[code]

I just created the low-level-config by dumping it first with `pk dumpconfig` and then adding the b2 + sync parts.

[2022-05-02 21:25] MichaHoffmann commented on #1577
For the blob to show in the web UI it needs to be a [permanode](https://perkeep.org/doc/schema/permanode) that has a `camliContent` attribute whose value is the blob you uploaded. So you would need to upload 3 blobs: 1 blob, 1 permanode and one claim that sets this attribute on the permanode.

[2022-05-03 05:58] fujohnwang commented on #1577
got it, many thanks 👍

[2022-05-03 05:58] #1577 closed

[2022-05-07 10:17] rjp opened #1609 "Problems upgrading from 2021-02-07-a49f685155+ to 2022-04-28-d605f86c82"
Ran `git pull` to update to latest master but then it would no longer build due to problems with `perkeep.org/pkg/fileembed` being missing.

In the absence of instructions on how to update to a newer version, I tried `go run make -website` as a way to refresh the autogenerated CSS/JS files but that didn't seem to touch, e.g., `clients/web/embed/fontawesome/zembed_css_font-awesome.css.go`.  Same wi

[2022-05-07 11:12] rjp commented on #1279
Looks like the expanded information is in the `entities` block of the API response these days, e.g.

`
json.entities.Urls[0].Url = "https://t.co/yVlNlAnRtr";
json.user.entities.Url.Urls[0].Display_url = "lawyersgunsmoneyblog.com/author/Scott-L…";
json.user.entities.Url.Urls[0].Expanded_url = "http://www.lawyersgunsmoneyblog.com/author/Scott-Lemieux/";
`

I can probably have a look at adding these

[2022-05-16 13:37] kalidor commented on #1606
If you're using the build based on #1599, you missed the endpoint as last argument : `"b2": "appKey:SecretKey:bucket:endpoint"`, can you try this ?

[2022-06-13 03:55] featherbutt commented on #1601
A couple observations:

- Despite the autogenerated key being stored in a file called "identity-secring.gpg", the key file is actually an Armored ASCII formatted (.asc) key.
- According golang/go#29082, the function ReadArmoredKeyRing is needed to read keys in the .asc file format.
- It looks like https://github.com/perkeep/perkeep/commit/9bc621fd16e62f45548eb6abceed6ed66e71b5c5 was intended to al

[2022-06-14 12:42] #1601 closed

[2022-06-15 08:13] kalidor commented on #1605
Did you look at https://perkeep.org/doc/server-config ? There is a line about GCS which seems pretty explicit:

`googlecloudstorage: "clientId:clientSecret:refreshToken:bucketName[/optional/dir]"`

[2022-06-15 09:07] malisetti commented on #1605
https://perkeep.org/doc/storage-examples describes how to get configuration information required from AWS and backblaze. I am only asking the same for GCS

[2022-06-17 14:36] #1342 closed, assigned to willnorris

[2022-07-05 19:37] #1328 closed

[2022-09-07 21:51] surma opened #1625 "`pk put` is extremely slow"
I just tried to `put` a folder with ~4000 files, totalling ~640MB. It took 45 minutes(!). I’m looking for help to figure out where I am going wrong.

I tested my network connection, over which `scp` levels out at about 11MB/s.
Disk write speed at `/perkeep-data` is ~80MB/s (it’s a software RAID).
So even with super-conservative back-of-napkin math, I’d expect this to take maybe 10 minutes. Not 45.

[2022-09-08 06:14] tgulacsi commented on #1625
I'd try packRelated:false, packBlobs:true
That will use diskpacked backend, with fewer bigger files, faster write, little bit slower read rate.

If that's not enough, you could try "eatmydata" (https://www.flamingspork.com/projects/libeatmydata/) to temporarily disable fsync,
to test whether it's the culprit or not.

[2022-09-08 16:17] zenhack commented on #1625
Re: the latter, I think an LD_PRELOAD binary won't work on Go, since things are statically linked?

But yes, I hit a similar problem when doing an initial import of existing data; diskpacked helped, not fsyncing helped more (I think I wrote a one-off program to run perkeep with a seccomp filter which silently no-oped fsync), and it still took way too long (but I was importing like a TB of data).

[2022-09-08 18:27] tgulacsi commented on #1625
I've had a PR for fsyncing only each second in diskpacked, but haven't been merged.
For temporary solution, you can try 35765d3b400fb1a3ed5fa84eabe99b3af053dbae - I haven't tested it thoroughly yet.