[2016-03-03 16:30] mpl commented on #489
foursquare: https://camlistore-review.googlesource.com/6050

[2016-03-04 15:18] mpl commented on #489
picasa: https://camlistore-review.googlesource.com/6051

[2016-03-04 15:24] mpl commented on #489
@tgulacsi I notice that none of the functions in third_party/github.com/tgulacsi/picago/auth.go seem to be used by picago. Also, much of the functionalities are implemented in go4.org/oauthutil if we need them. So my question is can I remove auth.go, so I can then remove third_party/code.google.com/p/goauth2/oauth out of Camlistore, or do you still need these functions in picago?

[2016-03-04 15:33] tgulacsi commented on #489
Sure, remove as much as you can - I'm not using the command-line picago. If needed, I'll refactoring it.

[2016-03-04 15:55] mpl commented on #489
Cool, done.
https://camlistore-review.googlesource.com/6052

[2016-03-07 02:30] stevearm opened #687 "UI fails to display symlinks"
1. `camput file mydir` for a directory that contains a symlink
2. Attach that hash to a permanode, so it shows up in the UI
3. Browse to that permanode in the UI to list the files
4. Get a javascript alert ["not a file or dir"](https://github.com/camlistore/camlistore/blob/master/server/camlistored/ui/filetree.js#L143)
5. That entry in the UI just shows the permanode `P`, with no title

The switch

[2016-03-07 02:49] stevearm commented on #687
Submitted possible fix: https://camlistore-review.googlesource.com/#/c/6067/

[2016-03-07 03:32] epitron opened #688 "'VERSION' file missing in 0.9 release tarball"
The 0.9 release tarball isn't buildable at the moment.

The culprit is `getVersion()`:  https://github.com/camlistore/camlistore/blob/master/make.go#L475

If it can't find a `VERSION` file, it tries to run `git rev-list`, which returns an error and aborts the build process.

[2016-03-07 08:01] willnorris opened #689 "declare custom import paths"
Camlistore uses "camlistore.org/..." to import its packages, but none of the packages actually declare a [custom import path](https://golang.org/s/go14customimport).

This normally wouldn't matter except that when browsing packages in godoc.org, all packages are repeated three times, prefixed with `camlistore.org`, `github.com/camlistore/camlistore`, and `camlistore.googlesource.com/​camlistore.gi

[2016-03-07 19:04] mpl commented on #688
@bradfitz ping. he's right, we need a VERSION file at https://github.com/camlistore/camlistore/tree/0.9

Not sure I have the rights to commit one there directly. You want me to try it out?

[2016-03-08 15:18] mpl commented on #689
I don't see any reason. We've probably just been lazy about it.
Do you want to take care of it?

[2016-03-08 22:13] mpl opened #690 "document release process and automate if needed"
We already have the website content update being automated.

And we already have tools to generate the binary tarballs (dock.go), documented in doc/release.txt

Now we need some documentation (and possibly some tool, if it's not already automated), on the rest of the release process. In particular, on how to generate the source tarball, and upload it to to github (or maybe we should upload it to c

[2016-03-09 15:03] mpl commented on #687
93dba45f8d2656b0a77b956ebed258a50d9421a1

[2016-03-09 15:03] #687 closed

[2016-03-09 16:11] mpl commented on #489
07a633ecdb61235434ec93f0d08c4546c4025df3

[2016-03-09 16:11] #489 closed

[2016-03-09 16:12] mpl commented on #489
@tgulacsi Do you have a suggestion (document it how/where?) about the re-login problem you experienced?

[2016-03-09 16:53] tgulacsi commented on #489
Just some vague concept: document it at the importers section (webpage).

mpl <notifications@github.com> ezt írta (időpont: 2016. márc. 9., Sze
17:12):

[2016-03-09 17:00] mpl commented on #489
oh, I've just realized that in any case, we can at least document it in the 0.10 release notes.

[2016-03-10 00:25] willnorris commented on #689
yep, I'll put together a CL

[2016-03-10 01:36] mpl commented on #690
https://camlistore-review.googlesource.com/6087

[2016-03-11 15:24] mpl opened #691 "make.go: make GOARM=7 the default, and use different build gopath dir for each ARM version"
Comment from CL https://camlistore-review.googlesource.com/6066:
"I missed this, but I do think the default GOARM should be 7 (or 6, like the ARM binaries we release at https://golang.org/dl/)
GOARM=6 is almost identical to GOARM=7 performance wise but drops like 1 instruction. But GOARM=5 to GOARM=6 is a huge jump in performance.
The Go bug where things aren't rebuilt was fixed Jun 2015 in https:

[2016-03-11 16:10] mpl commented on #665
21604dbe568b1d997453575ba9717168ee1316d2

[2016-03-11 16:10] #665 closed

[2016-03-11 17:33] mpl opened #692 "make.go: allow cross-compilation on ARM to another ARM version"
At the moment make.go does not enable to cross-compile to e.g. ARMv7 if we're running on ARMv5.

[2016-03-11 17:37] mpl commented on #691
https://camlistore-review.googlesource.com/6098

[2016-03-11 18:59] mpl commented on #691
https://camlistore-review.googlesource.com/6099

[2016-03-11 18:59] mpl commented on #692
https://camlistore-review.googlesource.com/6099

[2016-03-11 20:52] mpl commented on #676
4dd31658a5f142e8ac3da20c82e35449be8fd78c

[2016-03-11 20:52] #676 closed

[2016-03-14 16:04] mpl commented on #689
Thanks. I'm now wondering if we couldn't add a check to the git commit hook, which would at least detect that, and maybe output the command to run to automatically add that stanza.
Thoughts?

[2016-03-14 16:22] mpl commented on #689
https://camlistore-review.googlesource.com/6106
https://review.gerrithub.io/266138

[2016-03-14 19:00] mpl opened #693 "serverinit: make it easier for blobpacked with DBMS"
If a user sets up a DBMS index (e.g. MySQL), and wants blobPacked, he's also supposed to define the "blobpacked_index" database name in DBNames.

The user most likely does not care about that name.

Also, if not defining the name signified "I do not want to use the index DBMS for storing the blobpacked index, but rather use a file-based index", then choosing to not define it might be useful, but i

[2016-03-14 21:12] mpl commented on #693
https://camlistore-review.googlesource.com/6101

[2016-03-15 02:43] willnorris commented on #689
most striaght forward approach might be to parse the output of:

    go list -json $(go list camlistore.org/... | grep -v vendor | grep -v third_party)

looking for packages that don't have an `ImportComment` field.  Might be a simpler way, but that's similar to what I did to add the import comments (see https://github.com/willnorris/tools/tree/master/canon)

[2016-03-16 22:31] mpl opened #694 "web UI: directory view can't navigate to new tab"
The directory view (in filetree.js) uses the form "./?b=sha1-blabla" to set the href to navigate to the view for an item of the directory.

However, this form only works from within the cam.CacheBusterIframe navigation context, so opening such a link in a new tab won't work, because the rest of the UI does not use the cam.CacheBusterIframe navigation.

Conversely, (all?) the rest of the UI support

[2016-03-16 22:33] mpl commented on #694
https://camlistore-review.googlesource.com/6116

[2016-03-16 23:37] mpl commented on #691
fafc3d11de1b44e3c87b597cc011c1bdfec70ee5

[2016-03-16 23:37] #691 closed

[2016-03-16 23:37] mpl commented on #692
fafc3d11de1b44e3c87b597cc011c1bdfec70ee5

[2016-03-16 23:37] #692 closed

[2016-03-17 05:31] DanielHeath opened #695 "Improve onboarding for new users by generating client-config"
The first time I ran `camlistored` it created a server-config, but when I tried to use the CLI tools they didn't work because there was no client config.

As discussed on the google group, I think we should generate a client-config (if it doesn't already exist) when generating a server-config.

[2016-03-17 11:55] DanielHeath opened #696 "Twitter importer: link tweets to their twitter account"
I've imported multiple twitter accounts and it's very hard to search for tweets from one or the other. The twitter user handle is embedded in the URL but the docs don't say anything about substring matches when searching via the UI.

Patch welcome? It's a pretty tiny change.

[2016-03-17 14:14] mpl opened #697 "website: mention/document the importers somewhere"
the importers are only mentioned in the release notes afaics (mainly website/content/docs/release/0.8). We should probably at least talk about them in http://camlistore.org/docs/server-config and maybe point them out as a feature in one of the more prominent pages.

[2016-03-17 14:48] mpl commented on #506
https://camlistore-review.googlesource.com/6126

[2016-03-17 15:13] mpl commented on #696
I'm not sure I'm following.

I think you should end up with one permanode per twitter account (and one "container/set" permanode per account for all this account tweets), so for each account you should have a permanode titled something like "nick's Tweets" (where nick is the twitter username). If you then click on that permanode, it should only contain/show you the tweets for this account. Isn't t

[2016-03-18 21:39] bradfitz commented on #696
He wants to search for a tweet permanode, filtering the search results by a substring of the permanode's URL attribute.

@DanielHeath, I think it might already be supported, though... I seem to recall you can add a tilde somewhere to get a substring?

[2016-03-19 00:14] mpl commented on #506
merged as 48695d85a033c5adff211e3a86d9e03322b9ef4e

Let's reopen a new issue when we actually want to discuss what this "favorites" nav should do.

[2016-03-19 00:14] #506 closed

[2016-03-21 04:20] DanielHeath commented on #696
Would you prefer I revise the docs for search to mention you can do that?

[2016-03-22 00:32] ajft opened #698 "picasa importer failling since Oauth2 change"
Since March 10 when there was a change to the picasa importer from Oauth1 to Oauth2, the importer has been failing.

Symptoms are that it will never finish running (72 hours or more when first noticed).

I've stopped camlistore and restarted and told the importer to "re-login" and received an error that there was something wrong with my credentials added the correct callback URL for my dydns.org r

[2016-03-22 15:13] mpl commented on #697
https://camlistore-review.googlesource.com/6148

[2016-03-22 22:08] mpl commented on #698
I've just run a full import from scratch (on an empty camlistore, with devcam server), and it was successful. But I don't have a very large set - it took ~40 mins - which might be why I'm less likely to be able to reproduce what you're seeing.

I'll try and figure out some way for you to find us more debugging info.

Btw, we didn't Go from OAuth1 to OAuth2, but from a deprecated OAuth2 library to

[2016-03-22 23:51] mpl commented on #698
@ajft you said approx 90 mins, but could you make sure it's not rather starting to fail after ~1 hour? I'm asking because it looks like we're getting tokens that expire after 60 mins, so if token refreshing is what's failing, it would make sense we'd see that after ~1 hour.

Even though my data does not need 1 hour to be all imported, I think I can nevertheless test that theory myself anyway.

[2016-03-23 09:50] DanielHeath opened #699 "Twitter importer: rewrite t.co links"
Twitter replaces links in tweets with their link shortener.

For long-term archival this isn't really ideal - it's another point of failure.

[2016-03-23 10:18] bradfitz commented on #699
Totally. And/or we make a new permanode for them t.co URLs, mapping them to their destination (which might but probably won't change over time?)

Or easier: add attributes on the Tweet permanode saying what they were at that time.

[2016-03-23 10:58] ajft commented on #698
@mpl indeed one hour seems to be the key.  I just ran up a copy of devcam, put in my google creds. and watched it for an hour as it sucked down photos, then went silent.  After 21:44 same symptoms as before, the importer is still running but nothing appears on the console and I can't pause it.

2016/03/23 20:43:03 Token = &oauth2.Token{AccessToken:"y..Q", TokenType:"Bearer", RefreshToken:"1/s..6",

[2016-03-23 16:08] mpl commented on #698
@ajft thanks. I think I've just been able to reproduce this as well. that's good, I know what to debug now.

[2016-03-23 18:26] mpl commented on #698
ok, I found the bug. CL should follow later today.

[2016-03-23 23:40] mpl commented on #698
@ajft Can you tell me if https://camlistore-review.googlesource.com/6156 fixes things for you please?

[2016-03-24 01:26] edrex opened #700 "GCE: pubkey blob missing"
After creating a `f1-micro` instance via https://camlistore.org/launch/, there are lots of errors in the log about missing pubkey blob dependency when the indexer is trying to index claims. To get it working, we had to manually upload the pubkey blob:

- create ~/.config/camlistore/.client-config.json with content of https://THE_SERVER/help
- download the keyring (linked from post-launch report pa

[2016-03-24 01:32] edrex commented on #700
Possibly relevant: the first attempt to submit the form failed because GCE needed to be enabled for the account. Not sure if bits were flipped on the account which may have affected the subsequent run (#568)

[2016-03-24 01:52] edrex commented on #700
Maybe camlistored should automatically put the pubkey blob in place from its keychain, if the key is missing at startup.

[2016-03-24 04:08] DanielHeath commented on #699
In general there are already a bunch of extra fetches happening in the twitter importer (e.g. attached images).

Should we lean towards inlining those fetches (and fail the importer when they fail), or separate them (run a secondary import process that adds attributes / mutations / something with the resolved links)?

Tweets can contain quite a few shortened links.

[2016-03-24 04:33] edrex opened #701 "create signed certs with let's encrypt (ACME) by default"
Mentioned elsewhere (#239, [deploy/gce/deploy.go](https://github.com/camlistore/camlistore/blob/b3ba9aa7cd4372977a875de941b6787e7029e7d1/pkg/deploy/gce/deploy.go#L650)), but the Let's Encrypt CA wasn't public yet.

I think the main obstacle is that an ACME client needs to be able to serve things on ports 80 and 443 for verification. Some non-root are options listed [here](https://github.com/xenolf

[2016-03-24 04:57] edrex commented on #701
A super simple alternative would be to make sure that camlistored notices and rotates when the cert file changes on disk. Then, an external process could keep the cert updated (for example, Caddy), and camlistored could just use it.

[2016-03-24 06:08] bradfitz commented on #701
There's a pending CL to add `acmewrapper` support: https://camlistore-review.googlesource.com/#/c/6137/1

I left some comments there.

[2016-03-24 06:20] bradfitz commented on #699
Given that we have no means to do regular background work that's not an importer, I'd say it should be part of the importer for now.

[2016-03-24 06:22] bradfitz commented on #699
Whenever we add a new sort of expandy-slurpy feature to the code, we can bump a version number in the code, and store per-account permanode the re-slurp status for that account, storing that "all tweets up to X are version N". Storing a list of which ones failed might be overkill, but maybe we do it only if it's fewer than some threshold number of max failures.

[2016-03-24 06:28] DanielHeath commented on #699
In a data centre network semi-outages are uncommon enough. If hosting at home is a targeted use case I think we will need good retry semantics.

My rss reader logs several home network related failures per day, and the connection is pretty normal for Melbourne.

On 24 March 2016 5:22:48 PM LHDT, Brad Fitzpatrick <notifications@github.com> wrote:

Thanks,
Daniel Heath

[2016-03-24 07:36] bradfitz commented on #699
I run my main instance at home. (Also have cloud mirrors)
On Mar 24, 2016 5:28 PM, "Daniel Heath" <notifications@github.com> wrote:

[2016-03-24 11:57] ajft commented on #698
@mpl -- with that change it seems to have fixed it.  Has been importing
photos for 75 minutes now without stalling at the hour.  Also correctly
responded to the "pause import" button after 75 minutes, then restarted
correctly a few minutes later when I told it to run again.  Not sure how
long I"ll have to watch to see if finish my 3750 photos, I'll leave it
importing overnight and check in the mor

[2016-03-24 14:13] mpl commented on #697
a48a240cfaf88ec9edd0587e04a7ffe659a351cd

[2016-03-24 14:13] #697 closed

[2016-03-24 14:19] mpl commented on #698
@ajft Excellent, thanks. Please note that this probably won't be the actual fix though.

[2016-03-24 17:48] edrex commented on #701
Awesome, I should have searched the CLs. Maybe I'll keep this open anyway.

[2016-03-25 04:47] bradfitz opened #702 "Location history archiving"
Look into modeling location history in Camlistore.

Look into http://owntracks.org/

/cc @mpl

[2016-03-25 17:33] edrex commented on #702
oo interest. also makes me think of @donpdonp's https://icecondor.com/

[2016-03-27 08:18] edrex opened #703 "cammount fails on OSX with osxfuse 3.x"
Resolved upstream: https://github.com/bazil/fuse/issues/103

[2016-03-27 08:22] edrex commented on #703
I have a branch where I'm updating to the latest fuse, but there is a lot of API breakage. It compiles but still working on tests.

[2016-03-28 16:07] mpl commented on #700
I've just launched one from scratch and could not repro :(

Steps I followed:

1) created the instance through the launcher
2) went to /help
3) copied the client config from /help
4) downloaded the secring, moved it as identity-secring.gpg (as an aside, maybe it should already be named identity-secring.gpg in cloud storage too)
5) camput file -filenodes some images
6) everything looks good in /ui

[2016-03-28 16:14] mpl opened #704 "Google Cloud logging is broken"
Not the first time I'm seeing this, I had forgotten to note it before.

I have a new instance created through the launcher, and nothing about it shows up in the google cloud logs viewer. I only see old entries from the last time I created an instance under this project name.

And it's not just a buffering effect, as I've already uploaded quite a few files with camput, so there's bound to be lots o

[2016-03-28 17:12] mpl commented on #700
Both command-line clients (using func (c *Client) UploadAndSignBlob from pkg/client/client.go), and clients using the sign handler (using func (h *Handler) handleSign from pkg/jsonsign/signhandler/sig.go), rely on an uploadPublicKey method to make sure the server has the key.

This would make me think all bases are covered, but you obviously found a way to not go through any of these code paths (o

[2016-03-28 18:49] edrex commented on #700
I didn't know that creating a permanode through a go client causes the public key to be uploaded, if missing. Maybe that's the key difference: Tom didn't try to upload things with the command line tools, but rather went straight to configuring importers. Another possible first action would be to upload a file by dropping it on the web UI. I think new users are likely to stick with actions they can

[2016-03-28 19:04] edrex commented on #700
#344 indicates that the publish app was actually the server-side piece uploading the pubkey.

[2016-03-28 21:17] mpl commented on #704
https://camlistore-review.googlesource.com/6186

[2016-03-28 22:42] mpl commented on #700
@edrex Ah yes, that's what I needed. By starting with configuring an importer, I can reproduce, thanks.

And yes, it is true that variants of this issue have been recurring now and then.

[2016-03-28 23:06] mpl commented on #700
And indeed, if you instead start with creating e.g. a permanode (even from the UI), then you don't see the  problem when configuring an importer.

[2016-03-29 06:24] edrex commented on #703
https://camlistore-review.googlesource.com/#/c/6196/

[2016-03-29 11:28] jonathanpittman commented on #700
I do not have anything significant to add, but as a data point I too had started with configuring importers when I ran into this.  My goal at the time was pulling out all of my data from some other sites and having it stored in camlistore.

[2016-03-29 14:51] mpl commented on #700
https://camlistore-review.googlesource.com/6206

[2016-03-29 18:43] edrex commented on #700
I got curious why importer doesn't upload the public key, and realized it's because it doesn't go through `signhandler.Handler`, but instead instantiates its own `schema.Signer`. Not sure what to do with that.

[2016-03-30 21:06] tgulacsi commented on #698
Nice catch! I just wanted to report that it seems to be a token refresh issue: after a while it reproducibly stalls on start, but (after a camlistored restart) after re-login it works.

[2016-03-30 21:11] mpl commented on #698
yeah, I know exactly what the problem is. Just waiting for feedback from Brad on my CL.

[2016-04-01 14:23] mpl commented on #704
And now I can't even even see anymore the "custom logs" category in the drop down menu of the google cloud console for the logs, which might be related. Investigating...

[2016-04-01 15:21] mpl commented on #704
yup, no more service in the V2, so "custom.googleapis.com" servicename is probably irrelevant now
https://cloud.google.com/logging/docs/api/introduction_v2#features_no_longer_supported

[2016-04-01 23:41] mpl opened #705 "GCE deployer does not launch recent camlistored"
A docker camlistored image built from a recent source will fail to deploy on GCE with the following error message:

Apr 01 23:34:23 camlistore-server.c.camli-mpl.internal systemd[1]: Started Camlistore.
Apr 01 23:34:23 camlistore-server.c.camli-mpl.internal systemd-docker[5976]: 2016/04/01 23:34:23 Starting camlistored version WORKINPROGRESS; Go go1.6 (linux/amd64)
Apr 01 23:34:23 camlistore-serve

[2016-04-03 18:37] saljam commented on #702
Yes! I really wish there's an API for Google location history.

There's an old CL that did GPX point extraction. However we model location history it would good to keep sources like GPX and KML in mind.

[2016-04-04 16:52] mpl commented on #705
Found the regression, it's at 35c1e2feb5205c5a3ca37e32286fd26f8ab0ca42.

So building the camlistored image with Go 1.6 is the cause of the problem. Now to understand why.

[2016-04-04 18:36] mpl commented on #705
The error happens when doing an wkfs.Stat :

Get https://www.googleapis.com/storage/v1/b/camli-mpl-camlistore/o/config%2Fserver-config.json?alt=json&projection=full: x509: failed to load system roots and no roots provided

[2016-04-04 21:58] mpl commented on #705
https://camlistore-review.googlesource.com/6228

[2016-04-04 22:34] mpl commented on #705
5445e983ae453d78307ce332c3ece427e2f2cf32

[2016-04-04 22:34] #705 closed

[2016-04-04 23:36] mpl commented on #704
Nevermind, it turns out that the projects I was seeing this issue for probably didn't have Google Cloud Logging API enabled.
Oh well, at least I found out about issue #705 while looking into this one.

We should still watch out for the V2 transition I suppose though.

[2016-04-04 23:36] #704 closed

[2016-04-05 14:41] mpl opened #706 "blobserver: make proxycache a StorageGenerationer"
I'm not sure what the plan was, but there obviously was one given that code in pkg/blobserver/proxycache/proxycache.go :

// TODO:
//var _ blobserver.Generationer = (*sto)(nil)

func (sto *sto) x_ResetStorageGeneration() error {
	panic("TODO")
}

func (sto *sto) x_StorageGeneration() (initTime time.Time, random string, err error) {
	panic("TODO")
}

And we're going to remove that code through http

[2016-04-05 15:55] mpl opened #707 "index/corpus: implement edge and edgeBack"
Since https://camlistore-review.googlesource.com/6227 is removing the code below but it was part of a documented plan, let's keep track of it through this issue.

in type Corpus struct :

	// edge tracks "forward" edges. e.g. from a directory's static-set to
	// its members. Permanodes' camliMembers aren't tracked, since they
	// can be obtained from permanodes.Claims.
	// TODO: implement
	edge ma

[2016-04-05 22:21] edrex commented on #283
Seems like #650 might be good enough, since it should allow the native gallery app to browse.

[2016-04-05 22:42] edrex commented on #650
Refiling old notes to here:

I had been thinking this could be done as a generic FUSE client that speaks to SAF.

Looking back that seems inelegant, since it means we inherit all the old badness of POSIX and can't take advantage of SAF features like [thumbnails](http://developer.android.com/reference/android/provider/DocumentsProvider.html#openDocumentThumbnail(java.lang.String, android.graphics.P

[2016-04-05 22:59] edrex commented on #650
https://github.com/golang/go/issues/10588

[2016-04-06 15:16] mpl commented on #694
4e4f045c298f5c8fcd442d1fe35766e3b4133fac

[2016-04-06 15:16] #694 closed

[2016-04-06 15:17] #689 closed

[2016-04-06 18:01] edrex commented on #623
https://github.com/golang/go/issues/10588

[2016-04-06 20:59] mpl commented on #623
Well, we can worry about that once we use x/mobile, which we haven't even started doing so far :-)

[2016-04-07 20:48] mpl commented on #600
a2c19c1f425c9266dc0ba23dd2c5c672d577e8da makes pkg/sorted/mem.go use syndtr/goleveldb.

I don't remember what the specific emphasis on strict and testing should have been about, so closing it for now.

[2016-04-07 20:48] #600 closed

[2016-04-11 15:20] mpl commented on #685
https://camlistore-review.googlesource.com/6256

[2016-04-11 20:30] mpl commented on #690
97d9ab6fe4badf5c9f8e6473c0b3ce571cc0e27e

[2016-04-12 13:25] mpl commented on #701
rsc has written one too:
https://godoc.org/rsc.io/letsencrypt

[2016-04-13 00:11] mpl commented on #690
https://camlistore-review.googlesource.com/6286

[2016-04-13 10:17] timthelion opened #708 "camweb: keep github in sync with gerrit"
Master on github is from Febuary, while googlesource is from April.

https://camlistore.googlesource.com/camlistore/+/master

[2016-04-13 13:01] mpl commented on #708
Yes, I know. But Brad's the only one in control of that syncing.

[2016-04-13 14:32] bradfitz commented on #708
camweb should probably do the regular push to github, since it's already regularly mirroring from gerrit.

@mpl, you want to repurpose this bug for that automation?

Then we give camlibot an ssh key and push access to github.

[2016-04-13 14:41] mpl commented on #708
ACK

[2016-04-13 20:58] mpl commented on #708
https://camlistore-review.googlesource.com/6296

[2016-04-20 22:50] bradfitz opened #709 "corpus deadlock"
Deadlock in corpus makes Camlistore unusable since ~February:

Backtrace: https://gist.github.com/bradfitz/585c4e1616736dd4d69774ac559b0a69

/cc @mpl

[2016-04-20 23:39] bradfitz opened #710 "blobpacked reindexing test failure at Go tip"
[code]

[2016-04-21 00:09] mpl commented on #710
go1, third_party : ok
go1, archive/zip: ok
gotip, archive/zip: fail
gotip, third_party: fail

[2016-04-21 00:13] bradfitz commented on #710
s/go1/go1.6/

[2016-04-21 17:04] #710 closed

[2016-04-21 20:05] edrex commented on #703
merged

[2016-04-21 20:05] #703 closed

[2016-04-21 20:35] edrex opened #711 "consistent delete semantics"
## Currently

1. UI: Deleting a node adds a [delete claim](https://camlistore.org/doc/schema/delete) on the node. When selecting nodes associated via `camliMember`/`camliPath`, there is a "Remove from set" button which adds delete-attr claims for the associated relation on each selected node, without removing the nodes (added via #761)
2. FS: Deleting a node adds a [delete-attr claim](https://caml

[2016-04-21 20:39] edrex opened #712 "UI: undelete"
- [ ] Browsing directly to a deleted item should work (ie, http://localhost:3179/ui/sha1-260e01a7a65154b90c666d9869917f6654d961af), at least with the blob view. Maybe have the UI look up the last state before delete.
 - [ ] Recently deleted items view (sort by reverse deleted date)
 - [ ] "Restore item(s)" action

[2016-04-21 21:11] bradfitz commented on #709
https://twitter.com/bradfitz/status/723235366874943488 and ...

[code]

[2016-04-21 21:54] edrex commented on #468
Related to #711

[2016-04-22 21:33] bradfitz opened #713 "devcam test failures in misc/docker/release"
[code]

[2016-04-22 22:41] bradfitz commented on #519
Notes to self...

This happens all the time:

[code]

[2016-04-22 22:45] mpl commented on #519
https://camlistore-review.googlesource.com/6314 cache accounts lookup

[2016-04-22 23:16] mpl commented on #713
https://camlistore-review.googlesource.com/6316

[2016-04-22 23:16] #519 closed

[2016-04-22 23:16] #709 closed

[2016-04-22 23:22] #713 closed

[2016-04-23 14:58] timthelion opened #714 "Camlistore sync has confusing example"
Hello,

mind you, that I still don't understand camlistore sync and have not gotten it to work yet, but I noticed that the example for sync might be a bit weird (if I understand sync properly):

[code]

https://github.com/camlistore/camlistore/blob/master/cmd/camtool/sync.go#L88

Why would someone want to synchronize between `bs` /which I assume means block store/ and `index-mem` /which I assume t

[2016-04-23 21:50] willnorris opened #715 "update docs and output of camtool googinit"
camtool googinit directs you to <http://code.google.com/apis/console>, which should instead be updated to <https://console.developers.google.com/>.  Not that big a deal since the old URL redirects, but still.

Also, the output of this command is a JSON object.  This is what is needed for cloudstorage_test.go, but for server-config.json, what you need is a string of the form `clientId:clientSecret:

[2016-04-23 22:00] bradfitz opened #716 "camlistored on start brings up 404 page"
At master, camlistored starts up and opens my browser to a 404 page and says in the logs:

2016/04/23 14:58:04 ui: no configured setting or embedded resources; serving Closure via https://closure-library.googlecode.com/git
2016/04/23 14:58:04 Available on http://localhost:3179
2016/04/23 14:58:05 Failed to open file "index.html" from embedded resources: file does not exist
2016/04/23 14:58:05 Fail

[2016-04-23 22:02] bradfitz commented on #716
I'm at 0c355a18cc97b39c

[2016-04-23 22:54] bradfitz commented on #716
False alarm. My "camlistored" in my path is usually a symlink to my camlistore bin, but it was an old binary instead.

[2016-04-23 22:54] #716 closed

[2016-04-24 01:08] #715 closed

[2016-04-24 22:54] shinymayhem opened #717 "search with dot at start of filename"
@mpl: Bug from LFNW BoFs session, searching with `filename` where filename started with a dot wasn't working, e.g. `filename: .vimrc`

[2016-04-24 23:23] radkat opened #718 "TCP "too many open files" error"
Running foursquare importer had errors (see the first few lines below) after that going to the UI resulted in the "too many open files" error in the server logs. Was working on the localhost.

First part (missing public key blob) is already reported as #700 and it might've triggered the "too many open files".

2016/04/24 16:16:11 error fetching public key blob sha1-fd55fb212e2da3e5265f2d28cc3f2a75

[2016-04-25 07:45] tgulacsi commented on #667
The first one I see, but openAllPacks calls storage.Close on error which closes all in s.fds. Ain't that enough?

[2016-04-25 08:36] tgulacsi commented on #667
PTAL https://camlistore-review.googlesource.com/6326

[2016-04-25 08:55] awsong commented on #667
Try to remember what I meant back then.

To answer your question, When openAllPacks fails on nextPack() or openForWrite(), it won't call storage.Close() which is only called when openAllPacks fails on openForRead(). In another word, if line 310 return s.nextPack() returns an err, those read fds should be closed but not.

Hope I made myself clear.

[2016-04-25 09:47] tgulacsi commented on #667
I've moved the s.Close() from openAllPacks to its (only) caller. This way all open fds will be closed on any error.

[2016-04-25 17:36] glowingwire opened #719 "appear in system tray when running"
There are a few cross platform system tray libraries.

Options in system tray would be shut down server, hide tray icon, restart icon...  could even be ones to repull from git, and rebuild..
also to open the local webpage.
maybe to edit a config file in a text editor.

https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#safe=off&q=golang+system+tray+icon

[2016-04-25 17:41] bradfitz commented on #719
That'd be great.

[2016-04-25 17:49] bradfitz commented on #644
These should have been separate bugs, not one massive bug. Separate bugs can be separately tracked and separately closed.

[2016-04-25 17:49] #644 closed

[2016-04-25 19:03] willnorris opened #720 "combine docs in /doc and /website/content/docs"
Today the camlistore docs are split between [/doc](https://github.com/camlistore/camlistore/tree/master/doc) (all plaintext) and [/website/content/docs](https://github.com/camlistore/camlistore/tree/master/website/content/docs) (markdown/html, served as https://camlistore.org/docs).  There seems to be little rhyme or reason as to what docs are in which directory.  These should be combined into a s

[2016-04-25 19:13] willnorris opened #721 "redirect everything to https://camlistore.org"
today, the redirect to drop the "www." prefix goes out of its way to preserve the URI scheme.  It should just always redirect to https.  Additionally, http://camlistore.org should redirect to https://camlistore.org, which it does not today.

[2016-04-25 21:52] mpl commented on #708
fe8372e1171a56843e2295fbca8e3680ce3d38a0

[2016-04-25 21:52] #708 closed

[2016-04-25 22:12] bradfitz commented on #721
https://camlistore-review.googlesource.com/6323

[2016-04-25 22:17] bradfitz commented on #718
I suspect ulimit maxfds is low.

"dial tcp: lookup api.foursquare.com: no such host" is probably also just out of filedescriptors.

We should make this easier to debug and show the ulimit somewhere from camlistored, and warn when it's too low.

I also suspect the real problem is foursquare is goroutine-bombing the API too widely and connecting lots of TCP connections due to lack of HTTP/2 on Fours

[2016-04-25 22:44] mpl commented on #700
36944ca8180a818a572a81bb7f7ef40f459095e4

[2016-04-25 22:44] #700 closed

[2016-04-25 22:46] bradfitz opened #722 "Provide automatic DNS names for all users"
For #701 (automatic TLS certs for users), we also need to make sure all users can have automatic DNS names.

We should use our existing `camlistore.net` domain name and run a DNS server there for all users.

Each user would get `<their-gpg-identity>.camlistore.net` pointed to whatever IP they like if they can solve a challenge that they own the IP & the private key.

[2016-04-25 23:21] edrex opened #723 "publisher: error getting config.json on devcam server"
[code]
@mpl

[2016-04-25 23:24] edrex opened #724 "UI: visually distinguish roots items"
Either:

 - new component based on server/camlistored/ui/blob_item_container_react.js
 - introduce "badges" and a root badge

[2016-04-25 23:35] edrex opened #725 "FUSE: sha1-xxxx access for permanodes"
Currently this only works for static files/dirs. Extend it to work with permanodes as well.

With https://camlistore-review.googlesource.com/#/c/2869, you can distinguish between permanodes and static files by checking for camlistore.permanode

[2016-04-26 00:12] #698 closed

[2016-04-26 00:12] Bchesterwa opened #726 "Launch into GCP using IE 11 does not work"
click on GCP launch anchor on astrachan page does not work.  works if you use Chrome

[2016-04-26 00:41] #721 closed

[2016-04-26 00:53] glowingwire opened #727 "multiple users on a single server with management page mockup"
This may be an assumed portion of the sharing features.

I imagine that I could authorize multiple users, each with their own credentials  authorizing them to store their encrypted blobs on my server, and revoke their access individually.

Bob's Camlistore Management Page
SHA ---------------------------------

==========Blob Stashes==========
  (instances of camlistore if it doesn't support it nat

[2016-04-26 02:40] glowingwire commented on #146
https://dokan-dev.github.io/

[2016-04-26 02:43] glowingwire commented on #465
http://www.blevesearch.com/ was mentioned at the gdg seattle meetup

[2016-04-26 03:04] edrex opened #728 "fs: what is the "date/" dir supposed to do?"
I know I can `cd at/2016-04-01/` to see my roots at a certain date. the `date/` node returns `notImplementDirNode{}`. I can't find any reference to what it is supposed to do. Is it different than `at/`? @bradfitz

[2016-04-26 03:17] edrex commented on #244
Upstream: https://github.com/bazil/fuse/issues/34

[2016-04-26 03:28] edrex opened #729 "fs: cammount crashes trying to ReadDir("recent/") on high latency connection"
This happens about half the time.

The log looks like this:

[code]

Possibly relevant: While the first 23 ` fs.recent: name ...` entries have a timestamp shortly after the request (~15s), all entries are actually output at crash time.

[2016-04-26 05:19] #720 closed

[2016-04-26 05:55] mpl opened #730 "pkg/fs: probably needs more vendoring after latest bazil update"
Seeing that in travis:

# camlistore.org/pkg/fs
package camlistore.org/pkg/fs (test)
	imports bazil.org/fuse/syscallx
	imports golang.org/x/sys/unix: cannot find package "golang.org/x/sys/unix" in any of:
	/home/travis/gopath/src/camlistore.org/tmp/build-gopath-nosqlite/src/camlistore.org/vendor/golang.org/x/sys/unix (vendor tree)
	/home/travis/.gimme/versions/go1.6.linux.amd64/src/golang.org/x/sy

[2016-04-26 07:49] cliveb opened #731 "dockerfiles for android build corrupted"
@mpl we spoke in person. please see this issue in @wasabeef docker project for android  https://github.com/wasabeef/dockerfiles/issues/1

[2016-04-26 16:08] mpl commented on #730
https://camlistore-review.googlesource.com/6366

[2016-04-26 16:11] willnorris opened #732 "redirect website requests to canonical URLs"
There is a desire to have documentation be rendered and browsable both on GitHub as well as on camlistore.org.  To make links work on GitHub, all links between docs will need to use file-relative URLs, as well as include the proper file extension.  This causes two problems on the website:

1. Directories can currently be accessed both with and without a trailing slash.  For example, <https://camli

[2016-04-26 16:24] #730 closed

[2016-04-26 20:54] mpl opened #733 "pkg/blobserver: make the Storage interface methods take a context"
Some of the Storage interface methods take a context, but most of them don't.

At least because some implementations of this interface rely on long-lived methods/functions that take a context (e.g. in pkg/blobserver/google/cloudstorage), we should change all the concerned interface methods so they take a context as argument.

That way, they can pass this context to the underlying methods instead o

[2016-04-27 00:03] 9nut opened #734 "A pipeline (or fanout) architecture for creating index annotations"
Based on my limited understanding (mainly reading through index package), it seems that a mechanism for applying indexers in sequence or parallel for the same file type would be useful.  Here's my concrete example: suppose I want to use a computer vision library or Google Vision API to automatically create "what's in this picture" tags, in addition to what is currently being indexed.

[2016-04-27 06:14] willnorris opened #735 "remove /doc/search-ui.txt after v0.10.0 release"
up through v0.9.0, camlistore included a direct link to https://camlistore.googlesource.com/camlistore/+/master/doc/search-ui.txt in the help page.  With the recent doc cleanup, this file got renamed to `search-ui.md` in 620d837a3d94cd939b16c56ece039639ef724df5, which broke that link.

As a temporary fix, the `search-ui.txt` file was recreated in 29dcc70f3c6a9ad471eb30c3f08e70da3d570bc9 with a sim

[2016-04-27 23:24] josephholsten opened #736 "missing `zoneinfo.zip` in cloud-launched instance"
I noticed the following error in my logs on a gce launched instance:
`failed to lookup timezone "America/Los_Angeles": open /usr/local/go/lib/time/zoneinfo.zip: no such file or directory`

Seems like a thing I could easily fix if I had any idea how this whole contraption works. Anyone got time to walk me through it?

[2016-04-28 04:23] josephholsten commented on #486
@willnorris this could use the doc label

[2016-04-28 04:32] josephholsten commented on #499
having build radius search for geo lookup, I'm personally a big fan of just sticking with a rectangular bounding box, and possibly a second phase distance sort.

[2016-04-28 04:35] josephholsten commented on #674
@willnorris re doc

[2016-04-28 04:36] josephholsten commented on #148
<troll>which openid version?</troll>

[2016-04-28 04:47] josephholsten commented on #166
So I can make a trivial launchagent to start camlistore:

[code]

Probably also the same for `cammount`, is that a thing we want?

[2016-04-28 04:48] josephholsten commented on #166
@willnorris this mentions just being a bit of readme advice, so maybe `doc` label?

[2016-04-28 04:49] josephholsten commented on #714
@willnorris this probably could use some doc

[2016-04-28 04:55] josephholsten commented on #30
cf http://www.catb.org/jargon/html/Z/Zawinskis-Law.html

[2016-04-28 05:20] josephholsten commented on #38
cf #146

[2016-04-28 05:32] josephholsten opened #737 "cloud-launch doesn't panic into cloud logs"
I'm doing an initial import into a cloud-launched instance. The app is clearly restarting every so often, but I'm getting zero debugging output from the instance. The only indication that the service is restarting is

`"2016/04/28 05:06:46 Starting camlistored version 7b78c50007; Go go1.5.2 (linux/amd64)`

[2016-04-28 12:33] timthelion opened #738 "Syncing between two running servers over https leads to corruption."
I am syncing between two laptops over https and it does not work. After running `camtool sync --src laptop1 --dest laptop2` laptop2 always ends up with a corrupt block store and no longer shows any permanodes in the web frontend:

[code]

My setup is as so:

On laptop1, `server-config.json`

[code]

and `client-config.json`

[code]

Laptop2's server-setup.json is essentially the same as that of la

[2016-04-28 17:01] bradfitz commented on #30
@josephholsten, yes, I'm well aware of that.

[2016-04-28 17:25] mpl commented on #738
Are you saying you don't see this problem if you're not using https? If that's the case, I don't know what's wrong.
Otherwise, I'd guess you simply see the symptoms of issue #681
(to confirm that, you could try with packRelated=false)

[2016-04-28 17:35] mpl commented on #737
You're talking about the "Custom logs" category in the Google Cloud Logging entries for your project, right?

Well there wouldn't be much to see anyway. If camlistored is dying, you may see an error message about why it's dying (and if not, we should fix that). But then it's dead, and the systemd service would be the one restarting it.

Maybe you'll get a tiny bit more info with journalctl? From y

[2016-04-28 17:41] mpl commented on #714
@timthelion /index-mem/ in that case would be the handler for (in memory, as opposed to on mysql, or leveldb etc) the indexer. So by sending all your blobs from your blob storage to the indexer, you're making sure your indexer is in sync with what you have in storage.
It could have gotten out of sync for any theoretical number of reasons.

[2016-04-28 17:55] mpl commented on #736
odd.
it's coming from https://golang.org/pkg/time/#LoadLocation , called in pkg/schema/schema.go if you want to debug this some more.
If not, I'll come back to it later.

[2016-04-28 18:39] bradfitz commented on #736
Go looks for zoneinfo.zip in the GOROOT if all else fails.

I'd guess that our Docker container for the GCE launcher is missing the `tzdata` package.

[2016-04-28 18:54] timthelion commented on #738
No, https vs http isn't the issue, I'll look into using packRelated=false, I'm pretty sure that is what I've run into.

[2016-04-28 21:18] glowingwire opened #739 "bandwidth statistics and throttling"
As people being to accidentally drop movie files in over a metered mobile plan, big bills may accrue.

Like with bit torrent, it would be nice to shape the traffic.

[2016-04-28 21:18] glowingwire opened #740 "bit torrent"

[2016-04-28 21:18] #740 closed

[2016-04-28 21:23] glowingwire commented on #740
As I plan to have 3 or 4 nodes backing up my data, possibly more,  an existing tool that can grab chunks from fast servers, and also grab from all servers at the same time could help my replication go faster.
This would probably require an authoritative server for drop in use of bit torrrent (I don't see any reason why I couldn't create a torrent on my blob folder and then replicate already) other

[2016-04-28 21:41] josephholsten commented on #737
Yeah, I'm not seeing the error that's causing the process to die.

I'll check to see if anything's going into journald.

[2016-04-29 00:07] timthelion commented on #738
That does not solve the problem entirely, the indexer also croaks... It seems that this can be worked around by deleting the index.db file and restarting camlistored every time I sync, though I find that rather sub-optimal.

[2016-04-29 00:08] timthelion commented on #738
[code]

[2016-04-29 14:46] bradfitz opened #741 "test: write integration test that sharing works"
I think sharing is broken.

We need an integration test that it works and then you can do "camget -o dir --shared=https://....."

Also camget --shared= doesn't work from an HTTP URL on localhost.

[2016-04-29 17:10] edrex opened #742 "doc: strip .md suffix from doc URLs"
It seems like exposing the .md extension in URLs like https://camlistore.org/doc/schema/permanode.md couples published docs to md unnecessarily. @willnorris what do you think?

Also, I don't want to call it out on the ML if you're not ready to announce yet, but fantastic work on the docs this week! I had to focus on other things this week, but I'm looking forward digging in and working on docs now

[2016-04-29 17:14] edrex commented on #742
Actually we just need to update the links, as https://camlistore.org/doc/schema/permanode works

[2016-04-29 17:51] willnorris commented on #742
closing as duplicate of #732 (Brad fixed the first half of that bug; .md extension is the second half)

[2016-04-29 17:51] #742 closed

[2016-04-29 17:53] willnorris commented on #742
and by the way, we can't just update the links because then that would break browsing the docs on GitHub (e.g. https://github.com/camlistore/camlistore/tree/master/doc/schema).  The links have to have the .md extension, which we'll then strip either on the client with some js and/or on the server side with a redirect to the canonical URL.

[2016-04-29 18:07] edrex commented on #742
ah makes sense

[2016-04-29 18:13] edrex opened #743 "website: build broken with vendored google.golang.org/cloud/datastore"
[code]

broken from 219f966a959696e9a0bd2c2212e67edace288c3f

@willnorris wondering what version of google.golang.org/cloud/datastore you have in your GOPATH

@mpl

[2016-04-29 18:55] edrex commented on #712
If recursive deletion is implemented as proposed in #711, undelete should also work recursively. If deletion isn't recursive, undeletion shouldn't be either.

[2016-04-29 19:08] edrex commented on #711
I just had a small epiphany: if recursive deletes are implemented, they should use a [`multi` claim](https://camlistore.org/doc/schema/permanode). This would make recursive undelete (#712) trivial (just delete the multi claim)

[2016-04-29 19:12] mpl opened #744 "misc/docker: investigate /.dockerinit replacement"
/.dockerinit presence was used to check whether we were running on docker. it's now gone or something.
I need to find a replacement test.

[2016-04-29 19:45] willnorris commented on #743
yeah, I'm seeing the same error.  Updating the vendored copies of `google.golang.org/grpc`, `google.golang.org/cloud` and `github.com/golang/protobuf` to the latest version of each (and fixing a few build failures) fixes the compilation errors for camweb, but I haven't fully tested to verify that everything else is still working as expected.

[2016-04-29 21:47] edrex commented on #743
ok cool, I didn't get past the build failures when I tried updating the deps

[2016-04-30 02:28] mpl commented on #741
Duplicate of issue #527 ?

[2016-04-30 03:02] #743 closed

[2016-04-30 04:47] glowingwire opened #745 "MP4 importer with metadata indexing"
This may be something that I am capable of.

(I'm reviewing scanners for plex that interface with imdb and tvdb)
Simply using the metadata from the file would be a great start.

Honestly, I'm thinking about using camlistore as a backend for a very simple dlna media server. With blob storage underneath a fuse filesystem,  I could simply copy movies to different genre folders with no storage overhea

[2016-04-30 04:53] glowingwire opened #746 "Optionally show file name as permanode title line"
I was unable to see the filename when I dragged it in, and looked at image, permanode, and blob.

I keep a lot of metadata in my filenames.
I uploaded a file with the title veep - s01e02.mp4  (wasn't actually a veep episode), searched for veep in camlistore web interface and the file didn't show up.
I'm guessing that the fuse system keeps this data, and I want to play with that later.

[2016-04-30 16:50] willnorris commented on #746
in the blob view of the permanode, click on the camliContent blobref, which should take you to the file blob for the image.  That has the fileName.  It's also visible in the UI when you hover over the image for a few seconds.

[2016-04-30 21:11] radkat opened #747 "go install in website/ fails"
Looks like there is not enough vendoring going on. @willnorris @mpl ?

[code]

[2016-04-30 22:41] mpl commented on #747
Even after https://camlistore-review.googlesource.com/6438 ?

[2016-04-30 22:58] mpl commented on #652
9e9d5e0bf24ed87fc44fcf60d64e3de8534bbf83

[2016-04-30 22:58] #652 closed

[2016-04-30 23:12] mpl commented on #747
Nevermind, I'm seeing it too now.

[2016-05-01 00:07] mpl commented on #747
https://camlistore-review.googlesource.com/6443

[2016-05-01 00:09] #747 closed

[2016-05-01 00:37] #658 closed

[2016-05-01 17:33] bradfitz commented on #741
Yes, and still needs to be done. Still broken. Totally kills demos.

[2016-05-01 17:33] #741 closed

[2016-05-01 18:38] stephens2424 commented on #714
@mpl would camlistored not eventually reconcile those differences on its own?

[2016-05-02 01:38] DanielHeath opened #748 "Twitter importer: Ampersands are double-encoded"
When importing a tweet with an `&` character, it is shown in the UI as `&amp;`

[2016-05-02 03:17] stephens2424 opened #749 "CONTRIBUTORS has code.google.com reference"
The CONTRIBUTORS file has a link to code.google.com for the contributor agreements. The link still works, but it may not forever? I would submit a PR, but I'm not sure the current destination of code.google.com's redirect is necessarily the canonical one.

[2016-05-02 04:01] #749 closed

[2016-05-02 13:25] #732 closed

[2016-05-02 18:42] tgulacsi opened #750 "fatal error: concurrent map read and map write"
3c161fe40bd39d2a72e1e50c31cf2a6d2b3d1b67

[code]

With -race:

[code]

[2016-05-02 19:45] tgulacsi opened #751 "pkg/blobserver/diskpacked tests fails"
[code]

Which is strange; but `git show 9e9d5e0bf24ed87fc44fcf60d64e3de8534bbf83` reveals that pkg/blobserver/storagetest/storagetest.go has changed, too!
Not much, but esp. the failing remove test changed. I don't understand what does the double remove want to test, so cannot fix it... (line 186 of pkg/blobserver/storagetest/storagetest.go).

[2016-05-02 19:53] tgulacsi commented on #750
`go test -race -run=ModtimeRace ./pkg/index` fails with data race. Is this OK?

[2016-05-02 19:59] tgulacsi commented on #750
`git bisect run go test -race -run=ModtimeRace ./pkg/index`

[code]

[2016-05-02 20:06] tgulacsi commented on #750
Both the index, and the lazySortedPermanodes struct is protected by a mutex, but they seem to share a Corpus.

[2016-05-02 22:27] edrex opened #752 "files under recent dir lack xattr list/get support"

[2016-05-02 23:01] bradfitz commented on #748
I noticed that too recently. Thanks for filing.

[2016-05-02 23:43] edrex commented on #445
https://camlistore-review.googlesource.com/#/c/2869 covers this need in a different way, by adding a `camlistore.permanode` xattr. Once it lands we should close this.

[2016-05-02 23:44] #445 closed

[2016-05-03 04:10] edrex commented on #748
Dup: #476

[2016-05-03 04:10] #748 closed

[2016-05-03 08:34] mpl commented on #750
Thanks for the bisect @tgulacsi

[2016-05-03 09:07] mpl commented on #750
@tgulacsi I believe the data race you showed ((*Corpus).addBlob() VS (*lazySortedPermanodes).sorted()) is OK, because we take an ix.Lock before calling addBlob, and we take an h.index.RLock before calling pickCandidateSource (in pkg/search/query.go).
I think the situation looks confusing though, because lazySortedPermanodes has a corpus, but is also part of corpus, so maybe we should refactor that

[2016-05-03 09:17] mpl commented on #750
However, go test found a second race for me, which seems to be the cause for the issue:

`==================
WARNING: DATA RACE
Write by goroutine 16:
  runtime.mapassign1()
      /home/mpl/gotip/src/runtime/hashmap.go:442 +0x0
  camlistore.org/pkg/index.(*Corpus).mergeClaimRow()
      /home/mpl/src/camlistore.org/pkg/index/corpus.go:524 +0xc4a
  camlistore.org/pkg/index.(*Corpus).addBlob()

[2016-05-03 13:09] mpl commented on #750
https://camlistore-review.googlesource.com/6476

[2016-05-03 13:21] mpl opened #753 "camlistored: add "restart and reindex" button"
We should make it easy for users on GCE to restart camlistored with -reindex, in case of index corruption, for whatever reason.
There's already a button to restart camlistored from the server status page, so it shouldn't be difficult to add a new one to start in reindex mode.

[2016-05-03 13:51] mpl commented on #750
https://camlistore-review.googlesource.com/6477

[2016-05-03 14:00] mpl commented on #750
I forgot to mention that I found the source of the bug that I believe https://camlistore-review.googlesource.com/6477 is fixing by running camlistored with -race, which yielded:

`==================
WARNING: DATA RACE
Write by goroutine 51:
  runtime.mapassign1()
      /home/mpl/gotip/src/runtime/hashmap.go:442 +0x0
  camlistore.org/pkg/index.(*Corpus).mergeBlobMeta()
      /home/mpl/src/camlistor

[2016-05-03 14:39] mpl commented on #167
Is this issue not fixed by ./misc/docker/release/build-binaries.go ?

And maybe https://camlistore-review.googlesource.com/6286 for the final touches.

[2016-05-03 16:02] mpl commented on #750
@tgulacsi I need to clean it up, but I gotta run for now. In the meantime, you can try and see if https://camlistore-review.googlesource.com/6479 fixes your problem if you want.

[2016-05-03 22:35] edrex commented on #476
Fixed (with tests) by https://camlistore-review.googlesource.com/6486

[2016-05-03 23:19] mpl commented on #693
e9ae7b016c8a7635a2546e77d83456968aeb59da

[2016-05-03 23:19] #693 closed

[2016-05-04 00:37] edrex opened #754 "fs: expose all permanode attrs as xattrs"
I'm not sure if this is a good idea, but I've been thinking about it for awhile and would like to get some feedback.

### Current implementation

Any xattr set on a writable file node is base64 encoded and the key is prefixed with `xattr:`. For example (with [cl2869](https://camlistore-review.googlesource.com/#/c/2869/) cammount):

[code]

`Ynll` is "bye" base64 encoded.

Likewise, `xattr:*` attrs

[2016-05-04 00:47] edrex commented on #754
I'm not convinced that this is a good use of development time, since there's very little userland support for xattrs and with cl2869 we can always "upgrade" from the filesystem by using the command line tools.

[2016-05-04 06:36] mdempsky commented on #722
So first, there's a configuration problem. You have two sets of servers (Route 53 and ns1.camlistore.net) both serving authoritatively for camlistore.net, but they're serving different record sets.  Here's how I suggest fixing that:

1. Add an A record like `camnetdns1.camlistore.org A 104.154.231.160` to the camlistore.**org** zone in Route 53.  (Maybe also add `camnetdns2.camlistore.org A 104.15

[2016-05-04 10:21] ajft opened #755 "foursquare importer panics"
Since 2016-May-03, recent builds are crashing for me as soon as the foursquare importer runs.

2016/05/04 20:13:15 foursquare: importing 100 checkins (offset 100)
2016/05/04 20:13:15 couldn't get image: Get : unsupported protocol scheme ""
2016/05/04 20:13:17 picasa importer account, sha1-a56097db9877fc0861d140cf23ae177147a221ae finished.
2016/05/04 20:13:17 picasa importer account, sha1-a56097db9

[2016-05-04 14:38] mpl commented on #755
The foursquare importer has changed again very recently, so could you please give me an exact revision with the same panic stack trace as above, so I can be sure to look at the correct lines of code?

[2016-05-04 17:16] edrex commented on #630
I can't reproduce. @ajft if this is working for you can you close?

[2016-05-04 17:57] mpl opened #756 "pkg/index: reindexing is racy towards the end"
When running all the tests for pkg/index/ , I would sometimes see TestReindex_Kvfile with an error like:
    tests.go:1222: Reindexing with outOfOrderIndexerLoop failed: 1 blobs were ready to reindex in out-of-order queue, but not yet ran

but I usually can't reproduce when running just TestReindex_Kvfile.

And now that I'm working on https://camlistore-review.googlesource.com/6231 , I'm also some

[2016-05-04 18:38] edrex commented on #470
Allowing permanodes to have static dirs/files as children, and handling them in the UI, seems like a nice step toward unifying the models. Is there an in progress CL?

Alternatively, you could point `camliContent` to a `directory` containing the media files in the tweet. I just tried this, and discovered:
 - there is an (ugly but functional) "Directory" aspect in the UI for permanodes with camliCo

[2016-05-04 18:38] mpl commented on #630
actually, now that I think about it, that might have been the same as issue #709
in which case it would indeed now be fixed.

[2016-05-04 18:46] edrex opened #757 "twitter: import location if present"
Follow the pattern of foursquare (Latitude and Longitude attrs).

[2016-05-04 19:15] edrex commented on #734
If I understand correctly,

    // TODO: make these pluggable, e.g. registered from an importer or something?

[/pkg/index/corpus.go#L1173](https://github.com/camlistore/camlistore/blob/e93e4f3822aaa6946f19c6d2d8dd949c2edece9e/pkg/index/corpus.go#L1173) is about allowing importers to register extractors for types they create (but maybe it's only about location info). Seems related.

Another thing

[2016-05-04 23:25] mpl commented on #756
Good news. The test is fine and was actually demonstrating a race.

Fix here: https://camlistore-review.googlesource.com/6496

[2016-05-05 02:03] ajft commented on #755
ok, a mostly complete log from start to crash at
https://gist.github.com/ajft/15c8403dd6dd42bc6b85d0aff5b5cfc8 (trimmed out a dozen lines about feed importer running)

[2016-05-05 13:18] mpl commented on #756
The above CL is not satisfactory.

[2016-05-05 17:09] mpl commented on #755
https://camlistore-review.googlesource.com/6498

[2016-05-05 17:55] edrex commented on #745
RE indexing metadata contained in video files: The current approach for extracting metadata from files is to store it in the corpus (search for id3, exif in /pkg/index), so I would follow that for in-file metadata.

RE: Efficiently updating in-file metadata:  [firstChunkSize](https://github.com/camlistore/camlistore/blob/master/pkg/schema/filewriter.go#L40) is tuned (`256 << 10 == 2**18 == 262144`

[2016-05-05 21:24] mpl commented on #690
With 4232071cb3fd88b0ab5c6986e9ab884b846ad608 in, we can now do automated "monthly" (or whenever, really) releases.

[2016-05-05 22:09] edrex opened #758 "bad index resulting from broken EXIF header"
I have a JPG with somehow broken EXIF header:

![hi](https://cloud.githubusercontent.com/assets/14615/15058663/5dfe13c8-12d2-11e6-9d91-78e1fe84e9d4.jpg)

Preview sees Latitude but not Longitude:

![image](https://cloud.githubusercontent.com/assets/14615/15058711/ab6a77be-12d2-11e6-88d2-e3f11374f21d.png)

Adding the file to the store

[code]

results in an indexing error:

[code]

The malformed ind

[2016-05-05 22:35] edrex commented on #758
Also yes, my panorama skills are clearly amazing

[2016-05-06 07:28] edrex commented on #758
AFAICT the sequence is:

 - long is a float. It is much larger than a longitude should be, so it prints in scientific notation as `-4.2949671745890217e+09`
 - its component is escaped since it's `typeStr`, so it becomes `-4.2949671745890217e%2B09`
 - when it is read into corpus, it isn't properly unescaped before being coerced back to float.

I think all of this is correct behavior, except it shou

[2016-05-06 14:28] mpl commented on #758
To answer your question about sanity checking; yes, I don't see why we shouldn't do that. If so, we should do it even before it reaches the corpus code. We should do it in receive.go, right after decoding the latlong, and before setting the mutation to the index.

I'm also wondering why we're not url decoding before setting the index mutation too. Why would we store the url encoded value in the in

[2016-05-06 14:33] tajtiattila commented on #758
I think strings are url encoded so that content is not mistaken for the separator character '|' (pipe).

[2016-05-06 14:38] mpl commented on #758
@tajtiattila Ah good point. But couldn't we leave it url encoded only for content that is at risk of containing a pipe? Numbers like lat and long surely should not contain a pipe.
But maybe it's better to keep it all url encoded for the sake of consistency and clarity...

[2016-05-06 15:27] #755 closed

[2016-05-06 16:54] edrex commented on #758
Yeah, the escaping is a little weird. The first thing I tried was to change the type in receive.go from `typeStr` to `typeRawStr`, which seems to work (it leaves the `+` alone`) but would require rebuilding indexes.

Seems like to bounds checking should be in the exif package. Opened https://github.com/rwcarlsen/goexif/pull/47. It seems like PRs on goexif aren't getting reviewed lately though. We

[2016-05-06 16:59] mpl commented on #758
I think I have review+submit rights on rwcarlsen/goexif so I could review and land it eventually, but I'm not sure yet that's the right place for it, let me think about it some more.

In the meantime, I think it couldn't hurt to do it in receive.go, right after decoding.

[2016-05-06 17:11] edrex commented on #758
Added check to https://camlistore-review.googlesource.com/#/c/6506/

[2016-05-06 17:45] bradfitz commented on #758
I don't think we should even be putting `e+` notation into the index.

the `fmt.Sprint(float64)` is probably the real problem.

[2016-05-06 17:57] mpl commented on #753
https://camlistore-review.googlesource.com/6517

[2016-05-06 18:03] edrex commented on #758
Works for me. We don't patch the index, so anyone with a bad value like this should rebuild, right?

[2016-05-06 18:15] bradfitz commented on #758
I'd be fine with having a registered set of index-fixer steps that run once on start-up if never run before.

One fixer step could be scanning for these and rewriting them.

[2016-05-07 02:47] edrex commented on #723
seems fixed

[2016-05-07 02:47] #723 closed

[2016-05-07 03:03] ajft commented on #630
Nope, I can't reproduce it with current (2016-05-06) versions.

[2016-05-07 14:03] marshauf opened #759 "amazon cloud drive blobserver"
Hello,
I would like to use my Amazon cloud drive as a blob server.
A go client is available here https://github.com/go-acd/acd , it seems like all three required operations are supported: get, put, enumerate
I would start implementing it, if nobody is working on one.

[2016-05-08 13:28] #630 closed

[2016-05-09 13:02] mpl commented on #759
Hi,

So, just to be sure, that's different from S3, isn't it?

[2016-05-09 16:38] marshauf commented on #759
Yes, it's like Google Drive. I got it with Amazon prime and I am not using it, so I thought using it as a backup would be nice.
Website: https://www.amazon.com/clouddrive/home
The documentation: https://developer.amazon.com/public/apis/experience/cloud-drive/

[2016-05-09 16:51] mpl commented on #759
Then sure, if you think it's an interesting target just go for it.

Also, be aware that if we want a blobpacked on top of it (which is generally a good idea for cloud storage, for efficiency reasons), we need to be able to implement SubFetch for it too.

See pkg/blobserver/google/cloudstorage/storage.go for inspiration/example.

[2016-05-09 18:17] edrex commented on #427
Self assigning so I don't forget about it but this is still HelpWanted if anyone wants to work on it.

[2016-05-09 18:28] edrex commented on #427
Some links:

 * [Understanding the Chrome sync protocol](http://damianblog.com/2014/02/09/inside-chrome-sync/)
 * https://chromium.googlesource.com/chromium/src.git/+/master/sync/protocol

IDK anything about protocol buffers, but it seems like this does most of the heavy lifting for generating Golang client bindings. Guidance here?

[2016-05-09 18:32] edrex commented on #427
This won't be part of the initial effort, but I did want to note that it's possible to have Chrome sync with your own server, see https://bugs.chromium.org/p/chromium/issues/detail?id=181429 and https://www.chromium.org/developers/how-tos/run-chromium-with-flags. There is an example implementation in Python in the Chromium source tree.  On Android, this requires a rooted device.

[2016-05-09 21:18] #753 closed

[2016-05-09 21:32] mpl opened #760 "pkg/blobserver/diskpacked does not seem to support double-delete"
Since we've added a double deletion test (check that deleting a non-existing blob is not an error) to the standard blobserver test suite (pkg/blobserver/storagetest), I notice diskpacked does not seem to pass that test.

--- FAIL: TestDiskpacked (0.28s)
	diskpacked_test.go:55: diskpacked test dir is "/tmp/diskpacked-test918497993"
	storagetest.go:78: Testing blobserver storage *diskpacked.storage

[2016-05-09 21:34] mpl commented on #760
@tgulacsi Are you interested in looking into that?

If not, I'll get to it later.

[2016-05-10 07:57] tgulacsi commented on #760
PTAL https://camlistore-review.googlesource.com/6556

[2016-05-10 14:02] mpl commented on #760
thanks

[2016-05-10 16:34] edrex commented on #549
Basically the same issue #419

[2016-05-10 19:25] edrex commented on #110
I guess with the new plan, you'll be able to create a delete claim targeting a single claim in a previous batch, addressing the second point in @mpl's https://github.com/camlistore/camlistore/issues/562#issuecomment-68747308?

[2016-05-10 19:26] edrex commented on #110
I found the documentation of multi claims in https://camlistore.org/doc/schema/permanode, and assumed they were already implemented. Should we delete that section from the docs?

[2016-05-10 19:37] edrex commented on #562
I can't reproduce the original issue. I think maybe it was a caching issue, somewhere, that is better now. I tested with both camliPath:* and camliMember attrs, by deleting them from the "Permanode" aspect and then switching to the "Contents" aspect and seeing that they are gone. Closing.

[2016-05-10 19:37] #562 closed

[2016-05-10 19:39] edrex commented on #711
https://github.com/camlistore/camlistore/issues/562 seemed related but I can't reproduce.

[2016-05-10 19:42] edrex opened #761 "UI: add "remove from set" button"
https://camlistore-review.googlesource.com/#/c/4318/

[2016-05-10 22:42] mpl commented on #110
I think it would look even worse to completely remove it as it would give the impression that we don't even have a plan for that.
If that itches you too much, I guess you could atomically (hah!) replace that section with Brad's above new plan in one commit?

Or even better, implement the new plan (if it still applies?), and then fix the doc.

[2016-05-10 23:58] edrex commented on #761
Merged

[2016-05-10 23:58] #761 closed

[2016-05-11 07:03] edrex opened #762 "FS: display nodes with camliMembers as directories"
Currently camliMember relations aren't counted as children.

Nodes with no `camliContent` or camliPath:* attrs are ignored by the FS interface.

We should teach the FS interface to treat camliMembers as children, using camliTitle as the file name. Renaming them would change camliTitle.

Should we try to magically append extensions to the file names? That would be ugly, but may be needed so file ma

[2016-05-11 07:06] edrex commented on #762
Maybe in the first pass, append a file extension if mime type is known and reject attempts to rename.

[2016-05-11 07:07] erde74 opened #763 "build failure on NetBSD"
Hello, i tried to build on NetBSD and got the following error

after manually adding  **fileutil_netbsd.go** to vendor/github.com/cznic/fileutil/ the errors where gone.

[2016-05-11 09:57] srcr opened #764 "Foursquare import is not throttleling"
I just started my camlistore server and now that I import my foursquare data I find that i get hit by a lot of 304 messages. So I regularly pause the import and restart in a while hoping that I again have access to the API. but ideally the importer should handle this.

`
{"meta":{"code":403,"errorType":"rate_limit_exceeded","errorDetail":"Quota exceeded","requestId":"01234567890abcdef"},"response"

[2016-05-11 13:16] mpl commented on #763
thanks. I'll update our vendored cznic/fileutil asap to fix it properly.

[2016-05-11 13:31] mpl commented on #763
https://camlistore-review.googlesource.com/6567

[2016-05-11 14:05] mpl opened #765 "app: extract changes out of the scanning cabinet CL"
The scanning cabinet CL (https://camlistore-review.googlesource.com/5416) contains a number of changes to apps handling, hopefully fixes and improvements.

I should move those changes to their own CL.

[2016-05-11 14:13] mpl commented on #751
Whoops, sorry, I hadn't seen that issue when I opened #760 , my bad.

Closing it as dup since we've started discussing on the other one.

[2016-05-11 14:13] #751 closed

[2016-05-11 14:19] mpl commented on #746
The filename is indeed definitely stored and indexed.
And in addition to what @willnorris said, you can also use the "filename" search predicate to look for your file (https://camlistore.org/doc/search-ui), although it has to be an exact match.

[2016-05-11 14:35] srcr commented on #764
Just noticed that I'm never going to get all Foursquare content. Each time the importer starts with check 0 so when it gets to downloading the images my 500 API calls for that time are used.

[2016-05-11 15:12] mpl commented on #764
I'm curious, why is it that you're hitting that problem, whereas other foursquare users such as @bradfitz , @katepek , (and maybe @willnorris ?), don't?
Are there different foursquare account tiers, and some of them only get a limited number of API calls, while others get unlimited or something? Or is it just that you have more data than they do?

(I'm not dismissing your problem, it indeed seems

[2016-05-11 16:13] edrex commented on #764
As I understand it, the foursquare importer:

1. Requests all checkins, in batches (of 100 by default). Those responses include wanted related data (venue, people) except venue photos
   1. For each checkin:
      1. If the checkin venue doesn't have enough photos (default 5), requests venue photos.
      2. Requests each needed photo unauthenticated.

According to https://developer.foursquare.com

[2016-05-11 16:27] srcr commented on #764
@mpl I'm not sure why I'm the special one.
Only thing is that I observe this at the moment. But if you have ideas about checking more stuff from my end I'm more than willing.

[2016-05-11 17:24] edrex commented on #764
I just pushed up a CL which makes the venue/photos requests userless.

https://camlistore-review.googlesource.com/#/c/6576/

@srcr, since your account seems to be hitting quota limits, it would be awesome if you could test the patch and see if it lets the importer run through on the first try. To test:

 - [Get the code](https://camlistore.org/code)
 - `go run make.go` to make sure your build env

[2016-05-11 20:17] edrex opened #766 "UI: Location detail aspect"
Nodes with location info have a "Location" or "Map" aspect (wording preference?). It shows a simple map with the location marked. The marker could include a thumbnail, but doesn't have to. Left/right controls don't do any fancy transition, just load a new map (they could reuse the map and slide to the next location, but it might be nausea-inducing).

[2016-05-11 20:33] edrex opened #767 "UI: Map container aspect"
If a collection (child nodes or search result set) has some location data, provide a Map or Location aspect which displays nodes in the collection as markers on a map.

The view should auto-fit the data, initially.

It may make sense to avoid a traditional "slippy" map interaction pattern and instead automatically zoom to active items, and unzoom on deactivate.

Activating a marker should show som

[2016-05-11 22:01] mpl commented on #527
While working on this, and noticing that camget with shares didn't work anymore, since the bug was not actually in camget, I figured it was more urgent to fix the bug first:

https://camlistore-review.googlesource.com/6571

integration test in another CL.

[2016-05-11 22:21] #763 closed

[2016-05-12 12:02] glowingwire commented on #745
I've found that it is best to have information from a service, and corrected meta data both. MetaData services arn't perfect.

[2016-05-12 12:34] glowingwire commented on #746
When I uploaded a text file named a1.txt it kept the name.
When I uploaded the mp4 file, it did not keep the name.
It went to the camliContent blobref and it did not have anything to do with the original filename.

Ok.. Well I did get to it... under Indexer metadata then camliContent... which took me back to the viewing mode, then when I click on blob it shows the filename on blob content.

The fi

[2016-05-12 13:23] mpl commented on #746
Seeing as I don't really understand what your problem is, could you please restate exactly what is the behavior you would expect and you're not provided with? Or maybe what feature it is that you're wishing for and that is not there?

I indeed see that when I hover the cursor over a permanode for an .mp4 file, the filename does not show up as it does for another kind of file. Is that what this bug

[2016-05-12 13:30] glowingwire commented on #746
It might be a feature...
I would expect that the filename for an mp4 file shows up like the filename for the .txt file shows up.

Also, I would expect the search to do partial matches on filenames  (I would expect saying filename: would limit the results to filenames rather than be the only way to search for filenames)

[2016-05-12 13:33] glowingwire commented on #746
![screen shot 2016-05-12 at 5 28 12 am](https://cloud.githubusercontent.com/assets/1845049/15216286/6974b016-180b-11e6-9d86-df36258333c4.png)
Here is a screenshot..

[2016-05-12 13:35] glowingwire commented on #746
I'm also surprised that there is no preview for text documents... and there is for videos

[2016-05-12 13:46] mpl commented on #746
Yes, I had forgotten that we get a file name below for txt files, I understand now.

I believe the initial intent (probably @aboodman 's) was that the estate space taken by the title line (in which the file name shows up) is wasted on e.g. on a picture, where you already get a snapshot. So the choice was to "reclaim" that space to get you a slightly higher snapshot rather than giving you a title.

[2016-05-12 13:49] mpl commented on #746
And to answer your question about text documents: feel free to file a specific issue about it and/or contribute a patch for it. :-)

[2016-05-12 13:54] glowingwire commented on #746
I think it is, using the filename as a title would be great for all types of media.
and that it should be easily searchable.
Should I change the summary for this to be show filename as title?
and make two new requests,
one for searching filename
and one for viewing text files?

I put a lot of effort into selecting filenames, and snapshots from videos are rarely useful for me..  I suppose it would

[2016-05-12 13:59] glowingwire opened #768 "Text file viewer"
There is a video player when I click on the video player.
I hope to make( or that someone else will make:)

a simple container that shows plaintext (properly escaped or marked for webbrowsers)
Perhaps this could even show up in a textbox... and be savable.
Or even connect to google-docs or libreoffice online component.

[2016-05-12 13:59] mpl commented on #746
1) Yes, for changing the title of this issue to something like "Always show file name as permanode title line" (although I can't guarantee we'll agree with that feature)

2) Yes, please create a new issue for text file previews

3) I didn't understand what you were saying about filename searching, but please do explain it in a different issue too.

[2016-05-12 15:00] srcr commented on #764
I have tested it and it is working great for me. I downloaded all my check ins wihtout issue.

`
2016/05/12 16:33:53 foursquare: importing 100 checkins (offset 7300)
2016/05/12 16:34:58 foursquare: importing 42 checkins (offset 7400)
`

[2016-05-12 15:55] mpl commented on #527
It turns out I had already written integration tests, but it they weren't enough the detect the breakage fixed by the above CL.

This new one should do:
https://camlistore-review.googlesource.com/6586

[2016-05-12 16:21] glowingwire commented on #746
I can't edit this.. So making new issue

[2016-05-12 16:22] glowingwire commented on #746
Note, I had to go 4 steps to even see the filename, it wasn't just going to blob or permanode.

[2016-05-12 16:28] glowingwire opened #769 "Option show file name(s) as permanode title line"
I discovered that a text file shows filename, but an mp4 file doesn't.  This is regarded as a feature. Since I put so much effort into filenames, and folder structure, seeing these would be great help. I propose to always show the filename as object title, because I will never not want the filename, but other people may want it off, so option is requested.

It is hard to search for filenames so se

[2016-05-12 21:51] mpl commented on #746
@glowingwire said on issue #769 :

"I discovered that a text file shows filename, but an mp4 file doesn't. This is regarded as a feature. Since I put so much effort into filenames, and folder structure, seeing these would be great help. I propose to always show the filename as object title, because I will never not want the filename, but other people may want it off, so option is requested.

It is

[2016-05-12 21:51] mpl commented on #769
dup of #746 now

[2016-05-12 21:51] #769 closed

[2016-05-13 16:17] mpl commented on #736
@josephholsten The launcher at https://camlistore.org/launch/?WIP=1 (please note the WIP parameter) should now create an instance from an image that has the above fix/CL. Could you please try it out and let me now if that fixes the problem for you?

[2016-05-13 16:22] mpl opened #770 "gce launcher: Google Cloud Logging API detection broken?"
I've launched an instance for a project that looks like (from the cloud console) it has the GCL API enabled, and yet I see in journalctl:

"May 13 16:05:19 camlistore-server.c.camli-mpl.internal systemd-docker[1637]: 2016/05/13 16:05:19 when this Google Compute Engine VM instance was created, it wasn't granted enough access to use Google Cloud Logging (Scope URL: https://www.googleapis.com/auth/lo

[2016-05-13 17:02] josephholsten commented on #736
I'd love to, but I'm unsure how to deploy this to a running gce server. I'll try to dig into it today.

[2016-05-13 17:14] mpl commented on #736
@josephholsten hmm I'm not sure you can do that. If you used our launcher to create the initial instance, it means you'd have to modify the existing systemd Camlistore service to now deploy from the https://storage.googleapis.com/camlistore-release/docker/camlistored-WORKINPROGRESS.tar.gz tarball , instead of https://storage.googleapis.com/camlistore-release/docker/camlistored.tar.gz
I suppose it'

[2016-05-13 17:25] edrex commented on #499
If we ever hit performance issues with the current implementation, or want to do k nearest neighbor queries, we could build an in-memory R*-tree with https://github.com/dhconnelly/rtreego (dunno how much memory/startup time that would cost) or possibly modify it to support on-disk index storage.

[2016-05-13 17:29] edrex opened #771 "FS: benchmark test"
FUSE seems slow. Create a benchmark test, and use it to profile the client to find out what it's waiting on.

[2016-05-13 18:24] mpl commented on #731
@cliveb here's the situation: the wasabeef/android Dockerfile (https://github.com/wasabeef/dockerfiles/blob/master/android/Dockerfile) indeed tries to fetch some archives (like the apache ant one) that do not exist anymore.

Which means if you tried to build the image yourself with docker build you wouldn't be able to. Or the day the maintainer removes the image from his disk and wants to rebuild

[2016-05-13 20:50] mpl opened #772 "clients/android: building with docker is broken"
While running 'make dockerdebug':

Step 9 : RUN cd /usr/local && unzip -q $GOVERS.zip
 ---> Running in a69dfd67c2d7
[073fc578434b.zip]
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  ca

[2016-05-13 20:51] mpl commented on #772
https://camlistore-review.googlesource.com/6587

[2016-05-13 21:30] mpl commented on #736
@josephholsten ok, I looked into it just for kicks, and it turns out it's actually pretty easy:

1) ssh into your instance (through the cloud console or however else)
2) sudo $EDITOR /etc/systemd/system/camlistored.service
3) change the fetched tarball to camlistored-WORKINPROGRESS.tar.gz
4) sudo systemctl daemon-reload
5) sudo systemctl restart camlistored # that might not even be needed because

[2016-05-14 19:54] FiloSottile commented on #31
Haven't added compaction yet, but more tests, robustness and hopefully maturity:
https://camlistore-review.googlesource.com/#/c/6588/

[2016-05-14 22:03] cliveb commented on #731
@mpl success. thanks for working through the camlistore/android.

Restored session: Sat May 14 03:05:14 PDT 2016

clivebs-bigMac:cliveb seebe$ wget
https://github.com/wasabeef/dockerfiles/blob/master/android/Dockerfile

--2016-05-14 15:01:00--
https://github.com/wasabeef/dockerfiles/blob/master/android/Dockerfile

Resolving github.com... 192.30.252.129

Connecting to github.com|192.30.252.129|:443

[2016-05-16 04:28] edrex opened #773 "publish: markdown support"
Render markdown files as html, wrapped in go html templates.

[2016-05-16 08:27] edrex commented on #766
I have a quick and dirty first pass of this in my branch: https://github.com/edrex/camlistore/tree/map. Uses the "location" key returned by @tajtiattila's [location describe patch](https://camlistore-review.googlesource.com/#/c/6456/). Currently works with photos and foursquare venues, but not checkins (see comments on that issue).

Once this is pretty and includes a container map, I'll submit to

[2016-05-16 12:55] tajtiattila commented on #766
Looking forward to this. For me location_detail.css seems to be missing, did you forget to add it?

[2016-05-16 16:47] edrex commented on #766
@tajtiattila thanks, didn't need it yet so removed the link from index.html.

[2016-05-16 17:30] edrex opened #774 "foursquare: venue thumbnails"
I'm working on a map aspect, #766, and it would be nice to have thumbnails for foursquare venues. There is a related issue (I think @mpl created) about the way photos are associated to a foursquareVenue being weird (camliPath:Photos -> Permanode, camliPath:* -> camliType: file) but I can't find it now.

[2016-05-16 17:41] edrex opened #775 "browser integration tests via devcam test"
I got curious what the state of browser integration testing in golang was, and a quick search turned up http://agouti.org/, a pure go webdriver client and associated BDD tooling. So we could write behavior assertions in Go, and run the tests with whatever webdriver is convenient (phantomjs, Chrome, etc). There would need to be some selection logic/env var for which webdriver to use.

@bradfitz @mp

[2016-05-16 17:45] tajtiattila commented on #766
Nice! I wonder if showing the thumbnail makes sense if there is only one marker. Or do you plan to add also nearby photos?

[2016-05-16 17:52] edrex commented on #766
IDK yet, just wanted to get something working to play around with. Maybe
showing an available thumbnail is nice even for a single point. The
thumbnail icon needs styling to precisely mark the point.

I think a "search for nearby nodes" button on the map would be cool, but
baby steps.

On Mon, May 16, 2016 at 10:45 AM, Tajti Attila <notifications@github.com>
wrote:

[2016-05-16 19:49] edrex commented on #607
I am working on upgrading to React 0.15, a lot of breakage.

[2016-05-16 19:53] #731 closed

[2016-05-16 20:00] mpl commented on #607
@edrex I'm not sure that's the best direction since, if possible, we'd eventually fully go the gopherjs route (which does not support React yet).

Similarly, I had a CL on updating closure https://camlistore-review.googlesource.com/5736 which I stopped working on when I realized we were doing gopherjs.

[2016-05-16 20:59] edrex commented on #607
Maybe gopherjs and React can coexist, at least in the short term? I'd hate to have the whole UI inoperable in master until every bit has been ported to a new UI system. Anyway, this is pretty much working, so I'll put it up: https://camlistore-review.googlesource.com/6597

[2016-05-16 21:05] edrex commented on #373
I think this is related to https://github.com/camlistore/camlistore/issues/623, since AFAIK you need to use ContentProviders to access removable SD storage on newer Android.

[2016-05-16 21:36] #758 closed

[2016-05-17 04:35] edrex commented on #758
I just explicitly reset the bad key in my instance, and maybe nobody else hit this.

If they had their server wouldn't start, so we'd probably have heard about it or they'd have moved on.

For the future, setting up a mechanism for registering one-time fixer steps (alongside the existing schema upgrade mechanism) seems useful.

[2016-05-17 13:47] #764 closed

[2016-05-17 13:54] mpl commented on #764
@srcr thanks for the feedback.

[2016-05-17 16:46] edrex commented on #758
Attaching my standalone fixup script (kvfile only) in case it's needed later: https://gist.github.com/7595986d535ce6e781ba46f16169c13d

[2016-05-17 18:46] edrex opened #776 "video play button needs pointer styling"
the video play button cursor is an arrow

also horizontal alignment is off for wide thumbnails with https://camlistore-review.googlesource.com/#/c/5116

[2016-05-17 20:22] edrex opened #777 "describe on file lacks exifgps metadata"
Describe doesn't currently return gps metadata, although it is indexed. Other metadata which is extracted from the file header (image dimensions, media tags, but not exif tags) are described.

It's needed for map views in the web ui (#766, #767).

It's implemented as part of https://camlistore-review.googlesource.com/#/c/6456/. Since the other part of that CL, which adds a synthesized location fie

[2016-05-18 22:38] edrex commented on #607
@mpl, it seems like you're suggest that we freeze development on the current web UI layer while a GopherJS-based replacement is developed.

I'm not opposed to using GopherJS for the web UI, but before we freeze the current UI I think we should map out a transitional plan. If we aren't, then I think we should continue to support and maintain the React-based UI.

[2016-05-18 22:57] mpl commented on #607
I need to finish testing something out before I can answer that. I hope to be done today.

[2016-05-19 15:10] mpl commented on #607
@edrex

First off, I believe React and gopherjs are quite incompatible, because:
1) There are no working react bindings for gopherjs, that I know of.
2) As soon as you have a react component, anything within it needs to be created with react methods such as React.DOM.Div(), and (I think) we can't do that with Go/gopherjs. So we would be able to replace bits with gopherjs, but anything that touches

[2016-05-19 18:25] dotMR commented on #607
@mpl out of curiosity, I know your personal feelings about JS, but what is the reasoning for abandoning JS/React? Is it a lack of current UI contributors?

My unsolicited opinion, but starting over with the UI seems like a few steps backward and a long road to hopefully get back to status quo (the generated file size seems to be a pretty common concern for GopherJS). And agreed to not count on gop

[2016-05-19 21:12] mpl commented on #607
@dotMR Yes, the ongoing lack of contributors is the main reason. We figured we could wait forever for contributors OR we could switch to gopherjs which at least ensured that Brad and I would eventually get things done on the UI, because we wouldn't be put off by having to do JS.
Not to mention the Go contributors we already have would perhaps then be tempted into doing UI work as well.

[2016-05-20 03:19] bradfitz commented on #607
I also share @dotMR's concern that we'd be starting from scratch on the UI. Maybe that's kinda okay, though, since we don't totally love what we have now.

But it'd be nice to build on top of common JavaScript UI libraries that are actively developed.

Can we do GopherJS + Polymer or ..... ? I don't know what's necessarily hip in JS widget/framework space these days.

Worst case TypeScript seems t

[2016-05-20 08:21] edrex commented on #607
I haven't played with GopherJS, but from the README it sounds like maybe `js.Global.Get("React.DOM").Call("Div")` should work?

It looks like this is the space to watch: https://github.com/gopherjs/gopherjs/issues/186

The thing I can't quite get over with GopherJS is the monolithic output. That's often fine for a web app, but also sometimes dynamic linking is useful: code sharing between differen

[2016-05-20 08:41] edrex commented on #607
React is still marginally hip right? Negative feels there?

I keep poking at Polymer and running away. I can't shake the feeling that it's held together by chewing gum. I love the concept of multi-vendor components coexisting on a page. Also the paper elements would give us a library of ready to go UI components. Not opposed.

I also hear good things about Typescript. Since it's a super-set of JS

[2016-05-20 14:33] mpl commented on #607
@bradfitz yes, there's a bunch of bindings at https://github.com/gopherjs/gopherjs/wiki/bindings , including Polymer. And it seems to be actively worked on (furthermore, by PSG-Luna who I believe is an active gopher overall), so Polymer would be an option. There's also Angular, from the same author as gopherjs, but as he says so himself he's too busy with gopherjs these days.

However:

@edrex I w

[2016-05-20 15:06] martine commented on #607
Hey, thanks for thinking of me!

TypeScript is a really strong, simple engineering choice.  It is designed to interoperate with existing JavaScript and you can in theory convert a file at a time.  In particular if you're interested in minification, I work on https://github.com/angular/tsickle which compiles TypeScript via the Closure compiler, which is significantly better than any other optimizer

[2016-05-20 15:18] mpl commented on #607
@martine We are indeed addressing different problems at the same time, but I still think they are related as: it's not worth upgrading React if 1) we decide to dump it altogether right now (unlikely), or 2) upgrading it (gains us nothing and) makes the transition to gopherjs more difficult (I don't know yet).

[2016-05-20 16:33] mpl commented on #607
btw, just to put some figures in perspective:

-currently in ui/,
$ du -sch *.js *.html *.css
456K	total

and that 5.7MB (minified) output I had for https://camlistore-review.googlesource.com/6608
, once gziped, goes down to:
1.2M	gopherjs.js.gz

otoh, in that CL, we wind up importing a ton of Camlistore dependencies just because I use a couple of types from pkg/search and pkg/schema. So as an exp

[2016-05-20 16:58] mpl commented on #607
Quick experiment mentioned above (patch set 3 of https://camlistore-review.googlesource.com/6608), makes the size of gopherjs.js drop down to:
3.4M	gopherjs.js

and gzipped:
656K	gopherjs.js.gz

So in that specific case, I suppose a short-term win would be to move some of the types of pkg/search to e.g. pkg/types/camtypes

[2016-05-20 18:37] cliveb commented on #607
Backing up to coexistence, component.kitchen walks throught a web
components approach with React. (I gathered Jan and Rob are tight with the
Polymer and TypeScript teams).

https://component.kitchen/blog/posts/using-react-app-techniques-at-the-web-component-level-with-redux-virtual-dom-and-jsx

On Fri, May 20, 2016 at 9:58 AM, mpl <notifications@github.com> wrote:

[2016-05-20 23:34] mpl commented on #607
Just for kicks, I've also the closure compiler on the gopherjs generated code. It seems worthwhile.

https://github.com/gopherjs/gopherjs/issues/136#issuecomment-220741739

[2016-05-21 01:05] edrex commented on #607
I guess a more apples-to-apples size comparison with the current UI would be
`uglifyjs2 ui/*.js | dd > /dev/null` 147662 bytes
`uglifyjs2 ui/*.js | gzip | dd > /dev/null` 33796 bytes

[2016-05-21 02:08] edrex commented on #607
My feels around this:

I think a core web UI built into camlistored binary is important. I would also like to see out-of-process apps taking a larger role in providing UI. Given that aim (which might not be shared?), I think there are a few things core could do to support third party UI:

 - Provide hooks for apps to implement various UI interfaces (node aspects, thumbs, item+items actions, global

[2016-05-21 13:32] tajtiattila opened #778 "Metadata aggregation"
Camlistore supports different kinds of indexed metadata in uploaded files (Exif, GPS, ID3 etc).

It is desirable to have access to this data, and be able to modify it later.

One use-case for metadata access is an app that shows photos on a map: it needs the GPS location info from camlistore.

One possible solution is the mapping of metadata attributes to permanode attributes: e.g. `camput file -f

[2016-05-21 21:34] edrex opened #779 "devcam server blobpacked index: WAL file doesn't exist"
Sometimes when persisting data between `devcam server` runs, I get a fatal error like this:

[code]

I've only seen it with devcam. `devcam server -wipe` works, but then I have to recreate my test data. It doesn't look like there's an equivalent to `camlistored -recovery`.

@bradfitz

[2016-05-21 21:48] edrex opened #780 "CSS files don't load via http/2"
Something about the way the current version of less.js is doing its XHRs (maybe using the deprecated sync option) is causing the CSS files to fall back to http/1.1. Upgrading to the latest version allows them to load via http/2.

[2016-05-21 21:48] edrex commented on #780
https://camlistore-review.googlesource.com/6616

[2016-05-21 22:18] cliveb commented on #778
Doesn't "modify it later" go against the grain of Camlistore?

I recall Brad described the location use case at GDG Seattle talk this way
around. Save "4sq" checkins in Camlistore today, separately location
history is recorded by Google.

At some later date combine the 4sq checkins in Camlistore with location
history from Google. Look up the 4sq checkin content and add mutations to
the permanodes-

[2016-05-21 22:19] bradfitz commented on #780
CL 6616 should reference this bug.

Put at the end:

[2016-05-21 23:30] mpl commented on #607
@edrex all right, so obviously we still don't know if the gopherjs large size is a problem (it probably is), and more importantly if/how we're going to fix it. And I don't want this indecision to be a blocker in any way for the UI, so if/when you end up needing the React upgrade for the UI, let me know and we'll land it.

Heck, or maybe we'll just land it asap (next week). Worst case scenario we'l

[2016-05-22 00:12] bradfitz opened #781 "foursquare: attempt to get blank URL image"
Noticed in logs:

[code]

Something is trying to `http.Get()` on an empty URL string.

The new photos-of-friends importing? /cc @radkat, @mpl

[2016-05-22 00:27] bradfitz opened #782 "mysql database hang"
My index hung.

This goroutine looks odd (two minutes hung so far in a mysql query):

[code]

The rest: https://gist.github.com/bradfitz/fc2f142d003df1bfd1614f9cf3e0262e

/cc @mpl

[2016-05-22 01:06] ajft commented on #781
I've seen those for months on my camlistore; one very minor suggestion I'd
make about the msg would be if it said "foursquare: couldn't get ..." so
people know where the msg comes from.

On Sun, May 22, 2016 at 10:13 AM Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-05-22 04:24] tajtiattila commented on #778
This issue is specifically for file permanodes created using with camput file -filenodes, and the "modify it later" bit means just adding new set-attribute claims by the user when he/she decides to do so.

One example use-case is when there is a photo with incorrect Exif (forgot to set camera date/time/timezone, or GPS fix is outdated) in camlistore. Right now there is no easy way to fix these att

[2016-05-22 06:49] tajtiattila commented on #778
I've started working on it at https://github.com/tajtiattila/camlistore/tree/filemeta

[2016-05-22 07:19] edrex commented on #780
Oops, meant to. Thanks, done.

[2016-05-22 15:29] bradfitz commented on #782
From the MySQL side, I'm also seeing trivial queries taking forever:

[code]

So maybe it's MySQL's fault.

It's on an SSD, and there's free disk space.

[2016-05-22 16:39] #780 closed

[2016-05-22 19:23] bradfitz commented on #782
Can't reproduce with same queries by hand (with the mysql client).

Maybe it's a Go 1.6 vs Go tip issue.

[2016-05-23 04:07] DanielHeath opened #783 "Twitter importer: Links in UI don't resolve correctly"
Steps to repro:
1) Import a twitter account.
2) From `/ui/` in firefox, click the icon for the twitter account (a link to `/ui/sha1-c8dc15fca027d583c87a9b90a1644a72bf66acb2?q= ` - the first icon if the importer has run recently and added new tweets).
3) Click on the icon for a single tweet (a link to `/ui/sha1-fd7f1e706133890ad51c83158ff4906e4d45a385?p=sha1-c8dc15fca027d583c87a9b90a1644a72bf66acb2

[2016-05-23 04:47] edrex commented on #783
I can't reproduce on latest head. What version are you on (/status/)?

[2016-05-23 04:54] edrex commented on #745
I think @mpl's https://camlistore-review.googlesource.com/#/c/5116/ is a start on this.

[2016-05-23 05:06] mkorenkov opened #784 "google cloud: GS GET request failed status: 429 Too Many Requests"
camlistore keeps dying on startup with `GS GET request failed status: 429 Too Many Requests`

relevant handlers from my `server-config.json`
[code]

Logs:
[code]

[2016-05-23 05:06] edrex commented on #607
Thanks @mpl :) I'll have a map aspect patch up pretty soon, but it depends on a describe change too so no hurry.

[2016-05-23 05:09] DanielHeath commented on #783
camlistored status

Versions

Camlistore: 2016-02-13-d16ac53
Go: linux/amd64 go1.5.2, cgo=true
djpeg: djpeg available

[2016-05-23 05:22] edrex commented on #783
Ah, I think I see what's going on. Tweets with attached images have camliPath:foo.jpg attrs, but they point to static files rather than permanodes https://github.com/camlistore/camlistore/issues/470, which confuses the UI . We can work around this in the UI but probably better to make a decision about whether camliPaths to files are valid first.

[2016-05-23 05:37] edrex opened #785 "camliPath:* can point to static files and directories"
* [ ] UI: Display static file and dir children in "Contents" aspect
* [ ] FS: Represent static file and dir children as read-only files/dirs

Pulling this out from #470.

[2016-05-23 05:38] edrex commented on #783
Closing as duplicate since @mpl described the UI issue in https://github.com/camlistore/camlistore/issues/470#issuecomment-66575516. Thanks for the report!

[2016-05-23 05:38] #783 closed

[2016-05-23 05:38] DanielHeath commented on #783
Aha - it does indeed work for tweets without attached images.

[2016-05-23 07:22] edrex commented on #778
It seems like the need to modify metadata encoded in file content is handled already via the camliContent attr (which you can change by writing to a file in cammount, etc). Mutation happens to involve creating a new file blob, but that's an implementation detail.

If you copy content metadata fields as permanode attrs, then mutate some of the attrs, file-based media viewers will still see the unch

[2016-05-23 07:23] tajtiattila commented on #778
My proposal is now implemented in https://github.com/tajtiattila/camlistore/tree/filemeta

To test it, set up a dev server and load files with `camput file -metadata` into it. Or use `camtool filemeta` to set the content-based metadata attributes.

[2016-05-23 07:40] tajtiattila commented on #778
@edrex It is true that the Exif can be changed, but writing the file in cammount could break deduping, it could still yield duplicate file permanode(s) if the new (fixed) file is uploaded again with `camput file`.

It is also true that there should be a way to get the file content with correct Exif from camlistore. But that is doable by writing the content metadata back to the stream by clients.

[2016-05-23 13:56] mpl commented on #784
deferring to @bradfitz and @FiloSottile for now as I haven't delved into the encrypted blob server yet nor followed the latest changes in that area.

[2016-05-23 14:01] mpl commented on #745
yep, that CL would help with the video metadata indexing part.

[2016-05-23 14:07] mpl commented on #782
if it is (a Go tip issue), gopherjs does not work with go tip either atm anyway.

[2016-05-23 14:15] FiloSottile commented on #784
I have a patch in my tree to retry on 429, which is not enc-specific, but it depends on https://code-review.googlesource.com/#/c/4770/ to surface the error from the Google library. I'll mail it once that CL is merged.

As for why it's happening with the enc bs, the current code does not pack meta blobs, so at startup you are making one request for each blob you stored.

I have two open CL that ref

[2016-05-23 14:39] mpl commented on #779
ugh. I thought I had phased kv out as the default in favor of leveldb everywhere.

https://camlistore-review.googlesource.com/6627 does not fix the actual problem, but should at least side-step around it.

[2016-05-23 17:32] edrex commented on #778
The file chunker (/pkg/schema/filewriter.go) is designed for this kind of use. If you overwrite the (<256k) header, only the first chunk and its direct (metadata) ancestors are written. This could be tuned, maybe to break on semantic boundaries like the ends of common header formats, before each keyframe for video, etc, but keeping it format-unaware is nice too. Since chunking is the responsibilit

[2016-05-23 17:51] edrex commented on #754
meh

[2016-05-23 17:51] #754 closed

[2016-05-23 18:51] mkorenkov commented on #784
I have found a workaround:

[code]

That way camlistored keeps dying on startup from time to time, but since index is no longer stored in memory, it eventually it fetches all the data it needs.

[2016-05-23 22:28] tajtiattila commented on #778
In my tests it was more like 1M per photo that was wasted, much more than what's needed for exif. I didn't know chunking was the responsibility of clients, thanks for the hint.

What I don't get is that for some permanode types its ok to have location attributes (such as the ones  from the foursquare and twitter importers) but for files people think it's a bad idea. What about files that don't hav

[2016-05-24 04:10] mkorenkov opened #786 "error instantiating storage, type "encrypt": error from "kv" KeyValue:unexpected EOF"
I have switched `metaIndex` type from `memory` to `KV` for handler `storage-encrypt`, waited until camlistore fetches all the data from Google Cloud and it started failing with
[code]

(This happened after #784.)

relevant part of `server-config.json`:
[code]

startup log:
[code]

[2016-05-24 16:01] #781 closed

[2016-05-24 16:10] bradfitz commented on #782
I figured it out.

My MySQL scheme was old and had the wrong widths (only 256 bytes for the rows.k value). I then had a blob with a large title (longer than 256) trying to be inserted. It was passing the `sorted.CheckSizes(key, value)` check, but then it was failing on the last statement of:

[code]

But when it sets b.err, everything thereafter ignores future mutations, but in commit batch,

[cod

[2016-05-24 19:27] edrex commented on #778
Might be worth adding a new test in filewriter_test.go that writes a largish rand file, mutates the header, writes again, and checks that only the first children at each level get changed, and that the [leaf node](https://camlistore.org/doc/schema/bytes) is <= 256k.

I agree: "mixins" attrs (camliContent, your proposed camliLocation) are much more useful than type-specific attrs (foursquareVenue).

[2016-05-24 23:55] mpl commented on #782
ouch, what a story. (and I thought we had devised a migration route when we did the key size change...)

[2016-05-25 00:13] mpl commented on #778
@tajtiattila I'm not sure who "people" are, but being able to index whatever permanode attribute you want to set, even for permanodes with a file content, sounds ok to me in theory. I need to think about it some more though.

[2016-05-25 02:28] rfistman opened #787 "docker camlistored gives s3 403 time skew errors in non PST timezones"
Hi, I'm trying out camlistore like so:

    docker run --rm -p 80:80 -v `pwd`/state:/camlistate -v `pwd`:/.config/camlistore camlistore/camlistored

with kv store + s3

[code]

[2016-05-25 07:15] tajtiattila commented on #778
I've added the bits I felt necessary for to my [branch](https://github.com/tajtiattila/camlistore/commits/filemeta). PTAL

There are two sets of changes in there. The first part that seems necessary is fairly trivial, and is in pkg/index and pkg/search. The other changes (pkg/schema, cmd/camtool and cmd/camput) are just there to support this feature in the standard client tools.

[2016-05-25 07:35] tajtiattila commented on #777
There is already DescribedFile.MediaTags but there are no DescribedFile.ExifTags. The Exif tags are in the index, this could be returned, too. While this could theoretically work, the Exif data in the index is modeled after the binary Tiff format (IOW data is just dumped there as is), so it is difficult to parse.

It would be unfortunate to add a new field in DescribedFile for every new file type

[2016-05-25 15:25] #772 closed

[2016-05-25 20:51] edrex commented on #778
@tajtiattila I really appreciate the great work you've been doing on the index and want to see this metadata unification stuff move forward.

Pros for lifting content-encoded metadata as permanode attrs:

 - Unified query and describe semantics via attrs.
 - Follows a similar pattern to importers, so there is precedent.

Cons:

 - Keeps the old file-based index, query, and describe pathways, so no

[2016-05-25 21:19] cliveb commented on #778
@edrex On ideas to address the cons (probably just for me). "shadow" attr
claims are computed collections viewed in web UI only?

On Wed, May 25, 2016 at 1:51 PM, Eric Drechsel <notifications@github.com>
wrote:

[2016-05-25 22:06] edrex commented on #778
The shadow claims would affect search and describe for all clients, not just the web UI. So far I see that it would require changes in pkg/index/corpus to update the attr cache and in pkg/search/describe (populatePermanodeFields). I'm not sure where else.

[2016-05-25 23:44] edrex opened #788 "Indieweb blog engine app"
This is a big task, and needs to be spec'd out and split up into smaller ones. I'd like to get something working in time for http://2016.indieweb.org/ June 4-5. @willnorris @bradfitz

I'm not sure if publish should grow these features, or if I should start fresh and factor out common code.  Also look at adapting Hugo to work with Camlistore.

## Basic blog

 - [ ] For a node with camliNodeType: bl

[2016-05-25 23:44] edrex commented on #788
Self-assigning but definitely HelpWanted.

[2016-05-26 07:39] tajtiattila commented on #778
@edrex I find the cons you list to be somewhat unfair. I started working on this issue with the attributes I know in mind (ones I already needed to change earlier, eg. with exiftool), so I didn't felt confident removing code from the index for non-permanode attrs.

It is possible that there is no metadata in files at all, therefore they can't be computed.

I don't know how relevant is that when ch

[2016-05-26 14:19] edrex commented on #778
What do you think about my proposal re: shadow claims? It wouldn't require new writes to blob storage or the index, and would automatically update when camliContent changes, but would still seem to achieve the goal of surfacing content encoded metadata as permanode attrs.

[2016-05-26 14:35] tajtiattila commented on #778
The shadow attrs seem like a good idea to me, especially if it is a problem to have file permanodes with many attrs. The solution I proposed (which is how it in my branch works) could end up having to add many metadata attrs (when new ones are added or defined).

On the client side they would look the same, isn't it? So the 'shadow' attr can be overwritten with real permanode attrs. Can they be de

[2016-05-26 14:46] tajtiattila commented on #778
One idea related to the file metadata topic that crossed my mind: file permanodes could perhaps have attrs camliContentMetaType (eg. Exif or ID3) and camliContentMeta (sha1 of bytes) for changed attributes. I don't know much about ID3, but Exif is just a bunch of bytes that can be easily found and replaced in JPEG. But this wouldn't do anything other than making it easy to modify metadata, so I ha

[2016-05-26 18:45] edrex commented on #637
This came up on the ML today. Seems worth reopening.

https://groups.google.com/forum/#!searchin/camlistore/twitter$20localhost/camlistore/nLyF9y5WoIU/5n54XpJ3AQAJ

[2016-05-26 18:54] edrex opened #789 "cammount usage examples"
Probably add to https://camlistore.org/cmd/cammount/

Things like:

[code]

etc

[2016-05-27 00:24] edrex commented on #778
Yeah, I need to think a bit about how to extend the describe semantics. It would be nice if the describe result could indicate which fields are "shadow", and maybe also if you could use it as a PermanodeConstraint (HasShadowAttr or something?). But if the client doesn't care it should just look like another attr.

They could be deleted via `del-attribute` [claims](https://camlistore.org/doc/schema

[2016-05-27 00:43] edrex commented on #773
Closing to focus on https://github.com/camlistore/camlistore/issues/788 for now. Feel free to reopen if you want to work on it.

[2016-05-27 00:43] #773 closed

[2016-05-27 05:58] mkorenkov opened #790 "levelDB: make Sync configurable, false by default"
I'm using `storage-encrypt` handler with `leveldb` `metaIndex`. Camlistore tries to fetch meta blobs on start and dies (#784). Since levelDB is opened with `Sync: false` it is stuck in this loop for 2 days already.

1. Open levelDB with `Sync: false`
2. Fetch meta blobs on startup
3. Crash on #784 , do not call `fsync`, loose data
4. Repeat.

Here's the output of `du -sh <levelDBpath>` for the las

[2016-05-27 06:05] mkorenkov commented on #784
OK, workaround didn't work.. I ended up with corrupted `kv` index in #786 and `levelDB` that is stuck in an endless startup/crash loop: #790.

[2016-05-27 12:59] #476 closed

[2016-05-27 14:05] mpl commented on #476
@edrex we should keep track on how you trimmed the test data in the zip file. Can you please add a README in the testdata dir to explain that? Or even a program if it's more that a couple of commands?

[2016-05-27 17:21] edrex opened #791 "videos are missing thumbnails"
Currently I have to apologize when demoing from my main store, since I take a lot of video.

Fixed in https://camlistore-review.googlesource.com/#/c/5116/. It would be great to get that landed.

[2016-05-29 00:06] mkorenkov opened #792 "reclaim disk space by running `gc.Collect()`"
I suffer as I have to presort photos and videos before uploading them to camlistore. As camlistore ignores my intention to delete the stuff I don't want to keep. It's just marked as deleted, nothing is really gone.

Btw, we had to give up the idea of using camlistore as our backup system in my previous company just because we could not wipe the old data.

I remember some old discussions about garb

[2016-05-29 00:27] mkorenkov opened #793 "video player says "Video can't be played because file is corrupt""
Got a few of these ones today. Not sure how to get a reliable way to reproduce. Log shows nothing.

[2016-05-29 09:07] jeffallen opened #794 "getting started says Go 1.5 is required"
https://camlistore.org/download says that Go 1.5 is required. Go 1.6 is required as of today.

I would have submitted a doc fix for this, but I didn't see where it is in the repo to hack on.

[2016-05-29 17:13] happyalu commented on #794
https://camlistore-review.googlesource.com/#/c/6656/

[2016-05-29 18:39] willnorris commented on #794
"required as of today"?  Was there a specific commit that requires 1.6?

[2016-05-29 19:21] mpl commented on #794
Hey,

I can't properly check things right now (mobile, spotty internet), but
afair on the website we were listing the go version required for the latest
stable release. Which is still go 1.5 for 0.9.

Mathieu

(on phone)
On May 29, 2016 8:39 PM, "Will Norris" <notifications@github.com> wrote:

[2016-05-29 22:57] mbrgm opened #795 "Add PDF.js viewer for PDF files"
Would [PDF.js](http://mozilla.github.io/pdf.js/) be a conceivable addition to the Web UI? This could allow viewing PDFs just like it is already possible for images.

[2016-05-30 01:38] happyalu commented on #794
The current tip requires 1.6 (enforced by make.go) .

The instructions on the release page (https://camlistore.org/doc/release/0.9) correctly say that mininum needed is 1.5. However, the download page (https://camlistore.org/download) has build instructions that I just checked fail with 1.5.4.

Maybe we can
(a) Add a line to checkout tag 0.9 before building, in case someone wants to build the stab

[2016-05-30 03:11] happyalu opened #796 "Stray blobs cause camput to punt"
I was initially testing out camlistore, both with devcam as well as camput/get. As a result, I had a few blobs in my ".cache" directory.

I then wiped everything clean, and started a "real" ingestion of data into camlistore. Camput was stopping quickly. Camlistored was reporting "blob was not fully indexed because of a missing dependency". I double checked that my GPG settings were right, and that

[2016-05-30 06:35] DanielHeath commented on #602
Would a PR accepted to bake them into the front-end? They're only 1kb or so, and having all your dependencies local is definitely a nice feature.

[2016-05-30 08:41] happyalu opened #797 "blobpacked_index vs runIndex"
In an attempt to speed up a large data dump, I was trying to disable indexing. Base config file:

{
    "auth": "localhost",
    "listen": ":3179",
    "identity": "XXX7",
    "identitySecretRing": "/loc/identity-secring.gpg",
    "blobPath": "/loc/camlistore/blobs",
    "packRelated": true,
    "levelDB": "/path/camlistore/index.leveldb",
    "dbNames": null
}

Adding runIndex: false to this set

[2016-05-30 13:51] mpl commented on #791
ok, I'll try to refresh that CL soon.
If I get thorough reviews from you (and hopefully another peer), I could probably land that one even if Brad is too busy to look at it.

[2016-05-30 13:55] mpl commented on #792
The garbage collector is not finished. I need to resurrect https://camlistore-review.googlesource.com/2340 the day we decide it's a more important matter. So yeah, therefore camlistored does not call it at all for now.
Then we'll enable it very carefully (i.e. it won't run automatically at first).

[2016-05-30 13:57] mpl commented on #793
Please give us more to work with. Where do you see that message? In which circumstance, etc.

[2016-05-30 14:17] mpl commented on #794
@happyalu yes, let's do (b). https://camlistore.org/doc/release/0.9 already says Go 1.5 (or newer, actually, but nevermind). Let's just fix https://camlistore.org/download to say "As of revision 33a8eec553, Camlistore requires Go 1.6 or newer."

[2016-05-30 14:22] jeffallen commented on #701
I am using rsc's and it works great. I use setcap to let me bind to port 443. My patch is hacky and says "if httpCert == "autoLetsEncrypt" then use rsc's package, otherwise do the normal thing".

I was planning on cleaning up the hackiness and posting a CL.

[2016-05-30 14:42] mpl commented on #795
Maybe? :-)

Since chrome (I don't know about other browsers) already allows viewing PDFs, I don't know how much of a gain that would be. If you select a pdf permanode, then click on "view original", then you can read the PDF without any need of a 3rd party lib.
It would be nice to have a preview of the PDF displayed instead of the blank permanode "icon" but I suspect we could (and hence would like

[2016-05-30 14:52] mpl commented on #797
@happyalu afair, In theory you should be able to. But in practice we've been increasingly relying on the indexer, so I wouldn't be surprised if you can't. I'll double-check, thanks.

[2016-05-30 15:14] happyalu commented on #794
Updated https://camlistore-review.googlesource.com/#/c/6656/

[2016-05-30 16:35] #794 closed

[2016-05-30 18:11] mbrgm commented on #795
I think it also depends on what's the general philosophy regarding (pre-)viewing several filetypes in the Web UI. Obviously, previewing images and videos just works™ when clicking on the icon, but for .pdf or .txt files, users have to 'view original' in order to read the document. Clicking the icon only gives 'no result found', while there's a special view for images and videos.

Maybe you could e

[2016-05-30 20:12] mpl commented on #795
@mbrgm There are no definite/precise plans that I know of. Easy handling of common files (such as text or pdf) is definitely on the table, and how to do it is open for discussion.
It just happens that:
1) We usually favor server-side work if we can
2) We're kindof in the middle of (re)defining how we're going to work on the UI moving forward
3) In the long run, even the web UI could be a stand-alo

[2016-05-30 23:51] bradfitz commented on #795
I'd like to see PDF support, especially if it helps with thumbnails of PDFs or easier browsing of PDFs with our UI overlayed (in any browser, not just Chrome).

[2016-05-31 15:48] mpl commented on #797
https://camlistore-review.googlesource.com/6666

Even with that change, I think you're going to run into some trouble when running camput against a Camlistore without an indexer. I'm looking into it.

[2016-05-31 16:15] happyalu commented on #797
Thanks, this looks good :+1:

By the way, (you've probably already seen this) I had tried running the indexer in this manner, camput threw some errors about receiving invalid JSON when asking for whole file digests.

[2016-05-31 16:19] mpl commented on #797
yeah, this is fixed in https://camlistore-review.googlesource.com/6676 but gotta run for now before testing it out.

[2016-05-31 23:45] mpl opened #798 "web UI: use gopherjs (?)"
There is a will (primarily from @bradfitz and I) to start using gopherjs (gopherjs.org) for future work on the web UI.

Some of the problems related to that move have been discussed in issue #607 , but I'm creating this new issue for further discussion since the original intent of 607 was not the same (even though the issues are related imo).

A recap of the existing gopherjs CLs and experiments:

[2016-05-31 23:50] mpl commented on #798
Noteworthy, and somewhat related to the React problem: I've just discovered this project: https://github.com/gopherjs/vecty which seems to be getting contributions from the gopherjs maintainer.

[2016-06-01 00:09] edrex commented on #452
A quick search found a nice and simple implementation using three.js. That's a pretty heavy dependency though.

http://blog.thematicmapping.org/2014/01/photo-spheres-with-threejs.html

[2016-06-01 03:25] cliveb commented on #452
Even Meetup (http://meetup.com) doesn't indicate or preview an image is panorama or photo sphere.  Camlistore shows panorama's as larger (longer) images (meetup doesn't). My Android phone and desktop browsers seem to open photo sphere images correctly. If you only knew which images are photo spheres. Coming full circle is there any partial thumbnail viewer indicating an image is photo sphere witho

[2016-06-01 17:49] mkorenkov commented on #793
Good news, data seems to be OK. I was actually able to `camget` the video back, it is playable and I didn't find any issues with it.

It seems, video player was just unable to process it. There could be various reason for that: timeout when downloading, missing frames, unsupported codec/compression/whatever, etc. My best guess would be the timeout as I waited for 10+ minutes for `camget` to actual

[2016-06-02 00:18] DanielHeath commented on #798
When comparing filesizes, it's important to bear in mind that there's a lot more we could do to optimize the camlistore frontend. Unfortunately most of the tools for that stuff are not easily ported to go - e.g. https://developers.google.com/closure/compiler/ .

[2016-06-02 00:19] DanielHeath opened #799 "Document IAM permissions required for s3 sync target"
I've created a camlistore user for my AWS account - I'd like to lock it down so that e.g. keys getting leaked don't let someone delete my backups.

[2016-06-02 00:24] mpl commented on #798
@DanielHeath it doesn't have to be in Go to be called from Go. we actually used to run the closure compiler before we started using React.
And I've retried it recently too:
https://github.com/camlistore/camlistore/issues/607#issuecomment-220742124

[2016-06-02 00:33] DanielHeath commented on #799
I'm going to try using the following policy document - from the code it looks like it'll be enough.
[code]

[2016-06-02 00:49] DanielHeath commented on #798
I've tried to do frontend stuff in gopherjs recently; if anyone is thinking of embarking on this path it's worth noting that you will have to write a lot of wrapper boilerplate.

Libraries exist to do it but generally only support the subset of properties the author happened to need.

[2016-06-02 07:29] mkorenkov opened #800 "camtool sync interrupted leads to corrupt -dest"
I was running `camtool sync`. It was interrupted due to network issue. After `-dest` server restart it tries to sync `/bs/ -> /index/` and fails. Can this behavior be disabled, so that I could finish the sync and recover data?

My `server-config.json`:
[code]

Log:
[code]

[2016-06-02 08:22] mkorenkov commented on #800
found similar issue #555

switched to `levelDB` and running with `-reindex` and it says I have `0 blobs (0.000 GiB)`, while in fact it has 17G to scan:
[code]

Log:
[code]

[2016-06-02 13:14] mpl commented on #798
@DanielHeath from what I tested in e.g. https://camlistore-review.googlesource.com/#/c/6608/ it didn't feel so bad, and even if you're right I'm not worried about having to write more Go code tbh.

On the other hand, the output size may turn out to be enough of a problem to be a show stopper for us. :-(

With something like a ~4MB gopherjs.js, it takes ~10s to load the index page of the web UI on

[2016-06-02 13:56] mpl commented on #681
Related thread https://groups.google.com/d/msg/camlistore/lpeli0IwxBc/fuCNlkULFgAJ

[2016-06-02 14:03] mpl commented on #800
I think you might actually have hit this issue: #681

Regarding your sync question, yes; you can be more precise in specifying (in your client config) the src and dest enpoints so you don't sync to the indexer, but only to the blob storage. See the issue mentioned above, as well as the related thread: https://groups.google.com/d/msg/camlistore/lpeli0IwxBc/fuCNlkULFgAJ

[2016-06-02 21:04] edrex opened #801 "Finish docs cleanup"
@willnorris [completed much of this work](https://camlistore-review.googlesource.com/#/q/owner:%22Will+Norris+%253Cwillnorris%2540google.com%253E%22) in the week following LFNW. This issue is about mapping out the remaining tasks so people who want to work on finishing the doc restructuring (inc myself) have a clear path forward.

- Finish consolidating /website/content/*.html into /doc/, which wi

[2016-06-02 21:26] edrex commented on #801
Reviewing the current status, I realize that all the remaining pages are at the top level, and so it's not clear where they could be moved to. The only possible improvement would be to translate them to markdown, for consistency with /doc. Closing this.

[2016-06-02 21:26] #801 closed

[2016-06-02 23:26] cliveb commented on #798
Tree shaking like in Dart to make gopherjs output size smaller discussed
and closed. With comment from @neelance <https://github.com/neelance>
https://github.com/gopherjs/gopherjs/issues/259

On Thu, Jun 2, 2016 at 6:14 AM, mpl <notifications@github.com> wrote:

[2016-06-03 05:16] edrex commented on #799
Previous discussion: https://groups.google.com/forum/#!searchin/camlistore/s3$20policy/camlistore/W8GE1fpxtbI/mgbFa7GfBL0J

This could be documented in the /pkg/blobserver/s3 source, but that doesn't seem like a good fit.

Let's add a new page, /doc/storage.md, with sections with operational guidance for the various storage implementations. We could make one page per implementation, but I think th

[2016-06-03 07:10] edrex opened #802 "google photos: import shared albums"
I have been using google photos shared albums to create pools of photos from events, and now I'd like to import them into camlistore. I tried "add to library" in photos, but that doesn't seem to cause camlistore to import them into the Albums folder on the next run.

[2016-06-03 07:25] edrex commented on #452
Photosphere photos seem to have a couple of exif tags defined:

[code]

[2016-06-03 07:33] cliveb commented on #802
Try another way. Android app: google photos, select images; Camlistore
uploader app, sync.

On Fri, Jun 3, 2016 at 12:10 AM, Eric Drechsel <notifications@github.com>
wrote:

[2016-06-03 19:16] willnorris opened #803 "website /gw/ redirect only works for some directories"
https://camlistore.org/gw/ redirects to source code on googlesource.com.  It hard codes support for the "doc" and "clients" directory, otherwise it assumes that the first path segment is a git ref.  We have at least a few links in https://camlistore.org/doc/status that are broken because they assume that other directories are supported (e.g. https://camlistore.org/gw/server/camlistored).

I would

[2016-06-03 19:43] edrex commented on #803
It looks like there's only one usage of the git ref form (in CONTRIBUTING.md). My first thought is "why not remove it?", but I find there's a reluctance to delete code here.

How about two handlers, `/ref` for refs and `/src` for master, so it's unambiguous?

[2016-06-03 20:50] willnorris commented on #803
If we're going to leave /gw/, then there doesn't seem to be much point in adding a /ref, especially if it's not an oft-used thing.  I would think just adding /src which always takes a source path and assumes the master branch would be sufficient.

[2016-06-03 22:39] mpl commented on #791
@edrex PTAL.

I won't land it until @bradfitz has at least reviewed the 2 finer points I'm talking about in the commit msg.

Once that get cleared, I could split it in smaller pieces for easier reviewing, but I've kept it all together for now, so we get the complete picture with it.

That said, I think it's now clean enough that you can quite confidently use it at least for demos.

[2016-06-04 08:49] edrex opened #804 ""public mode""
Add a mode which hides potentially sensitive content.

I mean, not for me, for a friend. 😝

I think a single attr flag `isPrivate: true` would suffice.

UI only initially, not a security feature (although the semantics could be used later to provide a "public stream" share).

[2016-06-04 08:56] edrex commented on #804
Nevermind, circles-style "opt-in" sharing as discussed elsewhere makes more sense.

[2016-06-04 08:56] #804 closed

[2016-06-04 10:56] edrex commented on #798
I'm planning to explore TS/ESM/third party apps in parallel [here](https://github.com/edrex/camlapp).

[2016-06-04 17:40] edrex commented on #791
thanks @mpl! I'll try it out over the weekend and review in detail next week.

[2016-06-04 17:59] edrex commented on #788
I just saw @aaronpk demo his [quill](https://quill.p3k.io/) [micropub](http://indiewebcamp.com/micropub) client, and it seems like implementing some micropub stuff in an app might a fun way to get an editing UI without a lot of work, while fleshing out some stuff we haven't done yet like being an OAuth 2 provider.

[2016-06-04 19:06] mkorenkov commented on #800
@mpl thanks, you were right. I was able to recover my remote server by running:
[code]

[2016-06-04 23:33] mpl commented on #804
also, note that we're supposed to have some sort of mechanism for hiding the permanodes (even though I've never paid much mind to it). See SkipHidden in pkg/search.

[2016-06-04 23:34] #800 closed

[2016-06-05 23:47] bradfitz commented on #602
@DanielHeath, if it's only a few KB, sure.

[2016-06-06 00:03] bradfitz opened #805 "camweb: TLS cert expiring Jun 23rd, move to LetsEncrypt"
The TLS cert for https://camlistore.org expires "Thursday, June 23, 2016 at 4:59:59 PM Pacific Daylight Time".

I return from my honeymoon Wednesday, June 22nd, 2016, 7:40pm, Pacific Daylight Time.

While I might in theory have time to mess with TLS certs immediately after I return, I doubt it.

@mpl, please update camweb to a vendored copy of https://godoc.org/rsc.io/letsencrypt and persisting th

[2016-06-06 00:03] bradfitz commented on #701
Related but different: #805 (for camlistore.org the website)

[2016-06-06 13:30] mpl commented on #805
ACK

[2016-06-06 14:58] mpl commented on #782
I've just hit something related while restarting my camlistored (with mysql):

2016/06/05 23:50:07 Caught panic installer handlers: error instantiating handler for prefix "/my-search/", type "search": error slurping index to memory: bogus claim row: "claim|sha1-00d329f139b347290c9a7cabb52963f2593b3fe3|93A440E7F2AEB2C1|2016-05-13T14:23:34.736580926Z|sha1-60e2682a16bfaa1b39ec051c5ea893f8df4bd576" ->

[2016-06-06 17:46] mpl commented on #782
https://camlistore-review.googlesource.com/6718

[2016-06-06 17:47] mpl commented on #782
It turns out my problem is pretty different.

even though my mysql db schema is already at 22, and even after a reindex, I have the truncated entry above which leads to the failure. So I'll open another issue for it.

[2016-06-06 17:58] mpl opened #806 "pkg/sorted|index: truncated value in index"
I'm getting this error on startup:

2016/06/06 18:39:41 Caught panic installer handlers: error instantiating handler for prefix "/my-search/", type "search": error slurping index to memory: bogus claim row: "claim|sha1-00d329f139b347290c9a7cabb52963f2593b3fe3|93A440E7F2AEB2C1|2016-05-13T14:23:34.736580926Z|sha1-60e2682a16bfaa1b39ec051c5ea893f8df4bd576" -> "set-attribute|content|RT+%40searls%3A+%F0

[2016-06-07 00:02] mpl commented on #806
I know what's wrong. when we wipe an SQL sorted, we just remove the rows instead of actually dropping the table.

So when we run with -reindex (which just does a Wipe), we don't actually recreate the tables, and that's how I ended up with the old schema last time I reindexed. Which is why my values are still being cut at 255 bytes.

Working on it.

[2016-06-07 00:42] DanielHeath commented on #602
I didn't count the actual ttf files. It comes to about 180kb with them - I think that's worthwhile given it's the only off-domain request made.

[2016-06-07 00:48] DanielHeath commented on #799
I've put together a terse overview - see //camlistore-review.googlesource.com/6737

[2016-06-07 00:49] DanielHeath commented on #696
I think this is actually more of a front-end / discoverability feature.

[2016-06-07 00:52] DanielHeath opened #807 "Searching by partial filename"
Similar to searching by attributes with regexes - I'd like to be able to search filenames by regexes.

Is there a good reason for the filename not to be an attr?

[2016-06-07 01:30] edrex opened #808 "Self-documenting search"
Inline documentation would make the search box so much more approachable. I think none of us can remember the exact names of the various operators :)

I have some ideas, but leaving this functional. Something is better than nothing :)

[2016-06-07 01:39] bmann opened #809 "Text encoding issues with feed import from Medium"
[Cross-posted from mailing list](https://groups.google.com/forum/#!topic/camlistore/kwsjHK4i4V0), with @edrex response:

I'm just getting Camlistore up and running on a Digital Ocean server, ubuntu64.

As a test, I imported my Medium feed, and I appear to be getting encoding issues with the "original" that I can see stored in my store. Any bits I should be flipping to get the encoding right?

Than

[2016-06-07 01:41] bmann commented on #809
Thanks @edrex -- I just had to laugh that the very first thing I hit was that old standard, encoding issues and RSS/atom parser bugs!

Not high priority for me to fix, Twitter and Flickr are more interesting and will get them up and running once I map a domain to that instance.

[2016-06-07 01:45] edrex commented on #696
If you know the ref of the account node ("edrex's Tweets") you can find the tweets like so:

[code]

(same as the Contents aspect for that node)

You can also search directly like so:

[code]

The docs on search are technically complete, but not very discoverable for users. Maybe the solution is to build search help into the search box. Opened https://github.com/camlistore/camlistore/issues/808.

[2016-06-07 03:07] edrex commented on #807
Well, an attr means something specific in the permanode schema, and it happens that filenames are an indexed property of the file blob pointed to by the permanode's camliContent attr, so it has to be a separate search predicate. I think the plan is to integrate the [Bleve](http://www.blevesearch.com/) search engine, which should provide more generic search facilities (ie, substring matching for al

[2016-06-07 03:11] DanielHeath commented on #807
Correct me if I'm wrong, but I get the impression that the property vs attr thing is an implementation detail rather than an essential complexity of the problem.

Being able to e.g. 'rename a file' from the web UI by editing the filename attr - although this could be worked around in every client implementation.

[2016-06-07 23:06] mpl commented on #806
Another (and foremost) problem is that the check to detect if the database schema is up to date, was actually useless, because we always overwrite the database version in the meta table with the required version BEFORE we get to that check.

https://camlistore-review.googlesource.com/6746

[2016-06-08 00:34] josephholsten commented on #590
@mpl is there anything remaining for this CL?

[2016-06-08 13:15] mpl commented on #590
@josephholsten you meant s/CL/issue/ right? and no, nothing left, we can close it. thanks.

[2016-06-08 13:15] #590 closed

[2016-06-08 14:54] mpl commented on #806
@bradfitz any reason why we're not dropping the tables when running with -reindex (instead of just removing the entries)? If not, PTAL: https://camlistore-review.googlesource.com/6756

[2016-06-08 19:18] josephholsten opened #810 "rm pkg/constants/google in favor of oauth2/google"
The `Endpoint` in `pkg/constants/google` now exists in `golang.org/x/oauth2/google`. We may as well use it.

https://camlistore-review.googlesource.com/6766

Honestly, this is just me trying to verify I've got my local repo set up to submit real CLs, so please let me know if anything about this is wonky.

[2016-06-08 21:10] mpl commented on #805
Well, that was easy: https://camlistore-review.googlesource.com/6757

@bradfitz I've tested that it works in the non prod case at least. Let me know how you want to proceed for the prod launch/testing.

Regarding the cache file being destroyed when we destroy the VM, why can't we have camweb regularly back it up to GCS? And then on startup attempt to download it back from GCS if it exists, and use

[2016-06-09 04:31] mkorenkov opened #811 "camlistored memory leaks while syncing to google cloud"
[code]

leads to memory leaks in camlistored and, eventually, it is [OOM-killed](https://github.com/mkorenkov/docker-camlistore/issues/9).

[code]

after I stop the `sync`, memory stops growing:
[code]

`server-config.json`:
[code]
`client-config.json`:
[code]

[2016-06-09 13:53] mpl commented on #811
thanks, I'll try to reproduce.
Can you tell me if the fact that it syncs to GCS is relevant, or can you observe the same behaviour when syncing to anywhere else?

[2016-06-09 23:32] mpl commented on #811
@mkorenkov I was able to reproduce, thanks.

[2016-06-10 01:22] mpl commented on #811
I strongly suspect that at least some of that mem usage increase is simply the memory blobserver used as cache for the cloudstorage blobserver. Which might not be so useful when your cloudstorage server is not a primary (i.e. you also have a local blobserver defined, as the primary).
If that is confirmed, we could let the user configure the max size of that cache (it defaults to 32MB), or at the v

[2016-06-10 03:05] mkorenkov commented on #811
@mpl I indeed have a google cloudstorage as a secondary storage.

Some facts, that might be useful. I have 413274 blobs (21.338 GiB) total. I run camlistore in a docker-container with `-m 8G` and it needs only only 40k-50k blobs to OOM. Given the numbers above, roughly 8G should be more than enough to hold 100k blobs.

Let me know if I can help you.

[2016-06-10 05:22] mkorenkov commented on #793
I tried to reproduce this one more time and all the videos seems to be fine. The very same video player is able to play them and doesn't complain about it.

It seems, the workaround from #800 did fixed the issue. Closing this one as not actionable.

[2016-06-10 05:22] #793 closed

[2016-06-10 14:58] mpl commented on #811
@mkorenkov If I set the cloudstorage cache size to a much lower limit (5MB), then I see the VmSize only increase by ~25MB, and it stops growing before the sync is finished. So I don't actually see any leak, just the cache filling in until it reaches its max size.

Still, if there's only a multiplicative factor between the cache size and the measured VmSize increase (~ 5 times according to the abov

[2016-06-10 18:05] cliveb commented on #798
Perhaps some insight on tree-shaking from Ian on the go team:

It's not the compiler. It's the build system. One of the design
goals for Go was to support very large programs, such as the programs
written at Google.

We did that to help programming in the large, recognizing
that it would cause some pain for programming in the small. Every
language is full of tradeoffs.

http://grokbase.com/p/gg/go

[2016-06-13 22:05] srikumarks opened #812 "Web upload of large files fails with "too many open files""
The error I get on the `camlistored` side console is -

    2016/06/14 03:32:14 Sending error 500 to client for: writing to blobserver: open /Users/sriku/Library/Camlistore/blobs/sha1/af/6d/sha1-af6de74489f41a57e3d07d9b38cb30d2f4d4bd50.dat.tmp424234141: too many open files

This is for a multi-GB video file. The same file succeeds when using `camput`. This problem occurs on both MacOSX and Ubuntu.

[2016-06-14 09:48] bradfitz commented on #805
Yes, premature. That would work, but not for step 1.

Feel free to just test it in production if you're around with buffered energy to debug if things go badly.

Related: http://www.commitstrip.com/en/2016/06/13/the-end-of-an-expensive-era/

[2016-06-14 10:57] mpl commented on #805
ok. today's not the good day for that, but tomorrow should be long and uninterrupted so I'll do it then.
I will:
1) first do a restart with a built on HEAD to make sure we haven't had any breaking change in the meantime
2) land 6757
3) rebuild, and restart.

[2016-06-14 14:09] mpl commented on #812
@srikumarks Can you please give me some more info so I can try and reproduce ? such as:
- Camlistore revision
- approx size of the file (so I don't underestimate it)
- which browser
- devcam or production camlistored
- running camlistored remote or locally

[2016-06-14 23:17] #696 closed

[2016-06-15 09:50] srikumarks commented on #812
@mpl - here you go -

* camlistored version: 2016-06-09-46cf811 (should I stick to releases/0.8?)
* I tried two files - 1.4GB and 3GB.
* Safari and Chrome
* Running remotely .. but on lan. Tried on localhost as well and faced the same issue.

[2016-06-15 13:42] mpl commented on #812
@srikumarks thanks, that will help.

As to your question, it's entirely possible you're experiencing a bug we introduced since the last release, so feel free to retry with 0.9 if you want. However, we try to keep HEAD stable and bug free so there's usually not much advantage in sticking fervently with point releases imho.

[2016-06-15 14:11] #782 closed

[2016-06-15 14:11] #797 closed

[2016-06-15 14:11] #810 closed

[2016-06-15 14:15] mpl commented on #805
camweb built from HEAD (46cf811f431fc966e15cadbf83ccd59106f0abb2) now running. So far so good.

[2016-06-15 14:35] mpl commented on #805
And https://camlistore.org now running with Let'sEncrypt cert , sha256 E0 B6 3D D1 A1 B2 0C 81 85 3F F9 BE E6 2D 2D 8C A7 7D B5 46 F9 A1 6E 9F 43 23 7A A9 42 FB 15 6D :)

Just to be sure, now forcing a hard reboot to check if everything restarts correctly.

[2016-06-15 14:45] mpl commented on #805
And everything still looks good after a stop/start of the VM.

[2016-06-15 14:47] mpl commented on #805
@bradfitz I don't think a deletion/recreation test of the VM is needed, as it should hit the same code path as it went through when the current VM ran the new code for the first time, but maybe I'm forgetting something. WDYT?

[2016-06-15 14:48] mpl commented on #805
@willnorris same question as above. :)

[2016-06-15 14:52] #805 closed

[2016-06-15 15:01] mpl commented on #805
fyi, I'm seeing a couple of these errors in the logs:

2016/06/15 14:43:40 transport: http2Client.notifyError got notified that the client transport was broken EOF.
2016/06/15 14:47:58 http: TLS handshake error from 194.187.170.210:39950: remote error: unknown certificate

And none of them seem to appear before today's changes. Probably just some random client not supporting LE yet?

[2016-06-15 15:27] willnorris commented on #805
The main question is just under what circumstances does `/var/le/letsencrypt.cache` get blown away?  Only when deleting and recreating the VM?  Or does it live inside of a docker container and therefore get recreated whenever camweb is restarted (I don't recall how that is setup)?  If the latter, then I would just be worried about hitting the LE limit of 5 requests per week.

[2016-06-15 15:39] mpl commented on #805
Unless I got confused again, the cache file should always persist unless we voluntarily destroy the VM.

[2016-06-15 16:01] mpl commented on #812
@srikumarks oh, forgot to ask, your server-config.json too please (omit credentials if needed).

[2016-06-15 16:18] mpl commented on #812
@srikumarks nevermind, I can reproduce. I'm on it.

[2016-06-15 17:13] mpl commented on #812
@srikumarks I bet it's a ulimit problem. I don't get the errors anymore with https://camlistore-review.googlesource.com/6786 but it's a naive fix. You can either apply that fix, or set your ulimit for number of open files to a higher value while we think about a better fix.

@bradfitz I'm thinking we could either
- die with a useful error message when we get this kind of error (if we can detect it

[2016-06-16 02:45] srikumarks commented on #812
@mpl Made a pull request 813 putting the ulimit into the code. sync guard pretty much does what ulimit does anyway. So this is ok. Besides the temp file opening code waits in a loop 1 second at a time till the file can be opened. This prevents failures in these kinds of cases near the ulimit instead of erroring out.

Thoughts?

[2016-06-17 06:54] edrex opened #814 "website: /code/#contributing anchor is broken"
- https://github.com/camlistore/camlistore/blob/master/CONTRIBUTING.md
- links to https://camlistore.org/doc/contributing
- that redirects to https://camlistore.org/code#contributing
- ... which is broken (the actual id is #contributing-36 or something)

[2016-06-17 13:14] #760 closed

[2016-06-17 13:37] mpl commented on #812
@srikumarks

- we don't do github PRs, see https://camlistore.org/code#contributing . In this case, we'll probably just iterate on https://camlistore-review.googlesource.com/6786 since that was the first CL proposed.
- I'm not sure we should set the ulimit ourselves, as it might go against a limit voluntarily set in place by the user/admin. Waiting on Brad's opinion on that.
- the 1s idle waiting

[2016-06-17 19:36] edrex opened #815 "https://camlistore.org/launch/ is blank"
@mpl hmm. Maybe doc changes?

[2016-06-17 20:41] mpl commented on #815
https://camlistore-review.googlesource.com/6806

[2016-06-17 20:43] #815 closed

[2016-06-17 20:46] edrex commented on #815
Does master auto-deploy camweb?

[2016-06-17 20:52] mpl commented on #815
@edrex thanks for the warning. fixed in production now too.

[2016-06-17 20:53] mpl commented on #815
camweb is never automatically redeployed.

[2016-06-17 22:54] mpl commented on #815
@willnorris @edrex PTAL

https://camlistore-review.googlesource.com/6807

[2016-06-17 23:16] mpl commented on #798
I've been working on an alternative avenue. Since the publisher is not as critical as the web UI, and is always in need of some polishing, I've added infinite scrolling to the publisher with gopherjs.

I need to test it a bit more, but it looks like it's working nicely enough so far. And again, the experiment seems to confirm that the js code size does not matter that much for a long lived page wh

[2016-06-18 00:25] cliveb commented on #798
On Full Stack Development and Go an upcoming talk has taken an infinite
scrolling approach for Stardew Farms publishing. Apparently with node.js
rather than gopher.js. I will try to learn why. http://stardew.farm/

http://www.meetup.com/golang/events/231455969/

On Fri, Jun 17, 2016 at 4:16 PM, mpl <notifications@github.com> wrote:

[2016-06-18 00:49] sllawap opened #816 "Uploads broken behind reverse proxy with Basic auth"
I'm running an nginx server in front of Camlistore which uses HTTP Basic authentication.

When attempting to upload a file through the web interface, my authentication data is overwritten, causing Chrome to continuously pop up an "Authentication Required" dialog.

I believe this is being caused by the "Authentication: Token" header added by server_connection.js:576 during the XHR request.

I suspe

[2016-06-18 03:00] srikumarks commented on #812
Sorry about the PR. Should've read the guidelines first.

Agree on the grossness of the wait, but it happens only on the extreme end of the limit and using the wait alone will cause the system to be robust at any ulimit, so the ulimit setting in the code can actually be discounted. It certainly doesn't have the failure conditions of the sync solution where the channel buffer length is determined o

[2016-06-19 16:02] willnorris commented on #814
looks like all the headings on most all the pages are including these numbers at the end of their IDs.  Very strange.  Is there a setting in blackfriday we need to tweak by chance?  Stray trailing punctuation or whitespace in the markdown that's getting converted?

[2016-06-19 20:58] edrex commented on #814
The ids start out without suffix on server launch, and then increment on each page load, which is why I didn't catch it.

![jackie-chan-wtf](https://cloud.githubusercontent.com/assets/14615/16179787/6c941c72-3625-11e6-9ac6-eaf4642c8278.jpg)

I imagine this is happening because we are reusing an instance across page renders which is meant to be instantiated once per render (see https://github.com/r

[2016-06-19 21:37] edrex commented on #814
https://camlistore-review.googlesource.com/6816

[2016-06-19 23:51] DanielHeath opened #817 "External links from help section in frontend"
Currently, going to `/help` gets you a link to 'search bar predicates' which goes to `https://camlistore.org/doc/search-ui`

Would a PR be welcome to make this link to a local copy of the same information?

[2016-06-20 00:11] edrex commented on #817
see also https://github.com/camlistore/camlistore/issues/808

[2016-06-20 13:30] mpl commented on #812
I agree about the locality limitation of the sync Gate (i.e. that it does not solve the problem if other processes are trying to get file handles as well at the same time), but the idle waiting has a similar shortcoming hasn't it? Sure, the tmp file itself will eventually succeed, but other processes trying the same thing at the same time elsewhere are going to fail.

Here's what I'm thinking: may

[2016-06-20 13:47] mpl commented on #814
hmm, the PR you pointed to says "configurable"; so isn't there a way for us to specify that we want the suffix to be the empty string or something like that?

[2016-06-20 14:29] #814 closed

[2016-06-20 14:55] #736 closed

[2016-06-20 15:13] mpl commented on #736
The launcher is now using an image built at rev e4e0d17def62ee8e700701ad002c6fa6b0ec178d, and should hence now have that fix.
I've only tested that the image deploys properly and the web UI is reachable.

[2016-06-20 23:27] DanielHeath commented on #817
mpl: I shouldn't need an internet connection to read the docs (my camlistore server is on the same gigabit lan, but my internet connection is quite slow)

[2016-06-21 14:09] mpl commented on #816
@sllawap thanks, I'll look into it.

[2016-06-21 14:10] mpl commented on #817
@DanielHeath I didn't/don't disagree. I just explained how I think it should be accomplished.

[2016-06-21 14:21] mpl commented on #816
@sllawap I'm hitting a small parsing ambiguity, so just to be sure: are you saying that in your setup, nginx also performs HTTP basic auth on the request before proxying to the back-end (Camlistore) ?

[2016-06-21 16:13] sllawap commented on #816
@mpl, that's correct. Essentially, I'm taking the auth responsibility away from Camlistore and letting Nginx do all of the authentication/authorization. This is so that I can use LDAP/PAM etc for auth.

[2016-06-22 14:57] mpl commented on #816
@sllawap I want to think about it some more. We could very well revert the change you pointed out, as I think it's actually not needed anymore (the bug it addressed should be fixed in any recent enough), but I think Brad wanted us to be more in control of the whole Authorization business as how browsers do it is a bit of a black magic.

In any case, in the meantime, would something like https://ca

[2016-06-22 22:07] mpl commented on #816
There, I've redone  https://camlistore-review.googlesource.com/6826 a little bit differently, and I think that could work.

We probably need to fix the websocket too in your proxy case though.

[2016-06-23 00:38] srikumarks commented on #812
The problem with the sync gate is another one. Say we have the gate buffer at 1000, matching the current ulimit. If we have 100 non-tmp file handles already open and 900 tmp file handles already open, then the gate won't stop the 901's tmp file handle from being opened. Since that crosses the ulimit, the tmp open will fail, causing the non-extraordinary file upload operation to fail, which is unde

[2016-06-23 01:29] sllawap commented on #816
Maybe I've just been lucky but, FWIW, this snippet has been working fine for WS:

map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
}
server {
        location /my-search {
                proxy_pass http://$proxy_backend;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Upgrade $

[2016-06-23 01:56] sllawap commented on #816
@mpl, that did the trick! Uploads are now working with ```auth: "none"``` (which I already had in my server config).

[2016-06-23 13:09] mpl commented on #816
@sllawap thanks for the feedback. I'll try to integrate your WS hint into the CL, and then we can see about landing it.

[2016-06-23 14:44] mpl commented on #816
@sllawap wait, are you saying that you used the snippet above as part of your nginx config (sorry, I don't know anything about nginx), and that was enough to not get any 40* errors from the websocket connection attempts?

[2016-06-24 01:58] sllawap opened #818 "App Discovery broken behind reverse proxy with delegated auth."
By default, app discovery looks for ```config.json``` at ```${baseURL}/${appName}/config.json```

This works fine for the typical case when ```baseURL``` is undefined or the endpoint is accessible using Camlistore's built in userpass authentication.

However, if ```camlistored``` and the app (ie. ```publisher```) are running behind a reverse proxy with delegated auth, the app times out during disc

[2016-06-24 01:59] sllawap commented on #816
@mpl, that's correct.

The snippet of nginx config above seems to work fine for search queries over WS when ```"auth": "none"``` is defined in server-config.json. I don't see any 4XX errors in my Chrome Developer Tools when using the UI and performing searches.

[code]

Frames continue to come in while the WebSocket remains open:

[code]

I've filed issue #818 for tracking the app discovery issue

[2016-06-24 04:20] tgulacsi commented on #818
I like this! It helps in general, when camlistore is behind a proxy, and the user visible URL differs from the listening URL.

[2016-06-24 13:42] mpl commented on #816
@sllawap great, thanks. this means I won't bother with thinking about websockets for now, since it can be fixed on the proxy side. Or at least, this part can wait for its own, independent CL.

Do you feel comfortable with code review & gerrit? If yes, could you please review https://camlistore-review.googlesource.com/6826 and +1 it if you agree with it, so it does not look like I'm landing it like

[2016-06-24 13:49] mpl commented on #818
@sllawap I think I might have already fixed that problem, among other things, in CL https://camlistore-review.googlesource.com/6646 , but let me try and reproduce your setup to be sure.

[2016-06-24 15:34] mpl commented on #818
So with the aforementioned CL, I think your use case automatically works as long as you don't define the top-level "baseURL". And I'm probably forgetting something, but it seems we could do without "baseURL" altogether since we can usually infer it from incoming requests and/or work with relative URLs. Is there a reason in your setup that you actually need "baseURL" to be defined?

But otoh, I'm w

[2016-06-24 16:18] sllawap commented on #818
@mpl I believe I was doing this to work around some misbehavior in an older version of Camlistore. Maybe a place where relative paths weren't being used. It looks like with latest head + your CL 6826 my use case is working out of the box when baseURL is undefined. Huzzah! Thank you!

[2016-06-24 16:23] mpl commented on #818
@sllawap good to know, thanks. Still, this issue made me reconsider, and I still think I'll try to rework the CL so it does less arbitrary magic, and it lets apiHost be user-definable.

So let's keep the issue open for now please.

[2016-06-24 16:28] sllawap commented on #816
@mpl dropped a quick note on the Gerrit review but it looks like Brad is already on top of it. :+1:

[2016-06-26 05:58] mkorenkov commented on #811
@mpl sorry for being that tardy with a response.

I have tested the given diff on the latest release (`0.9`) and it is still able to OOM. However, `master` branch seems to have different behavior: the curve on memory increase in not that steep, it took it almost 90 minutes to get to `506612 kB` and it didn't change after that. I've given up waiting after another 90 minutes. RAM usage dropped to `3

[2016-06-27 15:24] mpl commented on #811
oh, I didn't know you were on 0.9, I was testing on master all along.
I don't know what it is in master that makes a difference, and I'm not sure that's worth investigating since we were supposed to have cut 0.10 for a while already. Is using master in the meantime out of the question for you?

As for my patch, if on master/0.10 you still have memory usage problem, we could indeed consider somethi

[2016-06-27 23:59] #816 closed

[2016-06-28 14:13] mpl commented on #818
@sllawap I have redone https://camlistore-review.googlesource.com/6646 , integrating your apiHost suggestion.
I removed some of the arbitrary magic, so I think you'll now have to specify more things (baseURL, and apiHost at least) in your config for your behind-a-proxy case. On the other hand, I think the situation is now way cleaner and better documented.

Could you retry it and let me know if yo

[2016-06-29 05:07] mkorenkov commented on #811
@mpl, sorry, it's my bad. I forgot to mention I was on 0.9.

I'm excited to hear 0.10 is coming soon, in the meantime I'm fine using master. In fact, I've been using master with and without patch for a few days now. It works well, mem usage is growing up to `506612 kB` without a patch and `328236 kB` with a patch. And mem usage does not go any further (no leaks detected).

As for the patched / non

[2016-07-01 16:04] bradfitz opened #819 "cloudlaunch: use Create Project API"
It seems there's a programmatic way to create Google Cloud Platform projects now?

See:
https://github.com/google/google-api-go-client/issues/138

(the Cloud Resource Manager API, as of v1beta1?)

[2016-07-06 20:12] #690 closed

[2016-07-11 13:54] bdillahu opened #821 "cammount on Mac OS X doesn't seem to work (?)"
Current git version (as of yesterday or so)... works fine on Linux, but Mac OS X, with FUSE 3.4.0 it runs, spits out "help" and just sits there... no files visible.

./bin/cammount ~/test_mount                                                                                              master
2016/07/11 09:49:54 mount helper error:
2016/07/11 09:49:54 mount helper error: Available mount options:

[2016-07-11 21:04] mpl commented on #821
@edrex @saljam @willnorris or anyone else with a mac, could you confirm/reproduce please?

[2016-07-14 16:48] mpl commented on #798
Infinite scrolling in publisher: https://camlistore-review.googlesource.com/6886

[2016-07-15 13:16] #671 closed

[2016-07-15 19:11] cmpis commented on #821
@mpl I got this not using latest (b4af9400a22cbf6bde8424cf952ebad87393f669)

Using OSX FUSE 3.4.0.

cp at Chriss-MacBook-Pro in ~/src/camlistore/bin (master)
$ ./cammount ~/camlistore
2016/07/15 15:10:07 mount helper error:
2016/07/15 15:10:07 mount helper error: Available mount options:
2016/07/15 15:10:07 mount helper error:     -o allow_other         allow access to others besides the user who

[2016-07-15 22:57] cmpis opened #822 "iOS client in iOS 9 requires ForwardSecrecy"
I've been trying to get my iOS client talking to my google cloud instance of Camlistore. I self signed a cert and installed it on my phone.

However, no matter what settings I change in the Info.plist, I can't get the client to talk to my camlistore server. It complains about error codes 9802 and 9813.

I tried following this issue on StackOverflow with little success: https://stackoverflow.com/qu

[2016-07-16 00:48] mpl commented on #822
Emails get forgotten, issues are easier to track, so never hesitate to open an issue when you find a bug.

I don't know anything about IOS though, so it might take awhile until I do, or until we find someone else to look into the issue.

[2016-07-16 21:01] bradfitz commented on #822
Maybe we should change Camlistore and set its minimum TLS version higher, or change its default TLS ciphersuite list to only include Ephemeral Diffie-Helman ones.

Looking at https://en.wikipedia.org/wiki/Template:TLS/SSL_support_history_of_web_browsers it seems that TLS 1.2 support is a fine minimum these days.

[2016-07-18 14:13] cmpis commented on #822
Yea I think setting the min to TLS 1.2 is the easiest solution here.

[2016-07-19 14:46] mpl commented on #812
@srikumarks ping. any progress? Should I take care of it instead?

[2016-07-19 14:54] mpl opened #823 "pkg/client: rethink the initialization"
There's a somewhat convoluted protection in place in the client package to make sure that in some cases the initialization is not using the configuration file, but only env variables and command-line flags.
This manifests itself with the infamous panic message "Unexpected non-hermetic use of host configuration during testing. (alternatively: the 'testing' package got accidentally linked in)".

I'v

[2016-07-19 15:43] mpl commented on #822
https://camlistore-review.googlesource.com/6906

[2016-07-19 21:46] #822 closed

[2016-07-19 21:49] cmpis opened #824 "Is there currently a way to upgrade GCE deployment"
I wanted to take advantage of #822 being fixed, but I'm not sure how else to upgrade my GCE deploy from the launcher.

Also where is the launcher code? I expected a separate repo under the camlistore org or somewhere in the root of this project and didn't find anything.

[2016-07-19 22:06] mpl commented on #824
you'd have to wait for me to make a new docker image for the GCE deployer, which i can do imminently. Then you'd only have to restart your instance from the GCE console, or even 'sudo systemctl restart camlistored' from an ssh to your instance should work.

I'll let you know when the new image is up.

all the launcher code is at pkg/deploy/gce/

[2016-07-19 22:14] mpl commented on #787
Hi,

sorry for the delay, I missed that issue. Could you hit something similar to issue #736  ?
How did you build your docker image? Could it have timezone problems like in the case of the above issue?

[2016-07-19 22:25] mpl opened #825 "website: document how users should update their GCE instance"
And maybe not just on the website. in the UI too? in the deployer page too?

[2016-07-19 23:18] mpl commented on #824
@cmpis Done. The launcher will now deploy dd230b2cbaec560d16bc886a60177cd27ba54cdf. I've tested that it deploys and boots.
Let me know if hit any problem with it please.

[2016-07-19 23:18] #824 closed

[2016-07-20 00:38] mpl commented on #825
https://camlistore-review.googlesource.com/6908

[2016-07-20 01:53] cmpis commented on #822
Good news, it worked! I have a patch to the client for building with XCode 7 that I'm going to try submitting soon along with a better README since there isn't a way for users to get the iOS client right now except by compiling.

[2016-07-20 01:53] cmpis commented on #824
Worked! Thanks @mpl

[2016-07-20 13:23] #825 closed

[2016-07-20 14:15] mpl commented on #821
Here's a shot in the dark: https://camlistore-review.googlesource.com/6909

Can you guys try that CL out and let me know if it fixes things for you please?

If anything, it looks like upgrading at least to https://github.com/bazil/fuse/commit/19db53613b8c45efbfe49d0fd6205077332915d0 is needed anyway.

[2016-07-20 15:05] bdillahu commented on #821
That seems to work for me... I have FUSE 3.4.0 loaded and after this patch and a recompile, it mounts!

Thanks!

[2016-07-20 15:18] mpl commented on #821
@bdillahu thanks

[2016-07-20 15:19] #821 closed

[2016-07-21 01:46] bdillahu opened #826 "FUSE mount - at command doesn't properly walk subdirectories"
As nearly as I can tell, using the "at" directory in the FUSE mount should allow you to go "back in time" to the condition at that time (correct?). Seems to work fine for individual permanodes/files, but I've found an instance that doesn't seem to work.

(Please excuse if this is long winded... trying to make sure I explain this well)

If you create a tree of directories, and then rearrange it, an

[2016-07-21 14:12] bdillahu opened #827 "Add --permanode option to camput for blob"
I suggest we add a --permanode option to create a permanode for blobs, the same as currently exist for files.

Right now you can store a file and create a permanode for it in one step, while for a blob (non-file based storage), you have to create the blob, then separately create that permanode.

[2016-07-21 17:58] bdillahu commented on #827
Just a note - I'm working on a CL for this...

[2016-07-25 17:30] mpl commented on #827
https://camlistore-review.googlesource.com/6926

[2016-07-26 18:10] bdillahu commented on #826
OK, as a follow-on... I can recreate this in Linux, but it seems to work correctly/as expected in Mac OS X.

[2016-07-26 19:22] bdillahu commented on #826
And logs:

From linux (note the various Sending request At 0001-01-01 00:00:00 +0000 UTC):

2016/07/26 15:18:03 fs.atDir: Lookup("2016-07-26T15:08")
2016/07/26 15:18:03 fs.atDir: Lookup("2016-07-26T15:08")
2016/07/26 15:18:05 fs.atDir: Lookup("2016-07-26T15:17")
2016/07/26 15:18:05 fs.atDir: Lookup("2016-07-26T15:17")
2016/07/26 15:18:06 fs.roots: querying
2016/07/26 15:18:06 fs.roots: querying
20

[2016-07-26 23:00] mpl commented on #826
thanks, I'll try and reproduce.

as for the linux VS macos difference, their FUSE implementation is completely different, so it could be anything in there.

[2016-07-26 23:28] mpl commented on #826
Right, I think can reproduce something similar. that's fun. I'll look into it.

[2016-07-28 17:30] mpl commented on #826
@bdillahu so I can reproduce the kind of inconsistency you're seeing but only at the root level for now, and it should be fixed by
https://camlistore-review.googlesource.com/6966

Maybe what you're seeing at deeper levels is the result of the roots dir bug but I'm not sure for now. In any case, can you try the above CL and let me know if that fixes the problem (partially or not) for you please?

[2016-07-28 20:03] bdillahu commented on #826
@mpl Sorry, that doesn't seem to change anything for me...

Still seems OK on Mac, broken on Linux

[2016-07-28 20:09] mpl commented on #826
@bdillahu just to be sure, since you're new here: you've applied the CL I linked, and rebuilt everything (camlistored, and cammount) with it, right?

[2016-07-28 20:16] bdillahu commented on #826
@mpl Yep, near as I can tell, I did it right (you're right to question... I'm new at the go and Gerrit world).

I used the

git fetch https://camlistore.googlesource.com/camlistore refs/changes/66/6966/1 && git checkout FETCH_HEAD

command from the CL, checked it onto a new branch in my git tree, and then did a

At the root level (and I double checked that the executables had a new date/time).

I

[2016-07-28 21:09] mpl commented on #826
@bdillahu I still need to find a stable repro so I can make sure to fix it, so I'm sorry to push changes blindly for now, but can your retry again (patchset 2) please?

[2016-07-29 00:41] bdillahu commented on #826
@mpl Yeah!

I think you got it... worked on Linux and Mac both.

Now I will say, on the test you created, I'm not 100% sure the code covers the sub directory level issue I started out with. Since the bottom level of the test directories are both named "1", I'm not sure if it didn't move around it would be caught.

But... I also don't fully grok that code, so I may be totally wrong.

You've fixed i

[2016-07-29 00:43] bdillahu opened #828 "Back-to-back moves in FUSE mount sometimes ignored"
In a FUSE mounted directory... have a couple of directories.

root/

root/root1
root/root2

mkdir root/root3

And then (quickly)

mv root/root1 root/root3
mv root/root2 root/root3

Sometimes (not always) the second move doesn't really do anything...

Wait a second and repeat it and all good.

[2016-07-29 02:09] bdillahu commented on #826
Sorry, didn't see that :-)

[2016-07-29 21:50] mpl commented on #826
@bdillahu I'm not sure I understand your concern. I wrote that test because that was the first case I was able to find that seemed to reproduce a bug similar to yours.

what the test does is:

1) create roots/foo/1/1/1
2) create roots/foo/2/1
3) wait and record that time t1
4) mv roots/foo/1/1/1 roots/foo/2/1/1
4) wait and record that time t2

5) check that:
- roots/foo/at/t1/1/1/1 does exist
- ro

[2016-07-29 21:51] mpl commented on #826
@edrex PTAL

[2016-07-29 23:35] mpl commented on #811
@mkorenkov sorry, I forgot about this for a while. Then I hesitated, because I'm not sure making the option available in the high-level config is that interesting, since it's a corner case and it's available at the low-level already if needed.
But I made it anyway, so here goes: https://camlistore-review.googlesource.com/6976
Let me know if that works for you please.

[2016-07-30 01:01] bdillahu commented on #826
@mpl Yes, that seems fine... sorry, I got confused reading the code and missed one directory level, which threw off what I was thinking. I believe it's a valid test of what we were seeing (as you have confirmed also)...

(PTAL - had to look that one up - you guys have your own set of acronyms :-))

[2016-08-01 16:28] mpl opened #829 "pkg/fs: use /proc/mounts in tests to know whether dir is mounted"
follow-up of https://camlistore-review.googlesource.com/6966

[2016-08-01 16:48] #826 closed

[2016-08-03 14:38] cyphar opened #830 "webui: add "open file" dialog for upload"
Currently the only way to upload a file to the UI is to drag and drop it. Having a traditional "open file" dialog that allows you to select a set of files should be a fallback (for both accessibility and sanity reasons).

[2016-08-03 14:51] cyphar opened #831 "webui: drag-and-drop of directory stalls endlessly"
If I try to drag-and-drop a directory to "upload" it, the upload will be stuck at "0%" endlessly. The directory has to have at least one file in it in order for this to happen. If the directory is empty then the upload treats it as though it were a file (not a directory).

This error is visible in the console (which means we also should quit the upload animation and loading bar if there is an erro

[2016-08-04 11:52] jba opened #832 "update Google Cloud API client import paths and more"
The Google Cloud API client libraries for Go are making some breaking changes:

* The import paths are changing from `google.golang.org/cloud/...` to
  `cloud.google.com/go/...`. For example, if your code imports the BigQuery client
  it currently reads
```import "google.golang.org/cloud/bigquery"```
It should be changed to
```import "cloud.google.com/go/bigquery"```

* Client options are also mov

[2016-08-04 23:52] mpl opened #833 "pkg/server/app: the handler should not mutate the ServeHTTP request before proxying"
I had the app handler doing:

req.URL.Path = strings.TrimPrefix(req.URL.Path, a.prefix)

because it seemed nicer if the apps themselves didn't have to know and care about about that handler prefix, so they could simply handle requests at their root.

But Brad says I'm not allowed to do that.

I want this to have its own issue/CL because I know getting the prefix paths right on both sides requires

[2016-08-05 15:43] cyphar opened #834 "webui: trying to view non-images results in "not found""
This also happens for directories, which is quite odd. All of this is from `master`. If you try to open any file, you get this screen:

![not found](https://cloud.githubusercontent.com/assets/2888411/17441943/d2cb449a-5b76-11e6-8934-012d49f52eb2.png)

But even if you go through the permanode screen to find the _actual_ blob (the refid shown in the screenshot is of the permanode), you still don't s

[2016-08-09 00:58] cyphar opened #835 "importers: twitter: tweets are not deduplicated"
Currently, tweets are not deduplicated at all. They are entirely stored as mutation claims on a permanode, so you can end up having multiple copies of the same tweet (even if you've imported your twitter account before and then in all your wisdom decided to delete the fake folders from the UI). Since tweets are not mutable, surely we should be storing them as a proper node with a permanode pointin

[2016-08-10 14:59] maggedotno commented on #750
I was trying out the latest camlistored (2016-08-09-ab25a2c; Go go1.6.3) and I got a crash that I could not reproduce in 0.9. Theres also a big difference in performance, 0.9 is much slower doing this particular thing.

What I did was only:
cammount
find . -type f

Seems to be a race condition as it does not happen every time. Log and stacktrace:

[code]

[2016-08-11 07:24] kortschak opened #836 "build broken at 3b2ec3a"
Attempting to build camlistore at tip results in the following failure:

[code]

This bisects to 3b2ec3af0f6814b51195311d81c0e592c864caf8.

Note, building with go version devel +31ad583, though see the same with go1.7rc6

[2016-08-11 08:25] mpl commented on #836
Yeah i know, this is https://github.com/gopherjs/gopherjs/issues/475

(on phone)

On Aug 11, 2016 09:24, "Dan Kortschak" <notifications@github.com> wrote:

[2016-08-11 10:16] kortschak commented on #836
It seems that the build is also broken for go1.6. Though this is a different cause:

[code]

[2016-08-11 10:21] kortschak commented on #836
Sorry, that appears to be a remaining dreg. `rm -rf tmp` fixes this.

[2016-08-11 15:55] #836 closed

[2016-08-11 22:34] kortschak commented on #836
@bradfitz Is there an issue to track the need to update the vendored gopherjs after go1.7? This deals with that.

[2016-08-12 00:04] bradfitz commented on #836
Historically, Camlistore switches to the latest Go release as the minimum requirement within a ~week of it coming out. Go 1.7 isn't out yet. We'll have a bug, though.

[2016-08-15 14:20] mpl commented on #750
@maggedotno thanks, I'll look into it. In the meantime, if you want to help, it would help if you could please bisect the commit where the race was introduced.

[2016-08-15 16:09] mpl commented on #830
One more (even more important imho) reason is that one can't do the drag and drop on mobile, so there's no way to upload when using the web UI on mobile.

[2016-08-15 17:37] mpl opened #837 "pkg/blobserver: have a Camlistore-wide ulimit check and gate"
Issue #812 was about temp file creation failing because of ulimit. A local fix in localdisk was devised, but we should really have a fix that covers everything in Camlistore (or at least the blob storages) that tries to open files on disk.

[2016-08-16 16:20] mpl commented on #830
https://camlistore-review.googlesource.com/8006

[2016-08-16 16:34] mpl opened #838 "Go 1.7 related"
This issue deals with problems or issues related to making Go 1.7 the default (and a requirement) for Camlistore.

[2016-08-16 16:36] mpl commented on #838
As already noted in issue #836 , gopherjs has problems with Go 1.7. It is tracked upstream as: https://github.com/gopherjs/gopherjs/issues/475

[2016-08-16 16:42] tgulacsi commented on #838
WorksForMe with the go1.7 branch of gopherjs.

mpl <notifications@github.com> ezt írta (időpont: 2016. aug. 16., K, 18:36):

[2016-08-16 16:45] mpl commented on #838
@tgulacsi excellent, thanks for checking.

I'll wait for them to close the bug and I'll retry with the master branch when it's merged.

[2016-08-17 08:17] cyphar opened #839 "make: git version matching too restrictive"
`make.go` currently only allows `git describe` to return a 7-character commit ID. However, many people (including myself) use larger defaults (as per the Linux kernel guidelines). This can be fixed by just changing the regex to not be so restrictive.

[2016-08-17 08:17] cyphar commented on #839
Here's a patch I wrote two weeks ago and submitted but forgot to create an issue for it: https://camlistore-review.googlesource.com/#/c/6986/

[2016-08-17 08:26] tgulacsi commented on #839
Esp. https://news.ycombinator.com/item?id=12296974

Aleksa Sarai <notifications@github.com> ezt írta (időpont: 2016. aug. 17.,
Sze 10:17):

[2016-08-17 09:20] cyphar commented on #839
The problem isn't nearly as bad as colliding GPG fingerprints, but the reason you'd want to use >7 characters is to futureproof any references in emails (without also pasting the full commit hash). The actual issue inside the build script is that the code is broken when a user has a custom `gitconfig`.

[2016-08-17 15:57] #830 closed

[2016-08-17 16:26] #812 closed

[2016-08-18 22:18] #382 closed

[2016-08-19 02:59] 0xCMP opened #840 "Getting WAL warning for sqlite using included sqlite==v3.12.0"
There is an issue at https://github.com/camlistore/camlistore/blob/75d60962f66dd2eaad02f936fc3d4aff2c968f5b/cmd/camtool/dbinit.go#L94 because the function being used to check if WAL is supported doesn't work for versions 3.10 and above.

At this line (https://github.com/camlistore/camlistore/blob/75d60962f66dd2eaad02f936fc3d4aff2c968f5b/pkg/sorted/sqlite/dbschema.go#L79) the check done will fail b

[2016-08-19 03:28] cmpis commented on #840
Don't know if this is a solved problem in go standard lib, but I coded up a quick solution to this

https://play.golang.org/p/XnJ75lrLPj

Not sure where you guy would like me to put it or if it's too complicated for this.

[2016-08-19 03:55] cmpis opened #841 "ExFAT on OSX 10.11.6 gives permission errors and reports existing dirs missing"
I have an external drive I wanted to setup a server for to do offline syncing from my local server to it. It's an SSD over USB 3 that's formatted with ExFAT.

I'm pretty sure this is OS X's fault, but I'm wondering if there isn't something we could do since I've been able to write/read correctly before.

[code]

[code]

[2016-08-19 13:50] mpl commented on #840
ugh, that is indeed lame, thanks for the bug report.

@cmpis If you are interested in contributing a fix, please see https://camlistore.org/code#contributing. Otherwise, please let me know and I'll fix it myself.

[2016-08-19 15:38] cmpis commented on #840
I'm going to try to contribute something by today.

[2016-08-20 00:51] cmpis commented on #841
Actually it doesn't seem to matter if it's ExFAT or not. Reformatted the external drive as OS X's default HFS (Journaled) and exactly the same errors happen. Folders/files that are there are being reported as missing and `camlistored` can't set it self up.

More strange to me is this issue that camlistored is trying to `mkdir` `/Volumes` for some reason? Not sure why it'd be trying to create that

[2016-08-20 05:35] tgulacsi commented on #841
Please share that configfile!

[2016-08-20 11:14] sid-kurias opened #842 "ui: provide a 'select all' option"
Lets say I have already stored 10 photos of dogs (tagged as dogs), 10 of cats(tagged as cats).

Here is what I want to do....

Publish the photos of the dogs and cats under a root called pets.

How do I accomplish the following
1. Search for (tag:dogs  or tag:cats) and create a set called animals from it.On the UI I can execute the search but couldn't find a "select all" option. There might be too

[2016-08-20 15:43] cmpis commented on #841
# cmp-drive-3-config.json
[code]

[2016-08-20 17:35] cyphar commented on #842
+1 on a "select all" option. The problem is that you'd have to do the selection client-side (which means that you'd lose the lazy-loading of the items). It might be a bit harder than it sounds.

[2016-08-20 18:40] maggedotno commented on #750
@mpl Ok so I've taken a stab at bisecting. I've not found a sure-fire way to test this so the first test runs was just running a huge rsync on the cammount, which has usually lead to a failure at some point. However for the last 5 test runs or so it started crashing camlistored right after cammount (either cammount itself, but I think most likely the actions perfomed by the OS on new media mounted

[2016-08-22 15:58] mpl commented on #838
yay http://www.gopherjs.org/blog/2016/08/21/gopherjs-1.7-1-release/

[2016-08-22 23:07] mpl commented on #750
@maggedotno thanks. As I haven't been able to reproduce this yet, I'm not sure yet which map is concerned (even though I have my suspicions).
Could you please rebuild camlistored with 'go run make.go -race=true', and then try to get another repro, so we can see if the race detector tells us more?

[2016-08-23 21:18] maggedotno commented on #750
This is when I started master (ab25a2c2fc4cb5044ac0819a4b0d5ed16684a4c3) with pending blobs to sync and then cammount.  Crashed without me doing anything more.

[code]

[2016-08-23 23:27] mpl commented on #750
https://camlistore-review.googlesource.com/8067

[2016-08-24 01:09] mpl commented on #750
@maggedotno thanks, that's exactly what I needed. Could you please try out the above CL, and let me know if that fixes things for you?

[2016-08-24 12:48] maggedotno commented on #750
Hello again. So I'm not familiar with Google Git and Gerrit, so hopefully this procedure to get the CL into my local repo.

[code]

Last line is copied from Gerrit > Download > Cherry-pick. The git log looks good to me. I only have the CL commit added compared to origin/master.

I rebuilt and it still crashed. Rebuilt again with --race and made another repro, [log in this gist](https://gist.github

[2016-08-24 21:12] mpl commented on #750
@maggedotno ok, thanks. I'm working on a repro for that last race you're showing, so I can be sure to fix the one you're seeing.

[2016-08-25 14:34] mpl commented on #750
@maggedotno are there many directories (static-sets) among your blobs?

[2016-08-25 17:04] maggedotno commented on #750
@mpl Quite a few directories, yes. I've been using rsync to copy stuff to the cammount, I think it pre-creates directories to some extent. So most of the directories from the source may already be static sets. Here are some stats from what I'm copying *from*

[code]

[2016-08-25 19:32] maggedotno commented on #750
@mpl I built the working version found earlier and counted 1363 directories in my cammount.

[2016-08-26 00:36] mpl commented on #750
I can't believe I spent so much time eyeballing at details and trying to build repros when the solution is probably just:
https://camlistore-review.googlesource.com/8086

@maggedotno Can you please retry with the above CL?

Btw, you can also just use the "pull" line they give you in gerrit, if you're already at the right parent commit.

[2016-08-26 07:59] iafan opened #844 "Windows 10 / Go 1.7 build issue (missing vendored dependency)"
Trying to build (`go run make.go`) on Windows fails:

[code]

Looks like there's a missing vendored dependency: "github.com/inconshreveable/mousetrap". If I put the module manually into the appropriate folder, it successfully goes past this failure point.

[2016-08-26 08:16] iafan commented on #844
Looks like this might be related to #838. Feel free to close if it is so.

[2016-08-26 13:04] mpl commented on #844
the windows part is probably covered by https://camlistore-review.googlesource.com/6956
and yes, the Go 1.7 part is issue #838
I hope to take care of all this soon.

[2016-08-26 14:41] mpl opened #845 "make.go: allow cross-compiling again (because gopherjs)"
When using the -os flag with make.go, we're building the indicated OS version of the gopherjs binary.
It is good for testing if we can indeed build gopherjs for any platform, but it is probably not what we want as the default behaviour. Because for building the whole project, what we want is to run gopherjs to generate some javascript (that will be embedded in camlistored). And for that to happen,

[2016-08-26 14:58] mpl commented on #844
Considering:

1) What github.com/inconshrevable/mousetrap is meant for: helping users double-clicking on the gopherjs binary, which I think we don't care about.
2) That our vendored copy of gopherjs is already hacked to not need fsnotify as dependency, because we don't care about gopherjs serve

I'm tempted to also just hack our vendored github.com/spf13/cobra so that it doesn't need mousetrap.

@

[2016-08-26 15:37] mpl opened #846 "pkg/search: data race on (des *DescribedBlob)"
At rev ee421c8eb2622241ddf8c647dc117ec4fafc43c0 :

	==================
	WARNING: DATA RACE
	Write by goroutine 15:
	  camlistore.org/pkg/search.(*DescribeRequest).describeReally()
	      /home/mpl/src/camlistore.org/pkg/search/describe.go:714 +0x45b
	  camlistore.org/pkg/search.(*DescribeRequest).Describe.func1()
	      /home/mpl/src/camlistore.org/pkg/search/describe.go:596 +0xa8

	Previous write

[2016-08-26 15:38] mpl commented on #846
Here's what I think is happening:

Since the dr.Describe->dr.describeReally recursion is creating goroutines, we potentially have several goroutines accessing the same (dr *DescribeRequest). That is why we have dr.mu, which is, among other things, guarding dr.m.
However, dr.m is storing pointers. So, as soon as two goroutines operating on the same dr, have gotten a hold of the same dr.m[bs] (in fu

[2016-08-26 16:18] bradfitz commented on #844
Totally agree.

[2016-08-26 16:58] bradfitz commented on #846
I haven't tested this, but here's what I currently think the problem is and the fix: https://camlistore-review.googlesource.com/8106

[2016-08-26 16:58] bradfitz commented on #846
(That is, it passes the existing tests in the package, but I haven't added new ones)

[2016-08-26 18:34] maggedotno commented on #750
@mpl Yes - the problem I've used for repro the last time is gone with this change.
Mad respect to you for getting to the bottom of it! :)

[2016-08-26 19:00] tajtiattila commented on #844
No objections. Let me know if you want me to do it.

[2016-08-26 19:10] mpl commented on #750
shame on me for not spotting it sooner, but thanks, glad it works for you. Watch out though, as we're still fighting another data race in the area.

[2016-08-26 19:10] #750 closed

[2016-08-26 20:21] mpl commented on #844
@tajtiattila sure, feel free to give it a go if that tickles your fancy.

[2016-08-26 22:02] mpl commented on #845
https://camlistore-review.googlesource.com/8126

[2016-08-29 00:18] DanielHeath opened #847 "Pre-upload filters"
I'm currently using a mix of the android app, web UI and camput (all great).

However, portable devices tend not to have the required processing power for e.g. high-compression video encoding.

I have a script to convert photos to webp and videos to h.264 before uploading to camlistore (saves ~30% on space use), but there's no straightforward way to run it over android/web uploads.

[2016-08-29 07:41] tajtiattila commented on #844
With the build tags (see https://camlistore-review.googlesource.com/#/c/6956/) changed gopherjs compiles.

The go:generate in app/publisher/js/main.go uses a shell script to generate zsearch.go, this will not work on windows. The workaround is to run the script manully (if one has bash, eg. msys).

After that the errors with go1.7 on Windows are the same as on Linux, see issue #838

[code]

[2016-08-29 08:02] iafan commented on #844
If you're about `gensearchtypes.sh`, then I'd like to suggest another workaround. Windows users who have Git installed usually have `sh.exe` executable which could run the script, but the script is called as `./gensearchtypes.sh`, and Windows has no idea how to 'execute' it. A simple solution would be to place a file called `gensearchtypes.sh.bat` next to `gensearchtypes.sh`, which would contain t

[2016-08-29 08:12] tajtiattila commented on #844
@iafan Nice trick, thanks for the tip. But I'm not sure sh.exe is always added to the PATH when installing Git for Windows.

Perhaps it would be nicer to rewrite `gensearchtypes.sh` in Go.

[2016-08-29 09:29] iafan commented on #844
Yes, sh.exe is located in the same directory as git.exe, and by default Git updates %PATH%. But yes, I agree, this one-liner batch file can only be treated as a temporary hack.

[2016-08-29 09:44] tajtiattila commented on #844
I believe it is only $PROGRAMFILES/Git/cmd that is always added to the PATH, not $PROGRAMFILES/Git/bin where sh.exe und bash.exe resides. I have Git for Windows installed, but the only sh.exe `where` finds is the one that came with MSYS on my system.

[2016-08-29 15:06] mpl commented on #847
@DanielHeath so you're saying you'd like a way for the android app to take into account these filters and apply them before uploading? I'm not sure that the role of the app to do that, but I understand the convenience, and I suppose you could argue that other "social apps" let you apply filters to your photos as well. But is it wise and doable to let the user provide their own?

As for the web upl

[2016-08-29 15:17] mpl commented on #844
the zsearch.go is another story, right? so let's talk about it in another issue please.

@tajtiattila I was a bit surprised that you didn't have to modify gopherjs itself for the mousetrap dep, but I suppose it makes sense if the only thing it does is catch a mouse double-click. Just to be sure, have you tried your CL with go1.6.x, so we can be sure your CL fixes the issue, and make.go succeeds wi

[2016-08-29 15:32] tajtiattila commented on #844
AFAICT the sole purpose of mousetrap is to show a message when an app that should only be used from the CLI is double clicked in Windows Explorer. So removing this from the vendored github.com/spf13/cobra alone fixes the issue.

`go run make.go -all` with the updated CL works for me with Go 1.6.3, even when vendor/github.com/inconshreveable/mousetrap is removed.

[2016-08-29 15:44] iafan commented on #844
@tajtiattila I just checked — it depends on installation options: by default it's only Git that is in the PATH, and if one chooses "Use Git and optional Unix tools", then `sh` will be added to the PATH as well.

I also just realized that the generated `zsearch.go` file seems to be empty apart from the static header. This is what I get when running `sh gensearchtypes.sh` manually:

[code]

Does it

[2016-08-29 16:06] tajtiattila commented on #844
@iafan Yes, that is what I was worried about, the availability of sh depends on the installation options. I used it from MSYS bash, `(cd app/publisher/js && ./gensearchtypes.sh)` works with both 1.6.3 and 1.7 for me.

But @mpl have asked to open an issue for the `gensearchtypes.sh` topic earlier.

[2016-08-29 16:26] mpl commented on #845
bccc0ff7a15b3285928898a7ac786b17c93a3d3d

[2016-08-29 16:26] #845 closed

[2016-08-29 16:53] jmunson commented on #847
I have to agree with @mpl here -- while this would certainly be a convenient feature to have, I'd much rather have a long term solution where you can just upload your originals, then do any filtering or re-encoding either on the server side as a process you can apply manually or automatically,  or even on the server on a per-request basis the way e.g plex can take your movie files and as a client

[2016-08-29 18:16] iafan opened #848 "Reimplement gensearchtypes.sh in Go for better portability"
Currently build process uses [gensearchtypes.sh](https://github.com/camlistore/camlistore/blob/master/app/publisher/js/gensearchtypes.sh) file to automatically generate zsearch.go. The invocation of `./gensearchtypes.sh` fails on Windows for obvious reasons. @tajtiattila [suggested](https://github.com/camlistore/camlistore/issues/844#issuecomment-243060134) to reimplement this in Go, and I did jus

[2016-08-29 19:40] tgulacsi commented on #848
See https://camlistore-review.googlesource.com/8146

[2016-08-29 21:35] mpl commented on #844
8c30e24b77bd3122f3653633b7d165c00c17d015

[2016-08-29 21:35] #844 closed

[2016-08-29 22:22] mpl commented on #846
315fa6f3d9c06a4cb41afa66d84e6a57c0f77ef2

[2016-08-29 22:22] #846 closed

[2016-08-29 23:41] mpl commented on #833
https://camlistore-review.googlesource.com/8147

[2016-08-29 23:44] mpl commented on #833
I am not sure that even with this CL, one can still talk to the publisher app directly (without the app handler as an intermediary), but that might have been broken already with the new gopherjs code. And afair, that's not a priority for us. I'll recheck later.

[2016-08-30 00:39] DanielHeath commented on #847
I'd expect this would happen server-side. For this specific use-case (saving storage space) it would only work as a filter applied before uploaded files are split into blobs.

[2016-08-30 13:25] mpl commented on #847
@DanielHeath What's your concrete proposal? How would you integrate these filters? in which part of Camlistore?

[2016-08-30 14:47] mpl commented on #838
https://camlistore-review.googlesource.com/8166

[2016-08-30 21:36] mpl commented on #717
uhm, I thought I could reproduce at first, but I actually can find/see all hidden files now.

@shinymayhem please reopen the issue if you can still reproduce.

[2016-08-30 21:36] #717 closed

[2016-08-31 02:17] dldx opened #849 "If an attribute's value is too large, picasa import fails"
I'm new to Camlistore (which is pretty amazing by the way!) so I'm not exactly sure what's going on but basically, it looks like the picasa import gets hung up if an attribute in an image file is too large. This is the error I get:

2016/08/31 03:03:11 [SyncHandler /bs/ -> /index/] error copying sha1-c61b3dafd6aa3cf853bcaa674f6b90e6ea75790b: dest write: sorted: key size is over 767: signerattrvalu

[2016-08-31 03:57] bradfitz commented on #849
Short term: we should probably skip indexing attributes larger than sorted.MaxKeySize / sorted.MaxValueSize. @mpl, can you do that soonish to unblock @durand1?

Longer-term we may want to indirect them through a blob (still bound to 16 MB) or a "bytes" schema blob (unlimited). But even if we store them, we still probably don't want to slurp an unbounded attribute into the index's in-memory corpus

[2016-08-31 07:02] DanielHeath opened #850 "Web UI does not show thumbnails for webp image files"
To reproduce:
Drag-and-drop the attached image to the web UI.

Expected:
Image thumbnail shows up and clicking it shows the full size image

Actual:
No thumbnail, clicking through shows a blank screen

[hithere.webp.zip](https://github.com/camlistore/camlistore/files/446559/hithere.webp.zip)
Attached image zipped as github doesn't support webp either.

[2016-08-31 07:08] DanielHeath commented on #847
So, I've had a more detailed look at the camlistore architecture and I don't think there's a way to do it that fits.

Clients are expected to break files into appropriate sized blobs before sending, so any transcoding has to happen client-side.

The reason the files are large in the first place is that my phone lacks the processing power to do a good/fast job of compression.

The only way I can se

[2016-08-31 07:18] tgulacsi commented on #847
Or do the transcoding "offline", i.e. after the client has uploaded the big video, transcode it in a separate app, upload the minified version, and delete the original.
Would work flawlessly, if we had GC implemented...

[2016-08-31 07:27] DanielHeath commented on #847
In that case the transcoder could write a 'delete' claim linking to the new version which would be nice.

[2016-08-31 13:03] mpl commented on #849
ACK, will do today.

[2016-08-31 14:42] dldx commented on #849
No need to rush it out but thanks for looking into it!

[2016-08-31 15:58] mpl commented on #849
https://camlistore-review.googlesource.com/8187

[2016-08-31 23:53] mpl opened #851 "app/publisher: the master query should be refreshed when new content is accessible"
Example:

sha1-foo is a permanode with camliMembers
Our publisher with prefix "/pics/" has a root permanode with:
camliPath:foo : sha1-foo

On startup, the publisher sets the master query as being all descendants blobs of sha1-foo.

Now, add a new camliMember to sha1-foo, and refresh the /pics/foo page. The publisher asks the app handler to search for all members to be displayed. The app handler f

[2016-09-01 03:11] dldx commented on #849
Works fine for me. Thanks!

[2016-09-01 13:43] mpl commented on #849
Closing for now. We'll reopen for the longer term solution.

[2016-09-01 13:43] #849 closed

[2016-09-01 23:47] mpl opened #852 "pkg/search: panic when reusing *SearchQuery"
Demonstration, from: https://camlistore-review.googlesource.com/8206

	% go test -v ./pkg/search/ -run TestReuseQueryBad
	=== RUN   TestReuseQueryBad
	--- FAIL: TestReuseQueryBad (0.00s)
		query_test.go:77: Testing: --querytype=classic ...
	panic: already initialized [recovered]
		panic: already initialized

	goroutine 5 [running]:
	panic(0x7d6580, 0xc42014de00)
		/home/mpl/go1/src/runtime/panic.g

[2016-09-04 20:01] bradfitz opened #853 "camlistore fails to compile"
[code]

[2016-09-04 20:01] bradfitz commented on #853
Oh, nevermind. Stale workspace with leftover files from a previous vendor update...

[2016-09-04 20:01] #853 closed

[2016-09-05 21:10] #833 closed

[2016-09-05 21:10] #838 closed

[2016-09-05 21:10] #848 closed

[2016-09-05 21:10] #851 closed

[2016-09-07 18:34] mpl commented on #832
https://camlistore-review.googlesource.com/8246

[2016-09-08 13:15] #832 closed

[2016-09-09 08:20] iafan opened #854 "Missing `google.golang.org/api/internal` vendored dependency"
I updated camlistore to the latest commit (https://github.com/camlistore/camlistore/commit/ab06dbd80d966eb0163cf65881c999c15db2d73c), and build fails at `cannot find package "google.golang.org/api/internal"`

Here's the log:
[code]

The folder `vendor/google.golang.org/api/internal` is indeed missing.

Doing `go get google.golang.org/api/internal` and then placing the missing module to `vendor` fi

[2016-09-09 10:36] mpl commented on #854
yeah, of course it was in my vendor dir, but not in the commit. Thanks.

https://camlistore-review.googlesource.com/8266

[2016-09-09 10:37] #854 closed

[2016-09-15 12:48] rannen opened #855 "is:video predicate"
Is it conceivable to add a new predicate for videos?
I'd like to be able to search videos by the `is:video` predicate (we already have `is:image`).
For now I need to enter `format:video/quicktime or format:video/mp4 or...` if I want to retrieve them.

[2016-09-16 16:36] mpl commented on #855
It does not sound unreasonable imho.

But probably after we've landed at least parts of https://camlistore-review.googlesource.com/5116 , as it's related.

[2016-09-16 19:34] #777 closed

[2016-09-19 17:18] mpl opened #856 "camget DiskCache breaks sharing"
repro:

	% camput file somedir
	-> sha1-somedir
	% camput share -transitive sha1-somedir
	-> sha1-someshare
	% camget -shared http://localhost:3179/share/sha1-someshare
	-> works fine. BUT fills the client cache.
	% camget -o /tmp/somedir -shared http://localhost:3179/share/sha1-someshare
	-> FAILS with 401. Server says: share: Fetch chain 0 of sha1-3212e2410751991c4bee7fe91a72476aed58117b wasn't

[2016-09-19 22:12] mpl commented on #856
https://camlistore-review.googlesource.com/8307

[2016-09-21 14:32] #527 closed

[2016-09-21 19:32] mpl commented on #798
@edrex something you might be interested in: https://github.com/gopherjs/gopherjs/issues/524

[2016-09-22 03:52] paralin commented on #798
@edrex Yes, TypeScript is awesome, use it. My interest in using Gopher right now is for a web game I'm working on with a small team where we want to have symmetric game logic between the browser and the server. We need performance on the server, so any kind of JavaScript is sucky. Thus Go.

Use Webpack, Angular2 if you can. I think this is the best option right now.

See https://github.com/Angular

[2016-09-22 22:07] mpl opened #857 "pkg/search: sorting limitation on non-permanodes is confusing"
repro:

	% devcam server
	% devcam put file -permanode somedir
	% devcam tool search -rawquery '{"sort":"-created","constraint":{"camliType": "file"}}'
	Error: client: got status code 500 from URL http://localhost:3179/my-search/camli/search/query; body {
		"error": "no ctime or modtime found for sha1-01060fe29542869ab9f74dd8645736f4f6a0d014",
		"errorType": "Internal Server Error"
	}