[2016-09-22 22:09] mpl commented on #857
https://camlistore-review.googlesource.com/8327

[2016-09-23 16:53] #857 closed

[2016-09-23 18:17] bradfitz commented on #819
This API is now officially launched and out of beta.

Please prioritize using this in our launcher.

[2016-09-23 18:28] mpl commented on #819
ACK, top of TODO list now.

[2016-09-23 20:01] mpl opened #858 "website: improve monthly releases"
-make them more visible
-release notes
-somewhat stable
-not a different tier from the point releases
-update the launcher's camlistored version with the monthly release one
etc..

[2016-09-23 21:35] mpl opened #859 "let's encrypt: switch to x/crypto/acme/autocert"
See if x/crypto/acme/autocert works for us.

And if yes, use it both for the website, and for camlistored.

[2016-09-23 23:44] bradfitz commented on #859
If it doesn't work, we'll make it work.

[2016-09-26 17:06] #856 closed

[2016-09-26 23:51] mpl commented on #859
https://camlistore-review.googlesource.com/8366

[2016-09-27 23:33] mpl commented on #858
https://camlistore-review.googlesource.com/8370

[2016-09-29 14:46] mpl commented on #858
https://camlistore-review.googlesource.com/8386

[2016-09-29 21:52] mpl commented on #858
https://camlistore-review.googlesource.com/8387

[2016-09-29 22:13] mpl commented on #858
https://camlistore-review.googlesource.com/8388

[2016-09-30 14:48] mpl opened #860 "website/camweb: do not e-mail when no smtp"
This happened when trying to test camweb in "semi-production" (trying to start it with cloudlaunch as well, but on another projectID):

	Sep 30 14:40:15 camweb.c.granivo-re.internal camweb[12227]: 2016/09/30 14:40:15 Failed to connect to SMTP server: dial tcp 127.0.0.1:25: getsockopt: connection refused
	Sep 30 14:40:15 camweb.c.granivo-re.internal camweb[12227]: panic: runtime error: invalid memo

[2016-09-30 14:49] mpl commented on #860
https://camlistore-review.googlesource.com/8407

[2016-09-30 18:02] tajtiattila opened #861 "Slow permanode attribute lookup in Corpus when a signer is in use"
Corpus caches permanode attributes in a map, but doesn't use this cache
in PermanodeAttrValue, PermanodeHasAttrValue and AppendPermanodeAttrValues if
a signer filter is provided.

[2016-10-02 05:35] tytso opened #862 ""camput file" fails silently on EACCES failure"
If, while you are backing up a large directory hierarchy and there is some file that you can't read (because it's mode 700 owned by another user, and you're not root), camput will simply exit quietly.

A quick and easy reproduction can be done with something like "camput file /etc/ssh" as a non-root user.   Files such as ssh_host_rsa_key will be mode 700 owned by root.

[2016-10-02 05:36] tytso opened #863 "camput file should have an --exclude and --exclude-file facility"
Ala tar and rsync, it should be possible to specify a set of files to be excluded from being backed up.

[2016-10-02 14:52] mpl commented on #862
I think this issue is probably covered by issue #685 and its fix, but we'll see if the CL fixes both.

[2016-10-02 14:56] mpl commented on #863
@tytso I'm not dismissing the possibility of command-line options but, do you know about the ignoredFiles configuration option? (https://camlistore.org/doc/client-config)

[2016-10-02 17:57] tytso commented on #863
It looks like the ignoredFiles will match on a single file name (e.g., .DS_Store), but I was hoping for something as flexible as .gitignore --- e.g, something that would support globbing (*.o and *~), and specific paths --- e.g. /usr/projects/linux/base, which is a bare repository with the upstream git tree, for use with .git/objects/info/alternates, and which can be trivially re-downloaded from k

[2016-10-02 18:05] tytso commented on #862
I suspect it probably will.    I wonder if it might be better to continue (or at least have the option to treat as non-fatal) after some errors, such as "file not found" (the user may have deleted the file between the directory scan and when the file was read), the permission denied error, etc.   I'll note BTW that some backup programs will warn if a file has changed size unexpectedly, since that'

[2016-10-03 14:12] mpl commented on #862
I think camput should indeed be viewed as a multi-purpose tool to upload blobs, and not specifically to do backup of directories/filesystems.

There are 3 ways I can think of, to build a fancier backup tool:
1) Build it on top of cam* commands (camput, maybe some camtool and camget calls as well). For example as a script, like you asked for on the mailing-list. Probably the easiest way, but not th

[2016-10-03 22:13] mpl commented on #861
https://camlistore-review.googlesource.com/8406

[2016-10-05 21:47] mpl commented on #722
doh, and only now do I notice that we had a bug opened about it, and that @mdempsky had already given us the answer (the missing question section) to what I've just figured out by comparing with my bind server output.

Anyway, it confirms that my CL is probably on the right track then:
https://camlistore-review.googlesource.com/8446

[2016-10-12 13:52] mpl commented on #798
Paul Jolly is currently working on some react bindings for gopherjs, so we should keep an eye on that as well.
https://github.com/myitcv/gopherjs/wiki

[2016-10-12 15:52] shurcooL commented on #798
I'm not seeing it mentioned here, so I will. There are also some React bindings by @bep at https://github.com/bep/gr.

[2016-10-12 16:54] myitcv opened #864 "Search (UI) - find all permanodes that do not have a tag attribute"
As a follow up to [this thread](https://groups.google.com/d/msg/camlistore/eSXaPubbbGQ/LW7we9QtAgAJ)

The ultimate goal is to locate permanodes that do not have a tag attribute (regardless of value).

The following approach does not appear to work:

[code]

(and the search lexicon doesn't support this type of search either)

[2016-10-12 23:49] mpl commented on #819
@bradfitz while working on this, I found out that I was getting a 403 when trying to create a new project, using a service account from one of my existing projects to authenticate (the same way we would use the camlistore-website service account in production). I believe the reason is, according to https://cloud.google.com/resource-manager/ , that project creation is invite-only, even using the AP

[2016-10-13 16:08] mpl commented on #829
https://camlistore-review.googlesource.com/8547

[2016-10-13 22:25] #829 closed

[2016-10-14 13:17] #860 closed

[2016-10-17 18:30] remram44 opened #865 ""wip" and "foo" tags"
Were these meant to be pushed to GitHub?

[2016-10-17 19:12] mpl commented on #865
maybe? Is it causing any actual problem?

[2016-10-17 19:34] remram44 commented on #865
Not on my end... It looks like "wip" was some kind of staging area (someone used `tag wip` instead of `stash`), I'm really not sure what the "foo" release is supposed to be (lots of deleted files)

[2016-10-17 20:33] mpl commented on #819
Related: https://github.com/google/google-api-go-client/issues/173

[2016-10-18 01:58] remram44 opened #866 "Twitter importer: Media 404 crashes the importer"
If an old tweet only has broken media links, an error is shown and there is no way to get the importer to go further: `error: All media URLs 404s for tweet https://twitter.com/remram44/status/73066309369348096`

[2016-10-18 15:05] mpl commented on #866
@bradfitz Is there any reason we don't let the importer run go on when an importTweet error is due to its media being a 404?

[2016-10-18 15:41] mpl opened #867 "camnetdns: Let's Encrypt DNS (Unbound) not happy"
As I've reported here: https://community.letsencrypt.org/t/is-lets-encrypt-dns-not-liking-my-domain-name-server/21303 , we're going to have problems with Let's Encrypt because their DNS does not like something about the camnetdns response(s).

As e.g. http://dnsviz.net/d/camlistore.net/dnssec/ shows, there's a number of things to improve anyway. I'm going to work on what I think are the most likel

[2016-10-19 15:02] bradfitz commented on #866
It should keep going as far as it can. The tricky part, though, is retries. If the server had a temporary error, we don't want to ignore it forever and then mark the whole import as successful and never try again in an incremental run later.

On the other hand, we don't want to retry forever either.

What we should probably do is track permanodes which are incomplete and are missing resources, and

[2016-10-19 16:19] remram44 commented on #866
I agree completely. On a related note, should 404 be considered a temporary error?

[2016-10-19 21:28] mpl commented on #867
https://camlistore-review.googlesource.com/8586

[2016-10-19 22:03] cliveb commented on #867
Nice job, did you already push CL to camlistore.org?

Last evening thought I saw more errors in red http://dnsviz.net/d/
camlistore.net/dnssec/

DNS infosec at this level well out of my depth (just curious to learn).

On Wed, Oct 19, 2016 at 2:28 PM, mpl <notifications@github.com> wrote:

[2016-10-19 22:08] mpl commented on #867
Yes, even though the CL isn't merged yet, the changes are already live on camnetdns.camlistore.org, hence why you saw all the errors/warnings disappear from there.

That way I can test as I go whether Let's Encrypt likes us better yet or not.

[2016-10-20 22:27] #867 closed

[2016-10-21 20:06] mpl opened #868 "unit tests are using up too much memory"
I can't ever run

  go test ./pkg/...

anymore without having to kill chrome first. Otherwise I hit OOM errors, among other problems.

Of course, this is partly an environment issue: with chrome and a few tabs open, I'm at ~5/7.5 GB mem used. And closing chrome usually releases around 2GB mem.

Still, I'd like to investigate if I could improve the tests so they can run under 2GB of mem used.

[2016-10-21 23:35] mpl commented on #866
first draft
https://camlistore-review.googlesource.com/8588

[2016-10-24 15:34] mpl opened #869 "pkg/index: restore Reindex tests on travis"
Commit 096493bc13315751641b441cec76b88978019a0e disables Reindex tests on Travis CI, since they've been failing forever because of issue #756

Once issue #756 is fixed, we should enable them again.

[2016-10-24 18:18] mpl opened #870 "importer/twitter: use since_id"
investigate whether using the since_id parameter in requests would allow us to simplify the code, or be more efficient

https://dev.twitter.com/rest/public/timelines

[2016-10-25 18:23] cliveb commented on #868
Chrome's memory efficiency is being improved with version 55 pegged to be
released around December 6.

http://v8project.blogspot.com/2016/10/fall-cleaning-optimizing-v8-memory.html

https://plus.google.com/+FrancoisBeaufort/posts/EL1E7aA1pLv

On Fri, Oct 21, 2016 at 1:06 PM, mpl <notifications@github.com> wrote:

[2016-10-25 23:52] mpl commented on #866
@bradfitz what do you think of the story in https://camlistore-review.googlesource.com/8588?

@remram44 feel free to try out/review the CL. except if you have enough tweets that you need to use the zip archive (which I haven't yet considered). In which case, please just wait a bit more.

[2016-10-26 17:50] mpl commented on #861
@bradfitz a bit more context, to help with reviewing:

in describe.go, doDescribe calls dr.sh.getPermanodeLocation which calls permanodeLocation (location.go). In the common (==corpus) case, we'll call permaAttr.get, which calls a.sh.corpus.PermanodeAttrValue with an owner.

So far, all of our calls/uses of (corpus.go) func (c *Corpus) PermanodeAttrValue were actually without a valid signer, which

[2016-10-26 20:50] #861 closed

[2016-10-27 02:30] mithro opened #871 "camlistore.org: It would be nice to have "what currently works" or "current features" type page"
camilstore looks like a super interesting project with some pretty big goals. This sounds like something I might want to use and would probably love to use. However, from the website it is very unclear what the current status is? What can camlistore currently do?

Starting with https://camlistore.org/doc/uses, the questions I currently have that I wasn't really able to find on the camlistore site

[2016-10-27 04:51] cliveb commented on #871
In lieu of more specific answers forthcoming. Easy way to start using Camlistore and answer some of your questions is via the [https://camlistore.org/launch](https://camlistore.org/launch/ ) launcher version of Camlistore on Google cloud platform.

Sign up here by gmail to "Try for Free" and get a free developer credit. This promo has changed a couple of times (recently $300 / expires after 60 day

[2016-10-27 14:35] mpl commented on #871
@mithro

-FUSE access through the cammount command should work on both linux and darwin. Some of the features depend on the platform.

-No blog but it wouldn't be hard to do. No one's been interested enough. There's a publisher app to publicly expose your items to the world though. (live example: https://granivo.re/pics/-/h16a4c1da55/h92c94f7973)
There's a sharing mechanism that allows other camli

[2016-10-27 15:04] mpl commented on #866
I have now added support for the zip case as well. But not sure how to test it yet, if that can even be done. I can probably tweak our testdata to include such a failure/recovery.

[2016-10-27 15:47] cliveb commented on #871
In lieu of more specific answers forthcoming. Easy way to start using
Camlistore and answer some of your questions is via the
https://camlistore.org/launch/ version on Google cloud platform.

Sign up here by gmail to "Try for Free" and get a free developer credit.
This promo has changed a couple of times (recently $300 / expires after 60
days) https://cloud.google.com/

After setup, use the web UI

[2016-10-27 22:00] mpl commented on #866
well, I had set up the https://twitter.com/camlitests for testing that CL, and I hadn't realized I could simply get the zip archive for it as well. retries seem to work as well in the "zip mode", so PTAL.

[2016-11-01 00:23] mpl commented on #722
https://camlistore-review.googlesource.com/8626

[2016-11-03 01:01] DanielHeath opened #872 "S3: Fail hard if unexpected files are found in the bucket"
We currently don't support non-camlistore files coexisting in an s3 bucket, but have no error handling for this case.

What happens at the moment is that things sort-of work some of the time, but e.g. `camtool sync` hangs forever without an error message.

[2016-11-03 01:20] DanielHeath commented on #872
I've opened https://camlistore-review.googlesource.com/#/c/8666/ to resolve. See also discussion at https://groups.google.com/forum/#!topic/camlistore/_eCFdGJFluA

[2016-11-04 00:02] mpl opened #873 "vendor: update cloud.google.com/go/logging to v2"
v1 is being deprecated, and we need to switch to v2 before march 2017

https://cloud.google.com/logging/docs/api/v2/migration-to-v2

For us, that basically means updating the vendored copy, and fix how we create log entries in a couple of places.

[2016-11-05 02:36] bradfitz opened #874 "picasa importer:"
I just got this error while importing my Google Photos...

@mpl, can you take a look?

I just got my home server back online post-move, though, so my tree is a few months old, though. (I didn't want to update too many things at once)

[2016-11-05 03:38] bradfitz commented on #874
I was at 95c4c9059

[2016-11-05 03:41] bradfitz opened #875 "Camlistore doesn't build at Go tip"
Camlistore doesn't build at Go tip:

[code]

Does GopherJS not work at Go tip?

/cc @mpl

[2016-11-05 15:04] mpl commented on #875
Nope. As far as I understood, gopherjs only supports 1.7. They enforce it through https://github.com/gopherjs/gopherjs/blob/master/compiler/version_check.go

If we really needed, I suppose we could hack our vendored copy and see if we can make things work on tip.

[2016-11-05 18:06] bradfitz opened #876 "blobpacked: the --recovery flag should always be respected"
If the user runs camlistored with --recovery, the blobpacked code will ignore it if it sees that it has non-zero meta rows.

I had non-zero meta rows because I'd lost my blobpacked index and started camlistored without recovery, which caused the twitter importer to run, which imported jpegs, which created blob packs, so then I had a few dozen meta rows.

But I'd also lost millions of meta rows, an

[2016-11-05 18:08] bradfitz commented on #876
Also, now that I'm using recovery, I realize it has no log entry that it's running. I just see mysqld and camlistored CPU usage.

It needs a log entry that it's starting, and ideally progress updates every 10 seconds.

[2016-11-05 18:08] bradfitz commented on #876
The only way I know it's working is watching MySQL ...

[code]

[2016-11-05 18:15] bradfitz commented on #876
Also, my CPU is 80% idle while this runs. We should be more aggressive.

[2016-11-05 18:20] bradfitz commented on #876
Found a way to get progress:

[code]

[2016-11-05 19:52] bradfitz opened #877 "camtool sync should sync more than 1 blob at once"
camtool sync does not saturate my CPU nor bandwidth. It syncs one blob at a time.

[2016-11-05 19:59] bradfitz commented on #877
I locally hacked it up to do 100 at a time. It flies now. Need to clean up the patch.

[2016-11-05 22:48] bradfitz opened #878 "deadlock between indexing & search (via importers)"
I keep getting camlistored deadlocks trying to reindex.

No web browser is open. (No websocket), which was a problem in the past.

What I see in the stacks is:

[code]

And tons of:

[code]

[2016-11-05 23:46] bradfitz commented on #878
Actually the importer has nothing to do with it.

With importers disabled, and no web traffic, I still get deadlocks just indexing.

[2016-11-06 02:54] bradfitz commented on #878
Using syncdebug, this goroutine is the last one to get the lock:

[code]

And after things all lock up, this is what the goroutine is up to later:

[code]

[2016-11-06 02:59] bradfitz commented on #878
Again:

[code]

And

[code]

[2016-11-07 15:47] mpl commented on #878
ack. trying to reproduce.

[2016-11-07 16:08] mpl commented on #878
wait a minute. if you're reindexing, why are we seeing goroutines in pkg/blobserver/handlers/upload.go, seemingly handling some uploads? What is responsible for doing that?

[2016-11-07 16:37] bradfitz commented on #878
I'm not "reindexing" in the mode you're thinking. I'm running camtool sync from bs to index.

[2016-11-07 17:12] mpl commented on #878
and is this happening with your patch that does 100 blobs at the same time instead of just one?

[2016-11-07 18:12] mpl commented on #874
As @fgeller suggested in his e-mail, it looks like we're hitting:
https://code.google.com/p/gdata-issues/issues/detail?id=7004
and we're not the only ones:
https://github.com/google/gdata-java-client/issues/459

Given there's no feedback on the upstream issue, and there's no mention of that start-index limitation at https://developers.google.com/picasa-web/docs/2.0/reference I'm not sure where to

[2016-11-07 18:55] mpl commented on #874
@bradfitz if you have any way of escalating or getting some feedback on https://code.google.com/p/gdata-issues/issues/detail?id=7004 , I think that could be useful.

[2016-11-07 19:05] mpl commented on #878
Because I can't reproduce so far. So maybe we need that concurrent upload you introduced to hit the deadlock? In which case, it would be useful to share what you have so far, so I can try and reproduce with it too.

[2016-11-07 21:46] mpl commented on #876
https://camlistore-review.googlesource.com/8687

[2016-11-07 21:55] mpl opened #879 "blobserver/blobpacked: log progress of recovery mode"
As mentioned in issue #876

[2016-11-07 23:24] mpl commented on #879
https://camlistore-review.googlesource.com/8688

[2016-11-08 00:10] mpl commented on #878
Just from your logs it looks like (from the very last one you pasted), that one of the uploads is blocked trying to read the blob from the source (pkg/blobserver/receive.go:72), so it never finishes indexing that blob, and never relinquishes the mutex? hence all the other ones deadlocked?

[2016-11-08 01:19] bradfitz commented on #878
Yeah, I think it should probably slurp the blob (max 16MB) off the network in index ReceiveBlob before acquiring the mutex.

I bet the client is out of flow control tokens or something. I haven't entirely thought it out or debugged further.

[2016-11-08 03:46] cliveb commented on #878
Possible red herring to do with picasa api being decremented
http://googlephotos.blogspot.com/2016/02/moving-on-from-picasa.html

On Mon, Nov 7, 2016 at 5:19 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2016-11-09 16:46] mpl commented on #770
yeah, afair I in fact, did not have the GCL API enabled after all.

[2016-11-09 16:46] #770 closed

[2016-11-09 17:36] mpl commented on #744
https://camlistore-review.googlesource.com/8726

[2016-11-09 18:14] mpl commented on #145
the builder has been dead for a while.

[2016-11-09 18:14] #145 closed

[2016-11-09 18:27] mpl commented on #179
https://camlistore-review.googlesource.com/8326 and
https://camlistore-review.googlesource.com/8286 are relevant.

[2016-11-09 18:31] mpl commented on #185
we'll reopen and/or create new issues when we actually start considering using Go's builders.

[2016-11-09 18:31] #185 closed

[2016-11-09 18:34] mpl commented on #414
fixed by 6c2c5811794237d5be32236c5c8ff9c652a39c8d

[2016-11-09 18:34] #414 closed

[2016-11-09 18:49] mpl commented on #255
Since this issue was specifically about kv, which is not the default anymore, closing for now.

[2016-11-09 18:49] #255 closed

[2016-11-10 00:18] mpl commented on #330
https://camlistore-review.googlesource.com/8747 is needed so that camput can discover the share handler prefix and print the share url.

[2016-11-10 14:58] #744 closed

[2016-11-10 23:53] mpl commented on #330
https://camlistore-review.googlesource.com/8749 takes care of 2)

[2016-11-10 23:56] mpl opened #880 "sharing: make sharing from web UI possible"
We can only share blobs with camput share.
We should make it possible with user-friendlier tools, such as through the web UI.
Issue #330 was hinting at that, but better to open a distinct issue for it.

[2016-11-11 00:07] mpl commented on #420
closing for lack of feedback

[2016-11-11 00:07] #420 closed

[2016-11-11 00:14] mpl commented on #424
update: a couple of month ago, upstream finally looked at my PR and fixed the max-keys issue.
So maybe I can revisit that issue.
Although we don't run a buildbot anymore.
But maybe we can launch a fake-s3 instance locally as part of our tests anyway. Or run it somewhere else.

[2016-11-11 00:19] mpl commented on #458
https://camlistore-review.googlesource.com/8647

[2016-11-11 00:25] mpl commented on #466
That panic trace is now useless since the publisher code has changed quite a lot in the meantime.
I think I fixed this while working on the publisher anyway.
And if not, easy to reopen when needed.

[2016-11-11 00:25] #466 closed

[2016-11-15 13:05] tgulacsi commented on #874
I see my photos in Google Drive. Maybe another importer from Google Drive could solve this?

[2016-11-15 16:56] mpl commented on #330
bfce01e7b2936c03ddcbf65eb9993b7da8c1fb0d

[2016-11-15 16:56] #330 closed

[2016-11-17 01:00] mpl commented on #424
https://camlistore-review.googlesource.com/8787

[2016-11-17 23:29] mpl commented on #862
yeah I've tested with https://camlistore-review.googlesource.com/6256 , and I can confirm it also fixes the EACCES case.

[2016-11-18 00:20] mpl commented on #678
https://review.gerrithub.io/302648

[2016-11-18 21:18] mpl commented on #765
that's done afair.

[2016-11-18 21:18] #765 closed

[2016-11-19 07:47] stephens2424 opened #881 "panic at startup"
Noticed my camlistore instance was down after my latest update.

[code]

Haven't gotten to dig into it yet, but I wanted to at least upload the stack trace to an issue. Assuming the problem isn't obvious after a just a little digging, here are some thoughts on direction for investigation:

- I have a twitter importer, picasa importer, and recently, I added an active feed importer
- I have an encry

[2016-11-19 08:39] stephens2424 commented on #881
The bisect pointed me to bdb350dc25ef7a09cf756c1b1cadc522b037bf64. I suspect I have some weirdly detached node in my system somewhere and the caching implemented there doesn't expect it.

Digging into the trace, I found that we hit a condition where both of the return values here are nil (location.go:65):

		pa.attrs, claims = lh.corpus.permanodeAttrsOrClaims(pn, at, signer)

Later, in util.go, ca

[2016-11-19 08:42] stephens2424 commented on #881
sidenote: is it odd that commit bdb350dc25ef7a09cf756c1b1cadc522b037bf64 shows up in [gerrit](https://camlistore-review.googlesource.com/#/c/8649/), but not [github](https://github.com/camlistore/camlistore/commit/bdb350dc25ef7a09cf756c1b1cadc522b037bf64)?

[2016-11-19 09:09] stephens2424 commented on #881
Just looking at that code, it seems like there's another case where we are okay returning an empty string in a similar "missing-data" kind of case. This change simply avoids the panic by returning another empty string: https://camlistore-review.googlesource.com/c/8806/

I don't yet have an understanding of how we got into the situation.

[2016-11-19 09:25] stephens2424 commented on #881
I got it to panic with the arguments to `permanodeAttrsOrClaims`

[code]

I looked up the permanode and get

[code]

Not sure what to make of it at this point.

[2016-11-19 20:00] mpl commented on #881
thanks for the report, I'll try to look into it soon.
pinging @tajtiattila in the meantime, since he was also involved in these changes.

[2016-11-19 20:08] tajtiattila commented on #881
In index/location.go permAttr.get calls claimsIntfAttrValue with pa.claims at the end.

Earlier pa.claims was a slice, where a nil value was not a problem. But it was changed to an interface, and claimsIntfAttrValue crashes when it is nil.

permAttr.get should not call claimsIntfAttrValue when pa.claims is nil.

[2016-11-20 15:31] mpl commented on #881
thanks for the report. I kicked the part that needed kicking. things should be back to normal soon.

[2016-11-21 22:20] mpl commented on #881
test to repro the issue:

https://camlistore-review.googlesource.com/8826

[2016-11-23 16:25] #881 closed

[2016-11-23 19:20] mpl opened #882 "app/publisher: do not show all published nodes from published root"
If /publishRoot/ is my publisher app handler prefix, and I have published two nodes as "foo", and "bar", the result is that:

http://host:port/publishRoot/foo and http://host:port/publishRoot/bar ,

are publicly visible (if known).

However, if I advertise (say on social media), http://host:port/publishRoot/foo/-/hb4e1765b2b , I don't think it's anybody's business to be able to figure out that I a

[2016-11-23 19:24] mpl commented on #882
https://camlistore-review.googlesource.com/8866

[2016-11-23 19:34] cliveb commented on #882
Agreed. Nice job. Why make it easier.

Segue, any plans @bradfitz will share roadmap for next Camlistore release focused on Sharing?

[2016-11-24 22:41] mpl opened #883 "pkg/test: get rid of FakeIndex"
We're using FakeIndex in tests as an alternative implementation of index.Interface.

But in practice, we only ever have/use one implementation of index.Interface; namely index.Index, so I don't think it makes the code better anywhere to pass/use an index.Interface instead of an index.Index.

Also, the index.Index interface has gotten pretty large and gross, so I don't think it's a good thing that

[2016-11-24 22:41] mpl commented on #883
CC @tajtiattila

[2016-11-24 23:58] mpl commented on #475
https://camlistore-review.googlesource.com/8867

[2016-11-25 22:22] mpl commented on #875
https://camlistore-review.googlesource.com/8868

[2016-11-27 17:47] bradfitz commented on #883
SGTM

[2016-11-27 22:15] bradfitz commented on #873
We better do this soon, then, so it's in the upcoming release.

[2016-11-27 22:38] bradfitz commented on #865
@mpl, let's delete them.

You can use a fork in your own github account as a personal scratch space.

[2016-11-27 23:14] bradfitz commented on #874
@mpl, I've started to reach out to Google teams to see what the status is.

[2016-11-28 02:46] stephens2424 commented on #791
I took a swing at resolving the conflict rebasing this to today's master. The result is on a branch [here](https://github.com/stephens2424/camlistore/tree/issue791). Not sure what exactly would be the best way to hand this off, but if you want, I can push to your existing gerrit review (as I accidentally discovered is possible). Another might be, if you do: `git rebase origin/master b8fd06ad33d5c5

[2016-11-28 16:51] #875 closed

[2016-11-28 17:00] #475 closed

[2016-11-28 17:04] mpl opened #884 "vendor: update go4.org/wkfs/gcs"
cloud.google.com/go/storage's BucketHandle.List call went away, hence https://review.gerrithub.io/302868

We should update cloud.google.com/go/storage in Camlistore, take care of any BucketHandle.List call in the code base, and then update go4.org/wkfs/gcs.

[2016-11-28 17:27] mpl opened #885 "pkg/blobserver/blobpacked: add some sort of progress bar for -recovery mode"
follow-up of https://camlistore.org/issue/876

[2016-11-28 17:29] #876 closed

[2016-11-28 19:59] mpl opened #886 "server/camlistored/ui: some search queries fail when they're not just about permanodes"
Some search queries in the web ui match results other than permanodes, e.g. when navigating to the camliContent of a permanode.

But as @tajtiattila noted, it seems that when introducing the change 95c4c90591b7570c460cf03fbb98c9380fbf8170 we broke some of these queries.

So we probably need to make sure that such queries are specified with a search.BlobRefAsc sort order.

[2016-11-30 01:31] raff opened #887 "Vendored files skipped during build because of incorrect matching expression"
The regular expression here: https://github.com/camlistore/camlistore/blob/master/make.go#L83 ignores files with multiple "dots" in the name (i.e. a.b.c.go).

I am trying to see if I can change the "s3" implementation to use the official AWS Go SDK and one of the files is https://github.com/aws/aws-sdk-go/blob/master/service/s3/platform_handlers_go1.6.go (but this could potentially happen with any

[2016-11-30 03:42] bradfitz commented on #887
Thanks!

[2016-11-30 16:17] mpl commented on #886
https://camlistore-review.googlesource.com/8906

[2016-11-30 16:33] mpl commented on #865
@bradfitz I'm not sure I can do it myself as I didn't create them, and I don't remember if I have push rights directly to the github repo. but I'll see.

[2016-11-30 16:44] mpl commented on #865
ok, I was able to remove them through the github interface. hopefully that didn't break anything.

[2016-11-30 16:44] #865 closed

[2016-11-30 17:25] #424 closed

[2016-11-30 17:26] mpl commented on #424
the docker image tarball is now up in GCS

[2016-11-30 17:42] mpl commented on #791
@stephens2424 I didn't keep the CL up to date because of a lack of reviewers/interest. And I can't decently land it without anyone committing to properly reviewing it.

If I update it and break it into smaller pieces, are you interested enough to review it?

[2016-12-01 07:46] raff opened #888 "git 2.11.0 breaks build"
This change in git 2.11.0 causes make.go to fail:

* The default abbreviation length, which has historically been 7, now
   scales as the repository grows, using the approximate number of
   objects in the repository and a bit of math around the birthday
   paradox.  The logic suggests to use 12 hexdigits for the Linux
   kernel, and 9 to 10 for Git itself.

The regular expression used to match th

[2016-12-01 14:40] mpl commented on #888
thanks

[2016-12-01 14:40] #886 closed

[2016-12-02 00:47] mpl commented on #873
https://camlistore-review.googlesource.com/8907

[2016-12-02 18:40] mpl opened #889 "vendoring: investigate tools to help with updating vendored deps"
Title says it all. Maintaining and updating the (google) dependencies we vendor in has gotten painful enough that a tool to help with that would now be welcome.

I should investigate the existing options out there.

[2016-12-02 20:28] cliveb commented on #889
Also interested in vendoring tools (working on a list). Will ask what Hyperledger ledger is using at the hackathon in NYC. https://medium.com/@ic/full-stack-development-and-go-26a64c70f387

[2016-12-03 01:59] stephens2424 commented on #791
Sure!

[2016-12-03 19:18] josephholsten commented on #889
I'm relatively happy with [govendor](https://github.com/kardianos/govendor)

[2016-12-05 06:43] stephens2424 commented on #443
Just as an fyi, I've started working on this [here](https://github.com/camlistore/camlistore/compare/master...stephens2424:proxycache?expand=0). I've got a few things to fix and clean up before I'd call it review-ready. This basically fills in a few TODO items I found in proxycache and adds some tests. The approach steps away from sorted.KeyValue and uses the lru package and the stats blobserver.

[2016-12-05 19:28] edrex commented on #443
A nice (later) validation of this might be to remove the caching code from `pkg/fs` and have `cmd/cammount` wire one up at runtime (maybe with a flag to turn it off, which could be useful for debugging cache issues).

[2016-12-06 22:41] #701 closed

[2016-12-06 22:41] #859 closed

[2016-12-08 02:49] stephens2424 commented on #443
This change is getting close, so I uploaded to the [review server](https://camlistore-review.googlesource.com/#/c/8926/) in case anyone wants a head start.

[2016-12-09 04:38] stephens2424 commented on #443
Something in particular I could use a little input on: when we verify the cache, what should we do with the different errors?

- cache is missing a ref the caller asked to check
this seems like an easy call to just return the error here.

- origin is missing a ref the cache has
This probably means the item was deleted from the origin. Should we just delete it in the cache? Or should we put it back

[2016-12-09 06:27] stephens2424 opened #890 "`camput -h` does not print mode information"
To get camput to print more than just global flags, you have to specify some mode (even just a wrong one) to fall into camlistore's flag parsing and avoid the stdlib's printing usage and exiting. I have a small change to fix this.

[2016-12-09 06:32] stephens2424 commented on #890
I submitted [a change](https://camlistore-review.googlesource.com/#/c/8946/)

[2016-12-09 07:33] #890 closed

[2016-12-09 10:28] myitcv commented on #889
We follow a similar approach to [`vendo`](https://groups.google.com/d/msg/golang-nuts/GkE_BjSPocA/MneQU9lRCQAJ) using a very half-baked in-house tool (and plan to switch to `vendo` at some point). The general premise is:

* Create a directory called `_vendor` in the repo root, let's assume this is `/path/to/gopath/src/github.com/myitcv/project/_vendor`. This will contain our "vendored" dependencie

[2016-12-10 00:39] mpl commented on #722
In follow-up of https://camlistore-review.googlesource.com/8446 , so I don't forget:

TODO(mpl): restrict IP space, check client not using a cheap key to make it harder for attackers

[2016-12-10 13:39] serolod commented on #738
I see presumably the same problem syncing two directory hierarchies.
Steps to reproduce (use for example [this random directory tree](https://github.com/camlistore/camlistore/files/643776/rand_dir.tar.gz)):
[code]

For me this gives the following errors:
[code]

After refreshing the UI shows no results. Sometimes the last errors
[code]
only pop up after refreshing.

If instead of
[code]
I do
[code

[2016-12-12 15:18] mpl opened #891 "docs: update parts related to HTTPS and let's encrypt"

[2016-12-12 21:23] mpl commented on #738
@serolod I think I've got it, at least for your use case.

Can you please apply https://camlistore-review.googlesource.com/8969 and let me know if it fixes the problem for you?
You'll still see errors during the sync, only they should be dealt with asynchronously at the end of the sync, so the web UI should be usable a few moments (I want to say milliseconds?) after the the sync now.

[2016-12-13 06:15] stephens2424 opened #892 "improve BlobHub and write more implementations"
While working on #443, I investigated ways to reduce the likelihood for false cache hits. I found the `blobserver.BlobHub` interface, but it seems like it's lacking a few things for it to be truly useful in that regard.  It does not seem like it would notify listeners about a removed blob nor blobs added out-of-process (like by a distant camlistored configured as a "remote" blobstore), at least as

[2016-12-13 16:17] mpl commented on #891
https://camlistore-review.googlesource.com/8986

[2016-12-13 17:38] mpl opened #893 "pkg/serverinit: error out if unknown field in config"
In other words, if someone has a typo in their high-level config, camlistored should die on startup, so the typo does not go undetected.

[2016-12-15 09:52] tgulacsi commented on #809
Can you give a proper URL for that RSS? https://medium.com/feed/@bmann does not contain "quip".

[2016-12-15 15:51] mpl opened #894 "investigate trouble on camweb instance"
more details later

[2016-12-15 16:17] #458 closed

[2016-12-15 22:52] bmann commented on #809
The feed link is the correct one -- I have made many more posts since then, so it doesn't appear in the first "page" of results.

[2016-12-17 02:12] #891 closed

[2016-12-19 13:13] serolod commented on #738
@mpl That fixes it. Actually, no errors appear during sync at all.

[2016-12-19 13:37] mpl commented on #738
Cool, thanks. Feel free to +1 on the CL too, to accelerate its merging.

(on phone)

On Dec 19, 2016 14:13, "serolod" <notifications@github.com> wrote:

[2016-12-19 17:11] 0xCMP opened #895 "Issue building - SearchResult re-declared in block (gopherjs)"
I can't run `go run make.go` on tip

[code]

[2016-12-21 18:20] mpl commented on #895
@0xCMP hmm, I can't reproduce on go1.7.4 linux/amd64

Could you please make sure to
  rm -rf tmp/build-gopath-nosqlite
first, and then retry?

[2016-12-29 09:13] marcellanz commented on #888
the git command issued in `make.go:gitVersion` could also be more precise about the length of the short SHA1 hash it expects with `--abbrev` added to the command:
`git rev-list --max-count=1 --pretty=format:'%ad-%h' --date=short --abbrev=7 HEAD`

with a sensible length, that would prevent "surprises" from those heuristics git does to define the right length for a repo.

[2016-12-30 01:06] bradfitz opened #896 "importer: add Google Drive importer"
It seems the Google Photos API (the "Picasaweb API") is broken and doesn't let you fetch all your photos. Details in #874.

But a workaround is to enable Google Drive's setting to mirror Google Photos in your Drive storage. (Go to https://drive.google.com/drive/my-drive then the Gear at the right, Settings > "Create a Google Photos folder" -> [X] Automatically put your Google Photos into a folder

[2016-12-30 01:08] bradfitz commented on #874
@tgulacsi, yup, that appears to be our only option at the moment. I created #896.

I filed a bug internally about the Picasaweb API but I all I heard was basically, "huh, that shouldn't happen", but I haven't see anybody racing to fix it either.

I think I'd prefer to work with the gdrive JSON discovery format API over the XML-GData API anyway.

[2016-12-30 08:48] mpl commented on #896
Yep I've been wanting a drive importer anyway for a while too.

(on phone)

On Dec 30, 2016 02:06, "Brad Fitzpatrick" <notifications@github.com> wrote:

[2016-12-30 10:12] tgulacsi commented on #896
The v3 api and the helps seems quite usable (https://developers.google.com/drive/v3/web/quickstart/go, https://godoc.org/google.golang.org/api/drive/v3).

If we use the drive.DrivePhotosReadonlyScope, then no other filtering is needed.
[list-files.zip](https://github.com/camlistore/camlistore/files/678510/list-files.zip)

[2016-12-30 21:50] gcoxmoz opened #897 "pinentry runPass not disabling echo"
I was running a package within docker, and my passphrase kept being echo'ed back at me.  Likewise on OSX.

https://github.com/camlistore/camlistore/blob/master/pkg/misc/pinentry/pinentry.go#L130 obviously calls for disabling echo.

However, in runPass, there's a few simplistic issues.  It was hard to track because:
1a. Nothing looks for any errors from cmd.Run; it just assumes it succeeds.
1b. cmd

[2017-01-02 14:31] mpl commented on #896
For the importer to be useful for me (in itself, regardless of the google photos issue), I would need to be able to specify "directories", and/or files, to ignore. Does that seem like a reasonable feature to everyone?

Also, as opposed to our previous importers, some of the items in the drive (except for photos) are getting regularly updated, so how do we handle that? I mean, since we're content-a

[2017-01-02 15:34] mpl commented on #897
@gcoxmoz thanks.

@bradfitz wrote that part, and I've never used it, so I'm not sure about the original intent. I'll have a better look at it later if Brad does not answer.

[2017-01-02 15:47] mpl commented on #894
Note: I haven't cleaned up /run/systemd/netif/links/ in at least a couple of weeks, and it's almost empty (1% of /run used), so at least it looks like we're finally rid of the systemd-networkd bug that was plaguing us.
Probably because latest reboot of the instance bumped us to a fixed version of CoreOS.

[2017-01-02 19:36] mpl commented on #873
@bradfitz Shall I use your prototype for logging, that uses net/http instead of grpc, so we can bypass the RootCAs not found problem? If yes, where is that at?

[2017-01-02 19:52] mpl commented on #888
@marcellanz sounds like an even better solution, thanks.

[2017-01-02 19:54] mpl commented on #839
@cyphar what do you think of https://github.com/camlistore/camlistore/issues/888#issuecomment-269601680 instead? if you agree with it, do you want to change your CL to use that solution?

In any case, closing that issue as both issues stem from the same bug, and we can keep on discussing on #888 instead.

[2017-01-02 19:54] #839 closed

[2017-01-02 19:58] mpl commented on #877
fb21eee1e9dc5b8b9e5ab0f40634b745175956d1

[2017-01-02 19:58] #877 closed

[2017-01-02 21:29] mpl commented on #887
@raff I think that'll do for now, thanks. Besides, there would be "tricky" cases for just checking the extension, (e.g. .tar.gz), wouldn't there?

PTAL: https://camlistore-review.googlesource.com/9066

[2017-01-03 05:49] mholt commented on #874
@bradfitz @mpl This is probably nothing, but I did print out the response headers of a GET request and this header got my attention:

[code]

Does the `_rtok` cookie look like a "resume token"? I'll keep tinkering...

[2017-01-03 06:22] bradfitz commented on #874
@mholt, interesting! Please report back either way.

[2017-01-03 06:38] mholt commented on #874
@bradfitz Well, setting that cookie value in the next API request didn't work as a replacement for the start-index query string parameter, at least. _If_ it is a resume token, I don't know how to use it. 😛

[2017-01-04 01:02] DanielHeath opened #898 "Unify caching inside server, add explicit cache config"
I've been looking at ways to run camlistore on an inexpensive VPS (eg an aws t2.micro with 512mb ram).

Most things work very well, but image / video thumbnailing loads slowly and often fails (typically I'll upload everything from my camera at once so there'll be 1gb+ of video nodes on the same page of the web UI).

I've dug around a bit in thumbcache / ThumbMeta but couldn't see a straightforward

[2017-01-04 01:57] DanielHeath opened #899 "WebUI: link to fullsize image"
As camlistore is my primary backup system, I'm often using the web UI to pick out photos to share.

I'd be keen to have some way of downloading originals (rather than resized versions).

Would a sensible UX be to tick several items in the frontend then have a 'download all as zip' or similar button?

[2017-01-04 14:25] mpl commented on #899
Just to be sure, do you know that you can already do that for an individual item? Select it, and click on "View original".

But a similar action is indeed missing for >1 items. I think we could have a "Share" action in the contextual menu, which could let several sub-actions unfold, one of them being "download as zip", yes.

The hard part being of course to actually implement the action, not just

[2017-01-04 22:49] cyphar commented on #839
@mpl I submitted a PR in gerrit for this on August...

[2017-01-04 23:31] mpl commented on #839
@cyphar not quite. the comment I pointed to suggests using the --abbrev option instead.

[2017-01-05 04:59] stephens2424 opened #900 "Configuring user agent(s) in importers"
I recently ran into an issue where I could not import content from a particular RSS feed because the server kept giving me 429s. The provider told me my user agent was probably not unique enough. I tried changing the user agent naively down in the feed importer code, and sure enough, that worked. I'm thinking this kind of thing might come up again, and so some general http client configuration in

[2017-01-05 15:59] mpl commented on #884
https://camlistore-review.googlesource.com/9069

[2017-01-05 22:40] #884 closed

[2017-01-10 21:57] bradfitz commented on #146
There is also now https://github.com/billziss-gh/winfsp

[2017-01-10 23:37] mpl commented on #899
https://camlistore-review.googlesource.com/9086

[2017-01-10 23:38] mpl commented on #798
https://camlistore-review.googlesource.com/9086

[2017-01-10 23:38] mpl commented on #607
https://camlistore-review.googlesource.com/9086

[2017-01-10 23:41] mpl commented on #798
@myitcv @edrex ping ^^

[2017-01-12 06:16] #887 closed

[2017-01-13 15:21] #722 closed

[2017-01-13 17:27] dfb commented on #874
Just a heads up on using Google Drive as a workaround: a number of people have a problem where not all of their photos from Google Photos show up in Google Drive. I know that someone mentioned wanting a Drive importer anyway, so I'm not trying to discourage that effort from moving ahead, but I did want to raise awareness that it may not provide a complete workaround for this Picasa issue.

I've be

[2017-01-13 17:35] mpl commented on #874
@dfb jsyk, we have a specific issue for doing google drive now: #896

[2017-01-13 17:48] dfb commented on #874
Yup, thanks - I saw it but thought it's discussion would end up being more geared towards adding Drive support generally and not solely as a workaround to this problem, but please feel free to edit/copy the info as you see fit of course.

Anyway, I'm just passing through - I found this project and this ticket while trying to find a solution and figured I'd chime in so you guys know up front instea

[2017-01-16 18:46] #882 closed

[2017-01-18 05:49] joshlf commented on #759
Any progress on this? I'd use it if it existed.

[2017-01-18 06:07] marshauf commented on #759
Hello, I stopped working on it and didn't get far. I also moved on and will
not implement this feature, sorry.

On 18 Jan 2017 06:49, "Joshua Liebow-Feeser" <notifications@github.com>
wrote:

[2017-01-18 06:08] joshlf commented on #759
Ah oh well. Thanks for getting back to me so quickly!

[2017-01-18 18:46] #806 closed

[2017-01-19 17:03] cliveb opened #901 "Get a certificate signed for hostname (next phase of the GCE deployer)"
BWO user concerned security [discussions with](https://groups.google.com/forum/#!topic/camlistore/20iDLFqabLUl) MPL:

"Next phase of the deployer, i.e. it will provide you with a hostname as well, so you'll get a certificate signed for that very hostname instead of one signed for localhost, as it does now. Actually, I don't see why we couldn't deploy that version of it now, at least behind an expe

[2017-01-19 21:56] mpl commented on #901
The URL you're giving in the report above has an IP address, not a host name.

You need to go in your google cloud console for your project, to the page for your instance. There you should look for the "camlistore-hostname" variable in the custom metadata section.
The Camlistore instance running at this host name should have a valid HTTPS certificate.

[2017-01-19 23:02] cliveb commented on #901
I tried "[camlistore-hostname](http://09a2499a.camlistore.net/)" but not working. Has a different message:

This site can’t be reached

"Took too long to respond.
Try:
Checking the connection
Checking the proxy and the firewall
Running Connectivity Diagnostics
ERR_CONNECTION_TIMED_OUT"

[2017-01-19 23:16] mpl commented on #901
What's the IP address you see for your camlistore-server instance in the google cloud console?

I mean, in your first post you gave 104.154.23.135 , but our DNS says that 09a2499a.camlistore.net resolves to 104.197.84.88, so there's already some fishy discrepancy there.

[2017-01-19 23:17] cliveb commented on #901
VM instances: View serial port.

[25231.525301] accounts-from-metadata[3001]: INFO Did not grant admin access to clive_boulton. /etc/sudoers not found.
[25239.997081] locksmithd[1565]: [etcd.service etcd2.service] are inactive
[25239.997634] locksmithd[1565]: Unlocking old locks failed: [etcd.service etcd2.service] are inactive. Retrying in 5m0s.
[25364.084083] update_engine[917]: I0119 22:46:44.7

[2017-01-19 23:22] cliveb commented on #901
External IP
104.154.23.135   (ephemeral)

Internal IP
10.128.0.2

I cant explain 104.197.84.88 (is not shown in GC console)

[2017-01-19 23:50] mpl commented on #901
ok, I don't know what's going on for you atm, but let's first check if at least your gpg key matches your hostname.

Go to the logs of your instance, which should be at

https://console.cloud.google.com/logs/viewer?project=YOURPROJECTID

if you scroll up a bit in the entries, to about the time your instance was created (although I think log times are in UTC, so you have to compensate for that), ca

[2017-01-19 23:51] cliveb commented on #901
Please see https://github.com/camlistore/camlistore/issues/901

On Thu, Jan 19, 2017 at 6:16 PM, mpl <notifications@github.com> wrote:

[2017-01-20 00:25] cliveb commented on #901
My GCE Camlistore instance only has logs for the past 7 days (assume earlier logs have been purged by the GC system). Hence providing today's log for camlistore started not when my camlistore was created.

{
 insertId: "1pbqztgg1g8nitu"
 jsonPayload: {
  user_agent: "Pantheon Google-API-Java-Client Google-HTTP-Java-Client/1.22.0-SNAPSHOT (gzip)"
  ip_address: ""
  request: {
   url: "https://www.g

[2017-01-20 00:31] mpl commented on #901
those are GCE logs, not Camlistore logs. Sorry I should have specified. Looks like the interface changed again. In the selector below the filter bar that is on the top, the one on the left, you have to select "Global". At least, that is how it is on my interface now.

[2017-01-20 00:48] cliveb commented on #901
In the GC interface I have there is no ability to select "Global".
Screenshot my console

https://drive.google.com/file/d/0BxvxbukcauRwZUxUdnBPLUV0N3c/view?usp=sharing

On Thu, Jan 19, 2017 at 7:31 PM, mpl <notifications@github.com> wrote:

[2017-01-20 00:54] mpl commented on #901
ugh

[2017-01-20 00:56] mpl commented on #901
Do you have the "gpg" command installed on your computer?

[2017-01-20 01:05] cliveb commented on #901
Using a Chromebook Pixel. I have Crouton (Ubuntu) fairly bare bones Linux.
I will start it up and and look for gpg or try to install it.

On Thu, Jan 19, 2017 at 7:56 PM, mpl <notifications@github.com> wrote:

[2017-01-20 01:20] mpl commented on #901
Ok, I'll have to go soon, so here's something you can try out in the meantime if you manage to have access to a computer with gpg installed.

Go to your config bucket, at

https://console.cloud.google.com/storage/browser/PROJECTID-camlistore/config/?project=PROJECTID

And download your GPG key, which should be the file named identity-secring.gpg. Be super careful with tha t file. No one should eve

[2017-01-20 07:51] tajtiattila opened #902 "publisher: image thumnails are not scaled properly"
Thumbnails in the publisher show up with an incorrect aspect ratio (apparently the image is stretched into a square shape). Standalone images appear fine.

[2017-01-24 23:32] cliveb commented on #901
Keys seem to be locked down. Looks like requires installing GC Cloud SDK locally. (I needed to buy new machine, not use a Crouton Chromebook). I am work on getting a new Macbook set up.

[2017-01-25 01:21] mpl commented on #901
Sorry, I don't understand?
You shouldn't need the cloud sdk for any of the above. You _could_ use the sdk to fetch the keyring, but you don't _need_ to, you can just do it with your browser, from the cloud console page I indicated above.

As for gpg, I'm not sure if you can do it on a chromebook, but you sure don't need the cloud sdk for that part. I don't know how chromebooks work and what can be

[2017-01-25 01:54] cliveb commented on #901
The key ring isn't at the URL provided (I looked around a lot).

On Jan 24, 2017 8:21 PM, "mpl" <notifications@github.com> wrote:

Sorry, I don't understand?
You shouldn't need the cloud sdk for any of the above. You *could* use the
sdk to fetch the keyring, but you don't *need* to, you can just do it with
your browser, from the cloud console page I indicated above.

As for gpg, I'm not sure if yo

[2017-01-25 02:39] mpl commented on #901
hmm I didn't actually say it before so, just to be sure, you did replace PROJECTID with your actual project ID, in that URL, didn't you?

Like, if your project ID is clive-gce, the URL would be:

https://console.cloud.google.com/storage/browser/clive-gce-camlistore/config/?project=clive-gce

If yes, and you don't see the keyring there, then it's pretty bad. It means camlistored didn't generate it

[2017-01-25 03:28] cliveb commented on #901
I replaced with my camli-xxxx project I'd, and even tried the internal
numerical I'd.

There is no key in my current project (this is a an early LFNW time frame
launcher).

I'll generate a new Camlistore via the GCE deployer and compare if a key is
generated, and report back.

Travelling and hacking, may not get to this till Sunday-ish.

On Jan 24, 2017 9:39 PM, "mpl" <notifications@github.com> wr

[2017-01-25 05:20] josephholsten opened #903 "closure/updatelibrary can't update past 2014-07-26"
Note: this is totally not important. I was just playing around to see how closure/updatelibrary worked.

In [vendor/embed/closure/updatelibrary.go](https://github.com/camlistore/camlistore/blob/master/vendor/embed/closure/updatelibrary.go), we have really old pins:

[code]

The `gitRepo` easily updates to its new home:

[code]

But attempting to update the `gitHash` yields great sadness. The lates

[2017-01-25 11:32] mpl commented on #903
Does https://camlistore-review.googlesource.com/5736 address your concerns?

I think I had postponed that CL at the time because I didn't know where we were going with the web UI, but now that I have a better idea, I should probably revisit it.

[2017-01-25 15:57] messju commented on #839
I like the fix with "--abbrev=7". Works like a charme for me with git versions 2.11.0 (arch) and 2.1.4 (debian).

Another way would be to use the full hash instead of it's abbreviation.
Add "--no-abbrev" as an option to the git command and change the regexp to:

[code]

[2017-01-25 17:26] josephholsten commented on #903
@mpl it works for some of the intermediate revisions, but it won't work with current https://github.com/google/closure-library/blob/master/closure/goog/deps.js

Looks like instead of a boolean, the latest code has an object as its final param.

eg
[code]

[2017-01-25 17:27] josephholsten commented on #903
oh, is there a ticket for the long term plans with the UI? I recall you mentioning switching to gopherjs.

[2017-01-25 17:50] mpl commented on #903
Thanks. Are you interested in taking over CL5736? If yes, then please be my guest. But I'm going to land a couple of web UI CLs hopefully very soon. Just letting you know now so you don't have to rebase n times over them.

I don't think so.

yes we are. :-) issue #798
First CL using it should land very soon.

[2017-01-25 18:15] mpl commented on #607
2b093f38c8841d423d86af33f570fa1bd4495918

[2017-01-25 18:15] #607 closed

[2017-01-25 21:21] mpl opened #904 "pkg/httputil: break the dependency on google cloud libs"
With the web UI using gopherjs (https://camlistore-review.googlesource.com/9086), I'm hitting the same problem that we fixed at 668ca6996780d8bca4b76069e97d30f0f45b5cbe for the publisher.

That is, we're using pkg/auth -> pkg/httutil -> pkg/env , which not only imports many more deps (== larger sized generated javascript), but also breaks the generated javascript anyway. I don't know the reason fo

[2017-01-25 21:23] bradfitz commented on #904
Can you use build tags?

Make some `+build js` versions of our packages that are thinner?

[2017-01-25 21:57] mpl commented on #904
yes, that works perfectly, thanks.

I've added the change to https://camlistore-review.googlesource.com/9086

I'll keep this issue open until I've reported the gopherjs breakage upstream.

[2017-01-29 17:32] cyphar commented on #839
Do what you like, but I don't get why you want to keep the restrictive length matching.

[2017-01-30 18:24] #888 closed

[2017-02-01 09:24] Jimmy99 opened #905 "go run make.go fails - Ubuntu 16.10 golang 1.8rc3"
Greetings
OS is Ubuntu Server 16.10
golang version is 1.8rc3

I am trying to execute go run make.go but I get the following errors:
Do you know of any issues?

# runtime
/usr/local/go/src/runtime/signal_unix.go:27: _SIG_DFL redeclared in this block
	previous declaration at /usr/local/go/src/runtime/signal1_unix.go:15
/usr/local/go/src/runtime/signal_unix.go:28: _SIG_IGN redeclared in this block
	p

[2017-02-01 15:48] mpl commented on #905
Hi.

I can't reproduce with go 1.8rc3.
This looks like a go installation/setup problem though.

Can you please provide more info, like
-how you installed Go (package manager, source, official binary, etc)?
-how you got Camlistore? (how and where you fetched it, what version).
-your GOPATH and GOROOT.

[2017-02-01 18:44] mpl commented on #897
@gcoxmoz sorry about the delay.

I've had a look and I could reproduce, both the problems you describe and test the fixes as well. imho it sgtm, namely, to:

1) make runPass return an error (and check it in the caller), that includes stdout and stderr in the case where cmd.Run didn't return nil. (so you probably want to set both cmd.Stdout and cmd.Sterr to some bytes.Buffer).
2) set cmd.Stdin

Do

[2017-02-01 21:45] #872 closed

[2017-02-02 07:52] Jimmy99 commented on #905
Greetings
Golang I downloaded binary from golang.org:
go1.8rc3.linux-amd64.tar.gz
Camlistore I obtained from  git clone https://camlistore.googlesource.com/camlistore

This is results from go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GOOS="linux"
GOPATH="/home/dimitri/projects/go"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/linux_amd64"
GCCGO="

[2017-02-02 14:08] mpl commented on #905
Can you please

  cd $GOPATH/src/camlistore.org
  rm -rf tmp/build-gopath-*
  go run make.go

and paste the whole output here?

[2017-02-02 14:28] mpl commented on #889
it looks like it might be worth waiting for https://github.com/golang/dep to mature a bit too

[2017-02-03 07:45] Jimmy99 commented on #905
Greetings
please see output below:

dimitri@SPFileServer:~/projects/go/src/googlesource/camlistore$ go run make.go
# runtime
/usr/local/go/src/runtime/signal_unix.go:27: _SIG_DFL redeclared in this block
	previous declaration at /usr/local/go/src/runtime/signal1_unix.go:15
/usr/local/go/src/runtime/signal_unix.go:28: _SIG_IGN redeclared in this block
	previous declaration at /usr/local/go/src/runt

[2017-02-03 11:52] Jimmy99 commented on #905
Dear mpl
I decided to uninstall go1.8rc3 and installed go1.7.5 instead
Camlistore compiled fine and camlistored runs as per normal.
Just wondering what is up with 1.8rc3?
Regards

[2017-02-03 14:39] mpl commented on #905
uh, I should have thought sooner of having a closer look at the specific errors you got, sorry.

It looks to me like your go1.8rc3 install is messed up. I don't think you're supposed to have both a signal_unix.go file and a signal1_unix.go file in the runtime package on go1.8rc3. I only have the signal_unix.go file here.

But on go1.7 both these files exist. So could it be that you forgot to

rm -

[2017-02-03 14:55] Jimmy99 commented on #905
That explains why the fresh install sorted it out.
Thanks for all your help

[2017-02-03 14:55] #905 closed

[2017-02-03 19:31] gcoxmoz commented on #897
https://github.com/mozilla/mig/issues/317 has a decently viable patch.  Someone who's set up to jump through the CL hoops can run with it.

[2017-02-05 03:14] stephens2424 commented on #443
So I went with returning an error in all the cases. (Only when you ask to verify specific refs does the cache missing a ref actually become an error)

I decided to punt on the BlobHub issue for now, but I think that's okay. Deleting blobs seems like it'd be a rare use case and changing them would involve finding a hash collision ... so even more rare.

I also think I found a bug in the go4.org/jso

[2017-02-06 18:02] mpl commented on #897
https://camlistore-review.googlesource.com/9291

[2017-02-06 22:27] #873 closed

[2017-02-07 22:24] tgulacsi commented on #896
An alpha quality minimal version is available at https://camlistore-review.googlesource.com/9308
This works just as the Picasa importer, gets only the photos ("photos" space).

What kind of directories would you ignore (under the "photos" space)?

Iff all photos has been successfully imported, the changes are received through the "Changes" service, with the stored token, so receiving the changes a

[2017-02-08 01:26] mpl commented on #896
@tgulacsi thanks, I'll try to have a look soon.

I don't think I'd need/want to ignore anything under the "photos space" as you say. I meant that if we're doing this, we might want to make it a generic gdrive importer anyway (not just for photos), in which case there are indeed files and directories that I'd like to ignore in my drive.

But maybe we only want photos for now if making a generic gdr

[2017-02-09 01:05] #897 closed

[2017-02-10 20:30] bradfitz opened #907 "JS style guide broken link"
https://camlistore.org/doc/web-ui-styleguide

has a broken link:
http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml

new link is:
https://google.github.io/styleguide/jsguide.html

[2017-02-10 23:36] mpl commented on #907
https://camlistore-review.googlesource.com/9366

[2017-02-11 01:36] sllawap commented on #882
mpl@ this change seems odd to me as there is already a mechanism for sharing individual files with the share handler (each of which is gated by a unique via= key. For me personally, the primary use of the publisher is to publish folders instead of individual files and this functionality is now broken.

[2017-02-11 03:26] mpl commented on #882
I'm sorry if the change broke something for you, it certainly wasn't meant
to.

Can you please give an example of how it was working for you before and
isn't anymore?

On Feb 11, 2017 02:36, "Philip Walls" <notifications@github.com> wrote:

[2017-02-11 03:44] sllawap commented on #882
Previously, I was able to setattr camliRoot on a single permanode (a set) and throw images into that set. The images would become instantly visible in the gallery listing and could be downloaded as a zip. This was how I shared albums of images w/ friends and family who were not tech savvy.

I attempted to work around the new 403 behavior on the camliRoot by defining the camliPath:<path> attr on ch

[2017-02-11 03:53] sllawap commented on #882
Just confirmed: the secondary issue is indeed due to the incorrect address rewriting. Setting camliRoot on a set permanode, and then defining camliPath:xx for a subfolder seems to give me the original functionality.

publisher.js appears to be attempting to fetch http://<servername>/<camliRoot>/search when served from the reverse proxy at https:// which surfaces a "Mixed content" error. I'll file

[2017-02-11 15:49] mpl commented on #882
Coming back to your original issue.

Are you saying that everytime you wanted to share a set, you would set a camliRoot on it, in effect creating a new camliRoot each time? But then you would have to add that new camliRoot to your server config for it to work, wouldn't you?

As you might have guessed I'm a bit puzzled that you managed to make it work that way, as the intended behavior of the publi

[2017-02-12 06:47] sllawap commented on #882
I had a very simple use for the publisher: a single set permanode which I threw photos into when I wanted to make them public. This seemed to work pretty nicely and once the camliRoot was associated in the server config, I didn't need to make any further modifications. The change to behavior of camliRoot broke my original setup, but the camliPath behavior is sufficient for my needs.

[2017-02-12 07:30] sllawap opened #908 "publisher frontend serves mixed content when running behind a reverse proxy"
I run camlistore behind a reverse proxy. nginx terminates all http(s) connections and proxies the requests to camlistore on a secured network via http.

When accessing a publisher endpoint via http, everything works as expected, but when accessing via https, the publisher attempts to access content over http. From the Chromium developer console:

```publisher.js:79 Mixed Content: The page at 'http

[2017-02-12 07:31] sllawap commented on #882
@mpl filed #908 for tracking the mixed content w/ reverse proxy issue.

[2017-02-12 07:39] sllawap commented on #908
I looked into the root cause of this a few weeks back. The most apparent source of the issue is the following HTML being sent to the client by the publisher frontend when served from reverse proxy via https. The reason the publisher behaves this way is sensible enough: as mentioned before, camlistore is receiving the request over http as https termination happens at the edge:

[code]

This results

[2017-02-12 15:02] glowingwire opened #909 "Priority setting for folders and file types."
Since I plan to use the fuse filesystem for my home directory,  or perhaps a few folders,

Really it would be nice to start with  metered connection disable upload of some files..
And have a niceness for certain folders

Some files will change frequently and I don't want them using my bandwidth at the expense of my documents directory...  And if I have a few huge files mixed with small files, i'd

[2017-02-13 14:51] mpl commented on #882
thanks.

Sorry for insisting, but there's still something I don't get about your usage, which I think is important to pin down for future design.

Say you wanted to share photos of event E1 with group of people F1. You would then create permanode P1, and set its camliRoot attribute to "event1".

First question: you then had to add

	"/someevent/": {
		"camliRoot": "event1",
		...
    }

to the "pu

[2017-02-13 15:05] mpl commented on #909
I don't know what the heuristics should be, and I don't think there's an easy answer, but I can see the appeal of the idea.

Note that we already have a cruder similar mechanism: the ignoredFiles option of the client config, that cammount should respect iirc.

[2017-02-13 16:50] sllawap commented on #882
I only had a single published folder, so I never needed to modify my server config after the initial setup. In that way, I suppose I was not an advanced user! The new mechanism is superior in that it avoids the need to modify the server config when a new published root is added.

The misbehavior I was seeing was conflating the new behavior in this CL (which required some reconfiguration on my part

[2017-02-13 17:58] mpl commented on #908
SGTM. It should indeed be trivial to add that header check in func (pr *publishRequest) subjectHeader to override the pr.req.TLS when needed.
Actually, if we can, we should add that in a func in pkg/app/app.go , so other apps can benefit from it. And subjectHeader will call that func.

One thing I'm not sure about though, as the request goes like:
client -> nginx -> app handler -> publisher
and th

[2017-02-13 21:13] #907 closed

[2017-02-18 01:21] #756 closed

[2017-02-19 18:59] thomasheller commented on #258
@stisti  I can't reproduce this right now, however, looking at postgreskv.go it seems that if an error happens in `altSet` or `altBatchSet`, the result never gets closed. Simply deferring the Close() may already fix that leak.

[2017-02-22 14:46] tgulacsi opened #910 "Implement unspin.Storage"

[2017-02-22 15:05] seepa commented on #910
Referring to **up**spin?

[2017-02-22 19:13] bradfitz commented on #910
A typo in the subject and a typo in the bug report. That's pretty impressive! ;-)

[2017-02-22 19:48] tgulacsi commented on #910
TIL never create an issue in a hurry on your phone without intoxication.
Sorry.

[2017-03-03 13:54] #738 closed

[2017-03-06 23:10] mpl commented on #899
https://camlistore-review.googlesource.com/9526

[2017-03-07 00:02] #798 closed

[2017-03-08 06:15] oec opened #911 "Authentication with Amazon S3 fails due to new auth mechanism"
I get a panic on startup of camlistore, with this final information:

"s3": Error listing bucket XXXXXXXX s3.ListBucket: status 400: <?xml version=
"1.0" encoding="UTF-8"?>
<Error><Code>InvalidRequest</Code><Message>The authorization mechanism you have provid
ed is not supported. Please use AWS4-HMAC-SHA256.</Message>...</Error>

[2017-03-08 14:24] mpl commented on #911
thanks, I'll look into it.

[2017-03-09 15:33] mpl commented on #911
@oec hey. Could it be that the access credentials you're using are not accepted anymore by S3 for security reasons (too old)?

Could you please verify by running the s3 unit tests:

go test ./pkg/blobserver/s3/ -s3_key access_key -s3_secret secret_key -s3_bucket some_test_bucket -testdata /some/dir/with/data

I've just run the tests with a freshly generated key and there was no problem for me.

[2017-03-09 22:25] oec commented on #911
@mpl I just tried the test-case, same issue - status 400 with message:

`<Error><Code>InvalidRequest</Code><Message>The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256.</Message><RequestId>...</RequestId><HostId>...</HostId></Error>`

The credentials are pretty new (two days old).  Maybe different s3-regions have different requirements on the authentication?

[2017-03-09 22:36] oec commented on #911
Aha, here is a clue (from the [AWS documentation](http://docs.aws.amazon.com/general/latest/gr/signature-version-2.html), highlights are mine):

[2017-03-09 22:37] oec commented on #911
If I understand correctly, Version 4 of the authentication method would work in any region (for the S3 API, at least)

[2017-03-10 15:29] mpl commented on #911
ah, I see, thanks for looking into it.

Let me know if you want to write a CL for it, but otherwise I'll get to it soon.

[2017-03-10 16:36] oec commented on #911
I could work on it over the weekend, simply lifting the implementation to version 4 of then authentication.

[2017-03-10 16:46] oec commented on #911
No hurry.  I like to give it a shot, stay tuned.

[2017-03-10 23:30] #894 closed

[2017-03-11 00:11] mpl commented on #904
I haven't been able to create a minimal repro with whatever libs were responsible for breaking the gopherjs output if they were imported. Maybe it's fixed with Go 1.8, who knows?
I'll reopen an issue if/when that shows up again.

[2017-03-11 00:11] #904 closed

[2017-03-17 13:46] #899 closed

[2017-03-22 00:08] mpl opened #912 "pkg/deploy/gce: add launcher option to run on Free Tier instance"
This issue is about providing a very-low cost solution for users to try Camlistore out.

Google Cloud is now providing an "Always Free" Tier, so we should take advantage of that.

When that option is ticked, we should make sure to create a project/instance that matches the specs described at
https://cloud.google.com/free/

[2017-03-22 00:09] mpl commented on #912
Need to finish issue #819 first though.

[2017-03-22 00:10] #858 closed

[2017-03-23 00:14] mpl opened #913 "server/camlistored/ui: make it easier to find (all) shares"
At the moment, I don't think there is any easy way, from the web UI (maybe not even from camtool search?) to search for previously created (claim) shares. It is not only desirable as a feature in itself, but it is also important in the case where one would want to stop sharing a previously shared item. They'd need to know the share claim, so they can delete it.

As an end goal, I think there could

[2017-03-23 01:01] #880 closed

[2017-03-24 17:37] mpl opened #914 "pkg/server: share handler does not support share deletion/cancellation"
Since we don't actually ever remove blobs (until we add garbage
collection, and even then), if a share claim gets deleted (with a delete
claim), the only knowledge of the deletion resides in the Index.

So when the share handler verifies the sharing chain, there is nothing
preventing it from reading a supposedly deleted share claim (from the
blobserver), and concluding that the share chain is vali

[2017-03-24 22:03] #914 closed

[2017-03-27 11:48] increpare opened #915 "error when building: "fork/exec /tmp/go-build466177775/command-line-arguments/_obj/exe/make: permission denied""
Hellooo -

Following the instructions here to get started *https://camlistore.org/download*, I ran `git clone https://camlistore.googlesource.com/camlistore`

which was fine. Then I ran `go run make.go`, I got the following error

    fork/exec /tmp/go-build134549651/command-line-arguments/_obj/exe/make: permission denied

( with Debian 8.2, go version go1.8 linux/amd64 )

[2017-03-27 18:53] mpl commented on #915
hi.

Is there any more context, or is that the only thing being printed?

a shot in the dark: are you trying to do that in /tmp?

[2017-03-27 23:45] mpl commented on #913
with this change at least we have a CLI tool: https://camlistore-review.googlesource.com/9686

[2017-03-28 14:03] increpare commented on #915
Oh wait, I can't even run hello world in go. Something up with my go. Ignore me :)

[2017-03-28 14:03] #915 closed

[2017-03-28 14:06] increpare commented on #915
( for anyone getting here via google,  http://stackoverflow.com/a/26514408 was the solution - my distro doesn't like executing things in /tmp and setting `export TMPDIR=~/tmp/` fixed everything )

[2017-03-28 14:14] mpl commented on #915
which is exactly why I asked that question about /tmp :-)

[2017-03-28 21:10] bradfitz opened #916 "Amazon Drive blob server support seems like a no-go"
Amazon Drive's docs explicitly say:

https://developer.amazon.com/public/apis/experience/cloud-drive/content/developer-guide

Not sure whether that second one would include Camlistore's importers.

Discussion: https://www.reddit.com/r/programming/comments/61zuti/amazon_drive_developer_guide_dont_build_apps_that/

I'm filing this proactively, before people request Amazon Drive blobserver support.

[2017-03-28 21:10] #916 closed

[2017-03-28 21:13] mpl commented on #916
whoa.

[2017-03-29 18:45] mpl opened #917 "pkg/schema: signing a claim does not set the claim date to the signature time"
https://camlistore.org/doc/schema/permanode seems to imply that the claim date and the claim signature time should be the same, which I found could not automatically be the case.

CL incoming, as it's easier to demonstrate in code anyway.

[2017-03-29 18:50] mpl commented on #917
https://camlistore-review.googlesource.com/9687

[2017-03-30 13:52] mpl commented on #869
this was done, along with fixing the reindexing, in 66d75cbcf917636a10a9e73fb1fed4cb6d469edd

[2017-03-30 13:52] #869 closed

[2017-04-03 17:29] myitcv commented on #889
Updated my previous comment to correct a few points that were, at the time of writing this comment, out of date.

[2017-04-04 13:12] myitcv commented on #889
@mpl can I make a suggestion whilst we await `dep` or another more permanent solution?

* Rename `/vendor` to be `/_vendor/src` - this will allow `_vendor` to be augmented to an existing `GOPATH`
* Maintain a `/.vendor.txt` file that contains three fields of data:

[code]

* Maintain a `/_vendor/.gitignore` file to define what's included/excluded within vendored packages, e.g.:

[code]

* The `/_v

[2017-04-05 17:41] mpl commented on #889
This sounds like a lot of work to transition to something that, hopefully, we wouldn't keep for long since we would adopt dep soon. I'd rather switch to dep early on, and cope with whatever shortcomings it has with a couple of hacks.

Unless maybe your plan is already close to how dep works (I don't know, as I haven't played with dep enough so far), in which case it might be interesting to adopt i

[2017-04-10 15:26] myitcv commented on #889
A very fair response... and a good challenge.

Here's my _initial_ take on things as the stand. All comments as of https://github.com/golang/dep/commit/7f85e04e3446e25cac27cf5d07e4e56db3680ef0:

1. `dep`'s implementation is such that the `go` tool does not work for packages under its control (i.e. `go list`, `go test`, `go install`). This, to my mind, is a blocker for `dep`'s progress/adoption. I

[2017-04-11 23:13] mpl commented on #889
Hmm I thought pretty much everyone had agreed to adopt the <code>vendor/</code> directory convention. Or at least most of the popular (go) versioning tools out there, haven't they?

[2017-04-12 04:58] tgulacsi commented on #889
Yes, they did. And the go tool itself accepted the `vendor/` folder, treats is specially, so anything  going against `vendor/` goes against the `go` tool, and has to go circles to achieve what vendor/ + go tool achieves.

[2017-04-12 07:49] myitcv commented on #889
@mpl @tgulacsi ok to help me understand, what aspects/features of `vendor/` are we relying on in camlistore?

Comparing `vendor/` with a `GOPATH` approach, these are the two main differences I'm aware of:

* per above, the `go` tool does not work on `vendor/` "vendored" dependencies; I can't think we're relying on this :)
* `vendor/` has slightly different fall-through semantics where directories

[2017-04-12 17:28] mpl commented on #678
https://camlistore-review.googlesource.com/9887

[2017-04-12 20:42] #678 closed

[2017-04-14 16:06] mpl commented on #819
https://camlistore-review.googlesource.com/9906

[2017-04-17 00:16] bradfitz opened #919 "Add Sia blob storage target"
Investigate adding a Sia backend:

https://sia.tech/

[2017-04-21 15:12] #917 closed

[2017-04-21 16:20] #819 closed

[2017-04-21 18:14] mpl commented on #874
@dfb jsyk, we're hitting a similarly bad problem now:

https://productforums.google.com/forum/#!msg/drive/HbNOd1o40CQ/VfIJCncyAAAJ

And while posting that, I've also seen all the people reporting what you reported: i.e. some of their photos not even getting synced at all to drive. a pretty terrible state of affairs indeed.

[2017-04-25 06:59] tajtiattila opened #920 "Publisher UI uses incorrect scheme to access resources"
The publisher UI the same scheme (HTTP or HTTPS) for communication (browser→camlistore→publisher) as the backend (publisher→camlistore). This is wrong because camlistore/publisher may run in HTTP mode behind a HTTPS reverse proxy, and therefore the schemes being used in the browser and on the server need to be different.

[2017-04-25 13:12] mpl commented on #920
https://camlistore-review.googlesource.com/9946

[2017-04-25 21:18] #920 closed

[2017-04-26 07:04] tajtiattila commented on #902
https://camlistore-review.googlesource.com/c/9947/

[2017-04-26 15:51] mpl opened #921 "camlistored/ui: on download, form submission error"
As reported by e-mail by Attila, while downloading items in the web UI, he gets the "Form submission canceled because the form is not connected" error.

That is because we create an ephemeral form, that we don't connect to the DOM, to send the request to the server, and as of apparently Chrome 56, https://html.spec.whatwg.org/multipage/forms.html#form-submission-algorithm, step 2. was enforced.

[2017-04-26 15:52] mpl commented on #921
https://camlistore-review.googlesource.com/9969

[2017-04-27 13:21] #921 closed

[2017-04-28 13:47] mpl opened #922 "camlistored/ui: when editing permanodes attributes, navigation does not update the page"
as reported by Attila in e-mail:

Pressing cursor right/left on the web UI with an edit box within the permanode tab switches ref to the next/last permanode without loading the attributes of the new permanode.

Steps to reproduce:

Select any permanode on the UI
Switch to Permanode tab
Set focus to any edit box (attribute name or value)
Press left/right arrow
Ref in URL/search bar changes
But page

[2017-04-28 17:36] mpl commented on #922
https://camlistore-review.googlesource.com/10026

[2017-04-29 14:32] #922 closed

[2017-04-29 14:35] #902 closed

[2017-04-29 14:36] mpl opened #923 "camlistored/ui: when editing permanode attributes, disable navigation"
This could have been part of #922 , but creating a new issue for clarity.

To restate: when one is one the permanode aspect of a permanode blob, as soon as an attribute field gets the focus for change (existing or new attribute), we should probably disable left/right navigation, to avoid involuntary navigation.

[2017-05-02 15:07] mpl opened #924 "pkg/schema: failure to create dir blob if dir is too large"
@dustin was getting an EOF panic with camput file on a dir.

It turns out that the dir is large enough (~33325 files) that the resulting static-set schema size (1766240) ends up being over our max schema size (1MB).

So when calling parseSuperset (https://github.com/camlistore/camlistore/blob/master/pkg/schema/schema.go#L303) from func (bb *Builder) Blob() *Blob, the LimitReader truncates the sche

[2017-05-02 15:23] mpl commented on #924
Given that our max blob size is 16 MB anyway, I think we could:

1) as a short-term solution, increase the max schema size to ~16 MB as well.
2) start planning for static-sets larger than 16MB, because it sounds pretty likely to happen.

[2017-05-02 16:05] mpl commented on #924
It seems to me that we could simply allow a static-set member to be another static-set schema.

So when we receive what would be a a schema like

"members": [
	"sha1-01",
	"sha1-02",
	...
	"sha1-30000"
]

we just split at the ~10000 limit, and it becomes:

"members": [
	"sha1-01bis",
	"sha1-02bis",
	"sha1-03bis"
}

with the schema of sha1-01bis being:

    {"camliVersion": 1,
     "camliType": "st

[2017-05-04 00:55] mpl commented on #924
https://camlistore-review.googlesource.com/10046

[2017-05-04 04:14] tgulacsi commented on #677
Does this CL allow me to have a union storage, where only one storage gets writes, and all others are read-only, and if any has a blob, this union will have that blob?

[2017-05-09 04:22] SamWhited opened #925 "Bad rlim_t mapping for FreeBSD"
Currently the build fails on FreeBSD with Go 1.8:

[code]

In FreeBSD land this is a signed int for some reason (see [ztypes_freebsd_amd64.go]) but it should never be negative so copy/pasting and doing a conversion should work fine.

[ztypes_freebsd_amd64.go]: https://golang.org/src/syscall/ztypes_freebsd_amd64.go#L52

I do not want to get setup with gerrit or whatever other tooling is needed to c

[2017-05-09 10:16] mpl opened #926 "server/camlistored: investigate -recovery failure"
As reported in https://groups.google.com/d/msg/camlistore/vO6_vB_Dwmg/dZi66agJAQAJ there might be a problem with -recovery.
Also, when a run -with -recovery is not successful, we should make sure that subsequent calls to camlistored still exit with the message asking to run with recovery.

[2017-05-09 10:44] mpl commented on #925
thanks

[2017-05-09 14:32] mpl commented on #925
@SamWhited actually, I'm not sure that's the correct fix. I don't have any FreeBSD machine handy to test it out, but I suspect -1 might be used as the value for RLIM_INFINITY, in which case rlim.Cur could be -1 in some cases.

The FreeBSD man page does not say so (https://www.freebsd.org/cgi/man.cgi?query=setrlimit&apropos=0&sektion=2&manpath=FreeBSD+11-current&format=html), but the Linux one kind

[2017-05-09 14:48] SamWhited commented on #925
@mpl ah yah, I couldn't find anything that mentioned negative signals, but it did seem silly to me to set rlim_t to int if there couldn't be negative signals. I'll try to manually send some signals when I'm home tonight (central time) and see if I can't figure out if it's valid or not.

[2017-05-09 15:19] SamWhited commented on #925
@mpl I found it; `getrlimit(2)` can return -1 in the case of an error:

[code]

Since Go always checks the errNo (and ignores the return value, as far as I can see), we should get an error any time Rlim would be negative so the conversion should be fine.

[2017-05-10 14:02] mpl commented on #925
I'm confused by that last answer. Why would the return value type have anything to do with the type of the (rlim_cur, and rlim_max) fields in the rlimit struct? Aren't they completely unrelated?

[2017-05-10 14:04] SamWhited commented on #925
@mpl They're assigning the value directly into an rlimt_t typed var without checking it; if I gert a chance later I'll dig up the source and paste some snippets.

[2017-05-10 14:26] mpl commented on #925
But in any case, some quick googling seems indeed to confirm that RLIM_INFINITY is now the max of int64, as you said.
The comments on here https://reviews.freebsd.org/rS299571 seem to suggest that it used to be -1, but I don't know if it's safe to assume that no running FreeBSD system nowadays still uses the old definition.

[2017-05-10 14:28] SamWhited commented on #925
Good find; I'm asking on #freebsd on Freenode, we'll see if anyone there knows. In the mean time, maybe it would be okay to special case -1 and otherwise normalize to an int64 like the other platforms?

[2017-05-12 16:01] mpl commented on #925
@SamWhited yep, done: https://camlistore-review.googlesource.com/10147

[2017-05-12 16:04] SamWhited commented on #925
I never did get an answer on IRC; oh well, probably fine :)

[2017-05-14 18:35] #925 closed

[2017-05-14 19:51] epaulson commented on #456
@mpl is this the approach y'all are still thinking, or are you thinking of a more everything-in-docker setup where something else is watching "child" processes?

I think you'll want something richer than just watching PIDs - some kind of a heartbeat protocol between camlistored and child processes like the publisher etc. You want to handle more than just the parent process exited without shutting

[2017-05-15 00:05] mpl commented on #456
@epaulson nothing's set in stone, especially since I haven't started on that, as it's pretty low-priority.

It definitely would have to work without docker as well, as we certainly don't restrict ourselves to running in docker.

And I can see a "restart publisher" (or any other app) button in the web UI next to the "restart camlistored" one, so yes, I suppose something that would allow that sort o

[2017-05-17 23:11] ctessum opened #927 "camlistored: JSON serialization error"
The error

[code]

shows up in the camlistored output log after running the command:
[code]
The error message is accompanied by everything disappearing from the user interface. The Documents directory contains tens of GB of data so it is difficult to tell the specific file or files that are causing this problem. I can ```camput``` smaller subdirectories without an issue.

This problem occurs both

[2017-05-17 23:38] mpl opened #928 "make.go: gopherjs fails on FreeBSD"
gopherjs for publisher error: exit status 1, ../../go1/src/vendor/golang_org/x/net/route/address.go:25:42: undeclared name: sysAF_LINK
../../go1/src/vendor/golang_org/x/net/route/address.go:31:35: undeclared name: sysAF_LINK
../../go1/src/vendor/golang_org/x/net/route/address.go:91:43: undeclared name: sysAF_INET
../../go1/src/vendor/golang_org/x/net/route/address.go:100:43: undeclared name: sysAF

[2017-05-17 23:38] mpl commented on #928
this is the same as https://github.com/gopherjs/gopherjs/issues/511

CL incoming.

[2017-05-17 23:41] mpl commented on #928
https://camlistore-review.googlesource.com/10186

[2017-05-18 21:07] #928 closed

[2017-05-18 21:21] mpl commented on #927
@ctessum as I have indeed no idea what could cause this among your input files, could you please apply https://camlistore-review.googlesource.com/10187 and retry , so we can try to get more insight into what's going on?

[2017-05-19 03:34] ctessum commented on #927
@mpl: I tried adding that print statement, as well as a couple of additonal ones:

[code]

When I run the server with these print statements, they output 24 GB of log data before I killed the program. I have included the beginning of the output below. The part of the file that I can load into memory on my machine does not include an NaN value; I'm not sure how I would go about searching through th

[2017-05-19 13:36] mpl commented on #927
There are several things I don't understand about your answer:

1) Is the log growing that large simply because you're camputting a lot of things, or is it growing especially large because of the new debug prints?

2) If the latter, are you saying you're getting lots of json.MarshalIndent errors which are _not_ then NaN one you reported? I thought that NaN error was the only problem...

3) Why wou

[2017-05-19 16:02] ctessum commented on #927
Sorry for being unclear. There is only one json.MarshalIndent error. The problem is that the data object that causes the error when it is marshalled is large (or has circular references), so it is difficult to see exactly where the NaN value is within the object.

The output from the print statement you suggest is here:
[code]

The rest of the 24GB of logs were the result of me trying to go throug

[2017-05-19 17:21] mpl commented on #927
Ok, I think I have an idea on how to debug that. Stay tuned.

[2017-05-19 20:21] mpl commented on #927
my idea did not work out as I expected, but otoh, I remembered about using spew, which is probably a better idea, so could you please rerun with something like:

 https://camlistore-review.googlesource.com/c/10187/4/pkg/httputil/httputil.go

I'm pretty hopeful we'll see what field has a NaN with that kind of dump.

[2017-05-19 22:09] mpl commented on #842
https://camlistore-review.googlesource.com/10206

[2017-05-20 22:33] ctessum commented on #927
That worked. The NaN values are lat-lon coordinates:
[code]
It looks like it can be fixed by changing line 634 in pkg/index/receive.go to this:
[code]
When I make that change, recompile, and re-camput all the files the error goes away.

[2017-05-21 00:39] mpl commented on #927
yeah I was suspecting some coordinates when I saw from your corpus that you had some exifgps entries, but I first wanted to have a method for debugging that, for the next time something similar happens.

I feel like we already had a similar problem in the past so I want to dig a little in the history before making any change, especially since you now have a work-around in the meantime.

[2017-05-21 01:28] ctessum commented on #927
OK. Let me know if you need anything else from me.

[2017-05-21 16:25] tgulacsi commented on #681
I think the best solution would be to have "camtool sync -full" copy the blobs unconditionally, out-of-order, using the BlobStreamer interface.
But that's a big undertaking: it needs new HTTP handler endpoints on the server, integrate it in discovery, and at last in camtool sync.

Any other idea?

[2017-05-22 15:04] mpl commented on #927
@ctessum ok, that's exactly the place where I remembered we added a fix for floats (rev 95f9a6b9a81408c7e5e6ae00e2425e9de0a4f0c1), only I guess none of us thought the new check did not cover Nan.

In general I agree with the proposed change, but maybe I'd check for NaN before checking for the bounds. Not sure what's the better optimization.

Also, I think we don't need the check for Inf, as it's r

[2017-05-22 16:49] ctessum commented on #927
Thanks, @mpl. If you're willing to make the changes, that's fine with me.

[2017-05-22 19:52] mpl commented on #927
ack, I'm on it.

[2017-05-22 20:28] mpl commented on #927
@ctessum btw, I'd be interested if you could identify which one of your images was causing the exif lib to spit out a NaN. It would make writing the test to reproduce that case easier.

[2017-05-23 02:10] ctessum commented on #927
I'm not quite familiar enough with the code to know how to go about doing that, but let me know if you have any ideas.

[2017-05-23 14:29] mpl commented on #927
@ctessum I was able to forge a failing EXIF, so I don't need to see yours anymore that much. But let me know if you're interested to flush yours out (for your own curiosity), and I'll try to figure it out.

Also, please feel free to review https://camlistore-review.googlesource.com/10187

[2017-05-23 16:02] ctessum commented on #927
I'm not sure how to use gerritt, but the changes look good to me except that I haven't previously seen the practice of taking the absolute value before checking for NaN: ``` math.IsNaN(math.Abs(lat))```. Is there a reason to do that?

[2017-05-23 20:38] mpl commented on #927
Nope, that was just me being distracted, thanks!
Fixed, and merged.

[2017-05-23 21:04] #927 closed

[2017-05-31 16:40] mpl commented on #537
https://www.imperialviolet.org/2017/05/31/skipsha3.html

[2017-06-05 09:43] sesam commented on #919
Nextcloud has added Sia, and there's a FUSE project. In their roadmap there are some uncomfortable outstanding features: support for files < 40MB, upload (form contracts) in <1hour.

Sia does seem, from the outside, to be progressing much much faster than Storj, MAIDsafe and the likes.

https://bitbucket.org/siaextensions/siadrive/overview [FUSE, also Windows]
https://trello.com/b/Io1dDyuI/sia-pub

[2017-06-05 17:15] cliveb commented on #919
Juan Benet, spoke about Future-Proofing IPFS, Blockchains, and other Secure
Systems. I asked about Camlistore vs IPFS. He said both similar projects.

https://cyber.stanford.edu/sites/default/files/juanbenet.pdf

https://www.youtube.com/watch?v=soUG72j7kB0&feature=youtu.be

At Google I/O 17, I chatted with GDG organizers from China. They have a
problem where China currently blocks Google.com domai

[2017-06-05 19:41] mpl commented on #885
duplicate of #879

[2017-06-05 19:41] #885 closed

[2017-06-05 20:30] kylewolfe commented on #30
@bradfitz, is the goal to have a fully functional smtp server with the ability to compose emails (in the camlistore UI), or would camlistore simply act as an archive? I've had aspirations to write my own smtp server for a while now for the purpose of a standalone email solution, so this peeked my interest.

[2017-06-05 22:11] josephholsten commented on #30
@kylewolfe I think the idea is that we could import items into camli by emailing them to the server, similar to how you can email a document into instapaper

[2017-06-05 23:53] mpl commented on #497
https://camlistore-review.googlesource.com/10306

[2017-06-06 03:57] bradfitz commented on #30
I should close this bug until this is more well defined.

[2017-06-06 14:43] mpl commented on #868
Almost never a problem anymore for me since I stopped using Gnome, so closing for now.

[2017-06-06 14:43] #868 closed

[2017-06-07 23:31] mpl commented on #912
https://camlistore-review.googlesource.com/10346

[2017-06-08 07:18] cliveb commented on #912
Will this CL make the micro-free tier available in the launcher in the next
monthly release?
https://camlistore.org/launch/

I'd like to delete my current Camlistore instance as I keep stopping and
starting  GCE VM to avoid paying $15+ monthly cloud fees.

On Wed, Jun 7, 2017 at 4:31 PM, mpl <notifications@github.com> wrote:

[2017-06-08 13:18] mpl commented on #912
First and foremost, please note that the Free Tier feature should really be considered a sort of trial/demo thing. f1-micro is tiny and has very little memory, so there's no guarantee Camlistore can perform properly on it in the long run. Also there's only 5GB/month of GCS in the Free Tier, so as soon as you go over that, you start paying the regular price.

I have not cut any release as usual ear

[2017-06-11 14:28] myitcv opened #929 "react: upgrade to use myitcv.io/react"
A placeholder for the the move from the old `github.com/myitcv/gopherjs/react` to [`myitcv.io/react`](https://myitcv.io/react)

[2017-06-11 14:34] myitcv commented on #929
@mpl currently seeing test errors like https://github.com/camlistore/camlistore/issues/680 locally

Am I missing something obvious on how to make the tests with the equivalent of `-parallel 1` (which I guess would cause things to run in serial, maybe fixing the issue?)

[2017-06-12 16:38] mpl commented on #929
you mean you're getting the text file busy errors?
I think I've fixed these in https://camlistore-review.googlesource.com/9326
My first patch was pretty much what you guessed, but Brad didn't like it I think. So the subsequent patchsets are a different approach.

[2017-06-12 18:04] myitcv commented on #929
Yes.

Ok cool.

I spent literally no time thinking about it so there's almost certainly more complexity that I'm missing :)

[2017-06-12 18:16] myitcv opened #930 "vendor: upgrade gopherjs to dc374d3"
Placeholder issue only following discussion in https://camlistore-review.googlesource.com/c/10367/

[2017-06-12 19:08] myitcv opened #931 "Untracked files when running make.go on 04afc9ae"
I'm unclear whether this is a problem per se, but running `go run make.go --sqlite=true` on 04afc9ae8abaf4700a93cb48b40fc0ec3c2aeff5 leaves my local git tree in the following state:

[code]

@mpl is this expected?

If not I can add both to `.gitignore` and submit the trivial CL.

[2017-06-12 20:23] mpl commented on #931
Sure, I saw you had already done that (adding them to .gitignore) in the CL about react. SGTM to make a specific CL for it.

[2017-06-12 20:25] myitcv commented on #931
Ok will do.

Yes apologies, I forgot to point it out in that CL...

[2017-06-12 20:30] #931 closed

[2017-06-19 14:35] #930 closed

[2017-06-20 22:27] tdilo opened #932 "clients/android: camput binary permissions sometimes not applied"
When reinstalling the uploader application, the file permissions of camput are sometimes not applied correctly - ```camput.bin``` is not made executable. Its permissions are set to 0660 instead. There is no indication in the log that setting of permissions fails.

This appears to happen more frequently with CL 10427 applied, but I've also managed to reproduce it with f437c7b41167be5ba2c4cfa25ad1d6

[2017-06-21 14:26] mpl commented on #932
thanks.
how do you check the camput.bin permissions (aside from seeing that camput fails to execute)?
As I was saying in https://camlistore-review.googlesource.com/c/10427/ , I was seeing
-rw-rw---- 1 u0_a153 u0_a153 14634626 2017-06-19 18:57 camput.bin
when using ls in adb shell, but I'm not sure that's reliable (as I dunno how adb shell mount things).
In other words, if the problem we're talking

[2017-06-21 14:43] mpl commented on #932
Since you say "frequently", and not always, I take it if I tried to install enough times with CL 10427, it would eventually install with the correct permissions?
In any case, if CL 10427 seems to increase the probability of seeing the problem, I'd prefer that we fix #932 (or at least understand it) before merging 10427.

[2017-06-21 16:45] tdilo commented on #932
I'm also using ```adb shell``` to check the permissions, and it will show as ```rwx``` when everything runs correctly. On my device, CL 10427 usually works. I just reinstalled a build with it applied seven times for the failure to occur.

I agree that CL 10427 should not be merged until this issue is sorted out.

[2017-06-24 12:22] #932 closed

[2017-06-26 04:51] aslakg commented on #625
I've done some work over the weekend, and have gotten camlistore to work with the same multihash keys as IPFS. My next step is to try to make camlistore work as a datastore for ipfs and vice versa.

[2017-07-02 20:58] tdilo opened #933 "map aspect: layout issues with markers and map"
On the newly introduced map aspect (great addition, by the way!), location markers are not drawn at the correct location. It appears they are shifted southwards by a constant pixel offset. Incidentally, the map itself is slightly too large (in height) for the browser window, making a vertical scroll bar appear. The amount of excess map height and map marker shift seem to be the same - it looks lik

[2017-07-02 22:08] tdilo opened #934 "map aspect: high memory usage of camlistored"
On my camlistore instance, leaving the map aspect open in the browser (at default zoom level) nicely populates the map with markers over time (... a whole lot of markers. Fun to watch.). While the map is being populated, memory usage of camlistored goes through the roof.

Usually, my instance with a LevelDB index consumes about 1.5 GB of resident memory. After two minutes of loading map markers, t

[2017-07-02 23:15] mpl commented on #933
Thanks, I'll look into it.
I might have inadvertently already fixed that in https://camlistore-review.googlesource.com/c/10467/ but I doubt it.

[2017-07-03 15:40] mpl commented on #933
PTAL: https://camlistore-review.googlesource.com/c/10507

[2017-07-03 15:47] mpl commented on #933
@tdilo I think i see what you mean for the markers being a bit south, and it seems that it's a different issue from the available height fixed by 10507.
However, for some reason, it seems to be fixed (at least I see the markers a bit more north) after I apply https://camlistore-review.googlesource.com/c/10467/ . Can you please confirm?

[2017-07-03 16:07] mpl commented on #934
I had only tried with a few hundred images, and there's no noticeable memory increase afaict. I suppose I need to expand my dataset to a few thousands and retry to reproduce.

[2017-07-03 21:12] tdilo commented on #933
I can confirm that 10507 fixes the issues with map height issue and zoom buttons.

With 10467 (patch set 8) applied, the map shows markers at the right positions on all zoom levels.

[2017-07-03 22:01] tdilo commented on #934
Note that I did not perform any search and just switched to the map aspect, so CL 10467 definitely helps in avoiding the extreme growth rates in memory consumption. The problem persists when performing a search with a large result set, like `is:image` - but is less severe when performing a more reasonable location query (country level).

Imposing a client-side limit on the amount of markers drawn

[2017-07-04 13:35] mpl commented on #933
Well, since 10467 is needed to completely fix all the problems reported in this issue, could you please give at least a cursory review of it, so I can merge it?
Please note that I'm already aware that's there's a bug/problem with the orange location rectangle over the antimeridian line, I'm working on it. But all the rest is ready for review I think.

[2017-07-04 13:35] #933 closed

[2017-07-04 13:40] mpl commented on #934
yes, but before imposing that sort of limit, I'd like to diagnose the problem better.

Unfortunately I haven't been able to reproduce it so far. It seems like my largest actual dataset is ~5000 images, but only ~1200 of them seem to be having some GPS exif tags. And it seems like this is not enough to observe what you're seeing. Even with is:image, the markers show up almost instantaneously, and I

[2017-07-04 17:40] tdilo commented on #934
With a remote instance (self-signed certificate).

[2017-07-04 20:55] mpl commented on #933
And with patchset 9 of 10467 I've fixed the antimeridian bug I was working on, so please do PTAL if you can.

[2017-07-04 22:29] tdilo commented on #933
Done. After all, I want to use the improved map as soon as possible! :)

[2017-07-05 16:54] mpl commented on #933
thanks, I'm glad you like it. I'd like to have it in before I cut a release for early July. comments addressed.

[2017-07-05 17:29] mpl commented on #934
One (independent) suggestion of @bradfitz is to load only the "best" markers. As in, if you have 200 items in Seattle, but you're at the word level zoom, then only load 1 marker for one of the Seattle items, because they're indistinguishable at that zoom level anyway.

I'm not sure that would solve your problem since I haven't determined yet where the mem usage is spent, but it can't hurt as a fea

[2017-07-05 21:17] tdilo commented on #934
I like that suggestion, as the map does get quite full in some places. I'm not sure what the metric for the best marker would be though - most recent might be fine. Only showing a single marker would require manual zooming to discover places where more markers are hidden, though.

Another, similar approach would be to use client-side clustering with something like https://github.com/Leaflet/Leafle

[2017-07-06 12:41] mpl commented on #934
yes, I don't think the criterion for "best" marker matters much. I would start with whichever one comes first in the search results.

jsyk, even though it's high on my priority list (after cutting the release), I won't have much time to work on this in the next 10 days (afk most of the time). So please feel free to start debugging your high memory usage as soon as you can.

[2017-07-06 15:43] bradfitz commented on #934
I also think there's a problem here.

I did:
* searched for `is:post` in the UI
* switched to the Map view
* saw the map without any markers
* waited
* waited
* watched the server logs
* saw this number increasing:

[code]

It keeps increasing.

It's subscribing to more and more queries?

Why's it incrementing over time?

It should do exactly 1 round trip to the server and not be some iterative di

[2017-07-06 15:44] bradfitz commented on #934
It's still going, and up to 4GB of memory.

And the number is still increasing:

[code]

[2017-07-07 20:53] mpl commented on #934
I understand a bit more of what's happening.
Part of it is I naively mimicked the way the search aspect uses the search session. Every time we scroll down and more results are needed, a search query is sent. And when that search query succeeds, a callback sends a signal. The search aspect (blob item container really) gets that signal, and displays the new results.
What I did is: in loadMarkers, ge

[2017-07-07 21:46] tdilo commented on #934
I think it never stops because it is unable to reach the end in time. I have a lot of photos, many of which do not have a geolocation at all.

[2017-07-10 23:44] mpl commented on #934
I've started on a work-around. CL tomorrow with any luck.

[2017-07-12 13:43] mpl commented on #934
@tdilo hi. Could you please try https://camlistore-review.googlesource.com/c/10546 out, and let me know if at least that allows you to load all the markers (and optionnally/hopefully fix the mem usage problem), for 'is:image' or whatever similar large search?

No need to review for now, I'm not done with it. But it would help if I knew I was on the right track with that.

[2017-07-12 20:29] tdilo commented on #934
Good news: you are on the right track. With the CL applied, runaway memory usage is fixed and all markers load as far as I can tell (the browser settles down after a while. Nothing obvious is missing). Search results arrive more quickly as well.

Memory usage of camlistored only increased by 350 MB after doing the `is:image` search repeatedly, and went down by 300 MB again after a while - looks no

[2017-07-12 20:56] mpl commented on #934
Excellent, thanks!

[2017-07-13 15:59] mpl commented on #934
@tdilo not sure it's totally ready for review, but I'm probably out of time for this week, so feel free to start reviewing please.

[2017-07-14 04:38] bradfitz opened #935 "build: error running make.go on macOS Sierra with Go tip"
I can't seem to build Camlistore.

@mpl, any ideas?

[code]

[2017-07-14 04:39] bradfitz commented on #935
It works if I set GOROOT=$HOME/go1.8, though.

[2017-07-14 08:39] mpl commented on #935
@bradfitz I'm pretty sure the vendored gopherjs version we have does not support Go > 1.8. So when they do, which I don't think they will until Go 1.9 is out, we'll just have to update our vendored.

[2017-07-14 14:28] bradfitz commented on #935
@mpl did you miss this part:

Didn't you add that logic?

[2017-07-17 11:35] mpl commented on #935
https://camlistore-review.googlesource.com/10586

[2017-07-17 18:44] #935 closed

[2017-07-22 02:08] mpl commented on #934
https://camlistore-review.googlesource.com/10626

[2017-08-01 00:10] mpl commented on #934
@tdilo I've merged https://camlistore-review.googlesource.com/c/10546 , which should automatically close that issue.
Feel free to reopen if that is not the case please.

I'm going to open additional issues for the more advanced related features.

[2017-08-01 00:12] #934 closed

[2017-08-01 00:16] mpl opened #937 "map aspect: figure out what's wrong with many leaflet markers"
The awesome markers were introduced in e4b7db8274553758f3e6d7d5d1ef27d87dcfb7ae , in order to display different icons depending on the underlying node (type). Unfortunately, they seem to be interfering with the rest of the web UI.  For example, tiles fail to load (no error, but they just never appear), and elements from the header (nav bar, drop down button, aspect names) disappear as the mouse cu

[2017-08-01 00:25] mpl opened #938 "map aspect: make zoom levels refresh the markers"
de6f7532f612d1b73470c5f91fd8d8bdefaf52e2 introduced MapSort, which selects the "best" nodes to display on the map for a given location.

49b97b224484b8b9d7099ce6923dcb01ff07d70b makes use of MapSort to load said nodes when the map aspect of the web UI  is loaded.

After the map is loaded, changing the zoom level does not affect which nodes/markers are loaded on the map. It should. New best nodes s

[2017-08-02 23:08] mpl opened #939 "search: support "ref:sha1-foobar" predicate"
So far the web UI has pretended to support the "ref:" predicate by creating a search Constraint, instead of a search Expression, with a blobRefPrefix field.
It uselessly complicates things, especially for the map aspect, where we need to manipulate expressions (to add the zoom level), and for which it would be nice to support a single node search on a map, without having to resort to search Constr

[2017-08-03 15:40] mpl commented on #938
first step was https://camlistore-review.googlesource.com/c/10686

[2017-08-07 22:26] mpl commented on #938
https://camlistore-review.googlesource.com/c/10706

[2017-08-09 22:32] mpl commented on #937
additional info: I'm seeing the same glitches with the basic leaflet markers, when there's enough of them.
100 seems to be ok, while 1000 isn't.

[2017-08-10 18:48] mpl commented on #113
as @bradfitz pointed out: https://github.com/muesli/smartcrop

[2017-08-11 19:53] mpl commented on #938
maybe we should use https://github.com/Leaflet/Leaflet.markercluster too for better client performance anyway

[2017-08-11 19:53] mpl commented on #937
a potential workaround: https://github.com/Leaflet/Leaflet.markercluster

[2017-08-11 22:11] mpl commented on #937
https://camlistore-review.googlesource.com/10746

[2017-08-16 23:04] #938 closed

[2017-08-21 15:03] mpl opened #940 "map aspect: fix conflict between markers cluster and server-side map sort"
In the map aspect, after a zoom, one can see one custer value/disposition, then it settles on another right after.

What happens is: first the cluster itself "adapts" to the new viewport and redraws with the markers it knows exist in that viewport. But in the meantime, we've sent a new search request to take into account the new zoom (which is done by MapSort server-side), and when we get the resu

[2017-08-21 16:51] #939 closed

[2017-08-21 23:22] mpl commented on #940
https://camlistore-review.googlesource.com/10846

[2017-08-22 21:54] mpl opened #941 "server/camlistored/ui/goui: review imports"
According to https://github.com/gopherjs/gopherjs/wiki/JavaScript-Tips-and-Gotchas there probably are a few imports and good practices I've missed, in particular to bring the size down. This issue is a reminder to review our gopherjs code and apply these advices.

[2017-08-23 14:38] #940 closed

[2017-08-25 15:35] mpl opened #942 "pkg/search: deal with empty parens"
TODO(mpl): explain more later. reminder to me for now.

[2017-08-31 23:38] mpl commented on #937
I don't see the glitches on firefox (49.0). everything is just a tiny bit slow with 1000 markers, but no problem otherwise.
With chrome (59.0) it's another story.

[2017-09-01 00:21] mpl commented on #937
On a limb I've just tried with a different window manager (gnome) than my "archaic" rio (same chrome) and of course I couldn't see any of the glitches anymore. So I'm guessing it's either because chrome is started with specific options on gnome (launched the clicky way), or more likely because rio does not conform to some X11 rule and is doing something that chrome does not like.

In any case, I'm

[2017-09-01 00:21] #937 closed

[2017-09-07 02:17] ctessum opened #943 "launcher: '[compute-component.googleapis.com]' not found or permission denied., forbidden."
What I did:
1. go to: https://camlistore.org/launch/
2. Click "Create Project" (A new project is created)
3. Click "Enable billing", and then link the project to a billing account
4. Click "Create instance"

Expected behavior:
* A new instance to be created

Instead:
* On page: https://camlistore.org/launch/instance?instancekey=xxxxx
* Error: An error occurred while creating your instance: project

[2017-09-07 12:48] mpl commented on #943
thanks, I'll check it out and let you know.

[2017-09-07 13:44] mpl commented on #943
You're not doing anything wrong, I can reproduce. I bet some google API changed, that's all. I'm on it.

[2017-09-07 14:24] mpl commented on #943
https://camlistore-review.googlesource.com/11046

[2017-09-07 14:28] #943 closed

[2017-09-07 14:44] mpl commented on #943
fix now deployed in production as well.

@ctessum please let me know if you're still having issues.

[2017-09-07 15:49] ctessum commented on #943
It works now. Thanks!

[2017-09-07 22:11] mpl commented on #929
https://camlistore-review.googlesource.com/c/camlistore/+/10367

[2017-09-07 22:11] #929 closed

[2017-09-07 22:25] mpl opened #944 "pkg/search: should search expressions only match permanodes?"
I've just realized that search expressions, when parsed, are logically "anded" to

    base := &Constraint{
        Permanode: &PermanodeConstraint{
            SkipHidden: true,
        },
    }

so that they only match permanodes.

This hadn't really been a problem so far, until the introduction of the "ref:" predicate, used in particular for map queries. It is of no consequence when the predica

[2017-09-07 23:45] mpl commented on #944
https://camlistore-review.googlesource.com/11066

[2017-09-09 10:19] IanLewis opened #945 "camlistore stops with exit code 2"
I am having problems with my data which I think may be corrupted. camlistored got OOM killed at some point and after that wouldn't start up even though I added enough memory for it to run. It simply crashes with exit code 2 and no log messages.

I tried reindexing but it just exits with exit code 2.
[code]
It stops at this point.

Any idea how I could fix or debug this?

[2017-09-09 17:02] mpl commented on #945
thanks for the report.

I'll need to think about it some more before I can give any meaningful advice.

Just to clarify, are you saying that it exits in the same way whether you reindex or not, i.e. when you run with -reindex, you think it is done reindexing at the moment that it exits?

[2017-09-09 23:38] mpl commented on #945
So the weird thing is I don't see any relevant part of the code that exits with 2.

Nevertheless, without any other idea for now, I'd start with prints in server/camlistored/camlistored.go . In particular, I'd check whether you exit before, during, or after,

    config.InstallHandlers

And if during, I'd pinpoint which handler is causing problem, in pkg/serverinit/serverinit.go, where we loop ove

[2017-09-10 03:35] IanLewis commented on #945
It happened with the index present. If I blew away the index I could start camlistored but no index (obviously). Running with -reindex would also cause the issue during reindexing. I don't believe it was finished indexing. I'm pretty sure I have a lot more blobs than were shown in the logs before it stopped.

I did a cursory look a while back and I didn't see anything exiting with code 2 either. T

[2017-09-10 04:30] IanLewis commented on #945
I tried reindexing outside of a container so that it would more likely succeed. It was able to index a lot more blobs but it crashed with the following error. I guess I am missing some blobs or something :(

[code]

[2017-09-10 15:37] mpl commented on #945
I don't know the size of your data, but 8.5GB usage seems like a lot.

On my "production" instance, the last time I reindexed, I had figures like this:

     2015/07/21 23:33:12 Corpus stats: 22.990 MiB mem: 124381 blobs (6.392 GiB) (36813 schema (3176 permanode, 3039 file (3012 image), ...)

and right now, /proc/pid/status is reporting a VmSize: 2136880 kB

But yeah, docker might be a factor too.

[2017-09-11 01:14] IanLewis commented on #945
I ran camlistore with recovery mode and it seems to have fixed my issue. It would be good if camlistore was a bit more graceful with problems like this but it doesn't seem as important.

BTW mine is currently as follows:
[code]

BTW. It seems to use about 1GB in my setup.
[code]

[2017-09-11 14:19] mpl commented on #945
Hmm somehow I was convinced you had either already run in recovery mode or that I had already asked you to do so. I was probably confusing this issue with the thread about recovery on the mailing-list, sorry.

You're totally right that we should be better at diagnosing and treating errors. There's already some detection for times when -recovery is needed, but it's clearly not enough to catch your

[2017-09-11 14:19] #945 closed

[2017-09-12 22:39] mpl opened #946 "pkg/blobserver/blobpacked/ : on startup, make sure all packed files are indexed"

[2017-09-12 22:43] mpl opened #947 "pkg/blobserver: on startup, check that a (random?) sample of N blobs is indexed"
N being the number of blobs we can check during an arbitrary small number of seconds.

[2017-09-13 00:17] mpl commented on #946
first step: https://camlistore-review.googlesource.com/11126

[2017-09-13 17:18] mpl opened #948 "make.go: update to go 1.9"

[2017-09-13 17:21] mpl opened #949 "vendor/gopherjs: update to go 1.9 compatible version"
after #948  is done.

[2017-09-13 17:22] mpl commented on #949
@myitcv please feel free to take care of that one if you're interested.

[2017-09-15 19:36] mpl commented on #947
https://camlistore-review.googlesource.com/c/camlistore/+/11186https://camlistore-review.googlesource.com/c/camlistore/+/11186

[2017-09-16 18:56] bradfitz opened #951 "docs: dbNames is not documented"
https://camlistore.org/doc/server-config does not mention `dbNames`

[2017-09-16 18:57] bradfitz opened #952 "recovery vs reindex is confusing"
I don't think we need to have both of these options:

[code]

They sound too similar. We should probably just have one.

/cc @mpl

[2017-09-16 18:59] bradfitz opened #953 "blobpacked recovery mode lacks progress indicators"
[code]

... but now it's just hanging.

Is it doing something?

It needs a progress bar.

/cc @mpl

[2017-09-16 19:04] bradfitz commented on #953
Workaround in the meantime:

[code]

[2017-09-16 19:09] mpl commented on #953
Cannot check atm but I think we already have a bug + CL for that

(on phone)

On Sep 16, 2017 21:04, "Brad Fitzpatrick" <notifications@github.com> wrote:

[2017-09-16 19:32] bradfitz commented on #953
It finished eventually:

[code]

Yay for the "WARNING: sanity checking of the index found 1105 non-indexed blobs out of 1105 tested blobs. Reindexing is advised" warning.

[2017-09-16 19:33] bradfitz commented on #953
At least the `-reindex` mode (confusing: #952) has progress:

[code]

[2017-09-17 14:36] bradfitz opened #954 "Reindexing succeeded, or failed?"
My reindex from https://github.com/camlistore/camlistore/issues/953#issuecomment-329990046 completed after 11 hours, kinda?

I see conflicting output. I see both:

`Index rebuild complete.`
and
`Error reindexing /index/: 1 blobs failed to re-index`

[code]

[2017-09-17 15:16] mpl commented on #953
duplicate of #879 ?

[2017-09-17 18:17] sterchelen commented on #948
If nobody is assigned to it, I can handle it !

[2017-09-17 18:56] sterchelen commented on #949
Same as #948 ... I can handle it.

[2017-09-17 19:09] myitcv commented on #949
Thanks @sterchelen; happy to help with any questions

[2017-09-17 21:46] bradfitz opened #955 "cmd/camput: silent error output when upload file"
I have a long-running camput process running already, and try to do another camput.

Ideally parallel camput would work, but that's not what this bug is about.

Instead, this bug is about that `camput permanode` shows the real error output (the "have cache" is locked), but `camput file` just fails silently with no output (but exit status 1 at least).

[code]

[2017-09-18 05:48] bradfitz opened #956 "use Cache-Control immutable"
This is a thing now:

https://tools.ietf.org/html/rfc8246

(Cache-Control: immutable)

We should add it to blob responses and other versioned URLs.

/cc @mpl

[2017-09-18 05:49] bradfitz commented on #948
Yes plz.

[2017-09-18 06:04] bradfitz commented on #947
Also you submitted https://camlistore-review.googlesource.com/c/camlistore/+/11166

[2017-09-18 09:33] sterchelen commented on #948
Done !
https://camlistore-review.googlesource.com/c/camlistore/+/11226

[2017-09-18 09:35] sterchelen commented on #949
Done !
https://camlistore-review.googlesource.com/c/camlistore/+/11246

[2017-09-18 10:01] masaeedu commented on #144
@mpl Given that I still don't quite understand what the tools are for, I need to randomly run things or look at the man for the tool to figure out what to do, which is not a great experience. Docs are too sparse right now for me to figure out how to start moving any of my data to Camlistore without spending a lot of time experimenting.

[2017-09-18 18:25] mpl commented on #951
https://camlistore-review.googlesource.com/c/camlistore/+/11266

[2017-09-18 18:29] mpl commented on #955
duplicate of #862  or #685 ?

[2017-09-18 22:41] mpl commented on #954
https://camlistore-review.googlesource.com/#/c/camlistore/+/11286

[2017-09-18 22:43] mpl commented on #954
according to the code, there should also have been a

log.Printf("Error reindexing %v: %v", br, err)

happening. Do you see it in your output?
(so we can fix the actual error, in addition to the wrongly positive log message)

[2017-09-18 23:20] mpl commented on #952
I'll deal with that once #947 and #946 are closed. too many conflicting/depending CLs otherwise.

[2017-09-18 23:36] mpl commented on #942
This issue was about the server not supporting an expression like:

    'loc:foo and ()'

or

    'loc:foo or ()'

i.e. when any sub-expression is just empty parens.

I suppose '()' could be seen as an empty expression, and hence matching everything, so then

    'A and ()' == 'A' // same as just A

and

    'A or ()' == '' // matches everything

But now I don't see any compelling reason to bother

[2017-09-18 23:36] #942 closed

[2017-09-19 15:01] mpl commented on #893
fixed by https://camlistore-review.googlesource.com/c/camlistore/+/11026
merged as d982e37c4a750d9ac60a31e9f5932e5076cb9a57

[2017-09-19 15:01] #893 closed

[2017-09-20 13:33] #948 closed

[2017-09-20 13:33] #949 closed

[2017-09-20 22:26] mpl opened #957 "make.go: make sure things don't get uselessly rebuilt"
Brad pointed out that at least zsearch.go seeems to be regenerated every time make.go is run. Look into that.

[2017-09-20 22:42] mpl opened #958 "map aspect: make it easier for devs to cache tiles"
I was using my caching proxy to cache openstreetmap tiles when working on the map aspect, and Brad mentioned something about including some tiles in one of our docker images. More detail later when I find them.

[2017-09-21 19:38] sterchelen commented on #957
Could I take a look ?

[2017-09-21 20:17] sterchelen commented on #957
1. From `make.go:genSearchTypes()` on line 443 we are launching `go generate camlistore.org/app/publisher/js`
2. From `camlistore.org/app/publisher/js/main.go` there is this a go directive :`go:generate go run gensearchtypes.go -out zsearch.go`

**Proposition:**
We could check whether or not if the file is already generated, then if yes, we could check if it's the same as `tmp/build-gopath-nosqlit

[2017-09-21 21:03] mpl commented on #957
I'm already on it. the problem is even though we do check the modtimes, zsearch.go is mirrored from what we have in the repo (and not created by go generate), which actually has an older modtime than the source file it is generated from.

[2017-09-21 21:04] mpl commented on #957
I think I'm pretty close so I'm going to send a CL soon, but feel free to beat me to it if you want. maybe you'll come up with a better solution.

[2017-09-21 22:22] mpl commented on #957
https://camlistore-review.googlesource.com/#/c/camlistore/+/11366

[2017-09-21 22:29] mpl commented on #957
@sterchelen also, please don't take this as if we didn't want any help. it just so happens that I had already started on that earlier today. Feel free to work on any issue you're interested in.

[2017-09-22 14:30] sterchelen commented on #957
No problem. I'm here to help and to learn !

[2017-09-22 16:00] mpl commented on #941
As a preliminary inspection:

current state:
    8.3M	server/camlistored/ui/goui.js
    35M	bin/camlistored

with "github.com/cathalgarvey/fmtless/encoding/json" instead of "encoding/json" in server/camlistored/ui/goui/aboutdialog (only one in ui that uses encoding/json directly):
    8.4M	server/camlistored/ui/goui.js
    35M	bin/camlistored

That is because, even though aboutdialog does not impo

[2017-09-26 00:23] bruceadowns commented on #957
I love the idea of having a self-sufficient make.go. Has anyone considered expanding this to a more generalize build mechanism for the broader golang community?

[2017-09-26 00:38] mpl commented on #957
@bruceadowns I'm not sure what you mean. Ideally a go project should not need anything more than "go build/install".
Even though Camlistore is indeed a pretty complex piece of software, I feel it's more of a failure of our part that we do need to have make.go. We should work towards removing that need imho.

Additionally, a large part of it is just to provide an isolated building environment, whic

[2017-09-27 07:30] lindner commented on #956
Something like this?  This mimics what IPFS does for immutable responses.  Also pointers on other http response handlers that might benefit would be helpful...

--- a/pkg/blobserver/gethandler/get.go
+++ b/pkg/blobserver/gethandler/get.go
@@ -76,6 +76,7 @@ func ServeBlobRef(rw http.ResponseWriter, req *http.Request, blobRef blob.Ref, f
        }
        defer rc.Close()
        rw.Header().Set("Co

[2017-09-27 07:35] lindner opened #959 "use Multiformats"
Camlistore is designed for long term storage.  That means that the hash functions and other encodings it uses will likely break/change in the coming years.

The Multiformats project was designed to offer flexibility in this area.

https://github.com/multiformats/multiformats

I suspect that this will be a fairly involved porting effort as I see some low-level sha1 usage.

[2017-09-27 14:06] mpl commented on #959
@lindner we have tried to be agnostic about the kind of hash being used, but it is true that sha1 has probably leaked here and there.
Fyi, we were supposed to move to sha3 (issue #537 ) as the default but it's been a bit delayed.

[2017-09-28 15:37] sllawap opened #960 "app/publisher template expansion broken with html/template in Go 1.9"
After rebuilding from latest in master branch with Go 1.9 and attempting to hit one of my published endpoints:

[code]

The error appears to be referring to https://github.com/camlistore/camlistore/blob/master/app/publisher/gallery.html#L28

Root cause appears to be: https://go-review.googlesource.com/c/go/+/37880 -- which appears to have been wrapped into Go 1.9.

[2017-09-28 21:01] mpl commented on #960
thanks, I'm on it.

[2017-09-28 21:48] tdilo opened #961 "camlistored/ui: search results not shown completely, infinite scroll broken"
When opening the web UI with the default search query, the number of results actually displayed is limited to what can be displayed on the current screen, plus an additional row. Infinite scroll is broken and no further items are loaded when scrolling down.

This also happens when performing explicit search queries, for example "before: 2017-01-01".

Tested with devcam server on latest revision (b

[2017-09-28 22:21] mpl commented on #960
@sllawap PTAL: https://camlistore-review.googlesource.com/c/camlistore/+/11386

[2017-09-28 22:33] mpl commented on #961
thanks, looking into it.

[2017-09-28 22:41] mpl commented on #961
@tdilo I can't reproduce with devcam server on be77d7a4cbf82218fdbe0cd75cac41c77ca78332 , I can see all the pictures I've just devcam put there.

Can you give me more detail? Do you see any server-side errors? or in the dev tools javascript console?

[2017-09-28 23:39] sllawap commented on #960
Thanks @mpl -- it works!

[2017-09-28 23:39] #960 closed

[2017-09-28 23:47] sllawap opened #962 "links on /importer do not work correctly behind reverse proxy"
They appear as `http://localhost:3179` (which appears to be either `apiHost` or derived from `listen`) -- would `:authority` be a sensible default here in the HTTP/2 world? Could this be something we missed in #908 ?

[2017-09-29 13:58] mpl commented on #962
Well first off, we never did anything, as far as I know, for #908 . You seemed interested in sending a CL so I left that up to you. Let me know on the issue there if you want me to take care of it instead.

My "production" setup is behind a reverse proxy too, and I don't remember having any trouble with the importer, but I'll have a look again, thanks. In the meantime, what do you mean about ":aut

[2017-09-29 14:58] mpl commented on #962
yeah so my setup is:

in server-config.json

	"listen": ":3178",
	"baseURL": "https://camli.mydomain.org/",

my frontend is basically a Go reverse-proxy that does:

    camliProxyUrl, _ := url.Parse("https://camli.mydomain.org:3178")
    camliProxy = httputil.NewSingleHostReverseProxy(camliProxyUrl)

    http.HandleFunc("https://camli.mydomain.org/", makeHandler(camliHandler))
    func camliHandle

[2017-09-29 16:46] sllawap commented on #962
My setup is an nginx reverse proxy which handles auth and SSL termination. I allow HTTP for some endpoints (publisher paths) and HTTPS for all paths.

I need the scheme to be sticky and not serve mixed content. I believe I stopped specifying `baseURL`  because it was causing issues in that area, but it seems to be resolved now.

I can happily report that everything seems to be working. Closing thi

[2017-09-29 16:46] #962 closed

[2017-09-29 16:46] sllawap commented on #908
This no longer seems to be required.

[2017-09-29 16:46] #908 closed

[2017-09-29 17:12] mpl commented on #962
Well, I don't understand what the problem actually was then, and how we fixed it, but good I suppose...
Feel free to reopen if needed.

[2017-09-29 22:52] tdilo commented on #961
No errors, no. I just checked again in Chromium with a cleared cache in incognito mode, on servers built on two separate machines. Nothing. Then I opened Firefox - works perfectly there! Chrome on Android: broken again.

[2017-09-30 14:19] mpl commented on #961
What versions of Chrome/ium and firefox?

[2017-09-30 17:01] tdilo commented on #961
Sorry, should have included that from the start. Finally found the time to spend some more time on this. Luckily I still had some unpatched systems available. A pattern emerges!

### Broken:
* Chromium/Linux (Arch) Version 61.0.3163.100 (64-bit)
* Chrome/Linux (Ubuntu 17.04 and 16.04) 61.0.3163.100 (64-bit)
* Chrome/Android 8.0 61.0.3163.98
* Chrome/Windows 10 61.0.3163.100 (64-bit)

### Working:

[2017-09-30 17:06] mpl commented on #961
yeah I have my doubts too given what I had found out in https://github.com/camlistore/camlistore/issues/937

Still, in case you're not the only one affected, we should look for a fix, even if that means just displaying an error message like: "sorry, you're broken because of bug ### in chrome".

[2017-10-01 17:43] angelcabo opened #963 "Update camlistore.net DNS"
Is there a way to update the IP address the camlistore.net DNS server is pointing to for a given identity? I have an older instance I deployed using the launcher tool awhile ago and now the IP address as reported using DNS lookup is incorrect for my instance ID in Google Cloud.

My VM should be available at 1015397a.camlistore.net. The IP reported by the camlistore.net lookup seems to be `130.211.

[2017-10-01 18:54] mpl commented on #963
Afair, camlistored should have asked the DNS server to automatically update your IP, so something went wrong there. I'll have to look at the code.
Maybe we should have a command-line tool as well to force the update in case of such a bug.
In the meantime, I'll think about what kind of work-around can be done to fix your case.

[2017-10-01 19:32] angelcabo commented on #963
After reading the code a little closer it seems just clearing out the `camli-hostname` instance metadata attribute and restarting the server did the trick. Sorry, I didn't realize that would force it to reconfigure itself.

Nevertheless, thanks for the quick response.

[2017-10-02 15:03] mpl commented on #963
I've just refreshed my memory as well, and as you can see, we indeed update the record on the DNS every hour if needed, so you shouldn't have needed to restart your server.

Unless it's the other way around? maybe your GCE instance name was wrong somehow (you erased your GPG key at some point or something?)?
Are you saying that your VM name is still 1015397a.camlistore.net now?

[2017-10-02 15:12] mpl commented on #963
oh no, I see/remember now. We update the DNS record in case the DNS entries disappear, get corrupted, etc. , but not really to cope with client changes. So if your IP somehow changed, nothing is done about that since we always use the initial GCE instance IP.
I'll fix that.

[2017-10-02 15:45] mpl commented on #963
@angelcabo Can you please confirm this is what happened to you:
1) you deployed Camlistore on Google Cloud with the launcher
2) your VM initially had IP X, and name foo.camlistore.net
3) at some point the IP of your VM changed to Y, even though you did not restart your VM. If yes, do you know why your IP changed?
4) as a result the record on the DNS server for foo.camlistore.net was wrongly still

[2017-10-02 16:07] mpl commented on #961
@tdilo "good" news, I can reproduce on (android) mobile chrome. Investigating now.

[2017-10-02 18:44] mpl commented on #961
@tdilo can you try this and report please?

https://camlistore-review.googlesource.com/#/c/camlistore/+/11426

[2017-10-02 19:16] tdilo commented on #961
Looks good, works on Chrome on my phone and in Chromium on the desktop. Thanks. :)

[2017-10-03 13:04] angelcabo commented on #963
Yep, that's exactly what happened. I may have restarted the VM at some point though. I'm not sure when or why the IP changed but I don't have a static IP assigned. My instance has an ephemeral external IP.

I got the idea to clear out `camlistore-hostname` by looking at `pkg/serverinit/env.go:78`. It seems if the hostname isn't already there a new challenge is initiated with the DNS server. Howeve

[2017-10-03 13:05] angelcabo commented on #963
doh, accidental closing/opening...sorry

[2017-10-03 15:42] mpl commented on #903
https://camlistore-review.googlesource.com/c/camlistore/+/5736

[2017-10-03 15:45] mpl commented on #961
@tdilo could you please now try the actual fix, which I believe is:
https://camlistore-review.googlesource.com/c/camlistore/+/5736

[2017-10-03 22:03] mpl commented on #963
What puzzles me is the following:
If the VM had restarted, regardless of whether the IP changes on restart or not, with the code as it is things should have worked.
Which means the IP changed _while_ the VM/server was already running, which seems pretty weird to me. I thought even ephemeral IPs were staying booked as long as they are in use.

Anyway, I'll try to add the code to deal with the case

[2017-10-03 23:05] mpl commented on #963
this https://camlistore-review.googlesource.com/c/camlistore/+/11446 should help, but i need to test it first

[2017-10-05 13:29] mpl commented on #961
@tdilo ping?

[2017-10-05 22:39] tdilo commented on #961
Sorry, chili harvest got in the way.

CL 5736 works here.

At first, I had some fun with the browser cache, resulting in
[code]
and (probably as a result)
`(index):106 Uncaught TypeError: cam.ServerConnection is not a constructor`

I had to clear caches to get rid of the errors.

[2017-10-05 22:45] broomhall opened #964 "camlistored/ui: doesn't display in Edge"
When loading the UI, Edge receives a 401 while getting leaflet.js. This stops the UI from displaying.

It looks like Edge isn't sending the basic auth credentials, resulting in the 401. I'm guessing it's taking a rather hard-line view on the [CORS settings attribute][1] as used in `server/camlistored/ui/index.html`. Using the `crossorigin=""`, which maps to the anonymous state, seems to mean that

[2017-10-05 22:55] mpl commented on #961
Sorry that I bothered you. I've just realized today that I could reproduce simply by upgrading chrome on my dev system. Still, better two testers than one anyway.

[2017-10-05 23:17] mpl commented on #964
thanks for the report.

you're completely right. integrity is most likely completely useless as the files come from the Camlistore server.

As to why they were there in the first place, my laziness is to blame. I had pasted them from an example when I started working on the map aspect, and I forgot to check their meaning afterwards.

PTAL: https://camlistore-review.googlesource.com/c/camlistore/+/

[2017-10-05 23:27] mpl commented on #964
I'm curious though, shouldn't I be able to reproduce what you're seeing with e.g. chrome if I explicitly set crossorigin="anonymous" ? I haven't been able to do so.

[2017-10-05 23:34] #903 closed

[2017-10-05 23:34] #961 closed

[2017-10-06 21:19] tdilo commented on #961
I agree. Glad I could help. :)

[2017-10-07 18:40] maclover7 opened #965 "sharing: multiple items isn't working"
I tried sharing multiple items (select via web UI and hit the share button), but I keep getting the error message `2017/10/07 14:20:09 share: Fetch chain 0 of sha1-HIDDEN wasn't a valid Share (is "directory") (code=shareBlobInvalid, type=401)`. I first go to the share URL the web UI provides, then I put `?via=` in front of that SHA, and put the `target` as the URL path. Then I try to take the next

[2017-10-07 20:12] broomhall commented on #964
Just tried the patch in devcam server and it seems to fix the issue on Edge. Thanks for the prompt response.

I suspect it's an Edge-specific quirk. The request for leaflet.js is to the same origin as index.html so I reckon most browsers disregard the crossorigin attribute. I've not seen the issue with Firefox or IE11.

BTW `crossorigin="anonymous"` should be equivalent to `crossorigin=""` if impl

[2017-10-07 22:21] khimaros opened #966 "http basic auth credentials lost after clicking the Map tab"
The user interface works fine with HTTP basic auth (behind nginx), but clicking the Map causes Chrome to prompt for credentials in a loop. I haven't yet identified the root cause. Let me know if there's additional information I can provide to help troubleshoot.

[2017-10-08 03:07] mpl commented on #965
thanks, I'll have a look tomorrow or on monday.

[2017-10-08 03:37] #964 closed

[2017-10-09 16:13] mpl commented on #965
I'm a bit confused by your report, and with what you're trying to do, so bear with me please.

first off, are you getting any error (server-side log, or browser console), when you select several permanodes (of files or directories) in the web UI, and you click on share?

If yes, please give me the steps to reproduce and the exact errors.

if not, what happens if you then do:

    camget -shared=th

[2017-10-09 16:55] mpl commented on #966
I've just tried with my usual front-end setup and I can't reproduce.

So yes, as usual, please provide the server-config.json, and the relevant details about the proxy (https or not, ports, etc).

btw, as like most of the UI, the map component does not actually use HTTP basic auth, even though it first relies on it for "bootstrapping".

[2017-10-15 07:39] dlipovetsky commented on #874
Following along here, the current state of things looks to be: I can make sure none of my albums have more than 10,000 images and use the Picasa importer, or I can make sure to not edit photos in Google Photos and use the Google Photos importer.

Apparently, Google Takeout  will give me all of my photos and metadata. I could download the Takeout data, then import. Even if the data is large, downlo

[2017-10-15 17:24] mpl commented on #874
I can see the interest of having a takeout importer in itself (not just for photos).

However, for photos specifically,
1) Do we even know if takeout will get you the latest version of your photos, and not, similarly to the bug in drive/photos, get you the initial version of your photo?
2) I would hope that Google someday fixes the drive API so that we can get the latest revision of the photo, whi

[2017-10-15 20:52] dlipovetsky commented on #874
Thanks for the feedback. You make good points.

I just preformed an experiment that confirms that Takeout includes both original and edited versions of a photo (please see below for details).

I hope you are right that Google fixes the drive API. It seems safe to assume that, if and when the bug is fixed, the Google Photos importer will see the edited versions for the first time and import them. T

[2017-10-15 22:30] dlipovetsky opened #967 "Web UI help page has link to broken camlistore.org community page"
The [help page links](https://github.com/camlistore/camlistore/blob/27b2442475caf91fb181efb9a39b58c367b9afec/pkg/server/help.go#L59.
) to the [community page](https://camlistore.org/community/) with a trailing slash. The page is broken because of the trailing slash. Between the header and footer, the page just shows:

Running the website server locally, I see that the error is returned by [this os

[2017-10-16 00:37] MOZGIII commented on #543
What's the status of this one?

[2017-10-16 15:33] mpl commented on #874
thanks for the experiment, that's great feedback.

What do you think about: we make a Google Takeout importer, and we add some sort of ignore/blacklist mechanism (like a .gitignore)? That way we do have a fully functional Google Takeout importer for those that want it, but you could also use it to import your photos only.

In any case, if the idea of a Google Takeout importer is interesting to you

[2017-10-16 15:42] mpl commented on #967
Thanks for the report. Please see my answer on the PR.

[2017-10-16 16:26] mpl commented on #543
i think we're good with the critical images (needed for the GCE instance, or for the website), but the e.g. various databases images for the index tests are still from dockerhub or wherever.

[2017-10-16 16:33] MOZGIII commented on #543
I found out were are the images this issues is about: https://github.com/camlistore/camlistore/blob/master/pkg/test/dockertest/docker.go
Why aren't standard `mysql` and `postgres` images used?

[2017-10-16 16:34] MOZGIII commented on #543
`postgres` is very outdated btw.

[2017-10-16 17:33] mpl commented on #543
I'd guess because at the time we did this, the standard images hadn't beet created yet.
Are you interested in fixing that?

[2017-10-16 22:24] MOZGIII commented on #543
I'll just looking into this project. I'm not sure yet. Definetly not yet, the build/test system is unconventional and codebase is fairly large. I need some time to properly understand how things work in general, and until then I'm not sure I'll do any changes...
I don't even know how I'd invoke the tests so far. Will usual `go test -v ./...` work? I mean to check this, and in general.

[2017-10-16 22:33] mpl commented on #543
yes, go test should work as usual.

so while working on this, you should probably start with:

go test ./pkg/testdockertest
and
go test ./pkg/sorted/...
go test ./pkg/index

to test your changes

[2017-10-16 22:36] MOZGIII commented on #543
Thanks for a tip. I'll try to do something with this on my free time.

[2017-10-17 15:59] #967 closed

[2017-10-21 11:28] bradfitz opened #969 "HEIC/HEVC support"
iOS 11 is now saving images in HEIC/HEVC instead of JPEG.

And because I use Google Photos and Google Photos supports them, I also see them backed up to Drive, etc. (Google Photos converts them to JPEG when browsing online)

This is a tracking bug to make sure Camlistore can thumbnail + JPEG-ify them in the web UI.

It'll probably need to use ffmpeg or something, since I'm not aware of any Go impl

[2017-10-21 11:29] bradfitz commented on #969
/cc @mpl

[2017-10-22 15:36] #685 closed

[2017-10-22 15:36] #862 closed

[2017-10-25 03:46] tjgillies opened #970 "Failure trying to run canary branch"
[code]

[2017-10-26 13:36] mpl opened #971 "pkg/types/serverconfig: add backblaze"
We have an implementation for a b2 blobserver, but no high-level config type for it, and no low-level config generation either.

[2017-10-26 17:58] mpl commented on #971
https://camlistore-review.googlesource.com/#/c/camlistore/+/11546

[2017-10-27 15:58] #971 closed

[2017-10-27 19:19] mpl opened #972 "pkg/search: remove string allocation in BloRefConstraint matcher"
In pkg/search/query.go, func (bc *BloRefConstraint) blobMatches

we have:

brs := br.String() , which allocates.

since blobMatches is (currently) run against all share claims when doing a request about claim shares, it could be expensive. And it gets even worse if we end up using BloRefConstraint for even more generic queries (e.g. that run blobMatches against all meta blobs).

We should find a w

[2017-10-29 15:48] #957 closed

[2017-11-06 19:15] bradfitz commented on #969
https://github.com/pushd/heif

[2017-11-08 17:42] mpl commented on #972
Relatedly, and as another requirement to close this issue, the allocation at:

https://camlistore-review.googlesource.com/c/camlistore/+/8326/13/pkg/search/query.go#1971

should go away as well.

[2017-11-08 20:49] mpl commented on #972
https://camlistore-review.googlesource.com/c/camlistore/+/11566

[2017-11-08 23:05] tdilo opened #973 "Android build: failure to detect docker"
On my machine, `build-in-docker.go` fails to detect that it's actually running inside of a Docker container and exits with an error:
[code]

The problem is that `/proc/self/cgroup` (in the container) contains the line `0::/system.slice/docker.service`, which `inDocker()` rejects as the last field does not start with `/docker`.

Maybe this is just a Docker configuration issue on my side and not act

[2017-11-10 16:53] mpl opened #974 "android: uploading to a let's encrypt instance still requires to treat it as a self-signed"
The android app seems to be failing to upload to a Camlistore instance that uses a Let's Encrypt certificate, unless the certificate is treated a self-signed, i.e. requiring the user to enter the prefix of the certificate's sha256 in the app (which is a pain).

I thought I had already looked into that and fixed it, but apparently not.

[2017-11-10 16:54] mpl commented on #974
@tdilo if you're interested in looking into that, it would be much appreciated :-)

[2017-11-10 18:31] mpl commented on #955
probably fixed by https://camlistore-review.googlesource.com/c/camlistore/+/6256

[2017-11-10 18:31] #955 closed

[2017-11-10 19:02] mpl commented on #973
nah I don't think the problem is with your setup. that check probably only works with old docker setups. looking into it...

[2017-11-10 19:33] mpl commented on #973
What does

    docker info | grep -i cgroup

say for you?

[2017-11-12 21:48] tdilo commented on #974
Will do :)

[2017-11-12 21:49] tdilo commented on #973
`Cgroup Driver: cgroupfs`

[2017-11-13 23:15] bradfitz opened #975 "importer: look into brid.gy"
I was just shown this:

https://brid.gy/

It could be good for importers.

[2017-11-14 00:24] snarfed commented on #975
ohai @bradfitz! happy to answer any q's, especially if it's over a beer before you head back north. :P

[2017-11-14 00:43] lindner commented on #975
Camlistore could also support webmention/activitypub endpoints.

On Mon, Nov 13, 2017 at 4:24 PM Ryan Barrett <notifications@github.com>
wrote:

[2017-11-14 16:51] mpl commented on #973
@tdilo Even on a system that I thought was the most similar to yours, I haven't been able to reproduce the problem, so until we figure out something better, I suggest we just fix it the dumb way:

https://camlistore-review.googlesource.com/#/c/camlistore/+/11586

Does that work for you?

[2017-11-15 16:30] tdilo commented on #973
I checked on
* CoreOS  stable (unsure of exact version, as the DigitalOcean dashboard _just_ went down), which does not have the problematic entry
* Docker 17.09.0-ce on Ubuntu 17.10, which does indeed have the same cgroup configuration as my system

That's an indication at least that my system is not horribly broken and that the fix is not just a workaround.

[2017-11-15 17:15] #973 closed

[2017-11-20 11:30] stgarf opened #976 "Extract text from PDF for indexing/searching"
I use a Doxie scanner which ultimately spits out OCR'd PDFs. I'd like the text to be searchable once inside camlistore.

Looks like this library will spit out the text inside the PDF, https://github.com/ledongthuc/pdf

[code]

[2017-11-20 17:48] lindner commented on #889
I've been able to get [govend](https://github.com/govend/govend) to mostly work.  The broken code.google.com repos cause problems so I'm just going to fix those manually.

[2017-11-20 18:32] bradfitz commented on #889
Y'all are welcome to take this on early, but be ready to change it all again when the official Go support arrives, in whatever form that takes. I suspect it'll be different from the github.com/golang/dep tool, as Russ seems to have some plan.

[2017-11-22 17:02] mpl commented on #874
Now that the importer supports deletions:

https://camlistore-review.googlesource.com/c/camlistore/+/11646 ,

one work-around to https://productforums.google.com/forum/#!msg/drive/HbNOd1o40CQ/VfIJCncyAAAJ

is to download your modified photo, remove it from Google Photos (or from Drive), and reupload the modified version to Google Photos. As it will be seen as a new photo (as it should), it will ge

[2017-11-22 20:22] mpl commented on #969
@bradfitz the heiftojpeg from that repo works (as i tested on your image sample), but

1) it uses non-portable paths (hardcoded "/tmp/").
2) i don't think it can pipe its output, which we probably want, as we'll most likely take that output as input for our image thumbnailer (and I assume we don't want temporary files as intermediates).

Should we rewrite a simpler, portable, version of https://gi

[2017-11-23 00:13] lindner opened #977 "vendor: Upgrade to non-patent-encumbered license of React"
See the [React 16 Blog Post](https://reactjs.org/blog/2017/09/26/react-v16.0.html
) for details.

Either version 16+ or version 15.6.2 have the new license.

[2017-11-23 06:51] bradfitz commented on #977
You interested in doing this?

[2017-11-23 07:24] myitcv commented on #977
Probably best to upgrade to 15.6.2 for now because I'm not entirely certain (read: I haven't tried it out fully yet) how React 16 plays with `myitcv.io/react`, the GopherJS bindings around React used by a couple of components.

[2017-11-23 16:59] mpl commented on #923
I went the other way around with

https://camlistore-review.googlesource.com/c/camlistore/+/11806

navigation is not disabled when editing a new attribute row. But if one navigates away at this point, the new attribute row is reset, so the tentative change is erased and does not propagate to the next navigated node.

[2017-11-26 03:55] lindner commented on #977
Agree 15.6.2 would be easier.  I'm new to React but it appears that the addons have been discontinued.  It also appears that there's no easy canonical source package to embed.

[2017-11-26 06:01] lindner commented on #977
Proposed update in

https://camlistore-review.googlesource.com/c/camlistore/+/11827

[2017-12-01 18:44] mpl commented on #883
https://camlistore-review.googlesource.com/c/camlistore/+/11866

[2017-12-01 18:50] bradfitz commented on #969
It looks like it might need a filename to seek around in. In our official Docker/etc images we can use tmpfs so we're not actually doing disk I/O.

It does seem like we could modify the program to write the JPEG to stdout instead, but if we're already doing tmpfs for the input, the gains are marginal. (slightly less memory usage for a bit, but not for long).

I'd say don't bother for now and use i

[2017-12-01 20:00] mpl commented on #969
Just so we're clear, then we don't care for now about Camlistore on Windows not being able to decode HEVC?

Well, I've just realized that even if we fixed the /tmp/ paths problems, Windows would probably miss dependencies anyway, like ffmpeg and imagemagick.

So yeah, ignoring Windows for now.

[2017-12-04 00:42] lindner opened #978 "Fix common issues found via static analysis"
The megacheck and golint analyzers found the following set of issues.  They fall into a number of buckets:

Linter Style/Docs: missing docs for exported symbols
Deprecation cleanups
Linter naming  FooId vs FooID

Before I dive deep into these would be interested in hearing what people think, style preferences, etc.  If we do adopt golint or something like that I can add that to the docs and/or add

[2017-12-04 00:48] lindner opened #979 "github out of sync with googlesource master repo"
Not sure how the github mirror is set up, but it's on an outdated commit from 2 weeks ago.  Is the process documented somewhere?

[2017-12-04 00:58] mpl commented on #979
No, it's not really documented. it's actually part of the website's code. sometimes it gets wedged, but it hadn't actually happened in a long time. i'll have a look tomorrow. thanks.

[2017-12-04 18:40] mpl commented on #979
update on that issue:

one of the docker containers that runs the git command that allows to compute the commit e-mail to send (see show_pretty in website/email-go) was stuck:

48c5509b19b6        camlistore/git              "git show --pretty=on"   12 days ago         Up 12 days                              show_pretty

and i suspect it was blocking the other docker containers to run, notably the

[2017-12-04 19:58] mpl commented on #979
well, that is bad:

Nov 22 05:34:20 camweb.c.camlistore-website.internal dockerd[1439]: time="2017-11-22T05:34:20.757632665Z" level=error msg="error restarting containerd: fork/exec /usr/bin/containerd: cannot allocate memory"
Nov 22 10:25:31 camweb.c.camlistore-website.internal dockerd[1439]: time="2017-11-22T10:25:31.513745047Z" level=info msg="New containerd process, pid: 7076\n"

And indeed, v

[2017-12-04 20:20] mpl commented on #978
I suppose that, once all these initial findings are fixed, we could add a golint step to our git hooks, like we do with gofmt? But maybe we don't make it a failure that prevents to commit, but just a warning, because of the false positives?

I have not really worked with golint in the past. Can we expect many false positives for the kind of code we write?

To answer your question, as far as style

[2017-12-04 20:22] #883 closed

[2017-12-04 20:22] #977 closed

[2017-12-04 20:24] mpl commented on #979
There we go. looks like things are syncing up again now.

[2017-12-04 21:24] lindner commented on #978
glint encapsulates most of the advice in the Go stdlib style.  I can
perform cleanups.

A presubmit lint check warning check would be nice, but it would require
the user to install golint.  Once we're cleaner I can see what that would
entail or if there's a way to add that to gerrit.

On Mon, Dec 4, 2017 at 12:20 PM mpl <notifications@github.com> wrote:

[2017-12-04 21:42] bradfitz commented on #978
I'm fine changing Id to ID. (That Go style rule wasn't there from the beginning.)

And I think all exported things should have docs.

And I'm fine with moving away from deprecated things.

I am strongly opposed to making lint checks part of presubmits, though.

[2017-12-04 22:52] lindner commented on #978
SGTM - I'd prefer it as a Gerrit plugin.

On Mon, Dec 4, 2017 at 1:42 PM Brad Fitzpatrick <notifications@github.com>
wrote:

[2017-12-05 16:24] mpl opened #980 "camweb: connecting to SMTP for sending commit e-mails fails often"
The camweb logs show many errors such as:

"Error connecting to SMTP server for sending commit e-mail: dial tcp 50.19.239.94:2500: getsockopt: connection timed out"

These happen in the pollCommits func of website/email.go , when we try to send a commit e-mail message to the Camlistore mailing-list, through a specific SMTP server.

The messages usually eventually succeed, as they evidently show up

[2017-12-05 16:39] mpl commented on #980
Alternatively, Brad suggests we could try mailgun:

https://www.mailgun.com/pricing

https://godoc.org/github.com/mailgun/mailgun-go

[2017-12-05 16:59] mpl commented on #979
relatedly:

https://camlistore-review.googlesource.com/c/camlistore/+/11906

[2017-12-05 20:43] bradfitz opened #981 "Rename Camlistore to Perkeep"
It's time to finally rename Camlistore.

Camlistore was always supposed to be a temporary name, and it survived for way too long (over 7 years so far!).

Problems with the name Camlistore:

* It's a nerdy acronym for Content-Addressable Multi-Layer Indexed Storage, which is nerdy. Nerdy was fine when the target was nerds, but as it gets increasing usable & user-friendly, I'd like a more approachab

[2017-12-05 20:47] bradfitz commented on #981
Well, crap, I never checked whether the Twitter account was free, and it's not: https://twitter.com/perkeep

Hasn't been used since 2014. I wonder if it's possible to get. Perhaps the owner will rename to something else.

Otherwise we need a new Twitter handle.

[2017-12-05 20:50] mpl commented on #981
Small note: I'm not sure how it works in english, but if it's supposed to mimick the french word, "née" is a past participle that follows the subject, so it's "né" if the subject is male, and only "née" if it's female.

[2017-12-05 20:52] buro9 commented on #981
Whom do we know at Twitter? :)

[2017-12-05 20:53] josephholsten commented on #981
"née" is primarily seen in english to express a woman's maiden name. So it is frequently (mis)used in this way.

I also have no problems with a piece of software being grammatically feminine. ;-)

[2017-12-05 20:58] bradfitz commented on #981
@buro9, I filed a Twitter support request. @nickoneill told me:

[2017-12-05 21:48] odeke-em commented on #981
@bradfitz how about PerKeepr -- Permanent Keeper? The Twitter Handle is avaiable btw https://twitter.com/perkeepr

[2017-12-05 22:00] bradfitz commented on #981
I don't want to do the Flickr `-r` thing. Also, I like "keep" as-is for being a real word. Sounds more professional. And "Perkeepr" makes me think of Trapper Keeper from my childhood.

[2017-12-05 22:05] odeke-em commented on #981
Gotcha gotcha. Kuddos for the longevity and on Camlistore's graduation to PerKeep.

[2017-12-05 22:22] mpl commented on #981
Among the other places to update:

https://opensource.google.com/projects/camlistore

Probably trivial for @bradfitz or @willnorris to do.

[2017-12-06 02:50] cure commented on #981
@bradfitz Keep is definitely a good name. The storage layer in [Arvados](https://github.com/curoverse/arvados) is called [Keep](https://dev.arvados.org/projects/arvados/wiki/Keep), and it is has some similar design elements to Camlistore.

[2017-12-06 05:25] cliveb commented on #981
Camlistore often shorted to Camli. Perkeep shorted is Perk. Familiarity and brevity breeds nicknames perkup, perkdown, perkpush, perkpull. All good. I was thinking about any related negative short names, only one is "perkwalk" (my bad). Came because many male celebrities currently getting in trouble.

[2017-12-06 19:19] mpl commented on #980
https://camlistore-review.googlesource.com/c/camlistore/+/11946

[2017-12-07 01:45] bradfitz commented on #981
@mpl, I've updated the nameserver records for perkeep.org to AWS and set the DNS A records to the same IP as camlistore.org. Should be in live everywhere in 12-24 hours. Want to make sure camweb does the right thing upon getting those Host/SNI values? (both "perkeep.org" and "www.perkeep.org" doing the redirect thing)

I think {www.,}camlistore.org should also redirect to https://perkeep.org/

Mak

[2017-12-07 11:56] myitcv commented on #977
FYI as of https://github.com/myitcv/react/pull/103 I've upgraded `myitcv.io/react` to use React 16.

Per [the wiki](https://github.com/myitcv/react/wiki#react-16), React 15 support will be maintained on a branch, probably following the Go-esque policy of "last two versions"

Not all features in React 16 supported (most notably fragments) but will work on the most important over the Christmas break

[2017-12-07 14:23] mpl commented on #981
ACK

[2017-12-08 08:19] tajtiattila opened #982 "UI: font awesome missing"
The problem is that genfileembed uses the path style of the host when building embedded files.

When building on Windows, embedded resources in subdirectories end up added with backslashes without slashes, eg.

`"css\\font-awesome.min.css"`

instead of

`"css/font-awesome.min.css"`

which is incorrect for the web server even on Windows.

See also https://groups.google.com/forum/#!topic/camlistore/

[2017-12-08 16:45] mpl commented on #982
https://camlistore-review.googlesource.com/c/camlistore/+/11966

[2017-12-08 16:52] mpl commented on #980
reopening until we now for sure that mailgun can send to mailing lists, which might not be the case.

[2017-12-08 19:46] mpl commented on #980
TL;DR is yes we can send to the mailing-lists with mailgun

longer answer is: with the free account we have to add each recipient to the authorized recipients list, which requires said recipient to answer an e-mail, which is not possible for a mailing-list. With the "unity plan", the authorized recipients list is overridden, which makes the above limitation moot.

[2017-12-08 19:46] #980 closed

[2017-12-08 20:40] mpl commented on #981
https://camlistore-review.googlesource.com/c/camlistore/+/11986

[2017-12-10 06:15] cliveb commented on #981
Moved Camlistore to Perkeep on Wikipedia https://en.wikipedia.org/wiki/Perkeep added inline citations and updated talk page asking for removal of missing citations tag by reviewers.

[2017-12-10 11:24] broomhall commented on #981
Probably very low priority, but there's the app on Google Play - https://play.google.com/store/apps/details?id=org.camlistore - that needs a name change. It would be nice to update too (or temporarily remove?) as it's quite an old version and I think there have been significant bug fixes since it was last published.

[2017-12-11 17:41] #982 closed

[2017-12-11 19:52] mpl commented on #981
https://camlistore-review.googlesource.com/#/c/camlistore/+/12046

[2017-12-11 19:57] mpl commented on #981
@broomhall I can't update the official app as i don't have the key to sign it, but jsyk whenever  someone asks, I try to update the one at https://storage.googleapis.com/camlistore-release/android/app-debug.apk

[2017-12-11 21:01] mpl commented on #981
https://camlistore-review.googlesource.com/c/camlistore/+/12066

[2017-12-12 19:48] mpl opened #983 "investigate https://mat.tm/joy/"
We're already heavily invested with GopherJS, and I doubt Joy is more mature, but you never know...

CC @myitcv

[2017-12-12 20:04] myitcv commented on #983
Thanks for the cc. I saw the link somewhere earlier and I've subscribed to updates.

We could/should also add a tracker for the WASM issue in the Go repo?

https://github.com/golang/go/issues/18892

On the basis that's another means of writing Go code for the frontend (although much like the joy project, the implementation path is less clear than the status quo of GopherJS)

[2017-12-12 21:52] bradfitz commented on #983
I think we want to stick with GopherJS. I don't want to write in a subset dialect of Go.

[2017-12-13 01:01] mpl commented on #981
https://camlistore-review.googlesource.com/#/c/camlistore/+/12106

[2017-12-13 16:05] myitcv commented on #983
Agreed.

_Comments below based on a quick skim of the available docs_

There are some good [guiding principles](https://mat.tm/joy/#principles) for Joy:

Points 1, 2, 3, 5 and 7 are very much Go's domain and principles that are, therefore, shared with GopherJS.

Points 4 and 6 are criticisms that can, to a point, be levelled at GopherJS; they are well known, well defined points of optimisation wit

[2017-12-13 17:10] #983 closed

[2017-12-15 00:23] mpl commented on #981
Another one to the rename/migrate list: https://travis-ci.org/camlistore/camlistore

[2017-12-15 01:30] chriscroome commented on #981
I'd suggest `permastore`.

[2017-12-15 01:31] bradfitz commented on #981
@chriscroome, this thread isn't about voting on a name. The name has been chosen and required research for conflicts.

[2017-12-15 05:37] bradfitz opened #984 "gphotos: instructions incomplete"
I followed the gphotos importer setup instructions, but got an internal error from perkeep on the oauth redirect back to my instance.

Logs say:

I guess our setup instructions are missing the step of enabling an API for the project.

[2017-12-15 15:18] dotMR commented on #981
Hi all!

I'm not sure if anyone still uses this, but I'm happy to rename to whatever
https://github.com/dotMR/CamliClipper

Honestly haven't tested in awhile, assuming it still works OK

[2017-12-15 16:55] #979 closed

[2017-12-15 17:41] mpl commented on #984
https://camlistore-review.googlesource.com/#/c/camlistore/+/12166

[2017-12-15 18:11] #984 closed

[2017-12-15 19:49] cliveb commented on #981
@bradfitz, in Seattle @rachelnabors does wonderful animations. Maybe a designer for Perkeep Parakeet (she even produces svg). https://github.com/rachelnabors

[2017-12-15 20:05] mpl commented on #981
https://camlistore-review.googlesource.com/#/c/camlistore/+/12186

[2017-12-15 20:53] rachelnabors commented on #981
I love Perky the Perkeep Parakeet :3
On Fri, Dec 15, 2017 at 12:05 PM mpl <notifications@github.com> wrote:

[2017-12-15 22:26] ZucchiniZe opened #985 "Launcher shows blank page"
https://perkeep.org/launch/ shows a blank page when visited. Upon further investigation it shows a little html but stops at the `go-import` meta tag in the head.

https://github.com/camlistore/camlistore/blob/c45893a69b93f240ce75af410d18331872321777/website/tmpl/page.html#L19

It seems that the domain variable is causing an error and not allowing the entire page to be loaded.

[2017-12-15 22:42] bradfitz commented on #30
@lindner just asked for this today.

[2017-12-15 22:57] bradfitz opened #986 "Create a Perkeep package for Synology NAS"
Synology NASes are popular and have a nice package app store thing.

Let's package Perkeep.

See https://developer.synology.com/developer-guide/getting_started/index.html

/cc @lindner @mpl

[2017-12-16 00:43] mpl commented on #985
thanks, looking into it.

[2017-12-16 01:03] mpl commented on #985
https://camlistore-review.googlesource.com/#/c/camlistore/+/12206

[2017-12-16 21:17] edrex commented on #975
https://github.com/camlistore/camlistore/issues/788 mentions bridgy too. It's overspecified since at the time I was all fired up to code it...

[2017-12-16 21:21] edrex commented on #986
I'm about to jump on the Synology bandwagon

[2017-12-16 21:26] edrex commented on #975
(thinking of it as a way to receive social replies to posse posts there)

Generally, I think the way to integrate with indie web stuff is to implement the basic protocols, which tools like bridgy can couple with.

[2017-12-16 22:42] snarfed commented on #975
agreed!

[2017-12-17 22:34] bradfitz opened #987 "importer: gphotos importer will stop working soon"
https://developers.google.com/drive/v3/reference/ currently says:

I assume that's referring to this part of the API it looks like we currently use:

[code]

Note that `Spaces("photos")` part.

I'll fix.

/cc @mpl @tgulacsi

[2017-12-17 23:08] bradfitz opened #988 "Run importers as apps"
The importer infrastructure predates our "app" infrastructure.

We should probably convert importers into apps, and run them in separate processes, which would have two nice advantages:

* people can write them in other languages
* importer development would be more iterative, not having to restart camlistored & reload the index every time. (at least in the default configs; it's true one _could_ w

[2017-12-18 15:17] #985 closed

[2017-12-19 01:12] bradfitz commented on #986
@edrex, does that mean you're about to buy a Synology NAS or you're going to package Perkeep? :)

[2017-12-19 02:55] bradfitz commented on #974
This is bizarre.

Any theories why?

[2017-12-19 15:12] mpl commented on #974
I wanted to refresh my memory on that but I supposed it had something to do with the fact that afair, we hardcode a pool of root certs in the android client, and that maybe we're missing the ones related to Let's Encrypt?

[2017-12-19 22:06] lindner opened #989 "Implement Memento Protocol from RFC 7089"
Perkeep would be a good environment to implement [RFC 7089](https://tools.ietf.org/rfc/rfc7089.txt)

[2017-12-19 22:19] bradfitz commented on #989
To what end?

Which URLs? Public-facing ones from the publish handler?

Or in our API, which already supports that a different way?

Or the UI?

How would users send these headers? curl?

[2017-12-19 22:41] lindner commented on #989
One motivation to using a standard protocol is that we can use standard client.

For example [Robust Links](http://robustlinks.mementoweb.org/) provides a mechanism for surfacing Memento in the browser.

I can see this being useful when browsing the history of camliContent (and other claim) changes on a node.

The RFC is only informational, so it would be an experimental feature.  Low priority.

[2017-12-19 22:44] bradfitz commented on #981
Twitter account is now https://twitter.com/PerkeepOrg (renamed, so it kept its followers)

And I created https://twitter.com/Camlistore with a note about the rename.

[2017-12-19 23:36] lindner commented on #981
Someone with ops on #camlistore on freenode should create a #perkeep channel and add a topic to the old channel redirecting to the new one.  (optionally adding a bot to inform people of the new home)

[2017-12-19 23:46] lindner commented on #789
https://camlistore-review.googlesource.com/c/camlistore/+/12326

[2017-12-20 00:14] #789 closed

[2017-12-20 15:20] mpl commented on #923
Clarification, from email thread about the issue:

"
Yes, in https://camlistore-review.googlesource.com/c/camlistore/+/11806
I fixed a bug that is related to the issue, and that needed fixing
anyway:
with this change, if you're now in the middle of editing an attribute
and you navigate away, the edit is not "transferred" anymore to the
page of the prev/next permanode. This prevents you from applyi

[2017-12-20 16:31] mpl commented on #923
restating the issue from another angle: when we're in an edit box, left and right arrows are expected to move the cursor, and not navigate us away.

[2017-12-20 17:51] bradfitz opened #990 "Document & audit where blobs are re-verified against their digests"
We lack documentation about when blobs are re-verified against their digests.

Document it, and audit the codebase in the process.

[2017-12-20 20:05] bradfitz opened #991 "Importer: Rename foursquare to swarm?"
We probably want to rename the foursquare importer to Swarm, but without breaking people.

Probably only the UI should change to Swarm, but the underlying importer type can still be "foursquare" for compatibility. We could also change the directory on disk.

[2017-12-20 21:16] edrex commented on #975
The PESOS stuff is easy. I think the really interesting bits are when you start using Bridgy's [POSSE](https://indieweb.org/POSSE) reply inlining support:

 1. Publish a post via #788.
 2. Share the post's public URL in a tweet/fb post.
 3. Auto-import the remote share via Bridgy
 4. Get replies.
 5. Auto-import the replies via Bridgy.
 6. In #788 post page, query PerKeep for
     1. Shares of thi

[2017-12-20 21:23] lindner commented on #991
The interesting thing here is:

An importer should be able to handle the underlying service changing names,
owners and formats.
- That means that old data that was imported should continue to work
- New data that is imported should reflect the new branding
- Old data should potentially be visible with old branding or new.
- Importing old data and new data should map to equivalence using a
namespac

[2017-12-20 21:34] edrex commented on #975
Steps 3 and 5 are the only pieces that this issue need worry about.

To support #6 the indexer will need to index URLs from the imported post content (seems like a good idea anyway, not sure if there's an issue for that already).

I'm going to work on cleaning up #788 to keep this issue focused on just the Bridgy integration.

[2017-12-20 21:43] snarfed commented on #975
this all sgtm!

users will need to sign up each of their social network accounts with bridgy. you can actually direct them through this from perkeep, if you want, and they'll return afterward: https://brid.gy/about#registration-api

they'll also need to put their perkeep microblog's domain in their social network profile: https://brid.gy/about#profile-link

after that, bridgy does steps 3 and 5 au

[2017-12-20 22:55] bradfitz opened #992 "Apply to Google Summer of Code"
We should apply to the Google Summer of Code:

https://developers.google.com/open-source/gsoc/

/cc @mpl @willnorris @lindner

[2017-12-20 23:33] bradfitz commented on #991
Agreed. Don't think anybody would disagree with this.

Ideally, but not a super high priority. Companies change their branding regularly. I care more about where I checked in last year rather than what their UI designers thought looked cool that particular day. But when things change a bunch, we should refresh our web UI to render it in the current-ish style.

I think this is a restatement of the

[2017-12-21 02:53] edrex commented on #975
An example of the POSSE reply inlining mentioned above is [here](https://edrex.pdxhub.org/2017/im-submitting-a-talk-to-open-source-bridge---june#comments)

[2017-12-21 03:08] edrex commented on #986
Buying a Synology right after Christmas. [I already committed](https://groups.google.com/d/msg/sandstorm-dev/pMhXs0nvVRI/UfrVvBJ9DgAJ) to packaging Sandstorm for Synology, which is a bigger deal because sandboxes, so I can do Camlistore too.

[2017-12-21 03:12] edrex commented on #986
Cross compiling for all the weird CPUs various Synology boxes contain seems like it could be a pain. Hopefully they have some automation to make it easier. I haven't looked into it. My box with be amd64.

[2017-12-22 17:03] johanbrandhorst opened #993 "Proposal: use grpc-web for GopherJS UI <-> backend interactions"
As suggested by @mpl, I'm opening an issue to discuss using gRPC-Web and any possible benefits that might bring to Perkeep. Please see https://groups.google.com/forum/#!topic/camlistore/GawSpvDGqVU and
https://camlistore-review.googlesource.com/c/camlistore/+/12406 for more information.

[2017-12-22 18:32] mpl commented on #992
Does it not imply a significant amount of mentoring?

[2017-12-22 19:41] mpl commented on #987
oh. I thought _both_ - enabling the Photos folder in Drive, _and_ using the "photos" Space in the API calls - were necessary. I already have the folder enabled (since the user level docs say we have to), and I had never tried the importer without it.

So what, we're going to use the "drive" Space instead, but then I'm not sure how we're going to filter out anything that is not from the Google Phot

[2017-12-23 07:39] ndw opened #994 "Content type(s) expected from the blob server protocol are...odd"
I've just started implementing a blob server. Well, exploring the possibility of implementing one, anyway.

Right off the bat, I discovered that the content type returned by the discovery endpoint has to be `text/javascript`?

It looks like a JSON blob to me, is there a reason why `application/json` is rejected?

[2017-12-23 18:31] mpl commented on #994
I don't know.
Maybe it's so that the browser can display the response as text? Are browsers displaying as a text page a response that is application/json?
Or maybe it's just an oversight.

[2017-12-27 00:15] lindner commented on #889
The camlistore vendor tree is a bit of a mess, so any work here to track versions is going to help.

I've started the implementation of dep and it's a bit messy.  One issue is many subdirectories of whole repos were versioned, leading to inconsistencies.  There are also some local modifications for sqlite3 and a number of files that were omitted (which need to be added to a .gitignore)  Oh and the

[2017-12-27 02:16] purcell commented on #981
I see you've created an empty `perkeep` org here on github, but FWIW, you can just rename the existing org (and repo) and everything will continue to just work: github even redirects command-line `git pull`s etc that still refer to the old location.

[2017-12-27 11:21] tajtiattila opened #995 "Index: Geotagging and location history"
Perkeep should be able to store and use location histories to geotag photos. To achieve this:

1. Define location history schema/format
2. Add support for parsing and indexing typical track file formats (eg. GPX, KML, Google location history JSON)
3. Have search/index use the location history for location queries of permanodes having time (eg. DateCreated attr) but no explicit location information

[2017-12-27 11:28] tajtiattila commented on #995
https://camlistore-review.googlesource.com/#/c/camlistore/+/12486

[2017-12-27 22:12] lindner opened #996 "Set up Search Console for perkeep.org"
Right now Google still displays "Camlistore" as the title of the home page in search results.  We can assist in reindexing if we set up Google Search Console aka Webmaster Tools here:

https://www.google.com/webmasters/tools/home

To solve this:
- Add a host verification file to website/static
- Map the path in camweb.go
- Verify using Google Web Console
- Enable ownership for other Perkeep contri

[2017-12-27 22:23] lindner opened #997 "website/website fails to start due to domain, source package mismatch"
Trying to use the instructions in website/README.md:

- cd website
- go build
- ./website

fails with an error like this:

  2017/12/27 14:21:23 Failed to find the root of the perkeep.org source code via osutil.GoPackagePath: file does not exist

The issue results from assuming that prodDomain is equal to the source package name.  Packages are still in the camlistore.org namespace, which means tha

[2017-12-27 22:38] mpl commented on #997
Yes, this is expected, as are probably a few other things until the the migration is complete.
There is no valid source code for the perkeep.org namespace yet, so there's no point yet in trying to build/use it as such. Hence, the website should still be built/used under the camlistore.org namespace for now.

[2017-12-28 18:18] lindner commented on #889
Okay, I have a working version with a dep-managed vendor directory.  Still need to work out the sqlite3 and fsnotify local mods, but it's pretty close.

The patch is over 1000 files though, so I'll introduce it in pieces as I rationalize our repos.

Here's the list of deps and pinned versions that I have enumerated:

[code]

[2017-12-29 02:00] bradfitz commented on #981
@purcell, actually somebody else created that for us and added me as an owner.

[2017-12-29 02:02] bradfitz commented on #986
Well, the main Go compiler will do x86 and ARM cross-compilation trivially. The ppc (which I assume is 32-bit) isn't possible with the main Go compiler, though. We'd need to use gccgo there. Or could we ignore those two 2013 models? (DS213+, DS413)

[2017-12-29 05:33] purcell commented on #981
@bradfitz Cool. I think in that case you can just transfer the repo across to the other org, and the redirects will still work.

[2017-12-29 11:11] wranai commented on #981
Isn't it easier to just treat that as a placeholder and rename this one when the time comes?

[2017-12-29 15:57] #827 closed

[2017-12-29 18:10] #443 closed

[2017-12-29 19:29] #667 closed

[2017-12-29 19:34] #996 closed

[2017-12-29 19:41] #611 closed

[2017-12-29 19:50] bradfitz opened #998 "camput: decide what to do with devices, sockets, named pipes"
In https://camlistore-review.googlesource.com/c/camlistore/+/856, @tgummerer noted problems running camput on his home directory with devices, sockets, or named pipes.

Figure out what to do there.

Skip & warn-log by default probably?

[2017-12-29 20:41] #425 closed

[2017-12-29 20:51] bradfitz opened #999 "Update blob upload protocol to let clients decide when to sync"
Currently, every blob is treated as precious, and thus each blob is synced to disk aggressively.

With per-blob syncing, combined with splitting big files up into lots of small-ish blobs, our upload throughput kinda sucks sometimes.

We should update the protocol to let clients (e.g. camput) decide when to flush.

The default can be safe, like today, but if a client wants, it can opt-in to saying

[2017-12-29 22:41] purcell commented on #981
That's what I'd do, personally, but just saying that either would work.

[2017-12-29 22:45] bradfitz opened #1000 "httputil.CertFingerprints is unused"
[code]

Looks like it's no longer used.

Delete?

[2017-12-30 15:33] bpollack commented on #998
If you're on board with skip and warn by default, I'm happy to take a stab at this.

[2017-12-30 15:34] bpollack commented on #986
It's worth noting that Synology now supports Docker pretty cleanly, so publishing images and instructions for generic Docker setups could cover this without necessarily having a custom Synology package. I've been poking at that direction a bit this week.

[2017-12-30 15:34] bradfitz commented on #998
@bpollack, sounds good.

[2017-12-30 18:19] bradfitz commented on #986
@bpollack, keep us updated!

[2017-12-31 02:04] #963 closed

[2017-12-31 02:06] #879 closed

[2017-12-31 20:56] bmann opened #1001 "Running launcher throws error"
Running the launcher throws an error. Likely related to the domain rename.

![screenshot 2017-12-31 08 26 44](https://user-images.githubusercontent.com/280420/34464175-e1387e66-ee29-11e7-91c0-b2e9483706aa.png)

[2017-12-31 21:01] bradfitz commented on #1001
/cc @mpl

[2018-01-01 15:50] mpl commented on #1001
thanks, fixed.

[2018-01-01 15:50] #1001 closed

[2018-01-01 19:00] mpl commented on #972
https://camlistore-review.googlesource.com/c/camlistore/+/8326 updated with the no allocation improvement.

https://camlistore-review.googlesource.com/c/camlistore/+/9866 left todo.

[2018-01-01 23:03] bradfitz opened #1002 "camtool modes print in a random order"
Running camtool by itself prints out its list of modes every time in a random map enumeration order:

[code]

/cc @mpl

[2018-01-02 00:18] mpl commented on #997
Should be fixed by https://camlistore-review.googlesource.com/c/camlistore/+/12630

[2018-01-02 00:38] #912 closed

[2018-01-02 01:12] bradfitz commented on #981
Okay, we've now renamed all the import paths from `camlistore.org/*` to `perkeep.org/*`. You'll need to `mv $GOPATH/src/camlistore.org $GOPATH/src/perkeep.org` (assuming your $GOPATH is set at all, and if so, set to exactly 1 directory).

We've moved the old `camlistore.org/pkg/lru` package to `perkeep.org/internal/lru` in the process as a test. Many more packages will move to `perkeep.org/interna

[2018-01-02 05:28] willnorris commented on #997
confirmed that the above instructions now work.

[2018-01-02 05:28] #997 closed

[2018-01-02 05:51] willnorris commented on #992
Relevant reading:  https://google.github.io/gsocguides/mentor/, specifically the "Org Admin" section in the sidebar.  Mathieu is certainly right that this involves a significant amount of time on the part of the mentors.  If it's something we're going to do, we need to be putting an [ideas list](https://google.github.io/gsocguides/mentor/making-your-ideas-page) together... well, some time ago.

[2018-01-02 06:16] willnorris commented on #803
fixed in ce00f4cac4be3292e4a3fdec790019335ae27b95

[2018-01-02 06:16] #803 closed

[2018-01-02 06:37] willnorris commented on #799
fixed in 0b682c67112d87abbe16018b39627524a31251c0

[2018-01-02 06:37] #799 closed

[2018-01-02 12:18] gdeverlant opened #1003 "How do I set the root directory where camlistore should be initialized?"
Greetings to all!

When I run camlistored.exe by default the daemon initialize the instance in this folder:

**C:\Users\{username}\AppData\Roaming\Camlistore**

I want to know if there is a way to put a custom path where the initialization should be done?

E.g: camlistored --initPath G:\\Camlistore

Thanx.

[2018-01-02 14:58] #735 closed

[2018-01-02 15:03] #674 closed

[2018-01-02 15:56] mpl commented on #1003
@gdeverlant I'm sorry, but I'm not familiar with Windows, so I don't really understand the question. Why does it matter where you're running the binary from? As far as I know the working directory has no influence at all on what camlistored does, so it should not matter.
In any case, can't you first cd into whatever directory you want, and run camlistored from there? Wouldn't that achieve what you

[2018-01-02 16:04] mpl commented on #889
@lindner Not that I mind that you're updating all vendored deps to their latest revision (as long as it does not break anything of course), but I do not understand why that is necessary to start using the dep tool.
Why isn't it as "simple" as reorganizing a few paths, adding a few meta files, and some doc to explain what the steps are to use the dep tool in a workflow that suits us?
What's your pl

[2018-01-02 16:40] #842 closed

[2018-01-02 16:53] lindner commented on #889
@mpl my plan is to slowly converge vendor in a safe manner via stepwise refinement.  I'm trying to keep things as close to the revisions in the repo, but sometimes I have to pull in new code to help satisfy the dependency tree.  (For example the official rev of picago had broken references, and x/net had some refs to camlistore that I want to get rid of)

So far the divergence has gone from 3500 m

[2018-01-02 16:57] mpl commented on #889
@lindner Could you show me what the tree would roughly look like once everything is in place, and more importantly, moving forward what would the workflow be for us to keep it updated in the future?

[2018-01-02 17:53] lindner commented on #889
Sure!

You can see the dep patch (minus x/net) here that tries to match the versions what we have in vendor/ today:

https://camlistore-review.googlesource.com/c/camlistore/+/12670

[Note: We're going to need to move vendor/embed though, dep wants full control over the vendor directory.]

Once that's in we can modernize some of these three year old deps (with proper testing).

As for workflow the

[2018-01-02 18:06] mpl commented on #889
@lindner ok, thanks, that helps!

[2018-01-02 18:15] lindner commented on #889
Oh and we should also figure out the fsnotify issue for gopherjs.  I'll try
it without the custom patch and see if what affect it has on javascript
payload size.

On Tue, Jan 2, 2018 at 10:06 AM mpl <notifications@github.com> wrote:

[2018-01-02 18:24] myitcv commented on #889
@lindner - `fsnotify` is only used by the GopherJS tool in its `serve` command so it doesn't have any impact on the resulting Javascript.

[2018-01-02 18:27] mpl commented on #889
@lindner yes, I forgot to mention what Paul just said. we've been embedding a slightly hacked version of gopherjs everytime (basically breaking its server command), because Brad did not want to bother with fsnotify.

[2018-01-02 19:03] myitcv commented on #889
Just a thought as a follow up to @bradfitz's [earlier comment](https://github.com/camlistore/camlistore/issues/889#issuecomment-345786193). Not to derail the current `dep` "pinning" (because formalising that is a good thing to my mind and will be transferrable) but more a repeat of a concern with `vendor`-based approaches in general.

My biggest gripes with any `vendor`-based approach (`dep` inclu

[2018-01-02 19:41] bradfitz commented on #1003
@gdeverlant, I assume you want your blobs and index on G: ? You can just modify the `server-config.json` file to point to your G: drive. See https://perkeep.org/doc/server-config. You'll want `blobPath` and `levelDB` set to something on G: probably.

[2018-01-02 20:04] gdeverlant commented on #1003
@bradfitz I'm aware if the server-config.json file but it doesn't fit to the use I have in mind. I'm integrating Peerkeep to my software and I'm doing all the initialization for **camlistored** within my Software. I can launch **camlistored** via a NativeProcesse but I want to be able to define the initialization path of **camlistored** so that It reflects the settings panel of my app. Would it be

[2018-01-02 20:10] bradfitz commented on #1003
I see.

Oh, looks like there's already a way. camlistored uses the osutil package's:

[code]

Note that CAMLI_VAR_DIR check that's first. You can set that. Or you could set APPDATA too, but CAMLI_VAR_DIR looks better.

[2018-01-02 20:37] gdeverlant commented on #1003
But this is an environment variable. I think that it will be also good to have a cli param for that in case that we cannot deal with ENV variable due to permissions.

[2018-01-02 21:53] tajtiattila commented on #1003
You don't need to set environment variables in the system, just set them when you start camlistored. The Windows API CreateProcess* let you do that.

[2018-01-02 22:06] gdeverlant commented on #1003
I'm not using Windows API but rather this [https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/desktop/NativeProcess.html](https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/flash/desktop/NativeProcess.html).

[2018-01-02 22:28] tajtiattila commented on #1003
I'm not familiar with ActionScript, sorry. If it cannot set environment variables for executables, you can have a batch file with

[code]

and run the batch file instead of camlistored directly. Or have a small app to launch it with the environment variables you need.

[2018-01-02 22:34] gdeverlant commented on #1003
Ok thanx for the info... I didn't think about that but it is one way. I was just trying to do less external dependencies possible with this cli option for camlistored.

[2018-01-02 23:25] adamdecaf commented on #637
What about a change to check in `Host.ImporterBaseURL()` for localhost which returns 127.0.0.1 instead?

[2018-01-02 23:31] bradfitz commented on #1003
@gdeverlant, we're curious what you're building. Care to share details?

If a environment variable will work, we'd prefer not to add more command-line flags. Any flags we include will add to user confusion and generally just overwhelming users running with `--help`. We try to keep them to a minimum.

[2018-01-02 23:47] bradfitz opened #1004 "Depend on Go 1.10, stop using tmp/ directory source code mirror for make.go?"
Once Go 1.10 comes out in February (in about a month here), we can probably stop having `make.go` maintain & use the `perkeep.org/tmp/build-gopath-nosqlite/*` and `perkeep.org/tmp/build-gopath-sqlite/*` mirror directories.

Those directories were there because Go's `go` command didn't do proper build caching (it didn't invalidate its cache in dozens of cases, including environment variables and +b

[2018-01-02 23:56] bradfitz opened #1005 "importers: provide default importer client IDs & secrets"
Our current user experience for importers is tedious:

We require users to create their own Client ID & Client Secret OAuth2 app credentials for each site: google photos, twitter, swarm, etc.

We should keep _allowing_ them to do that, but by default we should provide those automatically.

The only difficulty of providing it by default is the OAuth2 redirect_url, where sites redirect users back to

[2018-01-03 00:12] lindner commented on #1005
Might be worth reviewing the SSL work that Plex did:

https://blog.filippo.io/how-plex-is-doing-https-for-all-its-users/

On Tue, Jan 2, 2018 at 3:56 PM Brad Fitzpatrick <notifications@github.com>
wrote:

[2018-01-03 00:44] bradfitz commented on #1005
@lindner, proxying is easier, though. This way nobody needs public IPs or firewall rules, and we don't need to ask any party to whitelist our domain or increase our LetsEncrypt quotas, etc. We do have to pay the proxying cost, though (as in I pay $$ for GCP networking and a bit more CPU), but that's minimal as this would only be used for infrequent OAuth2 logins.

[2018-01-03 00:49] gdeverlant commented on #1003
Yes I'm building a real-time non-linear video editing called Multiverses. This is supposed to be the next generation of browser for the Web 3.0. I hope that nobody will ever code web sites. This is purely based on video browsing. There is a knowledge economy based around the editor. It is like IPFS but Wikipedia of knowledge based on video as the root. I implemented my own OSGi framework that allo

[2018-01-03 00:54] bradfitz commented on #1003
Sounds ambitious! Good luck!

I'll close this, since it sounds like the environment variable will work. Let us know if you find other issues.

[2018-01-03 00:54] #1003 closed

[2018-01-03 00:55] mpl commented on #1004
it would be great if we could stop doing the mirroring of course. But we might have to keep doing it because of weird bugs/cases we've accumulated. In part because of gopherjs. I'll recheck.

[2018-01-03 00:56] bradfitz commented on #1004
Given that people use gopherjs without our hack, I imagine it'll work fine.

[2018-01-03 00:59] mpl commented on #1004
Not if they want to vendor. I'm thinking of https://github.com/gopherjs/gopherjs/issues/415, that we do refer to in make.go. Again, I'd need to retry/double-check.

[2018-01-03 01:03] gdeverlant commented on #1003
Thanx for the inputs.

[2018-01-03 01:15] gdeverlant opened #1006 "Binaries size from 205MB to 72.9MB"
I just wanted to share the results from my researches on how to reduce Go binary file size.

You can see on the left side VS on the right side:

![image](https://user-images.githubusercontent.com/26530975/34506298-d909c34a-f02b-11e7-8de7-e8e72af2eb6d.png)

A ratio of 65% smaller size for the binaries.

[2018-01-03 01:16] bradfitz commented on #1006
Are you also going to share details on how?

[2018-01-03 01:17] gdeverlant commented on #1006
You can go and download this amazing utility called UPX.

[https://blog.lwjgl.org/upx-compression/](https://blog.lwjgl.org/upx-compression/)

You just have to Drag&Drop your files into the executable and voila!

[2018-01-03 01:19] gdeverlant commented on #1006
This will reduce all Docker container size by 1000x times.

[2018-01-03 01:44] gdeverlant opened #1007 "Permanodes creation and setting Attributes to Permanodes via the HTTP API"
I was wondering if there is a way to pass commands to the other CMD binaries via the HTTP API for example to create a Permanode?

[2018-01-03 02:11] adamdecaf opened #1008 "cmd/camput: too many open files"
I was trying our perkeep and added some IRC logs (55k text files, 871MB) and then decided to delete them.

[code]

After a little bit of deleting blobs I ran into a bunch of this error:

[code]

No biggie, the default was 256 files, which after bumping to 1024 seems to be deleting just fine. I see [previous changes regarding fd descriptor blowouts](https://github.com/camlistore/camlistore/commit/3

[2018-01-03 02:42] bradfitz opened #1009 "Is the JSON sign handler XSRF-safe?"
I forget whether the JSON signing handler has any XSRF protections.

Investigate.

/cc @mpl @willnorris @lindner

[2018-01-03 03:35] bradfitz commented on #1007
The Perkeep server doesn't have access to the cmd binaries, so there's no way to "pass commands" to them, but there is a way to create permanodes.

You just create an unsigned permanode, like:

[code]

And then pass that to the JSON signing handler as the `json` parameter. The response is the signed JSON, which you can upload.

See these docs, just pushed:

https://perkeep.org/doc/protocol/jsonsig

[2018-01-03 04:48] bradfitz opened #1010 "website: no godoc for non-pkg packages"
We serve godoc for e.g.

But not for other packages, like internal:

https://perkeep.org/internal/lru

Which also means people can't `go get` it.

Now, internal doesn't matter much, because people can't `go get` it anyway, but web-based docs would be nice.

And if we continue to move everything out of perkeep.org/pkg/* up a level, we'll need to resolve this more generally.

/cc @willnorris @mpl

[2018-01-03 04:49] bradfitz commented on #1010
Note that https://godoc.org/perkeep.org/internal/lru works at least.

[2018-01-03 05:17] gdeverlant commented on #1007
Although your link to documentation I don't get it because there is no example. The explanation is to foggy.

I'm sorry :(

[2018-01-03 05:44] bradfitz commented on #1006
Oh, yes, I'm aware of UPX. I thought you'd done something to the code instead.

Generally we don't care about binary size ourselves. The other thing we'll probably do going forward as part of the rename (#981) is rename all of our client tools into one tool named `pk`, which will lower the total size, but that's just a happy side effect.

UPX hasn't always been safe for use on Go binaries, at leas

[2018-01-03 05:44] #1006 closed

[2018-01-03 05:47] bradfitz commented on #1007
Which part is unclear? A permanode is just a signed JSON blob where the JSON blob (prior to signing) is like the example above, with the random string of characters, date, and `camliSigner` value set to your identity. (the sha1-YOURIDENTITY) is the blobref to your public key PEM file, but it's the same value as you get from the discovery call (https://perkeep.org/doc/protocol/discovery and its **p

[2018-01-03 05:56] bradfitz commented on #1008
I don't see anything suspicious (nothing leaky) in that `lsof` output. It'd probably resolved itself at that point.

We should use this bug to warn (more?) when starting the server with a low ulimit.

And if we ever hit EMFILE, maybe log.Print the current lsof, which is still a bit racy, but might be less racy than doing it by hand.

Then once we know what hit EMFILE, consider bounding something e

[2018-01-03 05:56] bradfitz commented on #1008
Oh, your `lsof` is for camlistored, but you said it was `camput` complaining? (camput is the thing that checks the "havecache")

[2018-01-03 06:02] gdeverlant commented on #1007
Although your link to documentation I don't get it because there is no example. The explanation is too foggy.

Here is what I want to do:

1. I created a little program that watch a **specific folder**.
2. **Every time** that a **new file** comes to that folder the **watcher** reacts.
3. The **watcher** generates the sha1 hash of the ByteArray from the file.
4. The **watcher** fetches the modified

[2018-01-03 06:10] gdeverlant commented on #1007
I think that this use case could be a real one documented inside of the documentation for better understanding.

What do you think?

[2018-01-03 06:45] bradfitz commented on #981
Done: https://perkeep.org/keepy

[2018-01-03 06:51] bradfitz commented on #1007
Attributes are the same as creating permanodes: it's just signing a JSON claim blob.

[2018-01-03 07:16] gdeverlant commented on #1007
Do you have any suggestion for my use case ? https://github.com/camlistore/camlistore/issues/1007#issuecomment-354942481